0yE1lNCEHd5ZOX0R.json
{"active":false,"connections":{"Call 'get-token-group'2":{"main":[[{"node":"Token obtido","type":"main","index":0}]]},"Webhook":{"main":[[{"node":"Call 'get-token-group'2","type":"main","index":0}]]},"Token obtido":{"main":[[{"node":"model-list","type":"main","index":0}],[{"node":"Respond to Webhook","type":"main","index":0}]]},"model-list":{"main":[[{"node":"Modelos AutoAvaliar","type":"main","index":0}]]},"Modelos AutoAvaliar":{"main":[[{"node":"Respond to Webhook","type":"main","index":0}]]}},"createdAt":"2025-11-25T19:56:24.326Z","id":"0yE1lNCEHd5ZOX0R","isArchived":false,"meta":null,"name":"obter-modelos","nodes":[{"parameters":{"workflowId":{"__rl":true,"value":"zh46bvGPHpvHmgvk","mode":"list","cachedResultUrl":"/workflow/zh46bvGPHpvHmgvk","cachedResultName":"Auto Avaliar — get-token-group"},"workflowInputs":{"mappingMode":"defineBelow","value":{"CNPJ":"={{ $json.params.CNPJ }}"},"matchingColumns":[],"schema":[{"id":"CNPJ","displayName":"CNPJ","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"Usuario","displayName":"Usuario","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"Senha","displayName":"Senha","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false}],"***REMOVIDO***":false,"***REMOVIDO***":true},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.3,"position":[-656,128],"id":"94e5d725-b977-4c8a-b678-a9b2a2ca567d","name":"Call 'get-token-group'2"},{"parameters":{"path":"obter-modelos/:CNPJ/:MakeId","responseMode":"responseNode","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[-848,128],"id":"9454f1e5-0916-47cc-bad0-7c5ce710fedc","name":"Webhook","webhookId":"99a42e45-de7f-4f94-b986-2d7f30f0d582"},{"parameters":{"respondWith":"allIncomingItems","options":{}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.4,"position":[160,144],"id":"97c1d9a1-68a2-4131-92b0-35d9bc419ca5","name":"Respond to Webhook"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"3ae5c288-0fdd-410f-8903-85920a67bb08","leftValue":"={{ $json.erro }}","rightValue":"","operator":{"type":"string","operation":"notExists","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-448,128],"id":"5e1de02f-49c4-4f30-b9c1-03aee97936f5","name":"Token obtido"},{"parameters":{"method":"POST","url":"https://sa-hg-sys.appspot.com/vehicle/model-list","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Token","value":"={{ $json.TOKEN }}"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"page","value":"=1"},{"name":"limit","value":"9999"},{"name":"makeId","value":"={{ $json.params.MakeId }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-208,32],"id":"aa106129-bda2-48d2-bdab-882ef3074e57","name":"model-list","alwaysOutputData":true},{"parameters":{"fieldToSplitOut":"payload","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[-48,32],"id":"f055447c-dbdc-42f2-8bcf-48497a493662","name":"Modelos AutoAvaliar"}],"origin":"n8n","pinData":{},"repo":{"owner":"n8nlinx","name":"BACKUP-N8N-LINX"},"settings":{"executionOrder":"v1"},"shared":[{"createdAt":"2025-11-25T19:56:24.326Z","updatedAt":"2025-11-25T19:56:24.326Z","role":"workflow:owner","workflowId":"0yE1lNCEHd5ZOX0R","projectId":"gooj2a4i7sGuxy01"}],"staticData":null,"tags":[],"triggerCount":0,"updatedAt":"2025-11-25T20:02:09.276Z","versionId":"1eeb3491-1ce2-4c98-b90d-89a22b5ddefd"}