2d7Ri42LBSUPKdb1.json
{"active":false,"connections":{"When clicking ‘Test workflow’":{"main":[[{"node":"Jira Software","type":"main","index":0}]]},"Jira Software":{"main":[[{"node":"Pegando os dados de descrição","type":"main","index":0}]]},"Pegando os dados de descrição":{"main":[[{"node":"Pegando solicitação","type":"main","index":0},{"node":"Unir dados","type":"main","index":1}]]},"Modificar especificação tecnica":{"main":[[{"node":"Atualiza Jira","type":"main","index":0},{"node":"Merge","type":"main","index":0}]]},"Tess Angent":{"main":[[{"node":"Resposta agent","type":"main","index":0}]]},"Pegando solicitação":{"main":[[{"node":"Tem Solicitação","type":"main","index":0}]]},"Unir dados":{"main":[[{"node":"Modificar especificação tecnica","type":"main","index":0}]]},"Resposta agent":{"main":[[{"node":"Unir dados","type":"main","index":0}]]},"Atualiza Jira":{"main":[[{"node":"Merge","type":"main","index":1}]]},"Merge":{"main":[[{"node":"Foi Atualizado","type":"main","index":0}]]},"Foi Atualizado":{"main":[[{"node":"Adiciona comentário para revisar","type":"main","index":0}]]},"Tem Solicitação":{"main":[[{"node":"Tess Angent","type":"main","index":0}],[{"node":"Adiciona comentário para solicitante","type":"main","index":0}]]}},"createdAt":"2025-09-30T14:09:58.104Z","id":"2d7Ri42LBSUPKdb1","isArchived":false,"meta":{"***REMOVIDO***":true},"name":"Refinamento funcional automático","nodes":[{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-912,-768],"id":"37078bce-09f4-4181-b172-6595991053da","name":"When clicking ‘Test workflow’"},{"parameters":{"jiraVersion":"serverPat","operation":"get","issueKey":"AUTO-81557","additionalFields":{}},"type":"n8n-nodes-base.jira","typeVersion":1,"position":[-688,-768],"id":"36b1bc79-13fa-4084-8274-bc35063e7973","name":"Jira Software","credentials":{"***REMOVIDO***":{"id":"50JMqyQ8qMp9dkz7","name":"Jira SW Cloud account 2"}}},{"parameters":{"assignments":{"assignments":[{"id":"e2d6006f-6bbc-4e91-a47b-342fffe07c06","name":"descricao","value":"={{ $json.fields.description }}","type":"string"},{"id":"af3b4553-fc49-4978-950f-a3faca5a6f21","name":"issue","value":"={{ $json.key }}","type":"string"},{"id":"5a622d09-4f71-4daf-8782-fa47e2ea2ad7","name":"responsavel","value":"=[~{{ $json.fields.assignee.key }}]","type":"string"},{"id":"48c574b4-e193-4aeb-8dda-fb4e833dc538","name":"solicitante","value":"=[~{{ $json.fields.reporter.key }}]","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-464,-768],"id":"c8315115-a836-45c2-b87d-60f439ec6dd9","name":"Pegando os dados de descrição"},{"parameters":{"jsCode":"const descricao_completa = $input.first().json.descricao;\n\nconst resposta_agent = $input.first().json.resposta_agent;\nconst indice = resposta_agent.indexOf(\"📋 **Refinamento Funcional**\")\n\nlet refinamento = resposta_agent.slice(indice);\n\nrefinamento = refinamento.replaceAll('#','').replaceAll('-','');\nrefinamento = refinamento.replace('📋 **Refinamento Funcional**','h1.📋 *Refinamento Funcional*' );\nrefinamento = refinamento.replace('🏢 **Aplicação:** Linx DMS','🏢 *Aplicação:* Linx DMS' );\nrefinamento = refinamento.replace('⚙️ **Complexidade:** Média','⚙️ *Complexidade:* Média' );\nrefinamento = refinamento.replace('🎯 **Título e Objetivo da Issue:**','🎯 *Título e Objetivo da Issue:*' );\nrefinamento = refinamento.replace('* **Título:**','* *Título:*' );\nrefinamento = refinamento.replace('* **Objetivo:**','* *Objetivo:*' );\nrefinamento = refinamento.replace('✅ **Comportamento Esperado:**','✅ *Comportamento Esperado:*' );\nrefinamento = refinamento.replace('🔧 **Detalhamento da Solução:**','🔧 *Detalhamento da Solução:*' );\nrefinamento = refinamento.replace('✔️ **Critérios de Aceite:**','✔️ *Critérios de Aceite:*' );\nrefinamento = refinamento.replace('🧪 **Sugestão de Plano de Teste:**','🧪 *Sugestão de Plano de Teste:*' );\nrefinamento = refinamento.replace('🎯 **Benefícios Esperados:**','🎯 *Benefícios Esperados:*' );\nrefinamento = refinamento.replace('📝 **O que será Feito:**','📝 *O que será Feito:*' );\nrefinamento = refinamento.replace('⏱️ **Cálculo de Horas:**','⏱️ *Cálculo de Horas:*' );\n\nconst resultado = refinamento.match(/\\*Complexidade:\\*\\s*([A-Za-zÀ-ÿ\\s]+)/);\n\nconst complexidade = resultado ? resultado[1].trim() : null;\n\n// Regex que considera quebras de linha reais (\\r\\n)\nconst atualizardescricao = descricao_completa.replace(\n  /\\*\\(\\+\\)\\s*Especificação técnica:\\*\\s*\\{panel:bgColor=#f5f6f9\\}[\\s\\S]*?\\{panel\\}/,\n  `*(+) Especificação técnica:*\\r\\n{panel:bgColor=#f5f6f9}\\r\\n${refinamento}\\r\\n{panel}`\n);\n\nlet valorprioridade;\n\nconsole.log(complexidade);\n\nif(complexidade != null && complexidade.includes('Baixa')){\n  valorprioridade = 10003;\n}else if(complexidade != null && complexidade.includes('Média')){\n  valorprioridade = 10002;\n}else if(complexidade != null && complexidade.includes('Alta')){\n  valorprioridade = 10001;\n}else if(complexidade != null && complexidade.includes('Muito Alta')){\n  valorprioridade = 10000;\n}\n\n// Retorna o novo campo\nreturn {\n  descricaoAtualizada: atualizardescricao,\n  complexidadeCodigo:  valorprioridade,\n  issue: $input.first().json.issue,\n  responsavel: $input.first().json.responsavel,\n  solicitante: $input.first().json.solicitante\n};\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1248,-784],"id":"b15b5155-a074-420d-9cce-ddd7e3b7c986","name":"Modificar especificação tecnica"},{"parameters":{"jiraVersion":"serverPat","operation":"update","issueKey":"={{ $json.issue }}","updateFields":{"description":"={{ $json.descricaoAtualizada }}","priority":{"__rl":true,"value":"={{ $json.complexidadeCodigo.toString() }}","mode":"id"}}},"type":"n8n-nodes-base.jira","typeVersion":1,"position":[1504,-704],"id":"2bbbb52a-f99b-41cd-b664-758b8c4a971e","name":"Atualiza Jira","credentials":{"***REMOVIDO***":{"id":"50JMqyQ8qMp9dkz7","name":"Jira SW Cloud account 2"}},"disabled":true},{"parameters":{"method":"POST","url":"https://tess.pareto.io/api/agents/29289/execute","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"Bearer 226953|***REMOVIDO***"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"messages\": [\n    {\n      \"role\": \"user\",\n      \"content\": \"Descrição: Menu: Veículos > Integração > Renave > Zero [99215] O que o sistema está fazendo: Atualmente no menu Renave o sistema não possui um relatório que informe os veículos que de fato foram finalizados/enviados, para espelhar com as cobranças que recebemos da SERPRO. O que deseja que o sistema faça: que o sistema possua um relatório com as informações dos veículos que deram saída para que possamos validar as informações. Como deseja que o sistema faça: que o sistema possua um botão para emitir um relatório com todas as operações que geram custos por parte da SERPRO, para sabermos por quais operações estamos pagando. Benefício: Melhor controle das operações realizadas no Renave e possibilidade de conferência de valores que nos são cobrados. -------------------------------------------------------------------------------------------------------- Precisamos que seja possível o print em anexo para que possamos verificar os valores que a serpro esta nos cobrando.\"\n    }\n  ],\n  \"wait_execution\": true\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[448,-896],"id":"b0067cc6-5adf-4d68-a8c5-f15d0b600cd2","name":"Tess Angent","retryOnFail":true,"maxTries":3,"waitBetweenTries":5000},{"parameters":{"jsCode":"\nconst texto = $input.all().map(item => item.json?.descricao || \"\").join(\",\").trim();\n\nconst regex = /Solicitação:\\*\\r?\\n\\{panel:bgColor=#f5f6f9\\}([\\s\\S]*?)\\{panel\\}/;\n\nconst resultado = texto.match(regex);\n\nreturn [\n  {\n    json: {\n      solicitacao: resultado ? resultado[1].trim() : \"Conteúdo não encontrado\"\n    }\n  }\n];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-160,-880],"id":"3bb4ff2c-125f-4633-870f-85b1fd297914","name":"Pegando solicitação"},{"parameters":{"mode":"combine","combineBy":"combineAll","options":{}},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[1024,-784],"id":"55caee14-be3c-4f3a-b756-e641bb3f17cf","name":"Unir dados"},{"parameters":{"assignments":{"assignments":[{"id":"e5a20bd7-a5d8-4925-9378-7eb0486a6df4","name":"resposta_agent","value":"={{ $json.responses[0].output }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[720,-896],"id":"37ba36dd-fc83-447c-940f-f6810c05ae9e","name":"Resposta agent"},{"parameters":{"mode":"combine","combineBy":"combineAll","options":{}},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[1728,-768],"id":"81d4d782-814e-439f-8d10-b83565cc4c8d","name":"Merge"},{"parameters":{"jiraVersion":"serverPat","resource":"issueComment","issueKey":"={{ $json.issue }}","comment":"={{ $json.solicitante }} poderia verificar a issue {{ $json.issue }}, os dados não estão no campo correto('Solicitação'), favor verificar.","options":{}},"type":"n8n-nodes-base.jira","typeVersion":1,"position":[448,-672],"id":"acde91db-b0be-467d-805e-a9a3d21b1f25","name":"Adiciona comentário para solicitante","credentials":{"***REMOVIDO***":{"id":"50JMqyQ8qMp9dkz7","name":"Jira SW Cloud account 2"}},"disabled":true},{"parameters":{"jiraVersion":"serverPat","resource":"issueComment","issueKey":"={{ $json.issue }}","comment":"={{ $json.responsavel }} poderia verificar o refinamento realizado de issue.","options":{}},"type":"n8n-nodes-base.jira","typeVersion":1,"position":[2160,-784],"id":"4eb18d3a-b680-4b74-b0ec-06f15274845b","name":"Adiciona comentário para revisar","credentials":{"***REMOVIDO***":{"id":"50JMqyQ8qMp9dkz7","name":"Jira SW Cloud account 2"}},"disabled":true},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"a580b793-053b-4191-962b-593a8e2b605a","leftValue":"={{ $json.success }}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1920,-768],"id":"93638d92-37bd-4de7-9f04-42e4cc8f073c","name":"Foi Atualizado"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"15816d0e-95de-448e-9754-6bde6e0277c1","leftValue":"={{ $json.solicitacao }}","rightValue":"","operator":{"type":"string","operation":"notEmpty","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[112,-880],"id":"7e1f3b54-4a06-45a6-943f-36b2d81d1325","name":"Tem Solicitação"}],"origin":"n8n","pinData":{},"repo":{"owner":"n8nlinx","name":"BACKUP-N8N-LINX"},"settings":{"executionOrder":"v1"},"shared":[{"createdAt":"2025-09-30T14:09:58.104Z","updatedAt":"2025-09-30T14:09:58.104Z","role":"workflow:owner","workflowId":"2d7Ri42LBSUPKdb1","projectId":"l6KXFsOg8uXBDdl3"}],"staticData":null,"tags":[],"triggerCount":0,"updatedAt":"2025-10-01T19:18:21.775Z","versionId":"e31d9f61-540f-4cb8-9d96-17ecb3be12e7"}