2zpzMvATLlOi15EI.json
{"active":false,"connections":{"Solicitação":{"main":[[{"node":"Merge1","type":"main","index":0}]]},"Objetivo Alteração":{"main":[[{"node":"Merge1","type":"main","index":1}]]},"Especificação Tecnica":{"main":[[{"node":"Merge2","type":"main","index":1}]]},"Procedimento de teste":{"main":[[{"node":"Merge3","type":"main","index":1}]]},"Documentação":{"main":[[{"node":"Merge5","type":"main","index":1}]]},"Scripts":{"main":[[{"node":"Merge8","type":"main","index":1}]]},"Produto":{"main":[[{"node":"Merge6","type":"main","index":1}]]},"Projetos":{"main":[[{"node":"Merge7","type":"main","index":1}]]},"Merge1":{"main":[[{"node":"Merge2","type":"main","index":0}]]},"Merge2":{"main":[[{"node":"Merge3","type":"main","index":0}]]},"Merge3":{"main":[[{"node":"Merge4","type":"main","index":0}]]},"Merge4":{"main":[[{"node":"Merge5","type":"main","index":0}]]},"Merge5":{"main":[[{"node":"Merge6","type":"main","index":0}]]},"Merge6":{"main":[[{"node":"Merge7","type":"main","index":0}]]},"Merge7":{"main":[[{"node":"Merge8","type":"main","index":0}]]},"When Executed by Another Workflow":{"main":[[{"node":"Excluindo links1","type":"main","index":0}]]},"Validacao Cliente":{"main":[[{"node":"Merge4","type":"main","index":1}]]},"Merge8":{"main":[[{"node":"Merge9","type":"main","index":0}]]},"Publicação no DVI":{"main":[[{"node":"Merge9","type":"main","index":1}]]},"Excluindo links1":{"main":[[{"node":"Solicitação","type":"main","index":0},{"node":"Objetivo Alteração","type":"main","index":0},{"node":"Especificação Tecnica","type":"main","index":0},{"node":"Procedimento de teste","type":"main","index":0},{"node":"Validacao Cliente","type":"main","index":0},{"node":"Documentação","type":"main","index":0},{"node":"Produto","type":"main","index":0},{"node":"Projetos","type":"main","index":0},{"node":"Scripts","type":"main","index":0},{"node":"Publicação no DVI","type":"main","index":0}]]},"Jira Software":{"main":[[{"node":"Revisão de Campos - Descrição","type":"main","index":0}]]},"Revisão de Campos - Descrição":{"main":[[{"node":"Excluindo links1","type":"main","index":0}]]},"When clicking ‘Execute workflow’":{"main":[[{"node":"Jira Software","type":"main","index":0}]]}},"createdAt":"2025-10-17T13:08:08.383Z","id":"2zpzMvATLlOi15EI","isArchived":false,"meta":null,"name":"Campos Revisão Descrição","nodes":[{"parameters":{"inputSource":"passthrough"},"type":"n8n-nodes-base.***REMOVIDO***","typeVersion":1.1,"position":[-3216,-512],"id":"b750bb1a-a222-4704-8f00-eb1917540fb8","name":"When Executed by Another Workflow"},{"parameters":{"jsCode":"const texto = $input.all().map(item => item.json?.descricao || \"\").join(\",\").trim();\n\nconst regexsolicitacao = /Solicitação:\\*\\r?\\n\\{panel:bgColor=#f5f6f9\\}([\\s\\S]*?)\\{panel\\}/;\n\nconst ***REMOVIDO*** = texto.match(regexsolicitacao);\n\nlet resultadoFinal = ***REMOVIDO*** ? \"Campo preenchido\" : \"Conteúdo não encontrado\";\nresultadoFinal = resultadoFinal.replace('?*','').replace('{panel:bgColor=#f5f6f9}','').replace(/^\\s*\\*?\\s*/g, '').replace(/\\s*\\*?\\s*$/g, '').replace(/(\\r?\\n\\s*){2,}/g, '\\n').replace(/\\r?\\n/g, ' ');\n\nreturn [\n  {\n    json: {\n      tipo: $input.first().json.tipo,\n      issue: $input.first().json.issue,\n      solicitacao: resultadoFinal\n    }\n  }\n];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-1888,-1152],"id":"d9fcf22a-892d-49fa-b1c3-9646677e4b79","name":"Solicitação"},{"parameters":{"jsCode":"const texto = $input.all().map(item => item.json?.descricao || \"\").join(\",\").trim();\n\nconst regexobjalteracao = /Objetivo da alteração:\\*\\r?\\n\\{panel:bgColor=#f5f6f9\\}([\\s\\S]*?)\\{panel\\}/;\n\nconst ***REMOVIDO*** = texto.match(regexobjalteracao);\n\nlet resultadoFinal = ***REMOVIDO*** ? \"Campo preenchido\" : \"Conteúdo não encontrado\";\nresultadoFinal = resultadoFinal.replace('?*','').replace('{panel:bgColor=#f5f6f9}','').replace(/^\\s*\\*?\\s*/g, '').replace(/\\s*\\*?\\s*$/g, '').replace(/(\\r?\\n\\s*){2,}/g, '\\n');\n\nreturn [\n  {\n    json: {\n      tipo: $input.first().json.tipo,\n      issue: $input.first().json.issue,\n      objetivo: resultadoFinal\n    }\n  }\n];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-1888,-960],"id":"d3f17d76-cf96-4040-9f16-a28270e37c6c","name":"Objetivo Alteração"},{"parameters":{"jsCode":"const texto = $input.all().map(item => item.json?.descricao || \"\").join(\",\").trim();\n\nconst ***REMOVIDO*** = /Especificação técnica:\\*\\r?\\n\\{panel:bgColor=#f5f6f9\\}([\\s\\S]*?)\\{panel\\}/;\n\nconst ***REMOVIDO*** = texto.match(***REMOVIDO***);\n\nlet resultadoFinal = ***REMOVIDO*** ? \"Campo preenchido\" : \"Conteúdo não encontrado\";\nresultadoFinal = resultadoFinal.replace('?*','').replace('{panel:bgColor=#f5f6f9}','').replace(/^\\s*\\*?\\s*/g, '').replace(/\\s*\\*?\\s*$/g, '').replace(/(\\r?\\n\\s*){2,}/g, '\\n');\n\nreturn [\n  {\n    json: {\n      tipo: $input.first().json.tipo,\n      issue: $input.first().json.issue,\n      especificacao: resultadoFinal\n    }\n  }\n];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-1888,-768],"id":"9cbc8075-8305-431d-b9e2-948017e7facd","name":"Especificação Tecnica"},{"parameters":{"jsCode":"const texto = $input.all().map(item => item.json?.descricao || \"\").join(\",\").trim();\n\nconst ***REMOVIDO*** = /Procedimento de teste:\\*\\r?\\n\\{panel:bgColor=#f5f6f9\\}([\\s\\S]*?)\\{panel\\}/;\n\nconst ***REMOVIDO*** = texto.match(***REMOVIDO***);\n\nlet resultadoFinal = ***REMOVIDO*** ? \"Campo preenchido\" : \"Conteúdo não encontrado\";\nresultadoFinal = resultadoFinal.replace('?*','').replace('{panel:bgColor=#f5f6f9}','').replace(/^\\s*\\*?\\s*/g, '').replace(/\\s*\\*?\\s*$/g, '').replace(/(\\r?\\n\\s*){2,}/g, '\\n');\n\nreturn [\n  {\n    json: {\n      tipo: $input.first().json.tipo,\n      issue: $input.first().json.issue,\n      procedimentoteste: resultadoFinal\n    }\n  }\n];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-1888,-576],"id":"46b7c9c2-bf66-41d2-bc83-a157ff3056d7","name":"Procedimento de teste"},{"parameters":{"jsCode":"const texto = $input.all().map(item => item.json?.descricao || \"\").join(\",\").trim();\n\nconst regex = /Há documentação([\\s\\S]*?)(?=\\{panel\\})/;\nconst resultado = texto.match(regex);\n\nlet resultadoFinal = resultado ? resultado[1] : \"Conteúdo não encontrado\";\nresultadoFinal = resultadoFinal.replace('?*','').replace('{panel:bgColor=#f5f6f9}','').replace(/^\\s*\\*?\\s*/g, '').replace(/\\s*\\*?\\s*$/g, '').replace(/(\\r?\\n\\s*){2,}/g, '\\n');\n\nreturn [\n  {\n    json: {\n      tipo: $input.first().json.tipo,\n      issue: $input.first().json.issue,\n      documentacao: resultadoFinal\n    }\n  }\n];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-1888,-192],"id":"a854b8a3-1174-45b1-ad2b-fc7b7a11904a","name":"Documentação"},{"parameters":{"jsCode":"const texto = $input.all().map(item => item.json?.descricao || \"\").join(\",\").trim();\n\nconst regex = /Há alteração de Script([\\s\\S]*?)(?=\\{panel\\})/;\nconst resultado = texto.match(regex);\n\nlet resultadoFinal = resultado ? resultado[1] : \"Conteúdo não encontrado\";\nresultadoFinal = resultadoFinal.replace('?*','').replace('{panel:bgColor=#f5f6f9}','').replace(/^\\s*\\*?\\s*/g, '').replace(/\\s*\\*?\\s*$/g, '').replace(/(\\r?\\n\\s*){2,}/g, '\\n');\n\nreturn [\n  {\n    json: {\n      tipo: $input.first().json.tipo,\n      issue: $input.first().json.issue,\n      scripts: resultadoFinal\n    }\n  }\n];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-1888,384],"id":"91741b9b-fe92-4b97-a5a2-b93e695af56e","name":"Scripts"},{"parameters":{"jsCode":"const texto = $input.all().map(item => item.json?.descricao || \"\").join(\",\").trim();\n\nconst regex = /Produto:\\*([\\s\\S]*?)(?=\\{\\*\\})/;\nconst resultado = texto.match(regex);\n\nconst resultadoFinal = resultado ? resultado[1] : \"Conteúdo não encontrado\";\n\nlet array = resultadoFinal\n  .split('\\n') \n  .map(item => {\n    const marcado = item.includes('[X]');\n    const textoLimpo = item.replace(/\\[\\s?[X]?\\]/, '').trim();\n    return { texto: textoLimpo.replace('[','').replace(']','').replace(' ',''), marcado };\n  });\n\nlet listaformatada = array.filter(item => item.texto !== '');\nlet produtoEscolhido = \"\";\n\nconst produtos = listaformatada.filter(item => item.marcado);\n\nfor (const element of produtos) {\n  if(produtoEscolhido !== \"\"){\n    produtoEscolhido += \", \";\n  }\n  \n  produtoEscolhido += element.texto;\n}\n\nreturn [\n  {\n    json: {\n      tipo: $input.first().json.tipo,\n      issue: $input.first().json.issue,\n      produto: produtoEscolhido ? produtoEscolhido : \"Conteúdo não encontrado\"\n    }\n  }\n];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-1888,0],"id":"f160d3fa-e947-4349-9388-4b18eb9af4b9","name":"Produto"},{"parameters":{"jsCode":"const texto = $input.all().map(item => item.json?.descricao || \"\").join(\",\").trim();\n\nconst regex = /Projetos\\s*\\r?\\n\\{panel:bgColor=#f5f6f9\\}([\\s\\S]*?)\\{panel\\}/i;\nconst resultado = texto.match(regex);\n\nlet resultadoFinal = resultado ? resultado[1] : \"Conteúdo não encontrado\";\nresultadoFinal = resultadoFinal.replace(/^\\s*\\*?\\s*/g, '').replace(/\\s*\\*?\\s*$/g, '').replace(/(\\r?\\n\\s*){2,}/g, '\\n');\n\nreturn [\n  {\n    json: {\n      tipo: $input.first().json.tipo,\n      issue: $input.first().json.issue,\n      projetos: resultadoFinal\n    }\n  }\n];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-1888,192],"id":"fda6be22-9e36-4bdb-820f-51de7f5d7ec6","name":"Projetos"},{"parameters":{"mode":"combine","fieldsToMatchString":"issue","options":{}},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[-1664,-1056],"id":"05e9a29c-cae2-4d8b-a015-72411be75c03","name":"Merge1"},{"parameters":{"mode":"combine","fieldsToMatchString":"issue","options":{}},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[-1440,-960],"id":"ee8098de-fe94-4aa8-8e0f-369d27ed931f","name":"Merge2"},{"parameters":{"mode":"combine","fieldsToMatchString":"issue","options":{}},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[-1216,-864],"id":"d0fc7415-f782-46a7-9813-adc2448bc188","name":"Merge3"},{"parameters":{"mode":"combine","fieldsToMatchString":"issue","options":{}},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[-992,-768],"id":"a350e4e6-0c12-42f1-a965-f578a1cf68e2","name":"Merge4"},{"parameters":{"mode":"combine","fieldsToMatchString":"issue","options":{}},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[-768,-672],"id":"cdc715fc-d162-45f8-b133-ca41b3765474","name":"Merge5"},{"parameters":{"mode":"combine","fieldsToMatchString":"issue","options":{}},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[-544,-576],"id":"87e4d0c8-27e0-41cc-9d01-894649f6b1dd","name":"Merge6"},{"parameters":{"mode":"combine","fieldsToMatchString":"issue","options":{}},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[-320,-480],"id":"0af593b0-ac13-4495-8af7-5e90f198e3ef","name":"Merge7"},{"parameters":{"mode":"combine","fieldsToMatchString":"issue","options":{}},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[-96,-384],"id":"02f3cc50-6f24-421b-aab9-e1dd4e95aa98","name":"Merge8"},{"parameters":{"jsCode":"const texto = $input.all().map(item => item.json?.descricao || \"\").join(\",\").trim();\n\nconst regex = /Enviar para validação no cliente([\\s\\S]*?)(?=\\{panel\\})/;\nconst resultado = texto.match(regex);\n\nlet resultadoFinal = resultado ? resultado[1] : \"Conteúdo não encontrado\";\nresultadoFinal = resultadoFinal.replace('?*','').replace('{panel:bgColor=#f5f6f9}','').replace(/^\\s*\\*?\\s*/g, '').replace(/\\s*\\*?\\s*$/g, '').replace(/(\\r?\\n\\s*){2,}/g, '\\n');\n\nreturn [\n  {\n    json: {\n      tipo: $input.first().json.tipo,\n      issue: $input.first().json.issue,\n      validacaocliente: resultadoFinal\n    }\n  }\n];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-1888,-384],"id":"419c078e-6a67-42c8-8466-c415750e2977","name":"Validacao Cliente"},{"parameters":{"mode":"combine","combineBy":"combineAll","options":{}},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[128,-288],"id":"e09ba66b-1f69-4595-962f-3e11b1259f8d","name":"Merge9"},{"parameters":{"jsCode":"const texto = $input.all().map(item => item.json?.descricao || \"\").join(\",\").trim();\n\nconst regex = /Instrução adicional para Publicação no DVI([\\s\\S]*?)(?=\\{panel\\})/;\nlet resultado = texto.match(regex);\n\nconst resultadoFinal = resultado ? resultado[1] : \"Conteúdo não encontrado\";\n\nlet resultadoFormatado = resultadoFinal.replace('?*','').replace('{panel:bgColor=#f5f6f9}','').replace('{*}','').replace(/^\\s*\\*?\\s*/g, '').replace(/\\s*\\*?\\s*$/g, '').replace(/(\\r?\\n\\s*){2,}/g, '\\n').replace('?', '').replace('{*}','').replace('\\n','').replaceAll('(flag)','');\n\nresultado = resultadoFormatado.match(/(?<=\\|\\]\\*).*/);\nresultadoFormatado = resultado ? resultado[0] : \"Conteúdo não encontrado\";\n\nreturn [\n  {\n    json: {\n      tipo: $input.first().json.tipo,\n      issue: $input.first().json.issue//,\n      //instrucao_adicional: resultadoFormatado.split(\",\")[0].trim(),\n      //dados_adicionais: resultadoFormatado.split(\",\")[1].trim()\n    }\n  }\n];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-1888,576],"id":"0a53400c-990d-4ed7-8215-892d5af7da20","name":"Publicação no DVI"},{"parameters":{"jsCode":"\nlet texto = $input.all().map(item => item.json?.descricao || \"\").join(\",\").trim();\n\nreturn [\n  {\n    json: {\n      responsavel: $input.first().json.responsavel,\n      issue: $input.first().json.issue,\n      tipo: $input.first().json.tipo,\n      descricao: texto.replace('*(i) [como preencher?|https://distribuicao.blob.core.windows.net/dms/QS/template/como_preencher_campo_enviar_para_validacao_no_cliente.txt]*','')\n        .replace('*(i) [como preencher?|https://distribuicao.blob.core.windows.net/dms/QS/template/como_preencher_campo_documentacao.txt]*','')\n      .replace('(!) {color:#de350b}*SIGA O NOVO FLUXO POR SUB-TAREFA ->* {color} *(i) [como preencher?|https://distribuicao.blob.core.windows.net/dms/QS/template/como_preencher_script.txt]*','')\n      .replace('(flag) Regressão   (flag) Comunicado   (i) [como preencher?|https://distribuicao.blob.core.windows.net/dms/QS/template/como_preencher_campo_instrucao_adicional.txt]*','')\n      .replace('*(i) [como preencher?|https://distribuicao.blob.core.windows.net/dms/QS/template/como_preencher_produto.txt]*','')\n      .replace('({*}{*}Delphi{*}{*}) ou (LinxDMS):{*}   *(i) [como preencher?|https://distribuicao.blob.core.windows.net/dms/QS/template/como_preencher_projetos.txt]*','').replace('https://distribuicao.blob.core.windows.net/dms/QS/template/como_preencher_campo_instrucao_adicional.txt','')\n    }\n  }\n];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-2848,-352],"id":"2ca3025c-b343-4486-8c4e-1bcab8b2ac7d","name":"Excluindo links1"},{"parameters":{"assignments":{"assignments":[{"id":"e2d6006f-6bbc-4e91-a47b-342fffe07c06","name":"descricao","value":"={{ $json.fields.description }}","type":"string"},{"id":"af3b4553-fc49-4978-950f-a3faca5a6f21","name":"issue","value":"={{ $json.key }}","type":"string"},{"id":"fe2ed187-307e-4ce7-b40a-a7eba07f15da","name":"tipo","value":"={{ $json.fields.issuelinks[0].outwardIssue.fields.issuetype.name }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-3104,-352],"id":"dcf65b41-332e-4c49-971c-df50c1027f26","name":"Revisão de Campos - Descrição"},{"parameters":{"jiraVersion":"serverPat","operation":"getAll","options":{"jql":"project = AUTO AND fixVersion = DVI_03-11-25 AND STATUS != Done ORDER BY Rank "}},"type":"n8n-nodes-base.jira","typeVersion":1,"position":[-3360,-352],"id":"901486af-6fec-4d52-8f21-6a7528163295","name":"Jira Software","credentials":{"***REMOVIDO***":{"id":"50JMqyQ8qMp9dkz7","name":"Jira SW Cloud account 2"}}},{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-3584,-352],"id":"80794f2c-371c-4772-a819-1051f9e540e9","name":"When clicking ‘Execute workflow’"}],"origin":"n8n","pinData":{},"repo":{"owner":"n8nlinx","name":"BACKUP-N8N-LINX"},"settings":{"executionOrder":"v1"},"shared":[{"createdAt":"2025-10-17T13:08:08.383Z","updatedAt":"2025-10-17T13:08:08.383Z","role":"workflow:owner","workflowId":"2zpzMvATLlOi15EI","projectId":"l6KXFsOg8uXBDdl3"}],"staticData":null,"tags":[],"triggerCount":0,"updatedAt":"2025-10-20T19:46:30.245Z","versionId":"968fa635-82f7-4f6a-a5d9-111f3fc3daf6"}