3bQtLlg047tv2YNp.json
{"active":true,"connections":{"Webhook":{"main":[[{"node":"Get row(s)","type":"main","index":0}]]},"Get row(s)":{"main":[[{"node":"If","type":"main","index":0}]]},"If":{"main":[[{"node":"If1","type":"main","index":0}],[{"node":"Edit Fields2","type":"main","index":0}]]},"If1":{"main":[[{"node":"Edit Fields3","type":"main","index":0}],[{"node":"Edit Fields4","type":"main","index":0}]]}},"createdAt":"2025-09-30T20:42:40.968Z","id":"3bQtLlg047tv2YNp","isArchived":false,"meta":null,"name":"get-status-integracao","nodes":[{"parameters":{"path":"status-integracao-auto-avaliar","responseMode":"lastNode","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[-288,176],"id":"baf912ef-2a56-4824-9a05-5a4d0b9cb19e","name":"Webhook","webhookId":"02a79e97-15ab-4b21-8316-ee87bd7fa1fe"},{"parameters":{"operation":"get","dataTableId":{"__rl":true,"value":"YMuf0PpbAH7osHUV","mode":"list","cachedResultName":"GROUP_DATA","cachedResultUrl":"/projects/gooj2a4i7sGuxy01/datatables/YMuf0PpbAH7osHUV"},"filters":{"conditions":[{"keyName":"CNPJ","keyValue":"={{ $json.query.cnpj }}"}]}},"type":"n8n-nodes-base.dataTable","typeVersion":1,"position":[-96,176],"id":"d41a6bb6-49c8-4531-9314-0469b8bf136d","name":"Get row(s)","alwaysOutputData":true},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"1ea00679-8966-4f8e-aafc-28c5b7651765","leftValue":"={{ $json.CNPJ }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[112,176],"id":"d4c29db0-65e0-47a2-a775-c084566ab47f","name":"If"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"99a52ccb-584c-4329-9e8e-7eb185ed7333","leftValue":"={{ $json.STATUS_INTEGRACAO }}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[320,80],"id":"627d5ee3-0050-4edb-b4ff-3bc27327e533","name":"If1"},{"parameters":{"content":"Inserir mensagem no JSON nos ifs false e capturar no front"},"type":"n8n-nodes-base.stickyNote","position":[544,384],"typeVersion":1,"id":"c0d7dfc5-1bc2-403c-a164-f03f8031b556","name":"Sticky Note"},{"parameters":{"mode":"raw","jsonOutput":"{\n  \"***REMOVIDO***\": false,\n  \"IntegracaoAtiva\": false,\n  \"Message\": \"cnpj não cadastrado\"\n}\n","options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[320,240],"id":"28bd1014-bfac-4ed2-802d-e119c538813e","name":"Edit Fields2"},{"parameters":{"mode":"raw","jsonOutput":"={\n  \"***REMOVIDO***\": true,\n  \"IntegracaoAtiva\": {{ $('Get row(s)').item.json.STATUS_INTEGRACAO }},\n  \"Message\": \"Integração está ativa\",\n  \"***REMOVIDO***\": \"{{ $('Get row(s)').item.json.EMAIL_NOTIFICACAO }}\",\n  \"IdUserCorreio\": \"{{ $('Get row(s)').item.json.USUARIO_NOTIFICACAO }}\",\n}\n","options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[544,16],"id":"9e7d4855-6b60-4ab1-aeb6-7e14d41044ba","name":"Edit Fields3"},{"parameters":{"mode":"raw","jsonOutput":"={\n  \"***REMOVIDO***\": true,\n  \"IntegracaoAtiva\": {{ $('Get row(s)').item.json.STATUS_INTEGRACAO }},\n  \"Message\": \"Integração está inativa\",\n  \"***REMOVIDO***\": \"{{ $('Get row(s)').item.json.EMAIL_NOTIFICACAO }}\",\n  \"IdUserCorreio\": \"{{ $('Get row(s)').item.json.USUARIO_NOTIFICACAO }}\",\n}\n","options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[544,160],"id":"77583fe9-077b-4f0d-85fb-484a3f426e85","name":"Edit Fields4"}],"origin":"n8n","pinData":{},"repo":{"owner":"n8nlinx","name":"BACKUP-N8N-LINX"},"settings":{"executionOrder":"v1"},"shared":[{"createdAt":"2025-09-30T20:42:40.968Z","updatedAt":"2025-09-30T20:42:40.968Z","role":"workflow:owner","workflowId":"3bQtLlg047tv2YNp","projectId":"gooj2a4i7sGuxy01"}],"staticData":null,"tags":[],"triggerCount":1,"updatedAt":"2025-10-28T22:46:30.635Z","versionId":"8aa45f45-4cfe-4afe-a9f6-a68e2112132f"}