58tehwiWyKjICM4L.json
{"active":false,"connections":{"Token SalesForce":{"main":[[{"node":"Carrega Token","type":"main","index":0}]]},"When Executed by Another Workflow":{"main":[[{"node":"Token SalesForce","type":"main","index":0}]]}},"createdAt":"2025-11-05T12:09:41.190Z","id":"58tehwiWyKjICM4L","isArchived":false,"meta":null,"name":"Token Sales Force","nodes":[{"parameters":{"inputSource":"passthrough"},"type":"n8n-nodes-base.***REMOVIDO***","typeVersion":1.1,"position":[-256,-80],"id":"93b91b2f-7e94-4343-bb6e-281732edbabc","name":"When Executed by Another Workflow"},{"parameters":{"method":"POST","url":"https://suportelinx.my.salesforce.com/services/oauth2/token","sendQuery":true,"queryParameters":{"parameters":[{"name":"grant_type","value":"client_credentials"},{"name":"client_id","value":"***REMOVIDO***"},{"name":"client_secret","value":"***REMOVIDO***"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-32,-80],"id":"dd7084e4-a951-479a-b5aa-7495ffd3742c","name":"Token SalesForce"},{"parameters":{"assignments":{"assignments":[{"id":"f7030b4b-b57a-4dd9-be27-88ec90bcf4d3","name":"token","value":"={{ $json.access_token }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[192,-80],"id":"b76895fc-a864-4ef0-a686-2757fcc434ed","name":"Carrega Token"}],"origin":"n8n","pinData":{},"repo":{"owner":"n8nlinx","name":"BACKUP-N8N-LINX"},"settings":{"executionOrder":"v1"},"shared":[{"createdAt":"2025-11-05T12:09:41.190Z","updatedAt":"2025-11-05T12:09:41.190Z","role":"workflow:owner","workflowId":"58tehwiWyKjICM4L","projectId":"l6KXFsOg8uXBDdl3"}],"staticData":null,"tags":[],"triggerCount":0,"updatedAt":"2025-11-05T12:19:26.095Z","versionId":"77280186-2852-4e90-8f60-dcc0019d14d6"}