6MiEjB6iADgnNdWp.json
{"active":false,"connections":{"When clicking ‘Test workflow’":{"main":[[{"node":"Jira Software","type":"main","index":0}]]},"Jira Software":{"main":[[{"node":"Gmail","type":"main","index":0}]]}},"createdAt":"2025-08-19T20:36:16.594Z","id":"6MiEjB6iADgnNdWp","isArchived":false,"meta":{"***REMOVIDO***":true},"name":"Jira+Gmail-V1","nodes":[{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[0,0],"id":"596ca51f-6f52-4cb6-b3fd-22356b110fc3","name":"When clicking ‘Test workflow’"},{"parameters":{"jiraVersion":"serverPat","operation":"get","issueKey":"AUTO-79838","additionalFields":{}},"type":"n8n-nodes-base.jira","typeVersion":1,"position":[220,0],"id":"79b4fd78-41c5-4d5e-8212-6de2c1bf61af","name":"Jira Software","credentials":{"***REMOVIDO***":{"id":"nkIDbBmlbnOP6Vfe","name":"Jira-KeyEltz"}}},{"parameters":{"sendTo":"alexander.eltz@linx.com.br","subject":"={{ $json.key }} Nova Issue identificada!","message":"=Issue: {{ $json.key }}\nResponsável pela Abertura: {{ $json.fields.reporter.name }}\nTipo da Issue: {{ $json.fields.issuetype.name }}\n\nNível de Prioridade: {{ $json.fields.customfield_11905.value }}\n\n{{ $json.fields.customfield_11533 }}\n\n\n","options":{"ccList":"bruno.marques@linx.com.br"}},"type":"n8n-nodes-base.gmail","typeVersion":2.1,"position":[440,0],"id":"247d40c5-d288-45fd-89da-e32f22a2068b","name":"Gmail","webhookId":"3781c292-a366-4518-9706-77db5c38fbfe","alwaysOutputData":true,"retryOnFail":true,"maxTries":2,"executeOnce":true,"credentials":{"gmailOAuth2":{"id":"zU7fGwHJYhrzwtXi","name":"n8n.Task-Gmail"}}}],"origin":"n8n","pinData":{},"repo":{"owner":"n8nlinx","name":"BACKUP-N8N-LINX"},"settings":{"executionOrder":"v1"},"shared":[{"createdAt":"2025-08-19T20:36:16.594Z","updatedAt":"2025-08-19T20:36:16.594Z","role":"workflow:owner","workflowId":"6MiEjB6iADgnNdWp","projectId":"MuY51VcOvvTiGkBJ"}],"staticData":null,"tags":[],"triggerCount":0,"updatedAt":"2025-11-27T13:26:31.915Z","versionId":"d926838f-3217-4b27-aaba-b2745c62cb64"}