758uYVq7Tej9JCmB.json
{"active":false,"connections":{"When clicking ‘Execute workflow’":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"Crypto","type":"main","index":0}]]}},"createdAt":"2025-10-07T16:18:12.747Z","id":"758uYVq7Tej9JCmB","isArchived":false,"meta":null,"name":"Gerando chave cripto","nodes":[{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-208,0],"id":"b98ccd86-7dad-4502-a916-1b06cc029b90","name":"When clicking ‘Execute workflow’"},{"parameters":{"value":"={{ $json.codigo }}"},"type":"n8n-nodes-base.crypto","typeVersion":1,"position":[224,0],"id":"530da8df-7242-4558-8e6d-5680bc056c47","name":"Crypto"},{"parameters":{"assignments":{"assignments":[{"id":"5547e7e8-a51d-430e-a133-a7c3e3215c97","name":"codigo","value":"***REMOVIDO***","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[0,0],"id":"2046cff0-8d3e-4386-9d0e-29d7621f6cce","name":"Edit Fields"}],"origin":"n8n","pinData":{},"repo":{"owner":"n8nlinx","name":"BACKUP-N8N-LINX"},"settings":{"executionOrder":"v1"},"shared":[{"createdAt":"2025-10-07T16:18:12.747Z","updatedAt":"2025-10-07T16:18:12.747Z","role":"workflow:owner","workflowId":"758uYVq7Tej9JCmB","projectId":"l6KXFsOg8uXBDdl3"}],"staticData":null,"tags":[],"triggerCount":0,"updatedAt":"2025-10-08T20:27:37.246Z","versionId":"23dd9863-bd7a-47da-ad4d-628174c71bb1"}