794NEXClu8R4uSun.json
{
  "active": false,
  "connections": {
    "When clicking ‘Test workflow’": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Jira Software",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Jira Software": {
      "main": [
        []
      ]
    }
  },
  "createdAt": "2025-08-19T17:07:10.776Z",
  "id": "794NEXClu8R4uSun",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "JiraComment_V1.0",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "f60ac223-19cd-43a4-a93c-c03287ea1dc2",
      "name": "When clicking ‘Test workflow’"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "cfdf5c77-8feb-4ca7-b4cb-182beb6ec46f",
              "name": "issueKey",
              "value": "AUTO-79838",
              "type": "string"
            },
            {
              "id": "ac9687dc-fe0d-4aae-bc78-b1ebb8bcb1f2",
              "name": "commentBody",
              "value": "Teste via integração - OK (Bruno)",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        220,
        0
      ],
      "id": "08b89a20-c4fd-4768-9233-79d1dec3a84a",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "jiraVersion": "serverPat",
        "resource": "issueComment",
        "issueKey": "={{ $json.issueKey }}",
        "comment": "={{ $json.commentBody }}",
        "options": {}
      },
      "type": "n8n-nodes-base.jira",
      "typeVersion": 1,
      "position": [
        440,
        0
      ],
      "id": "88a35894-ad25-4d00-815e-e12d798181b9",
      "name": "Jira Software",
      "alwaysOutputData": true,
      "retryOnFail": true,
      "maxTries": 2,
      "executeOnce": true,
      "credentials": {
        "jiraSoftwareServerPatApi": {
          "id": "nkIDbBmlbnOP6Vfe",
          "name": "Jira-KeyEltz"
        }
      }
    }
  ],
  "origin": "n8n",
  "pinData": {},
  "repo": {
    "owner": "n8nlinx",
    "name": "BACKUP-N8N-LINX"
  },
  "settings": {
    "executionOrder": "v1"
  },
  "shared": [
    {
      "createdAt": "2025-08-19T17:07:10.776Z",
      "updatedAt": "2025-08-19T17:07:10.776Z",
      "role": "workflow:owner",
      "workflowId": "794NEXClu8R4uSun",
      "projectId": "MuY51VcOvvTiGkBJ"
    }
  ],
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2025-08-19T20:34:59.038Z",
  "versionId": "596d16ed-5896-491c-8f46-64bb383fde61"
}