7cAK29dV8rar4Cg2.json
{"active":false,"connections":{"Revisão de Campos - QA":{"main":[[{"node":"Call 'Camos Revisao QA'","type":"main","index":0}]]},"Revisão de Campos - Descrição":{"main":[[{"node":"Call 'Campos Revisão Descrição'","type":"main","index":0}]]},"Jira Software":{"main":[[{"node":"Revisão de Campos - Descrição","type":"main","index":0},{"node":"Revisão de Campos - QA","type":"main","index":0},{"node":"Revisão de Campos - Release Note","type":"main","index":0},{"node":"Revisão de Campos - Reesposáveis","type":"main","index":0},{"node":"PRs","type":"main","index":0}]]},"Call 'Camos Revisao QA'":{"main":[[{"node":"Adicionar PR","type":"main","index":1}]]},"Revisão de Campos - Release Note":{"main":[[{"node":"Call 'Campos revisão release'","type":"main","index":0}]]},"Revisão de Campos - Reesposáveis":{"main":[[{"node":"Adicionar  QA","type":"main","index":1}]]},"Call 'Campos revisão release'":{"main":[[{"node":"Adicionar release","type":"main","index":0}]]},"Adicionar responsáveis":{"main":[[{"node":"Adicionar PR","type":"main","index":0}]]},"Adicionar  QA":{"main":[[{"node":"Adicionar responsáveis","type":"main","index":0}]]},"Adicionar release":{"main":[[{"node":"Adicionar  QA","type":"main","index":0}]]},"Call 'Campos Revisão Descrição'":{"main":[[{"node":"Adicionar responsáveis","type":"main","index":1}]]},"PRs":{"main":[[{"node":"Adicionar release","type":"main","index":1}]]},"Adicionar PR":{"main":[[{"node":"Create item in a list","type":"main","index":0},{"node":"Reply to a message","type":"main","index":0}]]},"Webhook":{"main":[[{"node":"Jira Software","type":"main","index":0}]]}},"createdAt":"2025-11-06T18:51:56.113Z","id":"7cAK29dV8rar4Cg2","isArchived":false,"meta":{"***REMOVIDO***":true},"name":"My workflow 11","nodes":[{"parameters":{"assignments":{"assignments":[{"id":"66aefc3b-adff-4f8b-b37e-3ae924cd1ce4","name":"revisao","value":"={{ $json.fields.customfield_18500 }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-32,576],"id":"516efed6-5d8b-477b-a5b8-3fd0d3e3aa17","name":"Revisão de Campos - QA"},{"parameters":{"assignments":{"assignments":[{"id":"e2d6006f-6bbc-4e91-a47b-342fffe07c06","name":"descricao","value":"={{ $json.fields.description }}","type":"string"},{"id":"af3b4553-fc49-4978-950f-a3faca5a6f21","name":"issue","value":"={{ $json.key }}","type":"string"},{"id":"fe2ed187-307e-4ce7-b40a-a7eba07f15da","name":"tipo","value":"={{ $json.fields.issuelinks[0].outwardIssue.fields.issuetype.name }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-32,384],"id":"0936c931-f54e-4a39-81e0-8cce551fe9e7","name":"Revisão de Campos - Descrição"},{"parameters":{"jiraVersion":"serverPat","operation":"getAll","options":{"jql":"project = AUTO AND fixVersion = DVI_03-11-25 AND STATUS != Done ORDER BY Rank "}},"type":"n8n-nodes-base.jira","typeVersion":1,"position":[-688,192],"id":"84d9aac0-add3-4b68-baa9-cb43b0cec322","name":"Jira Software","credentials":{"***REMOVIDO***":{"id":"EnhyyrY0VweCcNHY","name":"Jira SW Token Augusto"}}},{"parameters":{"workflowId":{"__rl":true,"value":"I46c8mTFfmxdYtwI","mode":"list","cachedResultUrl":"/workflow/I46c8mTFfmxdYtwI","cachedResultName":"Campos Revisão QA"},"workflowInputs":{"mappingMode":"defineBelow","value":{}},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.3,"position":[192,576],"id":"416f117e-ee5e-47b6-84af-90a1a094ed16","name":"Call 'Camos Revisao QA'"},{"parameters":{"assignments":{"assignments":[{"id":"017ad8c1-049a-4679-8c2c-2bd77ce1e09e","name":"release","value":"={{ $json.fields.customfield_11533 }}","type":"string"},{"id":"9f728609-8677-4351-9fae-c4bb6085994c","name":"issue","value":"={{ $json.key }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-464,-16],"id":"6ca11551-4581-4581-a63b-be261a831ebc","name":"Revisão de Campos - Release Note"},{"parameters":{"assignments":{"assignments":[{"id":"6324aed0-5f3e-47d8-af3d-cc694824189a","name":"issue","value":"={{ $json.key }}","type":"string"},{"id":"6d99967f-ec20-48c5-9cda-2b29ea6d3ca3","name":"desenvolvedor","value":"=[~{{ $json.fields.customfield_11608.key }}]","type":"string"},{"id":"7175dd44-2545-4111-9ae9-644f80f13573","name":"QA","value":"=[~{{ $json.fields.customfield_14101.name }}]","type":"string"},{"id":"7ff42955-24a6-4f89-b4dd-eea40272a265","name":"Case ID","value":"={{ $json.fields.customfield_20507 }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-32,192],"id":"e6145c5c-77de-4a18-9bd3-6283f7257b70","name":"Revisão de Campos - Reesposáveis"},{"parameters":{"workflowId":{"__rl":true,"value":"ebld3fR0JpjJibQT","mode":"list","cachedResultUrl":"/workflow/ebld3fR0JpjJibQT","cachedResultName":"Campos Revisão Release"},"workflowInputs":{"mappingMode":"defineBelow","value":{}},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.3,"position":[-256,-112],"id":"4a6446a5-2aa7-4323-a464-8f1282c2bf1e","name":"Call 'Campos revisão release'"},{"parameters":{"mode":"combine","combineBy":"combineByPosition","options":{}},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[416,208],"id":"eedfb9bd-61c6-4484-8c23-7f41e7863bfc","name":"Adicionar responsáveis"},{"parameters":{"mode":"combine","combineBy":"combineByPosition","options":{}},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[192,80],"id":"8db563ce-c45e-422e-8377-2d3f41b29100","name":"Adicionar  QA"},{"parameters":{"mode":"combine","combineBy":"combineByPosition","options":{}},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[-32,-16],"id":"0172452d-3c82-434b-ae59-77e6cdb3097a","name":"Adicionar release"},{"parameters":{"workflowId":{"__rl":true,"value":"2zpzMvATLlOi15EI","mode":"list","cachedResultUrl":"/workflow/2zpzMvATLlOi15EI","cachedResultName":"Campos Revisão Descrição"},"workflowInputs":{"mappingMode":"defineBelow","value":{},"matchingColumns":[],"schema":[],"***REMOVIDO***":false,"***REMOVIDO***":true},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.3,"position":[192,384],"id":"5d4138b5-4d46-4227-a4fd-24408ff6beae","name":"Call 'Campos Revisão Descrição'"},{"parameters":{"assignments":{"assignments":[{"id":"f2c95711-43bb-4c70-b6b8-96c2ed247006","name":"PRs","value":"={{ $json.fields.customfield_25600 }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-256,80],"id":"1fc75e18-9a1d-49ef-a9c1-2c046bbe807d","name":"PRs"},{"parameters":{"mode":"combine","combineBy":"combineByPosition","options":{}},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[640,272],"id":"3a9b8433-e5fc-4133-a1f4-1f4c918b5410","name":"Adicionar PR"},{"parameters":{"path":"ecf3b47b-ab3a-4905-84b1-cf41b1953362","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[-912,208],"id":"841ac5cd-7697-4f20-83ea-8b859fbe846c","name":"Webhook","webhookId":"ecf3b47b-ab3a-4905-84b1-cf41b1953362"},{"parameters":{"resource":"item","operation":"create","site":{"__rl":true,"mode":"list","value":""},"requestOptions":{}},"type":"n8n-nodes-base.microsoftSharePoint","typeVersion":1,"position":[848,272],"id":"2f29b14c-e3e7-4e0e-beef-6aa635dd9489","name":"Create item in a list","credentials":{"***REMOVIDO***":{"id":"BBWQXh7Sb5me94Mt","name":"Microsoft SharePoint account 2"}}},{"parameters":{"operation":"reply","messageId":{"__rl":true,"mode":"list","value":""},"options":{}},"type":"n8n-nodes-base.microsoftOutlook","typeVersion":2,"position":[880,416],"id":"2d20b69d-783e-4c42-8331-7459645b042a","name":"Reply to a message","webhookId":"10bde6d2-fe3e-431a-a410-8907eb8f378c","credentials":{"***REMOVIDO***":{"id":"pSFmFTH0FcpbdmC0","name":"Microsoft Outlook account 2"}}}],"origin":"n8n","pinData":{},"repo":{"owner":"n8nlinx","name":"BACKUP-N8N-LINX"},"settings":{"executionOrder":"v1"},"shared":[{"createdAt":"2025-11-06T18:51:56.113Z","updatedAt":"2025-11-06T18:51:56.113Z","role":"workflow:owner","workflowId":"7cAK29dV8rar4Cg2","projectId":"1RGMLoql92onOpCd"}],"staticData":null,"tags":[],"triggerCount":0,"updatedAt":"2025-11-06T18:51:56.113Z","versionId":"cbd39fae-4e23-443d-b24a-117357688241"}