a61KTo3hZTsdgjIA.json
{"active":false,"connections":{"When clicking ‘Execute workflow’":{"main":[[{"node":"Call 'get-token-group'","type":"main","index":0}]]},"valuation/request (Solicita avaliação)":{"main":[[{"node":"If","type":"main","index":0}]]},"If":{"main":[[{"node":"Call 'get-token-group'","type":"main","index":0}],[{"node":"Edit Fields","type":"main","index":0}]]},"If [Evita loop infinito]":{"main":[[{"node":"valuation/request (Solicita avaliação)","type":"main","index":0}]]},"Call 'get-token-group'":{"main":[[{"node":"If [Evita loop infinito]","type":"main","index":0}]]},"Webhook":{"main":[[{"node":"Call 'get-token-group'","type":"main","index":0}]]}},"createdAt":"2025-09-30T15:03:22.675Z","id":"a61KTo3hZTsdgjIA","isArchived":false,"meta":null,"name":"solicita-avaliacao","nodes":[{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-464,-160],"id":"9fbf47c5-935a-4238-b8e0-ec60426f32cb","name":"When clicking ‘Execute workflow’"},{"parameters":{"method":"POST","url":"https://sa-hg-sys.appspot.com/valuation/request","sendHeaders":true,"headerParameters":{"parameters":[{"name":"token","value":"={{ $json.accessToken }}"}]},"sendBody":true,"specifyBody":"json","jsonBody":"{\n  \"valuation\": {\n    \"valuation_type_id\": \"3\",\n    \"valuer_id\": \"\",\n    \"seller\": \"\"\n  },\n  \"client\": {\n    \"cpf_cnpj\": \"01341406023\",\n    \"name\": \"Cliente Teste\",\n    \"email\": \"devel_28@autoavaliar.com.br\",\n    \"phone_number\": \"2345678901\",\n    \"cell_phone\": \"41123456789\",\n    \"zip\": \"82590400\",\n    \"address\": \"Praça da Sé\",\n    \"n\": \"75\",\n    \"crm\": \"123\",\n    \"address_details\": \"\",\n    \"town\": \"Centro\",\n    \"city\": \"4006\",\n    \"dateofbirth_foundation\": \"2001-01-02\",\n    \"has_cnh\": 1\n  },\n  \"vehicle\": {\n    \"plate\": \"AEW2469\",\n    \"make_id\": 2115,\n    \"model_id\": 72421,\n    \"version_id\": 39803,\n    \"vin\": \"9BWZZZ32ZRP276491\",\n    \"assembly\": 1994,\n    \"year\": 1995,\n    \"engine\": 1800,\n    \"doors\": \"4\",\n    \"color_id\": \"6\",\n    \"fuel_id\": \"2\",\n    \"kind_id\": \"3\",\n    \"origin_id\": \"1\",\n    \"body_type_id\": \"3\",\n    \"renavam\": \"987654321\",\n    \"seats\": \"4\",\n    \"upholstery\": \"\",\n    \"mirror_crlv\": \"\",\n    \"engine_number\": \"\",\n    \"power\": \"100\",\n    \"expected_value\": \"20000\",\n    \"vehicle_city\": \"4006\",\n    \"uf\": \"PR\"\n  },\n  \"questions\": [\n    {\n      \"question_id\": 180,\n      \"answer\": \"Sim\"\n    },\n    {\n      \"question_id\": 181,\n      \"answer\": \"Não\"\n    }\n  ],\n  \"vehicle_interest\": {\n    \"version_id\": 1295400,\n    \"class_id\": 2,\n    \"molicar_id\": \"1234-5\",\n    \"kind_id\": 3,\n    \"uf\": \"PR\",\n    \"value\": 30000,\n    \"year\": 2010\n  }\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[192,16],"id":"a0c047a8-5c05-426d-be6b-1ea4262bc801","name":"valuation/request (Solicita avaliação)","onError":"***REMOVIDO***"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"7080609a-2900-4f27-960f-a4f47289a5fc","leftValue":"={{ $json.error }}","rightValue":"","operator":{"type":"object","operation":"exists","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[352,16],"id":"c79d1dec-494f-48bb-84fd-6a801b1cb891","name":"If"},{"parameters":{"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[560,32],"id":"a7b9710f-935c-4832-8586-125f1eb5f2f9","name":"Edit Fields"},{"parameters":{"workflowId":{"__rl":true,"value":"zh46bvGPHpvHmgvk","mode":"list","cachedResultUrl":"/workflow/zh46bvGPHpvHmgvk","cachedResultName":"Auto Avaliar — get-token-group"},"workflowInputs":{"mappingMode":"defineBelow","value":{}},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.3,"position":[-176,32],"id":"64cb2562-7137-489b-af8b-dcfaeeb4dd0f","name":"Call 'get-token-group'"},{"parameters":{"content":"## Note\nIncluir json pra receber dados para enviar avaliação\n\n**Possíveis dados**:\nCNPJ/Identificador - para obter token do grupo","width":512},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-160,-160],"id":"d38333e7-1709-4470-89b2-9aa77090a547","name":"Sticky Note"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"7080609a-2900-4f27-960f-a4f47289a5fc","leftValue":"={{ $json.error }}","rightValue":"","operator":{"type":"object","operation":"exists","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-16,32],"id":"9125cf6c-27cd-4105-8b45-79fae3507c63","name":"If [Evita loop infinito]"},{"parameters":{"httpMethod":"POST","path":"9dd3e5cb-8ac7-4225-82e9-8b7a05f1a40d","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[-432,32],"id":"bc5407d9-b213-4fbc-a733-84f14970c6bb","name":"Webhook","webhookId":"9dd3e5cb-8ac7-4225-82e9-8b7a05f1a40d"}],"origin":"n8n","pinData":{},"repo":{"owner":"n8nlinx","name":"BACKUP-N8N-LINX"},"settings":{"executionOrder":"v1"},"shared":[{"createdAt":"2025-09-30T15:03:22.675Z","updatedAt":"2025-09-30T15:03:22.675Z","role":"workflow:owner","workflowId":"a61KTo3hZTsdgjIA","projectId":"gooj2a4i7sGuxy01"}],"staticData":null,"tags":[],"triggerCount":0,"updatedAt":"2025-10-10T13:20:18.800Z","versionId":"c5cad95a-3ae8-42a9-8370-60f0292c76ea"}