a61KTo3hZTsdgjIA.json
{"active":false,"connections":{"When clicking ‘Execute workflow’":{"main":[[{"node":"Get Token Linx","type":"main","index":0}]]},"Get Token Linx":{"main":[[{"node":"valuation/request (Solicita avaliação)","type":"main","index":0}]]}},"createdAt":"2025-09-30T15:03:22.675Z","id":"a61KTo3hZTsdgjIA","isArchived":false,"meta":null,"name":"solicita-avaliacao","nodes":[{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[0,0],"id":"9fbf47c5-935a-4238-b8e0-ec60426f32cb","name":"When clicking ‘Execute workflow’"},{"parameters":{"url":"https://linxn8n.ccmtecnologia.com.br/webhook-test/get-token-linx","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[208,0],"id":"99665d53-81dc-4fb8-a085-a0fb50320af8","name":"Get Token Linx"},{"parameters":{"method":"POST","url":"https://sa-hg-sys.appspot.com/valuation/request","sendHeaders":true,"headerParameters":{"parameters":[{"name":"token","value":"={{ $json.payload.auth.token }}"}]},"sendBody":true,"specifyBody":"json","jsonBody":"{\n  \"valuation_type_id\": \"\",\n  \"valuer_id\": \"\",\n  \"seller\": \"\",\n  \"obs\": \"\",\n  \"cpf_cnpj\": \"00000000000\",\n  \"name\": \"username\",\n  \"email\": \"user@email.com\",\n  \"phone_number\": \"00000000000\",\n  \"cell_phone\": \"0000000000\",\n  \"zip\": \"00000000\",\n  \"address\": \"user address\",\n  \"n\": \"\",\n  \"crm\": \"\",\n  \"address_details\": \"\",\n  \"town\": \"\",\n  \"city\": \"\",\n  \"dateofbirth_foundation\": \"\",\n  \"has_cnh\": false,\n  \"plate\": \"\",\n  \"make_id\": \"\",\n  \"model_id\": \"\",\n  \"version_id\": \"\",\n  \"vin\": \"\",\n  \"assembly\": \"\",\n  \"year\": \"\",\n  \"engine\": \"\",\n  \"doors\": \"\",\n  \"color_id\": \"\",\n  \"fuel_id\": \"\",\n  \"kind_id\": \"\",\n  \"origin_id\": \"\",\n  \"body_type_id\": \"\",\n  \"renavam\": \"\",\n  \"seats\": \"\",\n  \"upholstery\": \"\",\n  \"mirror_crlv\": \"\",\n  \"engine_number\": \"\",\n  \"power\": \"\",\n  \"expected_value\": \"\",\n  \"vehicle_city\": \"\",\n  \"uf\": \"\",\n  \"vehicle_interest_version_id\": \"\",\n  \"vehicle_interest_class_id\": \"\",\n  \"vehicle_interest_molicar_id\": \"\",\n  \"vehicle_interest_kind_id\": \"\",\n  \"vehicle_interest_uf\": \"\",\n  \"vehicle_interest_value\": \"\",\n  \"vehicle_interest_year\": \"\",\n  \"questions\": [\n    {\n      \"question_id\": \"\",\n      \"answer\": \"\"\n    }\n  ],\n  \"svt_card\": \"\",\n  \"new_vehicle\": false\n}\n","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[416,0],"id":"a0c047a8-5c05-426d-be6b-1ea4262bc801","name":"valuation/request (Solicita avaliação)"}],"origin":"n8n","pinData":{},"repo":{"owner":"n8nlinx","name":"BACKUP-N8N-LINX"},"settings":{"executionOrder":"v1"},"shared":[{"createdAt":"2025-09-30T15:03:22.675Z","updatedAt":"2025-09-30T15:03:22.675Z","role":"workflow:owner","workflowId":"a61KTo3hZTsdgjIA","projectId":"gooj2a4i7sGuxy01"}],"staticData":null,"tags":[],"triggerCount":0,"updatedAt":"2025-10-01T14:59:54.116Z","versionId":"be63008c-2ed5-4d68-92b2-7238878e6c37"}