a61KTo3hZTsdgjIA.json
{"active":false,"connections":{"When clicking ‘Execute workflow’":{"main":[[{"node":"Get Token Linx","type":"main","index":0}]]},"Get Token Linx":{"main":[[{"node":"valuation/request (Solicita avaliação)","type":"main","index":0}]]}},"createdAt":"2025-09-30T15:03:22.675Z","id":"a61KTo3hZTsdgjIA","isArchived":false,"meta":null,"name":"solicita-avaliacao","nodes":[{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[0,0],"id":"9fbf47c5-935a-4238-b8e0-ec60426f32cb","name":"When clicking ‘Execute workflow’"},{"parameters":{"url":"https://linxn8n.ccmtecnologia.com.br/webhook-test/get-token-linx","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[208,0],"id":"99665d53-81dc-4fb8-a085-a0fb50320af8","name":"Get Token Linx"},{"parameters":{"method":"POST","url":"https://sa-hg-sys.appspot.com/valuation/request","sendHeaders":true,"headerParameters":{"parameters":[{"name":"token","value":"={{ $json.payload.auth.token }}"}]},"sendBody":true,"specifyBody":"json","jsonBody":"{\n  \"valuation\": {\n    \"valuation_type_id\": \"3\",\n    \"valuer_id\": \"\",\n    \"seller\": \"\"\n  },\n  \"client\": {\n    \"cpf_cnpj\": \"01341406023\",\n    \"name\": \"Cliente Teste\",\n    \"email\": \"devel_28@autoavaliar.com.br\",\n    \"phone_number\": \"2345678901\",\n    \"cell_phone\": \"41123456789\",\n    \"zip\": \"82590400\",\n    \"address\": \"Praça da Sé\",\n    \"n\": \"75\",\n    \"crm\": \"123\",\n    \"address_details\": \"\",\n    \"town\": \"Centro\",\n    \"city\": \"4006\",\n    \"dateofbirth_foundation\": \"2001-01-02\",\n    \"has_cnh\": 1\n  },\n  \"vehicle\": {\n    \"plate\": \"AEW2469\",\n    \"make_id\": 2115,\n    \"model_id\": 72421,\n    \"version_id\": 39803,\n    \"vin\": \"9BWZZZ32ZRP276491\",\n    \"assembly\": 1994,\n    \"year\": 1995,\n    \"engine\": 1800,\n    \"doors\": \"4\",\n    \"color_id\": \"6\",\n    \"fuel_id\": \"2\",\n    \"kind_id\": \"3\",\n    \"origin_id\": \"1\",\n    \"body_type_id\": \"3\",\n    \"renavam\": \"987654321\",\n    \"seats\": \"4\",\n    \"upholstery\": \"\",\n    \"mirror_crlv\": \"\",\n    \"engine_number\": \"\",\n    \"power\": \"100\",\n    \"expected_value\": \"20000\",\n    \"vehicle_city\": \"4006\",\n    \"uf\": \"PR\"\n  },\n  \"questions\": [\n    {\n      \"question_id\": 180,\n      \"answer\": \"Sim\"\n    },\n    {\n      \"question_id\": 181,\n      \"answer\": \"Não\"\n    }\n  ],\n  \"vehicle_interest\": {\n    \"version_id\": 1295400,\n    \"class_id\": 2,\n    \"molicar_id\": \"1234-5\",\n    \"kind_id\": 3,\n    \"uf\": \"PR\",\n    \"value\": 30000,\n    \"year\": 2010\n  }\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[416,0],"id":"a0c047a8-5c05-426d-be6b-1ea4262bc801","name":"valuation/request (Solicita avaliação)"}],"origin":"n8n","pinData":{},"repo":{"owner":"n8nlinx","name":"BACKUP-N8N-LINX"},"settings":{"executionOrder":"v1"},"shared":[{"createdAt":"2025-09-30T15:03:22.675Z","updatedAt":"2025-09-30T15:03:22.675Z","role":"workflow:owner","workflowId":"a61KTo3hZTsdgjIA","projectId":"gooj2a4i7sGuxy01"}],"staticData":null,"tags":[],"triggerCount":0,"updatedAt":"2025-10-02T21:51:49.995Z","versionId":"91d9a1ea-8b9a-41ba-89fe-2368aaf04c76"}