bj7ODanovzvzRa3M.json
{"active":false,"connections":{"If [Token válido]":{"main":[[],[{"node":"Call 'get-token-group'","type":"main","index":0}]]},"Todo dia a meia noite":{"main":[[{"node":"Obter todos tokens ativos","type":"main","index":0},{"node":"Obter todos tokens-linx","type":"main","index":0}]]},"If [Token válido-linx]":{"main":[[],[{"node":"Call 'get-token-linx'","type":"main","index":0}]]},"Obter todos tokens-linx":{"main":[[{"node":"If [Token válido-linx]","type":"main","index":0}]]},"Obter todos tokens ativos":{"main":[[{"node":"If [Token válido]","type":"main","index":0}]]}},"createdAt":"2025-10-22T17:04:14.130Z","id":"bj7ODanovzvzRa3M","isArchived":false,"meta":null,"name":"renova-tokens","nodes":[{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"df6fc557-147a-4ae7-a0e7-7e1c38d4764c","leftValue":"={{ $json.updatedAt }}","rightValue":"={{ $now.plus(6, 'days')}}","operator":{"type":"dateTime","operation":"before"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[16,-64],"id":"71b9fe60-64d4-482d-97a3-d87949f92011","name":"If [Token válido]","notesInFlow":true,"notes":"Se token não está prestes a expirar (< 6 dias desde último update), não precisa renovar"},{"parameters":{"workflowId":{"__rl":true,"value":"zh46bvGPHpvHmgvk","mode":"list","cachedResultUrl":"/workflow/zh46bvGPHpvHmgvk","cachedResultName":"Auto Avaliar — get-token-group"},"workflowInputs":{"mappingMode":"defineBelow","value":{"CNPJ":"={{ $json.CNPJ }}"},"matchingColumns":[],"schema":[{"id":"CNPJ","displayName":"CNPJ","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"Usuario","displayName":"Usuario","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"Senha","displayName":"Senha","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false}],"***REMOVIDO***":false,"***REMOVIDO***":true},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.3,"position":[256,-48],"id":"9e81c42c-816c-4b75-94af-d345ca46cf26","name":"Call 'get-token-group'"},{"parameters":{"rule":{"interval":[{}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-400,-64],"id":"b77bcd5a-5c24-4675-9454-bc28de08e167","name":"Todo dia a meia noite"},{"parameters":{"workflowId":{"__rl":true,"value":"OtbKiP3DmuDERe9y","mode":"list","cachedResultUrl":"/workflow/OtbKiP3DmuDERe9y","cachedResultName":"Auto Avaliar — get-token-linx"},"workflowInputs":{"mappingMode":"defineBelow","value":{},"matchingColumns":[],"schema":[],"***REMOVIDO***":false,"***REMOVIDO***":true},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.3,"position":[256,176],"id":"d68710f4-19c4-48e7-809f-130bfe479e2d","name":"Call 'get-token-linx'"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"df6fc557-147a-4ae7-a0e7-7e1c38d4764c","leftValue":"={{ $json.updatedAt }}","rightValue":"={{ $now.plus(6, 'days')}}","operator":{"type":"dateTime","operation":"before"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[16,160],"id":"db6ab2ba-9e4f-44dd-ab71-082783d22d2d","name":"If [Token válido-linx]","notesInFlow":true,"notes":"Se token não está prestes a expirar (< 6 dias desde último update), não precisa renovar"},{"parameters":{"operation":"get","dataTableId":{"__rl":true,"value":"bkwZCWZiwThzhQqZ","mode":"list","cachedResultName":"LINX_DATA","cachedResultUrl":"/projects/gooj2a4i7sGuxy01/datatables/bkwZCWZiwThzhQqZ"},"matchType":"allConditions","filters":{"conditions":[{"keyName":"TOKEN","condition":"isNotEmpty"}]},"returnAll":true},"type":"n8n-nodes-base.dataTable","typeVersion":1,"position":[-192,160],"id":"ae80633c-9fc6-46c3-a612-4d2d4ec35a4b","name":"Obter todos tokens-linx"},{"parameters":{"operation":"get","dataTableId":{"__rl":true,"value":"YMuf0PpbAH7osHUV","mode":"list","cachedResultName":"GROUP_DATA","cachedResultUrl":"/projects/gooj2a4i7sGuxy01/datatables/YMuf0PpbAH7osHUV"},"matchType":"allConditions","filters":{"conditions":[{"keyName":"REFRESH_TOKEN","condition":"isNotEmpty"},{"keyName":"STATUS_INTEGRACAO","condition":"isTrue"}]},"returnAll":true},"type":"n8n-nodes-base.dataTable","typeVersion":1,"position":[-192,-64],"id":"f11fce3e-0f81-488f-8548-8738661b0896","name":"Obter todos tokens ativos"}],"origin":"n8n","pinData":{},"repo":{"owner":"n8nlinx","name":"BACKUP-N8N-LINX"},"settings":{"executionOrder":"v1"},"shared":[{"createdAt":"2025-10-22T17:04:14.130Z","updatedAt":"2025-10-22T17:04:14.130Z","role":"workflow:owner","workflowId":"bj7ODanovzvzRa3M","projectId":"gooj2a4i7sGuxy01"}],"staticData":null,"tags":[],"triggerCount":0,"updatedAt":"2025-10-22T17:55:06.611Z","versionId":"2e593d71-56ca-4b4e-9369-179d7c76d0fc"}