BYe9yUHAG6QsZl4b.json
{"active":false,"connections":{"When clicking ‘Execute workflow’":{"main":[[{"node":"Campos teste","type":"main","index":0}]]},"Simple Memory":{"ai_memory":[[{"node":"Cadastrar","type":"ai_memory","index":0},{"node":"Consultar","type":"ai_memory","index":0},{"node":"Deletar","type":"ai_memory","index":0}]]},"Cadastrar":{"main":[[{"node":"Consultar","type":"main","index":0}]]},"Consultar":{"main":[[{"node":"Carregando valores","type":"main","index":0}]]},"Campos teste":{"main":[[{"node":"Cadastrar","type":"main","index":0}]]},"Carregando valores":{"main":[[{"node":"Deletar","type":"main","index":0}]]}},"createdAt":"2025-10-06T18:26:20.414Z","id":"BYe9yUHAG6QsZl4b","isArchived":false,"meta":null,"name":"Usando o Chat Memory Manager para salvar usuário e senha","nodes":[{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-1280,64],"id":"c8a8cd74-2163-43f3-af3d-7f96ac298061","name":"When clicking ‘Execute workflow’"},{"parameters":{"sessionIdType":"customKey","sessionKey":"={{ $('Campos teste').item.json.usuario }}"},"type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","typeVersion":1.3,"position":[-512,272],"id":"6d41eab6-1806-4af6-8b21-eb80146f2701","name":"Simple Memory"},{"parameters":{"content":"## Usando o Chat Memory Manager","height":384,"width":1120},"type":"n8n-nodes-base.stickyNote","position":[-928,0],"typeVersion":1,"id":"ace40629-682f-465e-8e89-3f367e29fa32","name":"Sticky Note"},{"parameters":{"mode":"insert","messages":{"messageValues":[{"message":"={{ $json.usuario }}"},{"message":"={{ $json.senha }}"}]}},"type":"@n8n/n8n-nodes-langchain.memoryManager","typeVersion":1.1,"position":[-864,64],"id":"aa7a7af1-dbc8-4073-901b-400958e8af3e","name":"Cadastrar"},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.memoryManager","typeVersion":1.1,"position":[-512,64],"id":"61573880-53d9-426b-ae60-8f217c1d65ec","name":"Consultar"},{"parameters":{"mode":"delete","lastMessagesCount":3},"type":"@n8n/n8n-nodes-langchain.memoryManager","typeVersion":1.1,"position":[-128,80],"id":"d273b1dc-1545-48ea-81f8-a79222934e83","name":"Deletar"},{"parameters":{"assignments":{"assignments":[{"id":"4802a984-3585-4544-a837-05b807698d77","name":"usuario","value":"teste","type":"string"},{"id":"624d5fd4-8d43-4a9b-91e9-9bbef00ee3b1","name":"senha","value":"1234567","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-1072,64],"id":"c1df7e20-b5f1-4ef7-9e5e-6931fcf43716","name":"Campos teste"},{"parameters":{"assignments":{"assignments":[{"id":"21b78283-4872-4ec8-a19f-45e0d9cd6286","name":"usuario","value":"={{ $json.messages[0].system }}","type":"string"},{"id":"3e7b3cd3-29bb-4fef-a50f-66561a114548","name":"senha","value":"={{ $json.messages[1].system }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-128,-144],"id":"8a81da4c-8a21-416c-94f1-cc4cccf8ee4d","name":"Carregando valores"}],"origin":"n8n","pinData":{},"repo":{"owner":"n8nlinx","name":"BACKUP-N8N-LINX"},"settings":{"executionOrder":"v1"},"shared":[{"createdAt":"2025-10-06T18:26:20.414Z","updatedAt":"2025-10-06T18:26:20.414Z","role":"workflow:owner","workflowId":"BYe9yUHAG6QsZl4b","projectId":"l6KXFsOg8uXBDdl3"}],"staticData":null,"tags":[],"triggerCount":0,"updatedAt":"2025-10-06T18:26:33.167Z","versionId":"c4e1b6ab-b2a2-49a9-824d-63093c5c9c0e"}