ebld3fR0JpjJibQT.json
{"active":false,"connections":{"When Executed by Another Workflow":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Loop Over Items":{"main":[[],[{"node":"validando release","type":"main","index":0}]]},"validando release":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]}},"createdAt":"2025-10-20T15:07:11.843Z","id":"ebld3fR0JpjJibQT","isArchived":false,"meta":null,"name":"Campos Revisão Release","nodes":[{"parameters":{"inputSource":"passthrough"},"type":"n8n-nodes-base.***REMOVIDO***","typeVersion":1.1,"position":[-80,-32],"id":"733f01c3-f552-4a8c-8ef2-662a6ccd80e4","name":"When Executed by Another Workflow"},{"parameters":{"jsCode":"let texto = $input.all().map(item => item.json?.release || \"\").join(\",\").trim();\nlet preenchido = \"\";\n\nconst referencia = `Programas: xxxx xxxx (dica: escrever os projetos alterados separados por espaço)\\r\\nDescrição da alteração: ***REMOVIDO*** (dica: descrever para leitura do cliente)\\r\\nDocumentação: ***REMOVIDO*** (dica: colar link do Linx Share. obs: remover essa linha se não houver)\\r\\nMenu: xxxx > xxxx > xxxx (dica: separar por \\\">\\\" os níveis do menu)`;\n\nif(!texto.includes(referencia)){\n  preenchido = \"Release preenchido\";\n}else{\n  preenchido = \"Release não foi preenchido corretamente\";\n}\n\nreturn [\n  {\n    json: {\n      release_preenchido: preenchido,\n      issue: $input.first().json.issue\n    }\n  }\n];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[416,-16],"id":"8104f3a3-a8f8-4a60-aa61-a01e70e1c0b6","name":"validando release"},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[160,-32],"id":"044a1174-db78-404c-b58a-c9effbaa1dd9","name":"Loop Over Items"}],"origin":"n8n","pinData":{},"repo":{"owner":"n8nlinx","name":"BACKUP-N8N-LINX"},"settings":{"executionOrder":"v1"},"shared":[{"createdAt":"2025-10-20T15:07:11.843Z","updatedAt":"2025-10-20T15:07:11.843Z","role":"workflow:owner","workflowId":"ebld3fR0JpjJibQT","projectId":"l6KXFsOg8uXBDdl3"}],"staticData":null,"tags":[],"triggerCount":0,"updatedAt":"2025-10-30T12:16:04.937Z","versionId":"0a8cc681-248e-4abf-a963-7c48304f0729"}