esYk0LjFCmG1Do3j.json
{"active":false,"connections":{"When clicking ‘Test workflow’":{"main":[[{"node":"Jira Software","type":"main","index":0}]]},"Jira Software":{"main":[[{"node":"Pegando os dados para analise da IA","type":"main","index":0}]]},"Modificar especificação tecnica":{"main":[[{"node":"Atualiza Jira","type":"main","index":0},{"node":"Campos Issue e responsavel","type":"main","index":0}]]},"Atualiza Jira":{"main":[[{"node":"Foi Atualizado","type":"main","index":0}]]},"Tess Angent":{"main":[[{"node":"Resposta agent","type":"main","index":0}]]},"Pegando solicitação":{"main":[[{"node":"Tem Solicitação","type":"main","index":0}]]},"Resposta agent":{"main":[[{"node":"Combina todas as informações","type":"main","index":0}]]},"Adiciona comentário para revisar":{"main":[[{"node":"Combinação para finalizar","type":"main","index":1}]]},"Foi Atualizado":{"main":[[{"node":"Merge","type":"main","index":1}]]},"Tem Solicitação":{"main":[[{"node":"Falha","type":"main","index":0}],[{"node":"Unir informações para envio para TESS","type":"main","index":0}]]},"Pegando os dados para analise da IA":{"main":[[{"node":"Verifica ja validou a issue","type":"main","index":0},{"node":"Unir informações basicas","type":"main","index":1}]]},"Não tem cadastro":{"main":[[{"node":"Unir informações basicas","type":"main","index":0}]]},"Verifica ja validou a issue":{"main":[[{"node":"Não tem cadastro","type":"main","index":0}]]},"Combina todas as informações":{"main":[[{"node":"Modificar especificação tecnica","type":"main","index":0}]]},"Unir informações basicas":{"main":[[{"node":"Pegando solicitação","type":"main","index":0},{"node":"Unir informações para envio para TESS","type":"main","index":1}]]},"Unir informações para envio para TESS":{"main":[[{"node":"Tess Angent","type":"main","index":0},{"node":"Combina todas as informações","type":"main","index":1}]]},"Combinação para finalizar":{"main":[[{"node":"Sucesso","type":"main","index":0}]]},"Merge":{"main":[[{"node":"Adiciona comentário para revisar","type":"main","index":0}]]},"Campos Issue e responsavel":{"main":[[{"node":"Merge","type":"main","index":0},{"node":"Combinação para finalizar","type":"main","index":0}]]}},"createdAt":"2025-10-29T18:24:09.685Z","id":"esYk0LjFCmG1Do3j","isArchived":false,"meta":null,"name":"Refinamento funcional automático","nodes":[{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-2368,192],"id":"84121982-9520-43b2-a572-b22a44c34e3a","name":"When clicking ‘Test workflow’"},{"parameters":{"jiraVersion":"serverPat","operation":"get","issueKey":"AUTO-81557","additionalFields":{}},"type":"n8n-nodes-base.jira","typeVersion":1,"position":[-2144,192],"id":"c2ec8138-5212-4213-af27-96bbe15bedd4","name":"Jira Software","credentials":{"***REMOVIDO***":{"id":"50JMqyQ8qMp9dkz7","name":"Jira SW Cloud account 2"}}},{"parameters":{"jsCode":"const descricao_completa = $input.first().json.descricao;\n\nconst resposta_agent = $input.first().json.resposta_agent;\nconst indice = resposta_agent.indexOf(\"Refinamento Funcional\")\n\nlet refinamento = resposta_agent.slice(indice);\n\nconsole.log(refinamento);\n\nrefinamento = refinamento.replaceAll('#','').replaceAll('-','');\nrefinamento = refinamento.replace('Refinamento Funcional**','h2. 📋 *Refinamento Funcional*' );\nrefinamento = refinamento.replace('🏢 **Aplicação:** Linx DMS','🏢 *Aplicação:* Linx DMS' );\nrefinamento = refinamento.replace('⚙️ **Complexidade:** Média','⚙️ *Complexidade:* Média' );\nrefinamento = refinamento.replace('🎯 **Título e Objetivo da Issue:**','🎯 *Título e Objetivo da Issue:*' );\nrefinamento = refinamento.replace('* **Título:**','* *Título:*' );\nrefinamento = refinamento.replace('* **Objetivo:**','* *Objetivo:*' );\nrefinamento = refinamento.replace('✅ **Comportamento Esperado:**','✅ *Comportamento Esperado:*' );\nrefinamento = refinamento.replace('🔧 **Detalhamento da Solução:**','🔧 *Detalhamento da Solução:*' );\nrefinamento = refinamento.replace('✔️ **Critérios de Aceite:**','✔️ *Critérios de Aceite:*' );\nrefinamento = refinamento.replace('🧪 **Sugestão de Plano de Teste:**','🧪 *Sugestão de Plano de Teste:*' );\nrefinamento = refinamento.replace('🎯 **Benefícios Esperados:**','🎯 *Benefícios Esperados:*' );\nrefinamento = refinamento.replace('📝 **O que será Feito:**','📝 *O que será Feito:*' );\nrefinamento = refinamento.replace('⏱️ **Cálculo de Horas:**','⏱️ *Cálculo de Horas:*' );\n\nconst resultado = refinamento.match(/\\*Complexidade:\\*\\s*([A-Za-zÀ-ÿ\\s]+)/);\n\nconst complexidade = resultado ? resultado[1].trim() : null;\n\n// Regex que considera quebras de linha reais (\\r\\n)\nconst atualizardescricao = descricao_completa.replace(\n  /\\*\\(\\+\\)\\s*Especificação técnica:\\*\\s*\\{panel:bgColor=#f5f6f9\\}[\\s\\S]*?\\{panel\\}/,\n  `*(+) Especificação técnica:*\\r\\n{panel:bgColor=#f5f6f9}\\r\\n${refinamento}\\r\\n{panel}`\n);\n\nlet valorprioridade;\n\nconsole.log(complexidade);\n\nif(complexidade != null && complexidade.includes('Baixa')){\n  valorprioridade = 10003;\n}else if(complexidade != null && complexidade.includes('Média')){\n  valorprioridade = 10002;\n}else if(complexidade != null && complexidade.includes('Alta')){\n  valorprioridade = 10001;\n}else if(complexidade != null && complexidade.includes('Muito Alta')){\n  valorprioridade = 10000;\n}\n\n// Retorna o novo campo\nreturn {\n  descricaoAtualizada: atualizardescricao,\n  complexidadeCodigo:  valorprioridade,\n  issue: $input.first().json.issue,\n  responsavel: $input.first().json.responsavel,\n  solicitante: $input.first().json.solicitante\n};\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[320,272],"id":"3983089e-d433-4110-8d3e-571504e56547","name":"Modificar especificação tecnica"},{"parameters":{"jiraVersion":"serverPat","operation":"update","issueKey":"={{ $json.issue }}","updateFields":{"description":"={{ $json.descricaoAtualizada }}","priority":{"__rl":true,"value":"={{ $json.complexidadeCodigo.toString() }}","mode":"id"}}},"type":"n8n-nodes-base.jira","typeVersion":1,"position":[704,368],"id":"6610feb6-421d-4b55-89e6-9417c4f4acb8","name":"Atualiza Jira","disabled":true},{"parameters":{"method":"POST","url":"https://tess.pareto.io/api/agents/29289/execute","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"Bearer 226953|***REMOVIDO***"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"messages\": [\n    {\n      \"role\": \"user\",\n      \"content\": \"Descrição: Menu: Veículos > Integração > Renave > Zero [99215] O que o sistema está fazendo: Atualmente no menu Renave o sistema não possui um relatório que informe os veículos que de fato foram finalizados/enviados, para espelhar com as cobranças que recebemos da SERPRO. O que deseja que o sistema faça: que o sistema possua um relatório com as informações dos veículos que deram saída para que possamos validar as informações. Como deseja que o sistema faça: que o sistema possua um botão para emitir um relatório com todas as operações que geram custos por parte da SERPRO, para sabermos por quais operações estamos pagando. Benefício: Melhor controle das operações realizadas no Renave e possibilidade de conferência de valores que nos são cobrados. -------------------------------------------------------------------------------------------------------- Precisamos que seja possível o print em anexo para que possamos verificar os valores que a serpro esta nos cobrando.\"\n    }\n  ],\n  \"wait_execution\": true\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[64,48],"id":"2c0c45be-ed0e-4f45-b481-15683196233d","name":"Tess Angent","retryOnFail":true,"maxTries":3,"waitBetweenTries":5000},{"parameters":{"jsCode":"\nconst texto = $input.all().map(item => item.json?.descricao || \"\").join(\",\").trim();\n\nconst regex = /Solicitação:\\*\\r?\\n\\{panel:bgColor=#f5f6f9\\}([\\s\\S]*?)\\{panel\\}/;\n\nconst resultado = texto.match(regex);\n\nreturn [\n  {\n    json: {\n      issue: $input.first().json.issue,\n      solicitacao: resultado ? resultado[1].trim() : \"Conteúdo não encontrado\"\n    }\n  }\n];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-784,64],"id":"883d93da-4684-47dc-bb9e-84c8bc9932f6","name":"Pegando solicitação"},{"parameters":{"assignments":{"assignments":[{"id":"e5a20bd7-a5d8-4925-9378-7eb0486a6df4","name":"resposta_agent","value":"={{ $json.responses[0].output }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[320,48],"id":"eb3894a3-503b-4149-84c7-c96867f400c7","name":"Resposta agent"},{"parameters":{"jiraVersion":"serverPat","resource":"issueComment","issueKey":"={{ $json.issue }}","comment":"={{ $json.responsavel }} poderia verificar o refinamento realizado de issue.","options":{}},"type":"n8n-nodes-base.jira","typeVersion":1,"position":[1648,288],"id":"1b9c8f2a-b5e1-4521-ac1d-7b514f668729","name":"Adiciona comentário para revisar","disabled":true},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"a580b793-053b-4191-962b-593a8e2b605a","leftValue":"={{ $json.success }}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1008,368],"id":"52439132-745d-4a8c-8785-cdca5cb0856a","name":"Foi Atualizado"},{"parameters":{"dataTableId":{"__rl":true,"value":"Rv8RVdt43kRVryg4","mode":"list","cachedResultName":"revisao","cachedResultUrl":"/projects/1RGMLoql92onOpCd/datatables/Rv8RVdt43kRVryg4"},"columns":{"mappingMode":"defineBelow","value":{"situacao":"SUCESSO","issue":"={{ $json.issue }}"},"matchingColumns":[],"schema":[{"id":"issue","displayName":"issue","required":false,"defaultMatch":false,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"situacao","displayName":"situacao","required":false,"defaultMatch":false,"display":true,"type":"string","readOnly":false,"removed":false}],"***REMOVIDO***":false,"***REMOVIDO***":false},"options":{}},"type":"n8n-nodes-base.dataTable","typeVersion":1,"position":[2272,192],"id":"ab4b377b-57f8-49a0-a12c-9ea40a8cd8e2","name":"Sucesso","disabled":true},{"parameters":{"dataTableId":{"__rl":true,"value":"Rv8RVdt43kRVryg4","mode":"list","cachedResultName":"revisao","cachedResultUrl":"/projects/1RGMLoql92onOpCd/datatables/Rv8RVdt43kRVryg4"},"columns":{"mappingMode":"defineBelow","value":{"issue":"={{ $json.issue }}","situacao":"FALHA"},"matchingColumns":[],"schema":[{"id":"issue","displayName":"issue","required":false,"defaultMatch":false,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"situacao","displayName":"situacao","required":false,"defaultMatch":false,"display":true,"type":"string","readOnly":false,"removed":false}],"***REMOVIDO***":false,"***REMOVIDO***":false},"options":{}},"type":"n8n-nodes-base.dataTable","typeVersion":1,"position":[-240,-32],"id":"47b4a65f-bcbc-4bc0-a3e8-87609d722510","name":"Falha","disabled":true},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"15816d0e-95de-448e-9754-6bde6e0277c1","leftValue":"={{ $json.solicitacao }}","rightValue":"Conteúdo não encontrado","operator":{"type":"string","operation":"empty","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-528,64],"id":"fc5588bf-c95a-4004-8778-711925d7c948","name":"Tem Solicitação"},{"parameters":{"assignments":{"assignments":[{"id":"e2d6006f-6bbc-4e91-a47b-342fffe07c06","name":"descricao","value":"={{ $json.fields.description }}","type":"string"},{"id":"af3b4553-fc49-4978-950f-a3faca5a6f21","name":"issue","value":"={{ $json.key }}","type":"string"},{"id":"191264c2-0b22-4cca-b0fe-b6c4758f2abb","name":"responsavel","value":"=[~{{ $json.fields.assignee.key }}]","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-1904,192],"id":"f6a3b4aa-8da1-4e98-9625-946748dbc402","name":"Pegando os dados para analise da IA"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":2},"conditions":[{"id":"557ffe49-a061-4f54-a5ac-f0e4e464fa5a","leftValue":"={{ $json }}","rightValue":"","operator":{"type":"object","operation":"empty","singleValue":true}}],"combinator":"and"},"looseTypeValidation":true,"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-1392,64],"id":"dde38c19-021a-4bc4-b446-bd3c83290b18","name":"Não tem cadastro"},{"parameters":{"operation":"get","dataTableId":{"__rl":true,"value":"Rv8RVdt43kRVryg4","mode":"list","cachedResultName":"revisao","cachedResultUrl":"/projects/1RGMLoql92onOpCd/datatables/Rv8RVdt43kRVryg4"},"filters":{"conditions":[{"keyName":"issue","keyValue":"={{ $json.issue }}"}]}},"type":"n8n-nodes-base.dataTable","typeVersion":1,"position":[-1616,64],"id":"6c2c2a59-d34e-4216-91f1-52e39865102a","name":"Verifica ja validou a issue","alwaysOutputData":true,"onError":"***REMOVIDO***"},{"parameters":{"mode":"combine","combineBy":"combineAll","options":{}},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[80,272],"id":"186a36f1-cc76-4a01-ab2c-c12748d0e05b","name":"Combina todas as informações"},{"parameters":{"mode":"combine","combineBy":"combineAll","options":{}},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[-1072,176],"id":"a9aac08f-5538-4f99-8440-b861f7196b3f","name":"Unir informações basicas"},{"parameters":{"mode":"combine","combineBy":"combineAll","options":{}},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[-240,160],"id":"c6bc9a09-73a0-4924-b8f4-6a688c8598eb","name":"Unir informações para envio para TESS"},{"parameters":{"mode":"combine","combineBy":"combineAll","options":{}},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[2000,192],"id":"22cbd487-9de0-4a80-bacd-f2ab16f60aef","name":"Combinação para finalizar"},{"parameters":{"mode":"combine","combineBy":"combineAll","options":{}},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[1360,288],"id":"4597d406-1fd9-434c-9c21-e13f9d3a24a1","name":"Merge"},{"parameters":{"assignments":{"assignments":[{"id":"16856842-fbe2-4b1a-802b-d06e65d7ed41","name":"issue","value":"={{ $json.issue }}","type":"string"},{"id":"a05fe2e2-76df-41e1-a7dc-6bca147fa169","name":"responsavel","value":"={{ $json.responsavel }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[848,160],"id":"74019713-6983-49b2-baec-1df684fc39c2","name":"Campos Issue e responsavel"}],"origin":"n8n","pinData":{},"repo":{"owner":"n8nlinx","name":"BACKUP-N8N-LINX"},"settings":{"executionOrder":"v1"},"shared":[{"createdAt":"2025-10-29T18:24:09.685Z","updatedAt":"2025-10-29T18:24:09.685Z","role":"workflow:owner","workflowId":"esYk0LjFCmG1Do3j","projectId":"l6KXFsOg8uXBDdl3"}],"staticData":null,"tags":[],"triggerCount":0,"updatedAt":"2025-10-29T18:24:09.685Z","versionId":"f3fa689b-9b4a-45c6-bc7c-9adf2c0c8e99"}