esYk0LjFCmG1Do3j.json
{"active":false,"connections":{"When clicking ‘Test workflow’":{"main":[[{"node":"Jira Software","type":"main","index":0}]]},"Jira Software":{"main":[[{"node":"Pegando os dados para analise da IA","type":"main","index":0}]]},"Pegando os dados para analise da IA":{"main":[[{"node":"Verifica ja validou a issue","type":"main","index":0},{"node":"Unir informações basicas","type":"main","index":1}]]},"Não tem cadastro":{"main":[[],[{"node":"Unir informações basicas","type":"main","index":0}]]},"Verifica ja validou a issue":{"main":[[{"node":"Não tem cadastro","type":"main","index":0}]]},"Unir informações basicas":{"main":[[{"node":"Call 'Refinamento funcional automático complemento'","type":"main","index":0}]]}},"createdAt":"2025-10-29T18:24:09.685Z","id":"esYk0LjFCmG1Do3j","isArchived":false,"meta":{"***REMOVIDO***":true},"name":"Refinamento funcional automático","nodes":[{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-2352,160],"id":"84121982-9520-43b2-a572-b22a44c34e3a","name":"When clicking ‘Test workflow’"},{"parameters":{"jiraVersion":"serverPat","operation":"get","issueKey":"AUTO-81557","additionalFields":{}},"type":"n8n-nodes-base.jira","typeVersion":1,"position":[-2128,160],"id":"c2ec8138-5212-4213-af27-96bbe15bedd4","name":"Jira Software","credentials":{"***REMOVIDO***":{"id":"50JMqyQ8qMp9dkz7","name":"Jira SW Cloud account 2"}}},{"parameters":{"assignments":{"assignments":[{"id":"e2d6006f-6bbc-4e91-a47b-342fffe07c06","name":"descricao","value":"={{ $json.fields.description }}","type":"string"},{"id":"af3b4553-fc49-4978-950f-a3faca5a6f21","name":"issue","value":"={{ $json.key }}","type":"string"},{"id":"191264c2-0b22-4cca-b0fe-b6c4758f2abb","name":"responsavel","value":"=[~{{ $json.fields.assignee.key }}]","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-1904,160],"id":"f6a3b4aa-8da1-4e98-9625-946748dbc402","name":"Pegando os dados para analise da IA"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":2},"conditions":[{"id":"557ffe49-a061-4f54-a5ac-f0e4e464fa5a","leftValue":"={{ $json }}","rightValue":"","operator":{"type":"string","operation":"notEmpty","singleValue":true}}],"combinator":"and"},"looseTypeValidation":true,"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-1456,64],"id":"dde38c19-021a-4bc4-b446-bd3c83290b18","name":"Não tem cadastro"},{"parameters":{"operation":"get","dataTableId":{"__rl":true,"value":"Rv8RVdt43kRVryg4","mode":"list","cachedResultName":"revisao","cachedResultUrl":"/projects/1RGMLoql92onOpCd/datatables/Rv8RVdt43kRVryg4"},"filters":{"conditions":[{"keyName":"issue","keyValue":"={{ $json.issue }}"}]}},"type":"n8n-nodes-base.dataTable","typeVersion":1,"position":[-1680,64],"id":"6c2c2a59-d34e-4216-91f1-52e39865102a","name":"Verifica ja validou a issue","alwaysOutputData":true,"onError":"***REMOVIDO***"},{"parameters":{"mode":"combine","combineBy":"combineAll","options":{}},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[-1232,136],"id":"a9aac08f-5538-4f99-8440-b861f7196b3f","name":"Unir informações basicas"},{"parameters":{"workflowId":{"__rl":true,"value":"T95WWDhPQxaxX0oN","mode":"list","cachedResultUrl":"/workflow/T95WWDhPQxaxX0oN","cachedResultName":"Refinamento funcional automático complemento"},"workflowInputs":{"mappingMode":"defineBelow","value":{}},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.3,"position":[-1008,136],"id":"ac19024c-b678-4094-b3e9-870e8b652612","name":"Call 'Refinamento funcional automático complemento'"}],"origin":"n8n","pinData":{},"repo":{"owner":"n8nlinx","name":"BACKUP-N8N-LINX"},"settings":{"executionOrder":"v1"},"shared":[{"createdAt":"2025-10-29T18:24:09.685Z","updatedAt":"2025-10-29T18:24:09.685Z","role":"workflow:owner","workflowId":"esYk0LjFCmG1Do3j","projectId":"l6KXFsOg8uXBDdl3"}],"staticData":null,"tags":[],"triggerCount":0,"updatedAt":"2025-11-24T17:10:05.666Z","versionId":"d0f4cc84-afee-4ad1-a89a-4b33158219f1"}