gDn5QhNns5Bm3l3X.json
{"active":false,"connections":{"When clicking ‘Execute workflow’":{"main":[[{"node":"Mock data","type":"main","index":0}]]},"Mock data":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"Switch","type":"main","index":0}]]}},"createdAt":"2025-08-18T18:49:56.603Z","id":"gDn5QhNns5Bm3l3X","isArchived":false,"meta":{"***REMOVIDO***":true},"name":"ccm-n8n","nodes":[{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-920,200],"id":"7c82d17e-cc92-4918-a5f9-5eadf02b5acd","name":"When clicking ‘Execute workflow’"},{"parameters":{"mode":"raw","jsonOutput":"{\n  \"path\": \"/home/ubuntu/folder/teste.pdf\",\n  \"content\": \"nome joao da silva telefone (16)9999-9999, cpf 909999999999\"\n}\n","options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-740,100],"id":"f0e85c82-5112-46dd-a3e1-6bbbf0902f01","name":"Mock data"},{"parameters":{"assignments":{"assignments":[{"id":"9d192034-c001-4867-b290-12b5209bfc5c","name":"extensao","value":"={{ $json.path.split('.').pop() }}","type":"string"},{"id":"037415f4-a7c9-4457-8ba4-6348056a2f42","name":"path","value":"={{ $json.path }}","type":"string"},{"id":"3ad84ab5-bd68-462d-806b-ba54788bce48","name":"content","value":"={{ $json.content }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-540,240],"id":"3e585820-9e0f-4ccb-aedc-ba371a2cdacb","name":"Edit Fields"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.extensao }}","rightValue":"pdf","operator":{"type":"string","operation":"equals"},"id":"1e1e5dfb-3e86-4959-9204-511e9b816d0c"}],"combinator":"and"},"renameOutput":true,"outputKey":"pdf"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"7060f105-fcac-4004-b300-b4e71fff1985","leftValue":"={{ $json.extensao }}","rightValue":"csv","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"csv"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[-340,240],"id":"36bec457-7cec-49b1-af39-f9c1a48f6ff8","name":"Switch"},{"parameters":{},"type":"@n8n/n8n-nodes-langchain.***REMOVIDO***","typeVersion":1.2,"position":[-60,40],"id":"26bb16aa-797a-4c4b-bd28-b33187478190","name":"Information Extractor"},{"parameters":{"model":{"__rl":true,"mode":"list","value":"gpt-4.1-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[40,220],"id":"5fb3a021-8d04-4d21-b5ca-200d6b95435c","name":"OpenAI Chat Model","credentials":{"openAiApi":{"id":"lFzQt4eQ8lp1T2Vx","name":"OpenAi-KeyEltz"}}},{"parameters":{},"type":"@n8n/n8n-nodes-langchain.***REMOVIDO***","typeVersion":1.2,"position":[-40,440],"id":"548cdd0c-3e42-4ee1-a118-bb720d13ab50","name":"Information Extractor1"},{"parameters":{"model":{"__rl":true,"mode":"list","value":"gpt-4.1-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[60,600],"id":"df6f1828-b0d8-411d-bd22-b62b9245a50e","name":"OpenAI Chat Model1","credentials":{"openAiApi":{"id":"lFzQt4eQ8lp1T2Vx","name":"OpenAi-KeyEltz"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"6cdc5e72-f23b-4afe-b499-e2cebac78456","leftValue":"={{ $json.output.cpf }}","rightValue":"","operator":{"type":"string","operation":"empty","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[360,0],"id":"4324491c-c3a2-432d-961e-79fed9cd1bdc","name":"If"}],"origin":"n8n","pinData":{},"repo":{"owner":"n8nlinx","name":"BACKUP-N8N-LINX"},"settings":{"executionOrder":"v1"},"shared":[{"createdAt":"2025-08-18T18:49:56.603Z","updatedAt":"2025-08-18T18:49:56.603Z","role":"workflow:owner","workflowId":"gDn5QhNns5Bm3l3X","projectId":"MuY51VcOvvTiGkBJ"}],"staticData":null,"tags":[],"triggerCount":0,"updatedAt":"2025-11-27T13:26:17.106Z","versionId":"f5b5816d-f398-451a-b98b-7c6fd231bad3"}