I1j0va1ZGTMgKTKx.json
{"active":false,"connections":{"Revisão de Campos - QA":{"main":[[{"node":"Call 'Camos Revisao QA'","type":"main","index":0}]]},"Revisão de Campos - Descrição":{"main":[[{"node":"Call 'Campos Revisão Descrição'","type":"main","index":0}]]},"Jira Software":{"main":[[{"node":"Revisão de Campos - Descrição","type":"main","index":0},{"node":"Revisão de Campos - QA","type":"main","index":0},{"node":"Revisão de Campos - Release Note","type":"main","index":0},{"node":"Revisão de Campos - Reesposáveis","type":"main","index":0},{"node":"PRs","type":"main","index":0}]]},"Call 'Camos Revisao QA'":{"main":[[{"node":"Adicionar PR","type":"main","index":1}]]},"Revisão de Campos - Release Note":{"main":[[{"node":"Call 'Campos revisão release'","type":"main","index":0}]]},"Revisão de Campos - Reesposáveis":{"main":[[{"node":"Adicionar  QA","type":"main","index":1}]]},"Call 'Campos revisão release'":{"main":[[{"node":"Adicionar release","type":"main","index":0}]]},"Adicionar responsáveis":{"main":[[{"node":"Adicionar PR","type":"main","index":0}]]},"Adicionar  QA":{"main":[[{"node":"Adicionar responsáveis","type":"main","index":0}]]},"Adicionar release":{"main":[[{"node":"Adicionar  QA","type":"main","index":0}]]},"Call 'Campos Revisão Descrição'":{"main":[[{"node":"Adicionar responsáveis","type":"main","index":1}]]},"PRs":{"main":[[{"node":"Adicionar release","type":"main","index":1}]]},"Adicionar PR":{"main":[[{"node":"Create item in a list","type":"main","index":0}]]},"Webhook":{"main":[[{"node":"Jira Software","type":"main","index":0}]]}},"createdAt":"2025-12-03T17:45:54.246Z","id":"I1j0va1ZGTMgKTKx","isArchived":false,"meta":null,"name":"Checklist Sprint​","nodes":[{"parameters":{"assignments":{"assignments":[{"id":"66aefc3b-adff-4f8b-b37e-3ae924cd1ce4","name":"revisao","value":"={{ $json.fields.customfield_18500 }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-144,384],"id":"472c3126-a617-4050-b29c-990a809f0305","name":"Revisão de Campos - QA"},{"parameters":{"assignments":{"assignments":[{"id":"e2d6006f-6bbc-4e91-a47b-342fffe07c06","name":"descricao","value":"={{ $json.fields.description }}","type":"string"},{"id":"af3b4553-fc49-4978-950f-a3faca5a6f21","name":"issue","value":"={{ $json.key }}","type":"string"},{"id":"fe2ed187-307e-4ce7-b40a-a7eba07f15da","name":"tipo","value":"={{ $json.fields.issuelinks[0].outwardIssue.fields.issuetype.name }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-144,192],"id":"7d3acd5b-0e2b-47d4-9bae-04a1362df103","name":"Revisão de Campos - Descrição"},{"parameters":{"jiraVersion":"serverPat","operation":"getAll","options":{"jql":"project = AUTO AND fixVersion = DVI_03-11-25 AND STATUS != Done ORDER BY Rank "}},"type":"n8n-nodes-base.jira","typeVersion":1,"position":[-800,-16],"id":"1a53f469-6cc5-4186-b916-4687ff91de43","name":"Jira Software","credentials":{"***REMOVIDO***":{"id":"EnhyyrY0VweCcNHY","name":"Jira SW Token Augusto"}}},{"parameters":{"workflowId":{"__rl":true,"value":"I46c8mTFfmxdYtwI","mode":"list","cachedResultUrl":"/workflow/I46c8mTFfmxdYtwI","cachedResultName":"Campos Revisão QA"},"workflowInputs":{"mappingMode":"defineBelow","value":{}},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.3,"position":[80,384],"id":"6ff480f7-e6a5-4aee-9fcd-91937c80eedd","name":"Call 'Camos Revisao QA'"},{"parameters":{"assignments":{"assignments":[{"id":"017ad8c1-049a-4679-8c2c-2bd77ce1e09e","name":"release","value":"={{ $json.fields.customfield_11533 }}","type":"string"},{"id":"9f728609-8677-4351-9fae-c4bb6085994c","name":"issue","value":"={{ $json.key }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-576,-224],"id":"9159ae20-dcfa-4488-b482-553eb058b43c","name":"Revisão de Campos - Release Note"},{"parameters":{"assignments":{"assignments":[{"id":"6324aed0-5f3e-47d8-af3d-cc694824189a","name":"issue","value":"={{ $json.key }}","type":"string"},{"id":"6d99967f-ec20-48c5-9cda-2b29ea6d3ca3","name":"desenvolvedor","value":"=[~{{ $json.fields.customfield_11608.key }}]","type":"string"},{"id":"7175dd44-2545-4111-9ae9-644f80f13573","name":"QA","value":"=[~{{ $json.fields.customfield_14101.name }}]","type":"string"},{"id":"7ff42955-24a6-4f89-b4dd-eea40272a265","name":"Case ID","value":"={{ $json.fields.customfield_20507 }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-144,-16],"id":"effe18fa-2e0c-4389-a13e-9c0b31b76806","name":"Revisão de Campos - Reesposáveis"},{"parameters":{"workflowId":{"__rl":true,"value":"ebld3fR0JpjJibQT","mode":"list","cachedResultUrl":"/workflow/ebld3fR0JpjJibQT","cachedResultName":"Campos Revisão Release"},"workflowInputs":{"mappingMode":"defineBelow","value":{}},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.3,"position":[-368,-320],"id":"067025e4-06e4-443f-9c5f-523d296d2c77","name":"Call 'Campos revisão release'"},{"parameters":{"mode":"combine","combineBy":"combineByPosition","options":{}},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[304,16],"id":"b1e53dab-f9ff-493d-a4de-ea4209c541c9","name":"Adicionar responsáveis"},{"parameters":{"mode":"combine","combineBy":"combineByPosition","options":{}},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[80,-128],"id":"72be3ec2-331a-4bc6-bcb7-5dfc853da0d5","name":"Adicionar  QA"},{"parameters":{"mode":"combine","combineBy":"combineByPosition","options":{}},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[-144,-224],"id":"f2f2631c-6f14-4533-b775-de652a1ce8d2","name":"Adicionar release"},{"parameters":{"workflowId":{"__rl":true,"value":"2zpzMvATLlOi15EI","mode":"list","cachedResultUrl":"/workflow/2zpzMvATLlOi15EI","cachedResultName":"Campos Revisão Descrição"},"workflowInputs":{"mappingMode":"defineBelow","value":{},"matchingColumns":[],"schema":[],"***REMOVIDO***":false,"***REMOVIDO***":true},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.3,"position":[80,192],"id":"9c491543-b91c-4db7-9c5c-b9febad7e20f","name":"Call 'Campos Revisão Descrição'"},{"parameters":{"assignments":{"assignments":[{"id":"f2c95711-43bb-4c70-b6b8-96c2ed247006","name":"PRs","value":"={{ $json.fields.customfield_25600 }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-368,-128],"id":"f582c108-f8fb-408c-abe3-46337c8e9f31","name":"PRs"},{"parameters":{"mode":"combine","combineBy":"combineByPosition","options":{}},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[528,80],"id":"3abcb8e8-ca3b-4278-9b61-d5ce5f1e3915","name":"Adicionar PR"},{"parameters":{"path":"ecf3b47b-ab3a-4905-84b1-cf41b1953362","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[-1024,-16],"id":"6db78ae6-c593-41bf-8cec-c779704bdcc0","name":"Webhook","webhookId":"ecf3b47b-ab3a-4905-84b1-cf41b1953362"},{"parameters":{"resource":"item","operation":"create","site":{"__rl":true,"mode":"list","value":""},"requestOptions":{}},"type":"n8n-nodes-base.microsoftSharePoint","typeVersion":1,"position":[736,80],"id":"141db9a5-920f-475b-b9e1-e8f50ac72ebd","name":"Create item in a list","disabled":true}],"origin":"n8n","pinData":{},"repo":{"owner":"n8nlinx","name":"BACKUP-N8N-LINX"},"settings":{"executionOrder":"v1"},"shared":[{"createdAt":"2025-12-03T17:45:54.246Z","updatedAt":"2025-12-03T17:45:54.246Z","role":"workflow:owner","workflowId":"I1j0va1ZGTMgKTKx","projectId":"1RGMLoql92onOpCd"}],"staticData":null,"tags":[],"triggerCount":0,"updatedAt":"2025-12-03T17:47:50.798Z","versionId":"125687b3-a036-4777-9c70-0f8dca1c3927"}