I46c8mTFfmxdYtwI.json
{"active":false,"connections":{"Transforma em lista":{"main":[[{"node":"Criar lista campos QA","type":"main","index":0}]]},"Criar lista campos QA":{"main":[[{"node":"Revisao QA preenchida","type":"main","index":0}]]},"If":{"main":[[{"node":"Revisao QA nao preenchida","type":"main","index":0}],[{"node":"Transforma em lista","type":"main","index":0}]]},"When Executed by Another Workflow":{"main":[[{"node":"If","type":"main","index":0}]]}},"createdAt":"2025-10-17T12:55:26.150Z","id":"I46c8mTFfmxdYtwI","isArchived":false,"meta":null,"name":"Campos Revisão QA","nodes":[{"parameters":{"inputSource":"passthrough"},"type":"n8n-nodes-base.***REMOVIDO***","typeVersion":1.1,"position":[-480,0],"id":"d47c1b27-a1a6-4eeb-9baf-ed741d1baff7","name":"When Executed by Another Workflow"},{"parameters":{"jsCode":"for (const item of $input.all()) {\n  item.json.revisao = JSON.parse(item.json.revisao);\n}\n\nreturn $input.all();"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-16,160],"id":"77d69f2f-6308-4c9f-b6b1-b2ae545c1677","name":"Transforma em lista"},{"parameters":{"fieldToSplitOut":"revisao","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[208,160],"id":"360debe8-2b95-47ab-96f2-44c4eddf9666","name":"Criar lista campos QA"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"d5532ffe-aefe-4526-98d0-e38132ade378","leftValue":"={{ $json.revisao }}","rightValue":"[]","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-240,0],"id":"e4fbdde1-541f-4102-939f-c6785ffc7a05","name":"If"},{"parameters":{"jsCode":"\nlet lista = $input.all();\nlet revisao;\n\n// Remove o primeiro elemento\nlista.shift();\n\n// Itera sobre os restantes\nfor (const item of lista) {\n  if(item.json.checked){\n    revisao = 'Revisão QA completa';\n  }else{\n    revisao = 'Revisão QA incompleta';\n  }\n}\n\nreturn [\n  {\n    json: {\n      revisao_QA: revisao\n    }\n  }\n];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[432,160],"id":"931cb6c5-d856-4c9f-b75a-9a832d257095","name":"Revisao QA preenchida"},{"parameters":{"jsCode":"return [\n  {\n    json: {\n      revisao_QA: 'Revisão QA não preenchida'\n    }\n  }\n];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[432,-16],"id":"0d9e8a75-1909-4f91-9b81-bc2476ba2eb8","name":"Revisao QA nao preenchida"}],"origin":"n8n","pinData":{},"repo":{"owner":"n8nlinx","name":"BACKUP-N8N-LINX"},"settings":{"executionOrder":"v1"},"shared":[{"createdAt":"2025-10-17T12:55:26.150Z","updatedAt":"2025-10-17T12:55:26.150Z","role":"workflow:owner","workflowId":"I46c8mTFfmxdYtwI","projectId":"l6KXFsOg8uXBDdl3"}],"staticData":null,"tags":[],"triggerCount":0,"updatedAt":"2025-10-20T14:05:23.254Z","versionId":"10d0d9e8-5f81-4d5c-8d0c-e02c47bb75a2"}