iLoeSzk25gRhYRcY.json
{"active":false,"connections":{"Data atual":{"main":[[{"node":"Data Liberação","type":"main","index":0}]]},"Data Liberação":{"main":[[{"node":"Data formatada","type":"main","index":0}]]},"When Executed by Another Workflow":{"main":[[{"node":"Data atual","type":"main","index":0}]]}},"createdAt":"2025-10-20T14:18:43.203Z","id":"iLoeSzk25gRhYRcY","isArchived":false,"meta":null,"name":"Data Liberação","nodes":[{"parameters":{"inputSource":"passthrough"},"type":"n8n-nodes-base.***REMOVIDO***","typeVersion":1.1,"position":[-304,-80],"id":"a71eef3f-45f7-4eef-bcac-05fa7105a2d0","name":"When Executed by Another Workflow"},{"parameters":{"includeTime":false,"options":{}},"type":"n8n-nodes-base.dateTime","typeVersion":2,"position":[-80,-80],"id":"a59acf2a-11ca-4a1f-beba-946ce74bfdcc","name":"Data atual"},{"parameters":{"operation":"formatDate","date":"={{ $json.liberacao }}","format":"custom","customFormat":"dd/MM/yyyy","outputFieldName":"liberacao","options":{}},"type":"n8n-nodes-base.dateTime","typeVersion":2,"position":[368,-80],"id":"d6e65b54-ba82-4a57-a263-3526a4f9281d","name":"Data formatada"},{"parameters":{"operation":"addToDate","magnitude":"={{ $json.currentDate }}","duration":6,"outputFieldName":"liberacao","options":{}},"type":"n8n-nodes-base.dateTime","typeVersion":2,"position":[144,-80],"id":"3a236b1b-cb68-4313-84ee-1ae679c8b5f2","name":"Data Liberação"}],"origin":"n8n","pinData":{},"repo":{"owner":"n8nlinx","name":"BACKUP-N8N-LINX"},"settings":{"executionOrder":"v1","callerPolicy":"workflowsFromAList","availableInMCP":false,"callerIds":"ISX3znns7u9SscPD"},"shared":[{"createdAt":"2025-10-20T14:18:43.203Z","updatedAt":"2025-10-20T14:18:43.203Z","role":"workflow:owner","workflowId":"iLoeSzk25gRhYRcY","projectId":"l6KXFsOg8uXBDdl3"}],"staticData":null,"tags":[],"triggerCount":0,"updatedAt":"2025-10-20T14:23:21.646Z","versionId":"bbf7392c-6cac-4700-a7a7-c2658ea3538b"}