ISX3znns7u9SscPD.json
{"active":false,"connections":{"When clicking ‘Test workflow’":{"main":[[{"node":"Jira Software","type":"main","index":0}]]},"Jira Software":{"main":[[{"node":"Call 'Processamento validação cliente'","type":"main","index":0}]]},"Loop Over Items":{"main":[[],[{"node":"Replace Me","type":"main","index":0}]]},"Replace Me":{"main":[[{"node":"Gmail","type":"main","index":0}]]},"Organiza grupo para registrar no comentario":{"main":[[{"node":"Adiciona Comentario","type":"main","index":0}]]},"Gmail":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Enviar para cliente":{"main":[[{"node":"Organiza grupo para registrar no comentario","type":"main","index":0},{"node":"Loop Over Items","type":"main","index":0}]]},"Call 'Processamento validação cliente'":{"main":[[{"node":"Enviar para cliente","type":"main","index":0}]]}},"createdAt":"2025-09-23T17:15:53.169Z","id":"ISX3znns7u9SscPD","isArchived":false,"meta":null,"name":"Validação automática cliente","nodes":[{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-704,16],"id":"7353a868-df70-4853-b6bd-ac93b5780124","name":"When clicking ‘Test workflow’"},{"parameters":{"jiraVersion":"serverPat","operation":"get","issueKey":"AUTO-81557","simplifyOutput":true,"additionalFields":{"updateHistory":true}},"type":"n8n-nodes-base.jira","typeVersion":1,"position":[-464,16],"id":"04d562fe-f138-4cb5-99b1-f4633fc1a0f6","name":"Jira Software","credentials":{"***REMOVIDO***":{"id":"EnhyyrY0VweCcNHY","name":"Jira SW Token Augusto"}}},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[368,144],"id":"47611165-80ab-4838-821f-1074345899ab","name":"Loop Over Items"},{"parameters":{},"type":"n8n-nodes-base.noOp","name":"Replace Me","typeVersion":1,"position":[608,160],"id":"b4b135c3-324b-40ab-95fb-46752a5754e1"},{"parameters":{"jsCode":"return [\n  {\n    json: {\n      issue: $input.first().json.issue,\n      grupo: $input.all().map(item => item.json?.grupo || \"\").join(\",\").trim()\n    }\n  }\n];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[400,-128],"id":"3bbdd436-8520-47cb-ba19-172b6c9d1431","name":"Organiza grupo para registrar no comentario"},{"parameters":{"jiraVersion":"serverPat","resource":"issueComment","issueKey":"={{ $json.issue }}","comment":"=Enviado o pacote para os clientes  {{ $json.grupo }}","options":{}},"type":"n8n-nodes-base.jira","typeVersion":1,"position":[624,-128],"id":"c0189090-f479-4caa-b614-fd46c1533977","name":"Adiciona Comentario","disabled":true},{"parameters":{"sendTo":"andrio.nunes@linx.com.br","subject":"Distribuição de Pacotes de Teste","emailType":"text","message":"=Prezado Cliente,\n\nEstamos disponibilizando a alteração solicitada para validação.\n\nATENÇÃO:\n\n• Antes de colocar em PRODUÇÃO, recomendamos sempre fazer BACKUP dos programas e homologar em ambiente de TESTES.\n• Este programa não possui alterações de outras solicitações que ainda estão em validação.\n• Após teste ok, este pacote pode ser utilizado em produção até que a alteração seja publicada no DVI.\n• Sobre a publicação: Após a validação, encerraremos a sua solicitação informando a data prevista de liberação oficial na página do DVI.\n\nDescrição da alteração:\n{{ $json.release }}\n\nVersão:\nxxxxxxxxxxxx\n\nLink de download:\n{{ $json.link_final }}\n\nPrazo de retorno:\n{{ $json.liberacao }}\nApós esta data será considerado que a solicitação foi atendida.","options":{}},"type":"n8n-nodes-base.gmail","typeVersion":2.1,"position":[800,160],"id":"fd33dc00-1292-436b-86fb-f307d3289dda","name":"Gmail","webhookId":"c3bbe0b7-d737-42e1-a548-0a6ea3b601fc","disabled":true},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"3a8dea98-8057-402d-8e04-ef9e769e3e36","leftValue":"={{ $json[\"Enviar Cliente\"] }}","rightValue":"S","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[16,16],"id":"8b5b6465-d5f5-46f5-9524-0c7427c6a07c","name":"Enviar para cliente"},{"parameters":{"content":"## Falta Token para atualizar no SalesForce","height":300,"width":664},"type":"n8n-nodes-base.stickyNote","position":[304,64],"typeVersion":1,"id":"0e78e774-2ff0-4c15-8495-78aad252e6d8","name":"Sticky Note"},{"parameters":{"workflowId":{"__rl":true,"value":"u3qbfK6iToep3RUR","mode":"list","cachedResultUrl":"/workflow/u3qbfK6iToep3RUR","cachedResultName":"Processamento validação cliente"},"workflowInputs":{"mappingMode":"defineBelow","value":{}},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.3,"position":[-224,16],"id":"ed9ae6a9-2718-40b0-ba0c-4a7663986fed","name":"Call 'Processamento validação cliente'"}],"origin":"n8n","pinData":{},"repo":{"owner":"n8nlinx","name":"BACKUP-N8N-LINX"},"settings":{"executionOrder":"v1"},"shared":[{"createdAt":"2025-09-23T17:15:53.169Z","updatedAt":"2025-09-23T17:15:53.169Z","role":"workflow:owner","workflowId":"ISX3znns7u9SscPD","projectId":"1RGMLoql92onOpCd"}],"staticData":null,"tags":[],"triggerCount":0,"updatedAt":"2025-11-14T20:29:13.914Z","versionId":"bbe8ee21-a74d-4c73-b230-36603bbeab57"}