ISX3znns7u9SscPD.json
{"active":false,"connections":{"When clicking ‘Test workflow’":{"main":[[{"node":"Token SalesForce","type":"main","index":0},{"node":"Esperar Geração do token SalesForce","type":"main","index":0}]]},"Jira Software":{"main":[[{"node":"Casos","type":"main","index":0},{"node":"Dados Issue","type":"main","index":0}]]},"Casos":{"main":[[{"node":" Cria Lista","type":"main","index":0}]]},"Dados Issue":{"main":[[{"node":"Unir casos com dados issue","type":"main","index":1},{"node":"Extrair dados descrição","type":"main","index":0},{"node":"Data atual","type":"main","index":0}]]}," Cria Lista":{"main":[[{"node":"Unir casos com dados issue","type":"main","index":0}]]},"Token SalesForce":{"main":[[{"node":"Carrega Token","type":"main","index":0}]]},"Carrega Token":{"main":[[{"node":"Unir dados issue com token","type":"main","index":0}]]},"Consultando SalesForce":{"main":[[{"node":"Dados Cliente","type":"main","index":0}]]},"Unir casos com dados issue":{"main":[[{"node":"Unir dados issue com token","type":"main","index":1}]]},"Unir dados issue com token":{"main":[[{"node":"Consultando SalesForce","type":"main","index":0}]]},"Unir dados issue com email cliente":{"main":[[{"node":"Adicionando data de liberação","type":"main","index":0}]]},"Dados Cliente":{"main":[[{"node":"Unir dados issue com email cliente","type":"main","index":0}]]},"Loop Over Items":{"main":[[],[{"node":"Replace Me","type":"main","index":0}]]},"Replace Me":{"main":[[{"node":"Gmail","type":"main","index":0}]]},"Organiza grupo para registrar no comentario":{"main":[[{"node":"Adiciona Comentario","type":"main","index":0}]]},"Gmail":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Enviar para cliente":{"main":[[{"node":"Organiza grupo para registrar no comentario","type":"main","index":0},{"node":"Loop Over Items","type":"main","index":0}]]},"Esperar Geração do token SalesForce":{"main":[[{"node":"Jira Software","type":"main","index":0}]]},"Data atual":{"main":[[{"node":"Data Liberação","type":"main","index":0}]]},"Data formatada":{"main":[[{"node":"Adicionando data de liberação","type":"main","index":1}]]},"Data Liberação":{"main":[[{"node":"Data formatada","type":"main","index":0}]]},"Adicionando data de liberação":{"main":[[{"node":"Enviar para cliente","type":"main","index":0}]]},"Extrair dados descrição":{"main":[[{"node":"Unir dados issue com email cliente","type":"main","index":1}]]}},"createdAt":"2025-09-23T17:15:53.169Z","id":"ISX3znns7u9SscPD","isArchived":false,"meta":null,"name":"Validação automática cliente","nodes":[{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-1072,96],"id":"7353a868-df70-4853-b6bd-ac93b5780124","name":"When clicking ‘Test workflow’"},{"parameters":{"jiraVersion":"serverPat","operation":"get","issueKey":"AUTO-81557","simplifyOutput":true,"additionalFields":{"updateHistory":true}},"type":"n8n-nodes-base.jira","typeVersion":1,"position":[-624,96],"id":"04d562fe-f138-4cb5-99b1-f4633fc1a0f6","name":"Jira Software","credentials":{"***REMOVIDO***":{"id":"EnhyyrY0VweCcNHY","name":"Jira SW Token Augusto"}}},{"parameters":{"assignments":{"assignments":[{"id":"6b8f93ed-534e-4cc7-b6dd-9e7a1b4a255c","name":"case","value":"={{ $json[\"Case ID\"] }}","type":"array"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-320,0],"id":"7cd45c21-b1db-4fb7-9192-50abcb9a5aa3","name":"Casos"},{"parameters":{"assignments":{"assignments":[{"id":"751f8dfe-e1dc-4183-a82c-f4bf866b88df","name":"descricao","value":"={{ $json[\"Descrição\"] }}","type":"string"},{"id":"5647688a-13bb-4d79-abe5-df8f1e85c280","name":"issue","value":"={{ $json.key }}","type":"string"},{"id":"2601b0c4-b724-4fd0-85d4-e5d8937a511d","name":"release","value":"={{ $json[\"Release Notes\"] }}","type":"string"},{"id":"d7b9486d-93b3-4dc8-b374-d2397d16631a","name":"issue","value":"={{ $json.key }}","type":"string"},{"id":"f8705df7-d527-4fb9-9313-e0b17d1a1d2e","name":"Enviar Cliente","value":"S","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-208,208],"id":"21639485-9fce-49ff-8968-ca7784b2793d","name":"Dados Issue"},{"parameters":{"fieldToSplitOut":"case","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[-96,0],"id":"a28fc1ab-e8f4-4079-b00c-4817adf829a2","name":" Cria Lista"},{"parameters":{"method":"POST","url":"https://suportelinx.my.salesforce.com/services/oauth2/token","sendQuery":true,"queryParameters":{"parameters":[{"name":"grant_type","value":"client_credentials"},{"name":"client_id","value":"***REMOVIDO***"},{"name":"client_secret","value":"***REMOVIDO***"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-320,-208],"id":"c0712119-ddbf-4dc8-90fe-41ccadab8add","name":"Token SalesForce","disabled":true},{"parameters":{"assignments":{"assignments":[{"id":"f7030b4b-b57a-4dd9-be27-88ec90bcf4d3","name":"token","value":"={{ $json.access_token }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-80,-208],"id":"1cab9f08-af90-495f-a420-fc5e469f9f6c","name":"Carrega Token"},{"parameters":{"url":"=https://suportelinx.my.salesforce.com/services/data/v57.0/sobjects/case/{{ $json.case }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"=Bearer {{ $json.token }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[576,-32],"id":"24f34174-a28b-45fc-828d-4ef4431218ed","name":"Consultando SalesForce"},{"parameters":{"mode":"combine","combineBy":"combineAll","options":{}},"type":"n8n-nodes-base.merge","typeVersion":3.1,"position":[128,64],"id":"e5c7d723-a3aa-455d-b8b7-6feb39862716","name":"Unir casos com dados issue"},{"parameters":{"mode":"combine","combineBy":"combineAll","options":{}},"type":"n8n-nodes-base.merge","typeVersion":3.1,"position":[352,-32],"id":"b3c58014-2fd4-4f31-a188-453a5e497269","name":"Unir dados issue com token"},{"parameters":{"mode":"combine","combineBy":"combineAll","options":{}},"type":"n8n-nodes-base.merge","typeVersion":3.1,"position":[1072,192],"id":"43eb0a00-8360-47b8-97dc-c8496e0c0201","name":"Unir dados issue com email cliente"},{"parameters":{"assignments":{"assignments":[{"id":"d90ada0c-d1f1-4f9c-9481-469f47894e9b","name":"email","value":"={{ $json.ContactEmail }}","type":"string"},{"id":"0ce970a4-2956-4abd-a1ba-874bb1343139","name":"caso","value":"={{ $json.Id }}","type":"string"},{"id":"f78c480b-b3cf-4e10-8e43-63d8495d318e","name":"grupo","value":"={{ $json.NameAccount__c }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[784,-32],"id":"d436e476-929b-4df2-93e3-31584db35a44","name":"Dados Cliente"},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[1888,368],"id":"47611165-80ab-4838-821f-1074345899ab","name":"Loop Over Items"},{"parameters":{},"type":"n8n-nodes-base.noOp","name":"Replace Me","typeVersion":1,"position":[2128,368],"id":"b4b135c3-324b-40ab-95fb-46752a5754e1"},{"parameters":{"jsCode":"return [\n  {\n    json: {\n      issue: $input.first().json.issue,\n      grupo: $input.all().map(item => item.json?.grupo || \"\").join(\",\").trim()\n    }\n  }\n];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1840,112],"id":"3bbdd436-8520-47cb-ba19-172b6c9d1431","name":"Organiza grupo para registrar no comentario"},{"parameters":{"jiraVersion":"serverPat","resource":"issueComment","issueKey":"={{ $json.issue }}","comment":"=Enviado o pacote para os clientes  {{ $json.grupo }}","options":{}},"type":"n8n-nodes-base.jira","typeVersion":1,"position":[2064,112],"id":"c0189090-f479-4caa-b614-fd46c1533977","name":"Adiciona Comentario","disabled":true},{"parameters":{"sendTo":"andrio.nunes@linx.com.br","subject":"Distribuição de Pacotes de Teste","emailType":"text","message":"=Prezado Cliente,\n\nEstamos disponibilizando a alteração solicitada para validação.\n\nATENÇÃO:\n\n• Antes de colocar em PRODUÇÃO, recomendamos sempre fazer BACKUP dos programas e homologar em ambiente de TESTES.\n• Este programa não possui alterações de outras solicitações que ainda estão em validação.\n• Após teste ok, este pacote pode ser utilizado em produção até que a alteração seja publicada no DVI.\n• Sobre a publicação: Após a validação, encerraremos a sua solicitação informando a data prevista de liberação oficial na página do DVI.\n\nDescrição da alteração:\n{{ $json.release }}\n\nVersão:\nxxxxxxxxxxxx\n\nLink de download:\n{{ $json.link_final }}\n\nPrazo de retorno:\n{{ $json.liberacao }}\nApós esta data será considerado que a solicitação foi atendida.","options":{}},"type":"n8n-nodes-base.gmail","typeVersion":2.1,"position":[2320,368],"id":"fd33dc00-1292-436b-86fb-f307d3289dda","name":"Gmail","webhookId":"c3bbe0b7-d737-42e1-a548-0a6ea3b601fc","disabled":true},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"3a8dea98-8057-402d-8e04-ef9e769e3e36","leftValue":"={{ $json[\"Enviar Cliente\"] }}","rightValue":"S","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1600,240],"id":"8b5b6465-d5f5-46f5-9524-0c7427c6a07c","name":"Enviar para cliente"},{"parameters":{"amount":3},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[-864,96],"id":"ca4b41ab-2f33-4f1e-a5e1-ee182beb93a9","name":"Esperar Geração do token SalesForce","webhookId":"93035a1c-89e7-467e-b30a-4d14319bee7d"},{"parameters":{"includeTime":false,"options":{}},"type":"n8n-nodes-base.dateTime","typeVersion":2,"position":[352,432],"id":"edd23c09-fcab-4a1c-90cc-00a2f3be2127","name":"Data atual"},{"parameters":{"operation":"formatDate","date":"={{ $json.liberacao }}","format":"custom","customFormat":"dd/MM/yyyy","outputFieldName":"liberacao","options":{}},"type":"n8n-nodes-base.dateTime","typeVersion":2,"position":[800,432],"id":"cac82737-a31d-43d2-8a83-dccce2e6433a","name":"Data formatada"},{"parameters":{"operation":"addToDate","magnitude":"={{ $json.currentDate }}","duration":6,"outputFieldName":"liberacao","options":{}},"type":"n8n-nodes-base.dateTime","typeVersion":2,"position":[576,432],"id":"304839b3-b01a-4f66-8ed4-c85e8e551b43","name":"Data Liberação"},{"parameters":{"mode":"combine","combineBy":"combineAll","options":{}},"type":"n8n-nodes-base.merge","typeVersion":3.1,"position":[1392,240],"id":"55c61ad8-693f-49ab-9bf1-60789ecf0882","name":"Adicionando data de liberação"},{"parameters":{"language":"python","pythonCode":"import re\n\nfor item in _input.all():\n  link = re.search(r'-- Envio automatizado --(.*?)-- Fim --', item.json.descricao, re.DOTALL)\n\n  if link:\n    link_extraido = link.group(1).strip()\n\n    # Regex para pegar o que está entre [ e |\n    link_final = re.search(r'\\[([^\\|]+)\\|', link_extraido)\n    if link_final:\n        resultado = link_final.group(1)\n        item.json.link_final = resultado\n\n  del item.json.descricao\n  \nreturn _input.all()"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[576,208],"id":"85e0689a-72fa-46d7-b515-ea60d1deff86","name":"Extrair dados descrição"},{"parameters":{"content":"## Falta Token para atualizar no SalesForce","height":300,"width":664},"type":"n8n-nodes-base.stickyNote","position":[1824,288],"typeVersion":1,"id":"0e78e774-2ff0-4c15-8495-78aad252e6d8","name":"Sticky Note"}],"origin":"n8n","pinData":{"Carrega Token":[{"json":{"token": "***REMOVIDO***"}}]},"repo":{"owner":"n8nlinx","name":"BACKUP-N8N-LINX"},"settings":{"executionOrder":"v1"},"shared":[{"createdAt":"2025-09-23T17:15:53.169Z","updatedAt":"2025-09-23T17:15:53.169Z","role":"workflow:owner","workflowId":"ISX3znns7u9SscPD","projectId":"1RGMLoql92onOpCd"}],"staticData":null,"tags":[],"triggerCount":0,"updatedAt":"2025-10-14T13:10:59.500Z","versionId":"14505bd0-9588-492c-b14a-1235dc1644aa"}