JuK9zHybpHmDiEhf.json
{"active":false,"connections":{"Tess Angent":{"main":[[{"node":"pegando resposta","type":"main","index":0}]]},"pegando resposta":{"main":[[{"node":"Send a message1","type":"main","index":0}]]},"unindo retorno":{"main":[[{"node":"Tess Angent","type":"main","index":0}]]},"Webhook":{"main":[[{"node":"Extrair arquivos xls","type":"main","index":0},{"node":"Retorno requisição","type":"main","index":0}]]},"Extrair arquivos xls":{"main":[[{"node":"unindo retorno","type":"main","index":0}]]}},"createdAt":"2025-09-23T17:21:02.368Z","id":"JuK9zHybpHmDiEhf","isArchived":false,"meta":{"***REMOVIDO***":true},"name":"Roadmap(Envio de Arquivo) por email","nodes":[{"parameters":{"method":"POST","url":"https://tess.pareto.io/api/agents/30693/execute","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"Bearer 188724|***REMOVIDO***"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"messages\": [\n    {\n      \"role\": \"user\",\n      \"content\": \"use essas issues {{ JSON.stringify($json.data.toJsonString()).replace(/^\"|\"$/g, '') }} para criar um roadmap, prossiga com a criação do roadmap completo baseado nesses dados.\"\n    }\n  ],\n  \"wait_execution\": true\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[448,192],"id":"e1c8de74-dd60-4a49-a69b-b9c41343de12","name":"Tess Angent","retryOnFail":true,"maxTries":3,"waitBetweenTries":5000},{"parameters":{"fieldsToAggregate":{"fieldToAggregate":[{"fieldToAggregate":"responses[0].output","renameField":true,"outputFieldName":"resposta"}]},"options":{}},"type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[672,192],"id":"e98a1a45-04c3-4cf6-ad29-1a725c037c9e","name":"pegando resposta"},{"parameters":{"aggregate":"***REMOVIDO***","options":{}},"type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[224,192],"id":"02940bdf-ceb3-490a-8420-711aede5dcf0","name":"unindo retorno"},{"parameters":{"httpMethod":"POST","path":"750fc330-30bc-4c5b-ac78-bf147c49075b","responseMode":"responseNode","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-224,96],"id":"9b85c995-119c-48f4-a660-c41266f12513","name":"Webhook","webhookId":"750fc330-30bc-4c5b-ac78-bf147c49075b"},{"parameters":{"operation":"xlsx","binaryPropertyName":"arquivo","options":{"includeEmptyCells":true,"rawData":true,"readAsString":true}},"type":"n8n-nodes-base.extractFromFile","typeVersion":1,"position":[0,192],"id":"f36936ba-3dee-47f0-a8e2-3cbf6ef7d205","name":"Extrair arquivos xls"},{"parameters":{"respondWith":"json","responseBody":"{\n   \"resposta\": \"iniciado processo de geração de roadmap em breve recebera por e-mail\"\n}","options":{}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.2,"position":[0,0],"id":"99192cc1-953b-4dbb-90bb-51d9b42281b7","name":"Retorno requisição"},{"parameters":{"toRecipients":"andrio.nunes@linx.com.br","subject":"teste","bodyContent":"{{ $json.resposta[0] }}","additionalFields":{}},"type":"n8n-nodes-base.microsoftOutlook","typeVersion":2,"position":[896,192],"id":"32e309a6-e24b-4648-b5f2-13a95f333e38","name":"Send a message1","webhookId":"10bde6d2-fe3e-431a-a410-8907eb8f378c","credentials":{"***REMOVIDO***":{"id":"pSFmFTH0FcpbdmC0","name":"Microsoft Outlook account 2"}}}],"origin":"n8n","pinData":{},"repo":{"owner":"n8nlinx","name":"BACKUP-N8N-LINX"},"settings":{"executionOrder":"v1"},"shared":[{"createdAt":"2025-09-23T17:21:02.368Z","updatedAt":"2025-09-23T17:21:02.368Z","role":"workflow:owner","workflowId":"JuK9zHybpHmDiEhf","projectId":"1RGMLoql92onOpCd"}],"staticData":null,"tags":[],"triggerCount":0,"updatedAt":"2025-11-24T17:05:01.418Z","versionId":"ad31f4dc-349e-41ee-9880-1426975164b5"}