KO61WFMtecjEPLl0.json
{"active":false,"connections":{"Webhook":{"main":[[{"node":"Dados Depara","type":"main","index":0}]]},"Dados Depara":{"main":[[{"node":"Switch","type":"main","index":0}]]},"Switch":{"main":[[],[],[],[],[],[],[],[]]}},"createdAt":"2025-11-17T15:06:32.633Z","id":"KO61WFMtecjEPLl0","isArchived":false,"meta":null,"name":"depara-params-avaliacao","nodes":[{"parameters":{"httpMethod":"POST","path":"depara-params-avaliacao","responseMode":"lastNode","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[0,0],"id":"787f22b9-086c-458a-a795-88fdd7a64b83","name":"Webhook","webhookId":"2739e20a-0231-4c2c-902b-9d50ae0bafc2"},{"parameters":{"assignments":{"assignments":[{"id":"1bed8a62-8edf-4ae1-9e72-336cbe5e45ac","name":"VehicleKindId","value":"={{ $json.body.params.VehicleKindId }}","type":"string"},{"id":"d8b609c3-4a00-47b6-af45-9ade85b59352","name":"VehicleFuelId","value":"={{ $json.body.params.VehicleFuelId }}","type":"string"},{"id":"e11dcf59-4fff-4e10-9f34-aed21ec1fc9c","name":"VehicleColorId","value":"={{ $json.body.params.VehicleColorId }}","type":"string"},{"id":"bce32511-cd52-4d52-a676-1e94803bba17","name":"VehicleVersionId","value":"={{ $json.body.params.VehicleVersionId }}","type":"string"},{"id":"1034de75-68bf-4fd5-912a-70f8584ede04","name":"VehicleModelId","value":"={{ $json.body.params.VehicleModelId }}","type":"string"},{"id":"f489c926-ce57-4640-a8f1-97cc5ddc598e","name":"VehicleMakeId","value":"={{ $json.body.params.VehicleMakeId }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[208,0],"id":"1dcaa3d5-7bc6-482c-aa52-e13107d092ff","name":"Dados Depara"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.VehicleKindId }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true},"id":"4847e70b-7514-4a3f-a03b-e0d9544d543e"}],"combinator":"and"},"renameOutput":true,"outputKey":"VehicleKindId"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"4efa77bb-1751-4fb6-b9df-7497c7caf03d","leftValue":"={{ $json.VehicleFuelId }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true}}],"combinator":"and"},"renameOutput":true,"outputKey":"VehicleFuelId"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"9815b894-66d5-4a87-9253-827cc381b2a3","leftValue":"={{ $json.VehicleColorId }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true}}],"combinator":"and"},"renameOutput":true,"outputKey":"VehicleColorId"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"73f2cfb3-2ded-4b60-bb98-3fae8b4d252b","leftValue":"={{ $json.VehicleVersionId }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true}}],"combinator":"and"},"renameOutput":true,"outputKey":"VehicleVersionId"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"0ea57dca-e05a-412d-a310-dc60eeb7ccd5","leftValue":"={{ $json.VehicleModelId }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true}}],"combinator":"and"},"renameOutput":true,"outputKey":"VehicleModelId"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"4b54f77b-2100-4aab-ba57-af29d932d3c5","leftValue":"={{ $json.VehicleMakeId }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true}}],"combinator":"and"},"renameOutput":true,"outputKey":"VehicleMakeId"}]},"options":{"allMatchingOutputs":true}},"type":"n8n-nodes-base.switch","typeVersion":3.3,"position":[448,-64],"id":"6e9a3bd6-5fec-489e-9d5b-ba85cef78fbe","name":"Switch"},{"parameters":{"assignments":{"assignments":[{"id":"1bed8a62-8edf-4ae1-9e72-336cbe5e45ac","name":"VehicleKindId","value":"=","type":"string"},{"id":"d8b609c3-4a00-47b6-af45-9ade85b59352","name":"VehicleFuelId","value":"=","type":"string"},{"id":"e11dcf59-4fff-4e10-9f34-aed21ec1fc9c","name":"VehicleColorId","value":"=","type":"string"},{"id":"bce32511-cd52-4d52-a676-1e94803bba17","name":"VehicleVersionId","value":"=","type":"string"},{"id":"1034de75-68bf-4fd5-912a-70f8584ede04","name":"VehicleModelId","value":"=","type":"string"},{"id":"f489c926-ce57-4640-a8f1-97cc5ddc598e","name":"VehicleMakeId","value":"=","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[928,0],"id":"6e2bbd45-7341-4cff-a535-fdaf23265a49","name":"Retorno Dados Depara"}],"origin":"n8n","pinData":{"Webhook":[{"json":{"headers":{"host":"linxn8n.ccmtecnologia.com.br","x-request-id":"***REMOVIDO***","x-real-ip":"10.244.2.0","x-forwarded-for":"10.244.2.0","x-forwarded-host":"linxn8n.ccmtecnologia.com.br","x-forwarded-port":"443","x-forwarded-proto":"https","x-forwarded-scheme":"https","x-scheme":"https","x-original-forwarded-for":"186.207.45.125","content-length":"160","sec-fetch-site":"cross-site","user-agent":"Mozilla/5.0 (Windows NT 10.0; Win64; x64; rv:145.0) Gecko/20100101 Firefox/145.0","accept":"application/json, text/plain, */*","accept-language":"pt-BR,pt;q=0.8,en-US;q=0.5,en;q=0.3","accept-encoding":"gzip, br","authorization":"bearer ***REMOVIDO***.***REMOVIDO***.***REMOVIDO***","content-type":"application/json","origin":"http://localhost:4200","referer":"http://localhost:4200/","sec-fetch-dest":"empty","sec-fetch-mode":"cors","cf-ray":"9a1a78833d2a58f7-GRU","cdn-loop":"cloudflare; loops=1","cf-connecting-ip":"186.207.45.125","cf-ipcountry":"BR","cf-visitor":"{\"scheme\":\"https\"}"},"params":{},"query":{},"body":{"params":{"VehicleKindId":null,"VehicleFuelId":"A","VehicleColorId":"2408","VehicleVersionId":"VERSÃO","VehicleModelId":"35-160/24880","VehicleMakeId":"BYD"}},"webhookUrl":"https://linxn8n.ccmtecnologia.com.br/webhook-test/depara-params-avaliacao","executionMode":"test"}}]},"repo":{"owner":"n8nlinx","name":"BACKUP-N8N-LINX"},"settings":{"executionOrder":"v1"},"shared":[{"createdAt":"2025-11-17T15:06:32.633Z","updatedAt":"2025-11-17T15:06:32.633Z","role":"workflow:owner","workflowId":"KO61WFMtecjEPLl0","projectId":"gooj2a4i7sGuxy01"}],"staticData":null,"tags":[],"triggerCount":0,"updatedAt":"2025-11-20T20:08:38.189Z","versionId":"5bd42b17-5986-45c6-a792-b07deb6730bc"}