KO61WFMtecjEPLl0.json
{"active":false,"connections":{"Webhook":{"main":[[{"node":"Call 'get-token-group'1","type":"main","index":0}]]},"Switch":{"main":[[{"node":"Call 'depara-kinds'","type":"main","index":0}],[{"node":"Call 'depara-combustivel'","type":"main","index":0}],[{"node":"Obter cor1","type":"main","index":0}],[],[],[]]},"When Executed by Another Workflow":{"main":[[]]},"Call 'get-token-group'":{"main":[[{"node":"Obter cidade por zip","type":"main","index":0},{"node":"Obter cor","type":"main","index":0}]]},"Obter cor":{"main":[[{"node":"Calc String Distance","type":"main","index":0}]]},"Call 'get-token-group'1":{"main":[[{"node":"Switch","type":"main","index":0}]]},"Obter cor1":{"main":[[]]}},"createdAt":"2025-11-17T15:06:32.633Z","id":"KO61WFMtecjEPLl0","isArchived":false,"meta":null,"name":"depara-params-avaliacao","nodes":[{"parameters":{"httpMethod":"POST","path":"depara-params-avaliacao","responseMode":"lastNode","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[16,-16],"id":"787f22b9-086c-458a-a795-88fdd7a64b83","name":"Webhook","webhookId":"2739e20a-0231-4c2c-902b-9d50ae0bafc2"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $('Webhook').item.json.body.params.VehicleKindId }}","rightValue":"null","operator":{"type":"string","operation":"notEmpty","singleValue":true},"id":"4847e70b-7514-4a3f-a03b-e0d9544d543e"}],"combinator":"and"},"renameOutput":true,"outputKey":"VehicleKindId"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"4efa77bb-1751-4fb6-b9df-7497c7caf03d","leftValue":"={{ $('Webhook').item.json.body.params.VehicleFuelId }}","rightValue":"","operator":{"type":"string","operation":"notEmpty","singleValue":true}}],"combinator":"and"},"renameOutput":true,"outputKey":"VehicleFuelId"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"9815b894-66d5-4a87-9253-827cc381b2a3","leftValue":"={{ $('Webhook').item.json.body.params.VehicleColorId }}","rightValue":"","operator":{"type":"string","operation":"notEmpty","singleValue":true}}],"combinator":"and"},"renameOutput":true,"outputKey":"VehicleColorId"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"73f2cfb3-2ded-4b60-bb98-3fae8b4d252b","leftValue":"={{ $('Webhook').item.json.body.params.VehicleVersionId }}","rightValue":"","operator":{"type":"string","operation":"notEmpty","singleValue":true}}],"combinator":"and"},"renameOutput":true,"outputKey":"VehicleVersionId"}]},"options":{"allMatchingOutputs":true}},"type":"n8n-nodes-base.switch","typeVersion":3.3,"position":[448,-48],"id":"6e9a3bd6-5fec-489e-9d5b-ba85cef78fbe","name":"Switch"},{"parameters":{"workflowInputs":{"values":[{"name":"Cor"},{"name":"Cidade"}]}},"type":"n8n-nodes-base.***REMOVIDO***","typeVersion":1.1,"position":[496,-560],"id":"6a6c37b2-66ae-4bf0-8f27-adc6778b8cbd","name":"When Executed by Another Workflow"},{"parameters":{"workflowId":{"__rl":true,"value":"zh46bvGPHpvHmgvk","mode":"list","cachedResultUrl":"/workflow/zh46bvGPHpvHmgvk","cachedResultName":"Auto Avaliar — get-token-group"},"workflowInputs":{"mappingMode":"defineBelow","value":{"CNPJ":"53464762000296"},"matchingColumns":[],"schema":[{"id":"CNPJ","displayName":"CNPJ","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"Usuario","displayName":"Usuario","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"Senha","displayName":"Senha","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false}],"***REMOVIDO***":false,"***REMOVIDO***":true},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.3,"position":[784,-720],"id":"f3a60390-d4de-4998-b114-df1a4b51953d","name":"Call 'get-token-group'"},{"parameters":{"jsCode":"function levenshteinDistance(str1, str2) {\n  const m = str1.length;\n  const n = str2.length;\n  const dp = Array(m + 1).fill().map(() => Array(n + 1).fill(0));\n\n  for (let i = 0; i <= m; i++) {\n    dp[i][0] = i;\n  }\n  \n  for (let j = 0; j <= n; j++) {\n    dp[0][j] = j;\n  }\n\n  for (let i = 1; i <= m; i++) {\n    for (let j = 1; j <= n; j++) {\n      if (str1[i - 1] === str2[j - 1]) {\n        dp[i][j] = dp[i - 1][j - 1];\n      } else {\n        dp[i][j] = 1 + Math.min(\n          dp[i - 1][j],     // deletion\n          dp[i][j - 1],     // insertion\n          dp[i - 1][j - 1]  // substitution\n        );\n      }\n    }\n  }\n\n  return dp[m][n];\n}\n\nconst expected_code = $('When Executed by Another Workflow').first().json.Cor.toUpperCase()\n\nlet maxScore = 0;\nlet chosenItem;\n\n$input.first().json.payload.forEach((item) => {\n  let dist = levenshteinDistance(\n    expected_code, \n    item.name\n  )\n  \n  let max_dist = Math.max(\n    expected_code.length,\n    item.name.length\n  )\n  \n  let score = 1 - (dist / max_dist)\n  //console.log(\"score for \" + item.name + \" is \" + score)\n  if (score > maxScore){\n    maxScore = score\n    chosenItem = item\n  }\n});\n\nreturn { 'json' : { cor: chosenItem } };"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1264,-720],"id":"891225e9-cdfe-4a7d-9e7e-0d011c298f0d","name":"Calc String Distance","alwaysOutputData":true},{"parameters":{"method":"POST","url":"https://sa-hg-sys.appspot.com/geo/get-by-zip","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Token","value":"={{ $json.TOKEN }}"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"zipCode","value":"={{ $('When Executed by Another Workflow').item.json.Zip }}"},{"name":"countryId","value":"76"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1008,-560],"id":"b33a4405-f2c7-473b-81b3-f8af5a6e6112","name":"Obter cidade por zip","alwaysOutputData":true},{"parameters":{"method":"POST","url":"https://sa-hg-sys.appspot.com/vehicle/colors","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Token","value":"={{ $json.TOKEN }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1008,-720],"id":"d91823b2-4119-4e75-909b-f265245480da","name":"Obter cor","alwaysOutputData":true},{"parameters":{"method":"POST","url":"https://sa-hg-sys.appspot.com/vehicle/colors","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Token","value":"={{ $json.TOKEN }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[848,192],"id":"c63f9591-8b8d-42b5-bda7-e71c05b2b868","name":"Obter cor1","alwaysOutputData":true},{"parameters":{"workflowId":{"__rl":true,"value":"zh46bvGPHpvHmgvk","mode":"list","cachedResultUrl":"/workflow/zh46bvGPHpvHmgvk","cachedResultName":"Auto Avaliar — get-token-group"},"workflowInputs":{"mappingMode":"defineBelow","value":{"CNPJ":"={{ $('Webhook').item.json.body.params.Cnpj }}"},"matchingColumns":[],"schema":[{"id":"CNPJ","displayName":"CNPJ","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"Usuario","displayName":"Usuario","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"Senha","displayName":"Senha","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false}],"***REMOVIDO***":false,"***REMOVIDO***":true},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.3,"position":[240,-16],"id":"1325cd28-f952-4c10-a60c-4e6b9d11f089","name":"Call 'get-token-group'1"},{"parameters":{"content":"Remover CNPJ mockado","height":80,"width":150},"type":"n8n-nodes-base.stickyNote","position":[224,144],"typeVersion":1,"id":"dce6b90d-8c87-4621-9cd6-910d99c593e3","name":"Sticky Note"},{"parameters":{"jsCode":"function levenshteinDistance(str1, str2) {\n  const m = str1.length;\n  const n = str2.length;\n  const dp = Array(m + 1).fill().map(() => Array(n + 1).fill(0));\n\n  for (let i = 0; i <= m; i++) {\n    dp[i][0] = i;\n  }\n  \n  for (let j = 0; j <= n; j++) {\n    dp[0][j] = j;\n  }\n\n  for (let i = 1; i <= m; i++) {\n    for (let j = 1; j <= n; j++) {\n      if (str1[i - 1] === str2[j - 1]) {\n        dp[i][j] = dp[i - 1][j - 1];\n      } else {\n        dp[i][j] = 1 + Math.min(\n          dp[i - 1][j],     // deletion\n          dp[i][j - 1],     // insertion\n          dp[i - 1][j - 1]  // substitution\n        );\n      }\n    }\n  }\n\n  return dp[m][n];\n}\n\nconst expected_code = $('When Executed by Another Workflow').first().json.Cor.toUpperCase()\n\nlet maxScore = 0;\nlet chosenItem;\n\n$input.first().json.payload.forEach((item) => {\n  let dist = levenshteinDistance(\n    expected_code, \n    item.name\n  )\n  \n  let max_dist = Math.max(\n    expected_code.length,\n    item.name.length\n  )\n  \n  let score = 1 - (dist / max_dist)\n  //console.log(\"score for \" + item.name + \" is \" + score)\n  if (score > maxScore){\n    maxScore = score\n    chosenItem = item\n  }\n});\n\nreturn { 'json' : { cor: chosenItem } };"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1504,-480],"id":"e4ccf749-c8ca-40c0-9f91-7bd0f9e17a64","name":"Calc String Distance1","alwaysOutputData":true},{"parameters":{"content":"Incluir outro switch ou ifs para model e version?","height":80,"width":150},"type":"n8n-nodes-base.stickyNote","position":[608,272],"typeVersion":1,"id":"171fefd0-f75d-4cbf-807e-7f98455f54d8","name":"Sticky Note1"},{"parameters":{"content":"Enviar descritivo da cor","height":80,"width":150},"type":"n8n-nodes-base.stickyNote","position":[1056,-64],"typeVersion":1,"id":"f3ec6f9d-0749-4054-b161-b1b5723483d8","name":"Sticky Note2"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $('Webhook').item.json.body.params.VehicleKindId }}","rightValue":"null","operator":{"type":"string","operation":"notEmpty","singleValue":true},"id":"4847e70b-7514-4a3f-a03b-e0d9544d543e"}],"combinator":"and"},"renameOutput":true,"outputKey":"VehicleKindId"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"4efa77bb-1751-4fb6-b9df-7497c7caf03d","leftValue":"={{ $('Webhook').item.json.body.params.VehicleFuelId }}","rightValue":"","operator":{"type":"string","operation":"notEmpty","singleValue":true}}],"combinator":"and"},"renameOutput":true,"outputKey":"VehicleFuelId"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"9815b894-66d5-4a87-9253-827cc381b2a3","leftValue":"={{ $('Webhook').item.json.body.params.VehicleColorId }}","rightValue":"","operator":{"type":"string","operation":"notEmpty","singleValue":true}}],"combinator":"and"},"renameOutput":true,"outputKey":"VehicleColorId"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"73f2cfb3-2ded-4b60-bb98-3fae8b4d252b","leftValue":"={{ $('Webhook').item.json.body.params.VehicleVersionId }}","rightValue":"","operator":{"type":"string","operation":"notEmpty","singleValue":true}}],"combinator":"and"},"renameOutput":true,"outputKey":"VehicleVersionId"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"0ea57dca-e05a-412d-a310-dc60eeb7ccd5","leftValue":"={{ $('Webhook').item.json.body.params.VehicleModelId }}","rightValue":"","operator":{"type":"string","operation":"notEmpty","singleValue":true}}],"combinator":"and"},"renameOutput":true,"outputKey":"VehicleModelId"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"4b54f77b-2100-4aab-ba57-af29d932d3c5","leftValue":"={{ $('Webhook').item.json.body.params.VehicleMakeId }}","rightValue":"","operator":{"type":"string","operation":"notEmpty","singleValue":true}}],"combinator":"and"},"renameOutput":true,"outputKey":"VehicleMakeId"}]},"options":{"allMatchingOutputs":true}},"type":"n8n-nodes-base.switch","typeVersion":3.3,"position":[448,368],"id":"fa6364a6-6614-4bae-9c3c-2396de3a42aa","name":"Switch1"},{"parameters":{"workflowId":{"__rl":true,"value":"BEbiiy1inbBefBuM","mode":"list","cachedResultUrl":"/workflow/BEbiiy1inbBefBuM","cachedResultName":"Auto Avaliar — depara-combustivel"},"workflowInputs":{"mappingMode":"defineBelow","value":{"id":"={{ $('Webhook').item.json.body.params.VehicleFuelId }}"},"matchingColumns":[],"schema":[{"id":"id","displayName":"id","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false}],"***REMOVIDO***":false,"***REMOVIDO***":true},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.3,"position":[848,32],"id":"b665ce63-083e-4a56-bf7d-f70f1ab69263","name":"Call 'depara-combustivel'"},{"parameters":{"workflowId":{"__rl":true,"value":"DvVJqfjVsG6nwiRO","mode":"list","cachedResultUrl":"/workflow/DvVJqfjVsG6nwiRO","cachedResultName":"Auto Avaliar — depara-kinds"},"workflowInputs":{"mappingMode":"defineBelow","value":{"id":"={{ $('Webhook').item.json.body.params.VehicleKindId }}"},"matchingColumns":[],"schema":[{"id":"id","displayName":"id","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false}],"***REMOVIDO***":false,"***REMOVIDO***":true},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.3,"position":[848,-128],"id":"1b419b81-67eb-42cc-8814-f37f3b471f83","name":"Call 'depara-kinds'"}],"origin":"n8n","pinData":{"When Executed by Another Workflow":[{"json":{"Cor":"Cinza Baltico","Zip":"91030330"}}]},"repo":{"owner":"n8nlinx","name":"BACKUP-N8N-LINX"},"settings":{"executionOrder":"v1"},"shared":[{"createdAt":"2025-11-17T15:06:32.633Z","updatedAt":"2025-11-17T15:06:32.633Z","role":"workflow:owner","workflowId":"KO61WFMtecjEPLl0","projectId":"gooj2a4i7sGuxy01"}],"staticData":null,"tags":[],"triggerCount":0,"updatedAt":"2025-11-24T21:32:17.956Z","versionId":"e1614d81-c90a-4918-96e5-789074617f5e"}