KO61WFMtecjEPLl0.json
{"active":false,"connections":{"Make-List":{"main":[[{"node":"Split Make-List","type":"main","index":0}]]},"***REMOVIDO***":{"main":[[{"node":"Split ***REMOVIDO***","type":"main","index":0}]]},"Merge":{"main":[[]]},"When clicking ‘Execute workflow’":{"main":[[{"node":"Make-List","type":"main","index":0},{"node":"***REMOVIDO***","type":"main","index":0}]]},"Split ***REMOVIDO***":{"main":[[{"node":"***REMOVIDO*** UpperCase","type":"main","index":0}]]},"Split Make-List":{"main":[[{"node":"Make-List UpperCase","type":"main","index":0}]]},"Make-List UpperCase":{"main":[[{"node":"Merge","type":"main","index":0}]]},"***REMOVIDO*** UpperCase":{"main":[[{"node":"Merge","type":"main","index":1}]]}},"createdAt":"2025-11-17T15:06:32.633Z","id":"KO61WFMtecjEPLl0","isArchived":false,"meta":null,"name":"Comparar Marcas","nodes":[{"parameters":{"httpMethod":"POST","path":"depara-params-avaliacao","responseMode":"lastNode","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[0,0],"id":"787f22b9-086c-458a-a795-88fdd7a64b83","name":"Webhook","webhookId":"2739e20a-0231-4c2c-902b-9d50ae0bafc2"},{"parameters":{"method":"POST","url":"https://sa-hg-sys.appspot.com/vehicle/make-list","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Token","value":"={{ $json.TOKEN }}"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"page","value":"=1"},{"name":"limit","value":"9999"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-160,208],"id":"768f071d-f59a-4801-adf0-073bd2728b47","name":"Make-List","alwaysOutputData":true},{"parameters":{"method":"POST","url":"http://localhost:81/LinxDMS/Veiculos/ConsultaVeiculos/***REMOVIDO***","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Token","value":"={{ $json.TOKEN }}"}]},"sendBody":true,"specifyBody":"json","jsonBody":"{\n  \"Selecionados\": \"\"\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-160,448],"id":"614c1aa9-673c-4e0d-a6e7-aa3d5db71cf7","name":"***REMOVIDO***","alwaysOutputData":true},{"parameters":{"mode":"combine","advanced":true,"mergeByFields":{"values":[{"field1":"name","field2":"nome_marca"}]},"options":{}},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[560,336],"id":"420cc789-8db4-44a0-900b-0de4c83747e7","name":"Merge","alwaysOutputData":true},{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-448,352],"id":"3c0dcb4f-ec7e-49f7-9744-7b80a3630ef2","name":"When clicking ‘Execute workflow’","alwaysOutputData":false},{"parameters":{"fieldToSplitOut":"FTClientDataSet","options":{}},"name":"Split ***REMOVIDO***","type":"n8n-nodes-base.itemLists","typeVersion":1,"position":[112,432],"id":"eb77eeda-1ced-4032-be57-78ef3b980e76"},{"parameters":{"fieldToSplitOut":"payload","options":{}},"name":"Split Make-List","type":"n8n-nodes-base.itemLists","typeVersion":1,"position":[112,256],"id":"d87486cc-ca5c-4458-a422-2fd6f1018c79"},{"parameters":{"assignments":{"assignments":[{"id":"50367a66-6e6b-427f-abb9-3fd2844e7c7f","name":"name","value":"={{ $json.name.toUpperCase() }}","type":"string"}]},"includeOtherFields":true,"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[320,256],"id":"b6ec6035-14b5-4770-92e2-7e8abcebdc18","name":"Make-List UpperCase"},{"parameters":{"assignments":{"assignments":[{"id":"f61da6e7-9c4d-40c7-ac55-b2ba1a32eb2f","name":"=nome_marca","value":"={{ $json.nome_marca.toUpperCase() }}","type":"string"}]},"includeOtherFields":true,"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[320,416],"id":"234e2995-bcf7-490b-8437-b8d53cd00711","name":"***REMOVIDO*** UpperCase"}],"origin":"n8n","pinData":{"Make-List":[{"json":{"payload":[{"id":"1960","name":"ACURA","kinds":["2","3","11"]},{"id":"1961","name":"ADAMO","kinds":["3"]},{"id":"2123","name":"ADLY","kinds":["2"]},{"id":"2358","name":"AGNIS","kinds":["3"]},{"id":"1962","name":"AGRALE","kinds":["1","2","3","4","10"]},{"id":"2522","name":"AIMA","kinds":["2"]},{"id":"2539","name":"AIZ IMPLEMENTOS","kinds":["1"]},{"id":"2297","name":"AJS","kinds":["2"]},{"id":"2298","name":"ALAN MOTORS","kinds":["2","3"]},{"id":"2124","name":"ALANMOTORS","kinds":["2"]},{"id":"2125","name":"ALDEE","kinds":["3"]},{"id":"1963","name":"ALFA ROMEO","kinds":["3","4"]},{"id":"2126","name":"AM GENERAL","kinds":["4"]},{"id":"2127","name":"AMAZONAS","kinds":["2","3"]},{"id":"2299","name":"AME AMAZONAS","kinds":["2"]},{"id":"1964","name":"AMERICAR","kinds":["3"]},{"id":"2359","name":"ANGRA","kinds":["3"]},{"id":"2128","name":"APRILIA","kinds":["2","4"]},{"id":"2380","name":"ARO","kinds":["3","4","16"]},{"id":"1965","name":"ASIA","kinds":["1","3","4","10","16"]},{"id":"2129","name":"ASIA MOTORS","kinds":["3","4","10"]},{"id":"2130","name":"ASIA MOTOS","kinds":["2"]},{"id":"1966","name":"ASTON MARTIN","kinds":["3"]},{"id":"2131","name":"ATALA","kinds":["2"]},{"id":"2549","name":"ATMAN","kinds":["2"]},{"id":"1967","name":"AUDI","kinds":[null,"3","4"]},{"id":"2132","name":"AUGURI","kinds":["2"]},{"id":"1968","name":"AUSTIN","kinds":["3"]},{"id":"2133","name":"AVALLONE","kinds":["3"]},{"id":"2300","name":"AVELLOZ","kinds":["2"]},{"id":"2134","name":"BABYBUGGY","kinds":["4"]},{"id":"1969","name":"BAJA","kinds":["3"]},{"id":"2301","name":"BAJAJ","kinds":["2","3"]},{"id":"2135","name":"BASHAN","kinds":["2"]},{"id":"1970","name":"BEACH","kinds":["3"]},{"id":"2136","name":"BENELLI","kinds":["2"]},{"id":"1971","name":"BENTLEY","kinds":["3","4"]},{"id":"2302","name":"BENZHOU","kinds":["2"]},{"id":"2468","name":"BEPOBUS","kinds":["10"]},{"id":"2137","name":"BETA","kinds":["2"]},{"id":"1972","name":"BIANCO","kinds":["3"]},{"id":"2138","name":"BIMOTA","kinds":["2"]},{"id":"2139","name":"BIRELLI","kinds":["2"]},{"id":"2140","name":"BITREM","kinds":["14"]},{"id":"1973","name":"BMW","kinds":[null,"1","2","3","4","16"]},{"id":"2141","name":"BOGUSSI","kinds":["2"]},{"id":"2296","name":"BOMBARDIER","kinds":["2"]},{"id":"2530","name":"BORAM","kinds":["2"]},{"id":"2528","name":"BORAN","kinds":["2"]},{"id":"1974","name":"BORGWARD ","kinds":["3"]},{"id":"2142","name":"BR MOTOS","kinds":["2"]},{"id":"2143","name":"BRANDY","kinds":["2"]},{"id":"2144","name":"BRASCYCLE","kinds":["2"]},{"id":"2360","name":"BRASFIBRA","kinds":["3"]},{"id":"2145","name":"BRAVA","kinds":["2"]},{"id":"2146","name":"BRAVAX","kinds":["2"]},{"id":"2147","name":"BRAZCAR","kinds":["2"]},{"id":"1975","name":"BRM","kinds":["3","4"]},{"id":"2148","name":"BRP","kinds":["2"]},{"id":"2149","name":"BRP-BOMBARDIER","kinds":["2"]},{"id":"2150","name":"BUELL","kinds":["2","3"]},{"id":"2151","name":"BUENO","kinds":["2"]},{"id":"1976","name":"BUGATTI","kinds":["3"]},{"id":"2152","name":"BUGGY","kinds":["4"]},{"id":"2153","name":"BUGRE","kinds":["3","4"]},{"id":"1977","name":"BUGWAY","kinds":["3"]},{"id":"1978","name":"BUICK","kinds":["3","4"]},{"id":"2303","name":"BULL","kinds":["2"]},{"id":"2154","name":"BULL MOTORS","kinds":["2","3"]},{"id":"2155","name":"BY CRISTO","kinds":["2","3"]},{"id":"2423","name":"BYD","kinds":["1","3","4"]},{"id":"1979","name":"CADILLAC","kinds":["3","4"]},{"id":"2156","name":"CAGIVA","kinds":["2"]},{"id":"2157","name":"CALOI","kinds":["2"]},{"id":"2304","name":"CAN-AM","kinds":["2","3","4"]},{"id":"2443","name":"CAN-AN","kinds":["3"]},{"id":"2544","name":"CARTEPILLAR","kinds":["1"]},{"id":"2158","name":"CASADOTRICICLO","kinds":["2"]},{"id":"2558","name":"CASE","kinds":["16"]},{"id":"2546","name":"CASE IH","kinds":["1"]},{"id":"2550","name":"CATERPILLAR","kinds":["16"]},{"id":"2361","name":"CAUYPE","kinds":["3"]},{"id":"2362","name":"CBP","kinds":["3"]},{"id":"1980","name":"CBT","kinds":["3","4"]},{"id":"2479","name":"CFMOTO","kinds":["15"]},{"id":"1981","name":"CHAMONIX","kinds":["3"]},{"id":"1982","name":"CHANA","kinds":["1","3","4"]},{"id":"1983","name":"CHANGAN","kinds":["3","4"]},{"id":"2159","name":"CHANGE","kinds":["3"]},{"id":"2160","name":"CHARMING","kinds":["2"]},{"id":"1984","name":"CHEDA","kinds":["3","4"]},{"id":"1985","name":"CHERY","kinds":["2","3","4"]},{"id":"1986","name":"CHEVROLET","kinds":[null,"1","3","4","10"]},{"id":"2161","name":"CHITUMA","kinds":["2"]},{"id":"2305","name":"CHONGQING","kinds":["2"]},{"id":"2521","name":"CHOPPER","kinds":["2"]},{"id":"1987","name":"CHRYSLER","kinds":["2","3","4"]},{"id":"2162","name":"CICCOBUS","kinds":["10"]},{"id":"2295","name":"CIRRUS","kinds":["11"]},{"id":"1988","name":"CITROEN","kinds":[null,"1","3","4","10"]},{"id":"2164","name":"CONCORDE","kinds":["3"]},{"id":"2306","name":"CONFEDERATE","kinds":["2"]},{"id":"1989","name":"CORD","kinds":["3"]},{"id":"2165","name":"CORONA","kinds":["3"]},{"id":"1990","name":"COYOTE","kinds":["3"]},{"id":"1991","name":"CROSS LANDER","kinds":["3","4"]},{"id":"2337","name":"DACIA","kinds":["3","4"]},{"id":"2363","name":"DACON","kinds":["3"]},{"id":"2166","name":"DACUNHA","kinds":["4"]},{"id":"2167","name":"DAELIM","kinds":["2"]},{"id":"1992","name":"DAEWOO","kinds":["3","4","10"]},{"id":"2168","name":"DAF","kinds":["1"]},{"id":"2169","name":"DAFRA","kinds":["2","3"]},{"id":"1993","name":"DAIHATSU","kinds":["1","3","4","10"]},{"id":"2170","name":"DAJIANG","kinds":["2"]},{"id":"2171","name":"DANK","kinds":["2"]},{"id":"2364","name":"DATSUN","kinds":["3"]},{"id":"2172","name":"DAYANG","kinds":["2","3"]},{"id":"2173","name":"DAYUN","kinds":["2"]},{"id":"1994","name":"DE SOTO","kinds":["3"]},{"id":"1995","name":"DE TOMASO ","kinds":["3"]},{"id":"1996","name":"DELOREAN","kinds":["3"]},{"id":"2174","name":"DERBI","kinds":["2","3"]},{"id":"2175","name":"DFM","kinds":["1","3","4"]},{"id":"2307","name":"DITALLY","kinds":["2"]},{"id":"1997","name":"DKW-VEMAG","kinds":["3"]},{"id":"1998","name":"DODGE","kinds":["1","3","4"]},{"id":"2176","name":"DUCATI","kinds":[null,"1","2","3"]},{"id":"1999","name":"DUNNAS","kinds":["3"]},{"id":"2000","name":"EAGLE","kinds":["2","3"]},{"id":"2001","name":"EFFA","kinds":["1","3","4"]},{"id":"2177","name":"EFFA-JMC","kinds":["1","3"]},{"id":"2365","name":"EGO","kinds":["3"]},{"id":"2002","name":"EMIS","kinds":["3"]},{"id":"2178","name":"EMME","kinds":["2","3","16"]},{"id":"2003","name":"ENGESA","kinds":["3","4"]},{"id":"2366","name":"ENSEADA","kinds":["3"]},{"id":"2004","name":"ENVEMO","kinds":["3","4"]},{"id":"2179","name":"ENVESA","kinds":["4"]},{"id":"2518","name":"ESTRADA","kinds":["1"]},{"id":"2560","name":"EXEED","kinds":["4"]},{"id":"2347","name":"F MARINE","kinds":["5"]},{"id":"2180","name":"FABRAL","kinds":["4"]},{"id":"2469","name":"FACCHINI","kinds":["1","4","13","14"]},{"id":"2005","name":"FARGO","kinds":["3"]},{"id":"2006","name":"FARUS","kinds":["3"]},{"id":"2181","name":"FASPIDER","kinds":["2"]},{"id":"2007","name":"FERCAR BUGGY","kinds":["3"]},{"id":"2008","name":"FERRARI","kinds":["1","3","4"]},{"id":"2541","name":"FEVER","kinds":["2"]},{"id":"2009","name":"FIAT","kinds":[null,"1","2","3","4","10"]},{"id":"2367","name":"FIBRARIO","kinds":["3"]},{"id":"2010","name":"FIBRAVAN","kinds":["4"]},{"id":"2368","name":"FISKER","kinds":["3"]},{"id":"2011","name":"FNM","kinds":["3"]},{"id":"2012","name":"FORD","kinds":["1","2","3","4","10"]},{"id":"2182","name":"FOTON","kinds":["1","3","4","10"]},{"id":"2183","name":"FOX","kinds":["2"]},{"id":"2349","name":"FUN MOTORS","kinds":["2"]},{"id":"2013","name":"FYBER","kinds":["3","4"]},{"id":"2184","name":"FYM","kinds":["2"]},{"id":"2498","name":"GAC MOTOR","kinds":["3","4"]},{"id":"2483","name":"GALEGO","kinds":["1"]},{"id":"2185","name":"GARINI","kinds":["2"]},{"id":"2186","name":"GARINNI","kinds":["2"]},{"id":"2187","name":"GAS GAS","kinds":["2"]},{"id":"2537","name":"GCX","kinds":["2"]},{"id":"2014","name":"GEELY","kinds":["3","4"]},{"id":"2015","name":"GEO","kinds":["3"]},{"id":"2308","name":"GILERA","kinds":["2"]},{"id":"2188","name":"GLASPAC","kinds":["3","4"]},{"id":"2016","name":"GMC","kinds":["1","3","4"]},{"id":"2017","name":"GRANCAR ","kinds":["3"]},{"id":"2018","name":"GREAT WALL","kinds":["3","4"]},{"id":"2309","name":"GREEN","kinds":["2"]},{"id":"2189","name":"GREEN MOTOS","kinds":["2","3"]},{"id":"2190","name":"GRENMOTOS","kinds":["2"]},{"id":"2532","name":"GUERRA","kinds":["1"]},{"id":"2191","name":"GUOWEI","kinds":["2"]},{"id":"2019","name":"GURGEL","kinds":["2","3","4"]},{"id":"2310","name":"GUZZI","kinds":["2"]},{"id":"2480","name":"GWM","kinds":["3","4"]},{"id":"2020","name":"HAFEI","kinds":["3","4"]},{"id":"2192","name":"HAIMA","kinds":["3","4"]},{"id":"2193","name":"HAOBAO","kinds":["2"]},{"id":"2194","name":"HAOJIAN","kinds":["2"]},{"id":"2350","name":"HAOJUE","kinds":["2","3"]},{"id":"2195","name":"HARLEY-DAVIDSON","kinds":["1","2","3"]},{"id":"2311","name":"HARTFORD","kinds":["2"]},{"id":"2021","name":"HB","kinds":["3"]},{"id":"2526","name":"HITECH ELECTRIC","kinds":["3"]},{"id":"2022","name":"HOFSTETTER","kinds":["3"]},{"id":"2023","name":"HONDA","kinds":[null,"2","3","4"]},{"id":"2196","name":"HOT SNAKE","kinds":["2"]},{"id":"2197","name":"HUARI","kinds":["2"]},{"id":"2024","name":"HUDSON","kinds":["3"]},{"id":"2025","name":"HUMMER","kinds":["3","4"]},{"id":"2198","name":"HUSABERG","kinds":["2"]},{"id":"2199","name":"HUSQVARNA","kinds":["2"]},{"id":"2200","name":"HYOSUNG","kinds":["2"]},{"id":"2026","name":"HYUNDAI","kinds":[null,"1","3","4","10"]},{"id":"2369","name":"ICOMDA","kinds":["3"]},{"id":"2027","name":"INCOFER","kinds":["3"]},{"id":"2312","name":"INDIAN","kinds":["2"]},{"id":"2345","name":"INDYCAR","kinds":["14"]},{"id":"2028","name":"INFINITI","kinds":["3","4"]},{"id":"2029","name":"INTERNATIONAL","kinds":["1","3"]},{"id":"2201","name":"IROS","kinds":["2"]},{"id":"2030","name":"ISUZU","kinds":["1","3","4","10"]},{"id":"2031","name":"IVECO","kinds":["1","3","4","10","16"]},{"id":"2032","name":"JAC","kinds":["1","3","4","10"]},{"id":"2502","name":"JAC MOTORS","kinds":["3","4"]},{"id":"2540","name":"JAECOO","kinds":["3","4"]},{"id":"2033","name":"JAGUAR","kinds":["1","3","4"]},{"id":"2454","name":"JARDINOX","kinds":["1"]},{"id":"2313","name":"JAWA","kinds":["2"]},{"id":"2034","name":"JEEP","kinds":["3","4"]},{"id":"2035","name":"JENSEN","kinds":["2","3"]},{"id":"2314","name":"JIAJUE","kinds":["2"]},{"id":"2202","name":"JIALING","kinds":["2","3"]},{"id":"2036","name":"JINBEI","kinds":["1","3","4","10"]},{"id":"2315","name":"JINCHENG","kinds":["2"]},{"id":"2551","name":"JOHN DEERE","kinds":["16"]},{"id":"2203","name":"JOHNNYPAG","kinds":["2"]},{"id":"2204","name":"JONNY","kinds":["2"]},{"id":"2037","name":"JONWAY","kinds":["2","3"]},{"id":"2038","name":"JPX","kinds":["4"]},{"id":"2205","name":"KAHENA","kinds":["2","3"]},{"id":"2039","name":"KAISER","kinds":["3"]},{"id":"2206","name":"KASINSKI","kinds":["2"]},{"id":"2207","name":"KAWASAKI","kinds":["2","3"]},{"id":"2208","name":"KEEWAY","kinds":["2"]},{"id":"2538","name":"KHALTEC","kinds":["3"]},{"id":"2040","name":"KIA","kinds":["1","3","4","10"]},{"id":"2209","name":"KIN","kinds":["2"]},{"id":"2041","name":"KOENIGSEGG","kinds":["3"]},{"id":"2210","name":"KTM","kinds":["2"]},{"id":"2316","name":"KYMCO","kinds":["2","3"]},{"id":"2211","name":"KZUKI","kinds":["2"]},{"id":"2212","name":"L AQUILA","kinds":["2"]},{"id":"2042","name":"L AUTOMOBILE","kinds":["3"]},{"id":"2043","name":"LADA","kinds":["3","4"]},{"id":"2213","name":"LAFER","kinds":["3"]},{"id":"2044","name":"LAMBORGHINI","kinds":["3","4"]},{"id":"2317","name":"LAMBRETTA","kinds":["2"]},{"id":"2045","name":"LANCIA","kinds":["3"]},{"id":"2046","name":"LAND ROVER","kinds":["3","4","16"]},{"id":"2047","name":"LANDWIND","kinds":["3","4"]},{"id":"2214","name":"LASSALE","kinds":["3"]},{"id":"2215","name":"LAVRALE","kinds":["2"]},{"id":"2216","name":"LC-SABRE","kinds":["3"]},{"id":"2562","name":"LEAPMOTOR","kinds":["3"]},{"id":"2217","name":"LEOPARD","kinds":["2"]},{"id":"2218","name":"LERIVO","kinds":["2"]},{"id":"2048","name":"LEXUS","kinds":["3","4"]},{"id":"2370","name":"LHM","kinds":["3"]},{"id":"2455","name":"LIBRELATO","kinds":["1"]},{"id":"2049","name":"LIFAN","kinds":["2","3","4","16"]},{"id":"2050","name":"LINCOLN","kinds":["3","4"]},{"id":"2219","name":"LINZHI","kinds":["2"]},{"id":"2318","name":"LML","kinds":["2","3"]},{"id":"2051","name":"LOBINI","kinds":["3"]},{"id":"2220","name":"LON-V","kinds":["2"]},{"id":"2052","name":"LOTUS","kinds":["3"]},{"id":"2053","name":"L´AUTO CRAFT","kinds":["3"]},{"id":"2221","name":"MAFERSA","kinds":["10"]},{"id":"2222","name":"MAGRAO TRICICLOS","kinds":["2"]},{"id":"2054","name":"MAHINDRA","kinds":["3","4"]},{"id":"2224","name":"MALAGUTI","kinds":["2"]},{"id":"2225","name":"MAN","kinds":["1","3"]},{"id":"2055","name":"MARCOPOLO","kinds":["3","10"]},{"id":"2056","name":"MARINA´S","kinds":["3"]},{"id":"2226","name":"MARVA","kinds":["2"]},{"id":"2057","name":"MASERATI","kinds":["3","4"]},{"id":"2058","name":"MATRA","kinds":["4"]},{"id":"2059","name":"MAYBACH","kinds":["3"]},{"id":"2060","name":"MAZDA","kinds":["1","3","4","16"]},{"id":"2319","name":"MBW","kinds":["2"]},{"id":"2061","name":"MCLAREN","kinds":["3"]},{"id":"2062","name":"MENON","kinds":["3"]},{"id":"2063","name":"MERCEDES-BENZ","kinds":[null,"1","2","3","4","10","16"]},{"id":"2064","name":"MERCURY","kinds":["3","4"]},{"id":"2065","name":"MG","kinds":["2","3","4"]},{"id":"2343","name":"MIMADO","kinds":["14"]},{"id":"2066","name":"MINI","kinds":["3","4"]},{"id":"2406","name":"MINI COOPER","kinds":["3","4"]},{"id":"2067","name":"MITSUBISHI","kinds":[null,"1","3","4","10"]},{"id":"2068","name":"MIURA","kinds":["3","4"]},{"id":"2227","name":"MIZA","kinds":["2"]},{"id":"2371","name":"MOBBY","kinds":["3"]},{"id":"2320","name":"MONTESA","kinds":["2","3","4"]},{"id":"2356","name":"MORGAN","kinds":["3"]},{"id":"2069","name":"MORRIS","kinds":["3"]},{"id":"2228","name":"MORRIS GARAGES","kinds":["3"]},{"id":"2229","name":"MOTO GUZZI","kinds":["2","3"]},{"id":"2230","name":"MOTOCAR","kinds":["2"]},{"id":"2231","name":"MOTOR-Z","kinds":["2"]},{"id":"2232","name":"MOTORINO","kinds":["2","3"]},{"id":"2233","name":"MOTOSTAR","kinds":["2","3"]},{"id":"2321","name":"MOTOVI","kinds":["2"]},{"id":"2234","name":"MOTTUS","kinds":["2"]},{"id":"2070","name":"MP LAFER","kinds":["3"]},{"id":"2071","name":"MPLM","kinds":["3"]},{"id":"2235","name":"MRX","kinds":["2"]},{"id":"2322","name":"MULLER","kinds":["2","3"]},{"id":"2543","name":"MULTIFORCA","kinds":["1"]},{"id":"2236","name":"MUNDIAL","kinds":["2"]},{"id":"2519","name":"MUODOU","kinds":["2"]},{"id":"2237","name":"MV AGUSTA","kinds":["2"]},{"id":"2238","name":"MVK","kinds":["2"]},{"id":"2323","name":"MXF","kinds":["2"]},{"id":"2372","name":"NASH","kinds":["3"]},{"id":"2239","name":"NAVISTAR","kinds":["1"]},{"id":"2240","name":"NEOBUS","kinds":["10"]},{"id":"2241","name":"NEOBUS THUNDER","kinds":["10"]},{"id":"2553","name":"NETA","kinds":["3"]},{"id":"2294","name":"NEW HOLLAND","kinds":["13"]},{"id":"2072","name":"NEWTRACK","kinds":["3"]},{"id":"2242","name":"NIPPONIA","kinds":["2"]},{"id":"2073","name":"NISSAN","kinds":[null,"1","3","4","10"]},{"id":"2478","name":"NIU","kinds":["2"]},{"id":"2243","name":"NORTHSTAR","kinds":["2"]},{"id":"2373","name":"NURBURGRING","kinds":["3"]},{"id":"2074","name":"OLDSMOBILE","kinds":["3"]},{"id":"2548","name":"OMODA","kinds":["3"]},{"id":"2244","name":"OMOTO","kinds":["2"]},{"id":"2075","name":"OPEL","kinds":["3","4"]},{"id":"2245","name":"ORCA","kinds":["2"]},{"id":"2076","name":"PACKARD","kinds":["3"]},{"id":"2077","name":"PAG","kinds":["3"]},{"id":"2078","name":"PAGANI","kinds":["3"]},{"id":"2246","name":"PANYU","kinds":["2"]},{"id":"2247","name":"PEGASSI","kinds":["2"]},{"id":"2079","name":"PEUGEOT","kinds":[null,"1","2","3","4","10"]},{"id":"2357","name":"PHOENIX BOATS","kinds":["3"]},{"id":"2248","name":"PIAGGIO","kinds":["2","3","4","10"]},{"id":"2080","name":"PLYMOUTH","kinds":["3","4"]},{"id":"2324","name":"POLARIS","kinds":["2"]},{"id":"2081","name":"PONTIAC","kinds":["3","4"]},{"id":"2082","name":"PORSCHE","kinds":[null,"1","3","4","16"]},{"id":"2409","name":"PROTON","kinds":["3","16"]},{"id":"2083","name":"PUMA","kinds":[null,"3"]},{"id":"2249","name":"PUMA-ALFA METAIS","kinds":["1","3"]},{"id":"2250","name":"RAGGE","kinds":["4"]},{"id":"2251","name":"RAM","kinds":["1","3","4"]},{"id":"2344","name":"RANDON","kinds":["1","14"]},{"id":"2545","name":"RB","kinds":["1"]},{"id":"2084","name":"RDK","kinds":["3"]},{"id":"2346","name":"REBOCAR","kinds":["14"]},{"id":"2252","name":"REBOQUE","kinds":["14"]},{"id":"2253","name":"REGAL RAPTOR","kinds":["2"]},{"id":"2085","name":"RELY","kinds":["4"]},{"id":"2086","name":"RENAULT","kinds":[null,"1","3","4","10"]},{"id":"2087","name":"RENO","kinds":["3"]},{"id":"2088","name":"REVA-I","kinds":["3"]},{"id":"2254","name":"RIGUETE","kinds":["2"]},{"id":"2374","name":"RILEY","kinds":["3"]},{"id":"2534","name":"RODOFORT","kinds":["1"]},{"id":"2255","name":"RODOTREM","kinds":["14"]},{"id":"2256","name":"ROLLS ROYCE","kinds":["3"]},{"id":"2089","name":"ROLLS-ROYCE","kinds":["3","4"]},{"id":"2090","name":"ROMI","kinds":["3"]},{"id":"2525","name":"ROTOM","kinds":["2"]},{"id":"2091","name":"ROVER","kinds":["1","3","4"]},{"id":"2257","name":"ROYAL ENFIELD","kinds":["2","3"]},{"id":"2092","name":"SAAB","kinds":["1","3"]},{"id":"2258","name":"SAAB-SCANIA","kinds":["1"]},{"id":"2259","name":"SACHS","kinds":["2"]},{"id":"2093","name":"SANTA MATILDE","kinds":["3"]},{"id":"2559","name":"SANY","kinds":["16"]},{"id":"2260","name":"SANYANG","kinds":["2"]},{"id":"2094","name":"SATURN","kinds":["3"]},{"id":"2261","name":"SAZAKI","kinds":["2"]},{"id":"2262","name":"SCANIA","kinds":["1","3","10"]},{"id":"2263","name":"SCANIA-VABIS","kinds":["1"]},{"id":"2482","name":"SCHIFFER","kinds":["1","4"]},{"id":"2342","name":"SEA DOO","kinds":["5"]},{"id":"2095","name":"SEAT","kinds":["3","4"]},{"id":"2096","name":"SELVAGEM","kinds":["4"]},{"id":"2264","name":"SEMI-REBOQUE","kinds":["4","14"]},{"id":"2536","name":"SERES","kinds":["3"]},{"id":"2265","name":"SHACMAN","kinds":["1"]},{"id":"2266","name":"SHANDONG LANDUN","kinds":["2"]},{"id":"2097","name":"SHELBY","kinds":["3"]},{"id":"2523","name":"SHENGQI","kinds":["2"]},{"id":"2325","name":"SHERCO","kinds":["2"]},{"id":"2098","name":"SHINERAY","kinds":["2","3","4","10"]},{"id":"2099","name":"SHORT","kinds":["3"]},{"id":"2100","name":"SHUANGHUAN","kinds":["3"]},{"id":"2267","name":"SIAMOTO","kinds":["2"]},{"id":"2101","name":"SIMCA","kinds":["3"]},{"id":"2268","name":"SINOTRUK","kinds":["1"]},{"id":"2102","name":"SMART","kinds":["3","4"]},{"id":"2326","name":"SONIK","kinds":["2"]},{"id":"2103","name":"SPYKER","kinds":["3"]},{"id":"2542","name":"SR","kinds":["1"]},{"id":"2104","name":"SSANGYONG","kinds":["3","4"]},{"id":"2105","name":"STANDARD","kinds":["3"]},{"id":"2106","name":"STUDEBAKER","kinds":["3"]},{"id":"2107","name":"SUBARU","kinds":["3","4"]},{"id":"2327","name":"SUKIDA","kinds":["2"]},{"id":"2269","name":"SUNDOWN","kinds":["2","3","4"]},{"id":"2108","name":"SUZUKI","kinds":["2","3","4","10"]},{"id":"2109","name":"TAC","kinds":["4"]},{"id":"2375","name":"TANDER","kinds":["3"]},{"id":"2110","name":"TANGER","kinds":["3"]},{"id":"2270","name":"TECMOTO","kinds":["2"]},{"id":"2561","name":"TEREX","kinds":["16"]},{"id":"2335","name":"TESLA","kinds":["1","3","4"]},{"id":"2476","name":"TESTE28/07","kinds":["3"]},{"id":"2271","name":"TIGER","kinds":["2"]},{"id":"2272","name":"TOPAZZIO","kinds":["4"]},{"id":"2111","name":"TOYOTA","kinds":[null,"1","3","4","10"]},{"id":"2273","name":"TRAXX","kinds":["2"]},{"id":"2328","name":"TRICICAR","kinds":["2"]},{"id":"2274","name":"TRITREM","kinds":["14"]},{"id":"2112","name":"TRIUMPH","kinds":["2","3"]},{"id":"2329","name":"TRIWAY","kinds":["2"]},{"id":"2113","name":"TROLLER","kinds":["3","4"]},{"id":"2330","name":"TWIN MOTORS","kinds":["2"]},{"id":"2114","name":"UNIMOG","kinds":["1"]},{"id":"2275","name":"US1","kinds":["2"]},{"id":"2563","name":"VALTRA","kinds":["4"]},{"id":"2376","name":"VENDETTA","kinds":["3"]},{"id":"2276","name":"VENTO","kinds":["2"]},{"id":"2531","name":"VENTURA","kinds":["2","3"]},{"id":"2351","name":"VESPA","kinds":["2"]},{"id":"2331","name":"VICTORY","kinds":["2","3","4"]},{"id":"2332","name":"VMOTO","kinds":["2"]},{"id":"2438","name":"VOLARE","kinds":["10"]},{"id":"2277","name":"VOLCANO","kinds":["2"]},{"id":"2115","name":"VOLKSWAGEN","kinds":[null,"1","3","4","10"]},{"id":"2453","name":"VOLKSWAGEN CAM.","kinds":["1"]},{"id":"2456","name":"VOLTZ","kinds":["2","3"]},{"id":"2116","name":"VOLVO","kinds":[null,"1","2","3","4","10","16"]},{"id":"2278","name":"VYRUS","kinds":["2"]},{"id":"2117","name":"WAKE","kinds":[null,"3","4"]},{"id":"2118","name":"WALK","kinds":["3","4"]},{"id":"2279","name":"WALKBUS","kinds":["10"]},{"id":"2524","name":"WATTS","kinds":["2"]},{"id":"2119","name":"WAY BRASIL","kinds":["3"]},{"id":"2442","name":"WHIPPET","kinds":["3"]},{"id":"2120","name":"WIESMANN","kinds":["3"]},{"id":"2121","name":"WILLYS","kinds":["3"]},{"id":"2122","name":"WILLYS OVERLAND","kinds":["3"]},{"id":"2280","name":"WILLYS-OVERLAND","kinds":["3","4"]},{"id":"2281","name":"WINNER","kinds":["2"]},{"id":"2282","name":"WOLVER","kinds":["2"]},{"id":"2283","name":"WUYANG","kinds":["2"]},{"id":"2284","name":"XARA","kinds":["2"]},{"id":"2552","name":"XCMG","kinds":["1","16"]},{"id":"2285","name":"XINLING","kinds":["2"]},{"id":"2286","name":"YAMAHA","kinds":[null,"2"]},{"id":"2287","name":"YAMASAKI","kinds":["2"]},{"id":"2288","name":"YANXIANG","kinds":["2"]},{"id":"2333","name":"YINGANG","kinds":["2"]},{"id":"2289","name":"YINNHE","kinds":["2"]},{"id":"2290","name":"YIYING","kinds":["2"]},{"id":"2352","name":"ZANELLA","kinds":["2","4"]},{"id":"2533","name":"ZEEKR","kinds":["3","4"]},{"id":"2334","name":"ZEJHIANG","kinds":["2"]},{"id":"2353","name":"ZERO","kinds":["2"]},{"id":"2291","name":"ZERO MOTORCYCLE","kinds":["2"]},{"id":"2292","name":"ZHEJIANG","kinds":["2"]},{"id":"2293","name":"ZHONGYU","kinds":["2"]},{"id":"2527","name":"ZONTES","kinds":["2","3"]}],"route":"vehicle|makeList","makeLastId":"2566","pagination":{"totalRecords":466,"currentPage":1,"nextPage":1,"previousPage":1,"lastPage":1,"limitPerPage":2000},"status":true,"messages":[],"messagesLite":[],"meta":{"requestTime":1.1468560695648193,"memoryPeak":"2 mb","memoryUsage":"1.53 mb","transactionId":"d6c78752-c342-4a39-b27d-1da6c05b6e2d"},"statusLog":"1763399320252182"}}],"***REMOVIDO***":[{"json":{"FTClientDataSet":[{"marca":"","nome_marca":"AGRALE"},{"marca":"ALFA","nome_marca":"ALFA ROMEO"},{"marca":"ALI","nome_marca":"ALLISSON"},{"marca":"ASIA","nome_marca":"ASIA MOTORS"},{"marca":"AUDI","nome_marca":"AUDI"},{"marca":"BMW","nome_marca":"BMW"},{"marca":"BUGG","nome_marca":"BUGGY"},{"marca":"BUGR","nome_marca":"BUGRE"},{"marca":"BYD","nome_marca":"BYD"},{"marca":"CADI","nome_marca":"CADILLAC"},{"marca":"CHEV","nome_marca":"CHEVROLET"},{"marca":"CHRY","nome_marca":"CHRYSLER"},{"marca":"CITR","nome_marca":"CITROEN"},{"marca":"CLAR","nome_marca":"CLARK"},{"marca":"CM00","nome_marca":"KIA"},{"marca":"CUMI","nome_marca":"CUMMINS"},{"marca":"DABO","nome_marca":"DABO"},{"marca":"DAEW","nome_marca":"DAEWOO"},{"marca":"DODG","nome_marca":"DODGE"},{"marca":"EAT","nome_marca":"EATON"},{"marca":"FERR","nome_marca":"FERRARI"},{"marca":"FIAT","nome_marca":"FIAT"},{"marca":"FLE","nome_marca":"FLEETGUARD"},{"marca":"FORD","nome_marca":"FORD"},{"marca":"GM","nome_marca":"GENERAL MOTORS"},{"marca":"GURG","nome_marca":"GURGEL"},{"marca":"HAR","nome_marca":"Harley Davidson"},{"marca":"HB20","nome_marca":"DYNAPAC"},{"marca":"HOL","nome_marca":"HOLSET"},{"marca":"HOND","nome_marca":"HONDA"},{"marca":"HPE","nome_marca":"HPE"},{"marca":"HY","nome_marca":"HYSTER"},{"marca":"HYUN","nome_marca":"HYUNDAI"},{"marca":"IVEC","nome_marca":"IVECO"},{"marca":"JA","nome_marca":"JACTO"},{"marca":"JAC","nome_marca":"JAC Motors"},{"marca":"JAGU","nome_marca":"JAGUAR"},{"marca":"JCB","nome_marca":"JCB"},{"marca":"JEEP","nome_marca":"JEEP"},{"marca":"JPX","nome_marca":"JPX"},{"marca":"KIA","nome_marca":"KIA MOTORS"},{"marca":"LADA","nome_marca":"LADA"},{"marca":"LAND","nome_marca":"LAND ROVER"},{"marca":"LEAP","nome_marca":"LEAPMOTOR"},{"marca":"LOTU","nome_marca":"LOTUS"},{"marca":"LX","nome_marca":"LEXUS"},{"marca":"MASE","nome_marca":"MASERATI"},{"marca":"MASS","nome_marca":"MASSEY"},{"marca":"MAZD","nome_marca":"MAZDA"},{"marca":"MBB","nome_marca":"MERCEDES-BENZ DO BRASIL"},{"marca":"MITS","nome_marca":"MITSUBISHI"},{"marca":"MIUR","nome_marca":"MIURA"},{"marca":"MP","nome_marca":"MARCOPOLO"},{"marca":"MULT","nome_marca":"MULTMARCA"},{"marca":"NISS","nome_marca":"NISSAN"},{"marca":"OUTR","nome_marca":"OUTROS"},{"marca":"PEUG","nome_marca":"PEUGEOT"},{"marca":"PORS","nome_marca":"PORSCHE"},{"marca":"RA","nome_marca":"RANDOM"},{"marca":"REC","nome_marca":"RECON"},{"marca":"RENA","nome_marca":"RENAULT"},{"marca":"SCA","nome_marca":"SCANIA"},{"marca":"SEAT","nome_marca":"SEAT"},{"marca":"SUBA","nome_marca":"SUBARU"},{"marca":"SUZU","nome_marca":"SUZUKI"},{"marca":"TOYO","nome_marca":"TOYOTA"},{"marca":"TROL","nome_marca":"TROLLER"},{"marca":"VL","nome_marca":"VOLARE"},{"marca":"VOLV","nome_marca":"VOLVO"},{"marca":"VW","nome_marca":"VOLKSWAGEN"},{"marca":"YA","nome_marca":"YALE"},{"marca":"YAMA","nome_marca":"YAMAHA"},{"marca":"ZF","nome_marca":"ZF DO BRASIL"}],"FListaColunas":[{"titulo":"Cód.","bind":"marca","largura":"200","tipo":"STRING"},{"titulo":"Descrição","bind":"nome_marca","largura":"200","tipo":"STRING"}],"Colunas":["Cód.","Descrição"],"LarguraColunas":null,"TiposColunas":null,"fCommandText":"SELECT distinct M.MARCA, M.NOME_MARCA FROM GER_MARCA M ","fChaveTipoString":true,"fUsuario":0,"fFuncaoPermissao":0,"fCampoChave":"Cód.","fCaption":"Selecione um Registro","fSeparadorCampo":";","fSeparadorRegistro":",","fMultiplaEscolha":false,"fIndice":0,"fSelecionados":"","fCampoDescricao":"Descrição","fCampoMarca":null,"fCampoEmail":null,"fCampoCpf":null,"Parameters":{}}}]},"repo":{"owner":"n8nlinx","name":"BACKUP-N8N-LINX"},"settings":{"executionOrder":"v1"},"shared":[{"createdAt":"2025-11-17T15:06:32.633Z","updatedAt":"2025-11-17T15:06:32.633Z","role":"workflow:owner","workflowId":"KO61WFMtecjEPLl0","projectId":"gooj2a4i7sGuxy01"}],"staticData":null,"tags":[],"triggerCount":0,"updatedAt":"2025-11-19T20:17:34.074Z","versionId":"ef85f625-c903-4baf-8b05-8ee7f963ec47"}