LIF68f5zrzodK3CR.json
{"active":false,"connections":{"When clicking ‘Execute workflow’":{"main":[[{"node":"Jira Software","type":"main","index":0}]]},"Revisão de Campos - QA":{"main":[[{"node":"Loop Over Items2","type":"main","index":0}]]},"Revisão de Campos - Descrição":{"main":[[{"node":"Loop Over Items1","type":"main","index":0}]]},"Jira Software":{"main":[[{"node":"Revisão de Campos - Descrição","type":"main","index":0},{"node":"Revisão de Campos - QA","type":"main","index":0},{"node":"Revisão de Campos - Release Note","type":"main","index":0},{"node":"Revisão de Campos - Reesposáveis","type":"main","index":0},{"node":"PRs","type":"main","index":0}]]},"Call 'Camos Revisao QA'":{"main":[[{"node":"Loop Over Items2","type":"main","index":0}]]},"Tess Angent":{"main":[[{"node":"Create item in a list","type":"main","index":0}]]},"Revisão de Campos - Release Note":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Revisão de Campos - Reesposáveis":{"main":[[{"node":"Pre visualização Responsaveis","type":"main","index":0}]]},"Call 'Campos revisão release'":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Adicionar responsáveis":{"main":[[{"node":"Adicionar PR","type":"main","index":0}]]},"Adicionar  QA":{"main":[[{"node":"Adicionar responsáveis","type":"main","index":0}]]},"Adicionar release":{"main":[[{"node":"Adicionar  QA","type":"main","index":0}]]},"Call 'Campos Revisão Descrição'":{"main":[[{"node":"Loop Over Items1","type":"main","index":0}]]},"Loop Over Items":{"main":[[{"node":"Pre visualização release","type":"main","index":0}],[{"node":"Call 'Campos revisão release'","type":"main","index":0}]]},"Loop Over Items1":{"main":[[{"node":"Pre visualização descrição","type":"main","index":0}],[{"node":"Call 'Campos Revisão Descrição'","type":"main","index":0}]]},"Loop Over Items2":{"main":[[{"node":"Pre visualização QA","type":"main","index":0}],[{"node":"Call 'Camos Revisao QA'","type":"main","index":0}]]},"PRs":{"main":[[{"node":"Pre visualização PRs","type":"main","index":0}]]},"Pre visualização descrição":{"main":[[{"node":"Adicionar release","type":"main","index":1}]]},"Pre visualização release":{"main":[[{"node":"Adicionar release","type":"main","index":0}]]},"Pre visualização QA":{"main":[[{"node":"Adicionar  QA","type":"main","index":1}]]},"Adicionar PR":{"main":[[{"node":"Tess Angent","type":"main","index":0}]]},"Pre visualização Responsaveis":{"main":[[{"node":"Adicionar responsáveis","type":"main","index":1}]]},"Pre visualização PRs":{"main":[[{"node":"Adicionar PR","type":"main","index":1}]]}},"createdAt":"2025-10-16T11:23:12.376Z","id":"LIF68f5zrzodK3CR","isArchived":false,"meta":{"***REMOVIDO***":true},"name":"Checklist de liberações das Sprints","nodes":[{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-992,352],"id":"d5226a87-3cd4-4f79-b2fd-af05ec95d7da","name":"When clicking ‘Execute workflow’"},{"parameters":{"assignments":{"assignments":[{"id":"66aefc3b-adff-4f8b-b37e-3ae924cd1ce4","name":"revisao","value":"={{ $json.fields.customfield_18500 }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-336,560],"id":"438a4ee7-164b-47d1-a9a4-f031aca435af","name":"Revisão de Campos - QA"},{"parameters":{"assignments":{"assignments":[{"id":"e2d6006f-6bbc-4e91-a47b-342fffe07c06","name":"descricao","value":"={{ $json.fields.description }}","type":"string"},{"id":"af3b4553-fc49-4978-950f-a3faca5a6f21","name":"issue","value":"={{ $json.key }}","type":"string"},{"id":"fe2ed187-307e-4ce7-b40a-a7eba07f15da","name":"tipo","value":"={{ $json.fields.issuelinks[0].outwardIssue.fields.issuetype.name }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-336,192],"id":"b402f85e-6760-4ff5-b560-40bb15e76d94","name":"Revisão de Campos - Descrição"},{"parameters":{"method":"POST","url":"https://tess.pareto.io/api/agents/33388/execute","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"Bearer 188724|***REMOVIDO***"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"messages\": [\n    {\n      \"role\": \"user\",\n      \"content\": \"{{ JSON.stringify($json.toJsonString()).replace(/^\"|\"$/g, '') }}\"\n    }\n  ],\n  \"wait_execution\": true\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1520,176],"id":"d5c4ce61-56bb-43a2-bbad-c485523ea9ef","name":"Tess Angent","retryOnFail":true,"maxTries":3,"waitBetweenTries":5000,"disabled":true},{"parameters":{"jiraVersion":"serverPat","operation":"getAll","options":{"jql":"project = AUTO AND fixVersion = DVI_03-11-25 AND STATUS != Done ORDER BY Rank "}},"type":"n8n-nodes-base.jira","typeVersion":1,"position":[-768,352],"id":"d5f3206a-f832-4253-8a91-25357d5f000a","name":"Jira Software","credentials":{"***REMOVIDO***":{"id":"50JMqyQ8qMp9dkz7","name":"Jira SW Cloud account 2"}}},{"parameters":{"workflowId":{"__rl":true,"value":"I46c8mTFfmxdYtwI","mode":"list","cachedResultUrl":"/workflow/I46c8mTFfmxdYtwI","cachedResultName":"Campos Revisão QA"},"workflowInputs":{"mappingMode":"defineBelow","value":{}},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.3,"position":[112,656],"id":"98e7f1be-52e9-4290-8233-7b20ed0dfc5d","name":"Call 'Camos Revisao QA'"},{"parameters":{"assignments":{"assignments":[{"id":"017ad8c1-049a-4679-8c2c-2bd77ce1e09e","name":"release","value":"={{ $json.fields.customfield_11533 }}","type":"string"},{"id":"9f728609-8677-4351-9fae-c4bb6085994c","name":"issue","value":"={{ $json.key }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-336,-192],"id":"4b016971-5d8c-4fac-973f-e608a9ce043e","name":"Revisão de Campos - Release Note"},{"parameters":{"assignments":{"assignments":[{"id":"6324aed0-5f3e-47d8-af3d-cc694824189a","name":"issue","value":"={{ $json.key }}","type":"string"},{"id":"6d99967f-ec20-48c5-9cda-2b29ea6d3ca3","name":"desenvolvedor","value":"=[~{{ $json.fields.customfield_11608.key }}]","type":"string"},{"id":"7175dd44-2545-4111-9ae9-644f80f13573","name":"QA","value":"=[~{{ $json.fields.customfield_14101.name }}]","type":"string"},{"id":"7ff42955-24a6-4f89-b4dd-eea40272a265","name":"Case ID","value":"={{ $json.fields.customfield_20507 }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-336,880],"id":"5f67c5a6-3d37-4a0a-8e5c-d3545b5b54c1","name":"Revisão de Campos - Reesposáveis"},{"parameters":{"workflowId":{"__rl":true,"value":"ebld3fR0JpjJibQT","mode":"list","cachedResultUrl":"/workflow/ebld3fR0JpjJibQT","cachedResultName":"Campos Revisão Release"},"workflowInputs":{"mappingMode":"defineBelow","value":{}},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.3,"position":[112,-112],"id":"d49e4c16-88f5-43d6-9cc5-6533fa0f8178","name":"Call 'Campos revisão release'"},{"parameters":{"mode":"combine","combineBy":"combineByPosition","options":{}},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[992,80],"id":"a8ca8082-8dd8-45ed-84dd-add36a29235b","name":"Adicionar responsáveis"},{"parameters":{"mode":"combine","combineBy":"combineByPosition","options":{}},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[720,-16],"id":"3f1f2905-03ba-4338-9bc5-82f0fa6d389e","name":"Adicionar  QA"},{"parameters":{"mode":"combine","combineBy":"combineByPosition","options":{}},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[432,-128],"id":"15b85919-693f-433c-9820-d72ec583a614","name":"Adicionar release"},{"parameters":{"workflowId":{"__rl":true,"value":"2zpzMvATLlOi15EI","mode":"list","cachedResultUrl":"/workflow/2zpzMvATLlOi15EI","cachedResultName":"Campos Revisão Descrição"},"workflowInputs":{"mappingMode":"defineBelow","value":{},"matchingColumns":[],"schema":[],"***REMOVIDO***":false,"***REMOVIDO***":true},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.3,"position":[112,288],"id":"e623a621-3106-44f4-ab16-56e7502f6d82","name":"Call 'Campos Revisão Descrição'"},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[-128,-192],"id":"77e9694f-2693-4474-94e8-227178cd5717","name":"Loop Over Items"},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[-112,192],"id":"72d35762-327e-4a1a-9231-b7537db95032","name":"Loop Over Items1"},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[-112,560],"id":"643c5399-58f7-4e9c-910e-df73d18016e8","name":"Loop Over Items2"},{"parameters":{"assignments":{"assignments":[{"id":"f2c95711-43bb-4c70-b6b8-96c2ed247006","name":"PRs","value":"={{ $json.fields.customfield_25600 }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-336,1088],"id":"a0d8d942-9d4a-494e-85f0-5892b6406e15","name":"PRs"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[112,112],"id":"ce7b41c7-d7e3-4dc3-9641-57befe947252","name":"Pre visualização descrição"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[112,-272],"id":"8c887673-762f-4d53-88ae-266d464d03e1","name":"Pre visualização release"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[112,496],"id":"154ae0f2-9be0-4289-b417-ce6b592b32fe","name":"Pre visualização QA"},{"parameters":{"mode":"combine","combineBy":"combineByPosition","options":{}},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[1264,176],"id":"794d764f-a2b2-4788-8b85-2b082544b059","name":"Adicionar PR"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[112,880],"id":"c4ef729c-5ebd-4ec8-88a1-ce358b023e43","name":"Pre visualização Responsaveis"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[112,1088],"id":"5edf13d5-0bea-4c09-b25b-0b7109bb334f","name":"Pre visualização PRs"},{"parameters":{"resource":"item","operation":"create","site":{"__rl":true,"mode":"list","value":""},"requestOptions":{}},"type":"n8n-nodes-base.microsoftSharePoint","typeVersion":1,"position":[1776,176],"id":"e7ca4b44-d6b1-4e6a-a418-5a89a552299a","name":"Create item in a list","disabled":true}],"origin":"n8n","pinData":{},"repo":{"owner":"n8nlinx","name":"BACKUP-N8N-LINX"},"settings":{"executionOrder":"v1"},"shared":[{"createdAt":"2025-10-16T11:23:12.376Z","updatedAt":"2025-10-16T11:23:12.376Z","role":"workflow:owner","workflowId":"LIF68f5zrzodK3CR","projectId":"l6KXFsOg8uXBDdl3"}],"staticData":null,"tags":[],"triggerCount":0,"updatedAt":"2025-10-21T20:00:30.663Z","versionId":"33ac455b-77ae-4966-bb23-29c27db84f60"}