LIF68f5zrzodK3CR.json
{"active":false,"connections":{"Revisão de Campos - QA":{"main":[[{"node":"Call 'Camos Revisao QA'","type":"main","index":0}]]},"Revisão de Campos - Descrição":{"main":[[{"node":"Call 'Campos Revisão Descrição'","type":"main","index":0}]]},"Jira Software":{"main":[[{"node":"Revisão de Campos - Descrição","type":"main","index":0},{"node":"Revisão de Campos - QA","type":"main","index":0},{"node":"Revisão de Campos - Release Note","type":"main","index":0},{"node":"Revisão de Campos - Reesposáveis","type":"main","index":0},{"node":"PRs","type":"main","index":0}]]},"Call 'Camos Revisao QA'":{"main":[[{"node":"Adicionar PR","type":"main","index":1}]]},"Revisão de Campos - Release Note":{"main":[[{"node":"Call 'Campos revisão release'","type":"main","index":0}]]},"Revisão de Campos - Reesposáveis":{"main":[[{"node":"Adicionar  QA","type":"main","index":1}]]},"Call 'Campos revisão release'":{"main":[[{"node":"Adicionar release","type":"main","index":0}]]},"Adicionar responsáveis":{"main":[[{"node":"Adicionar PR","type":"main","index":0}]]},"Adicionar  QA":{"main":[[{"node":"Adicionar responsáveis","type":"main","index":0}]]},"Adicionar release":{"main":[[{"node":"Adicionar  QA","type":"main","index":0}]]},"Call 'Campos Revisão Descrição'":{"main":[[{"node":"Adicionar responsáveis","type":"main","index":1}]]},"PRs":{"main":[[{"node":"Adicionar release","type":"main","index":1}]]},"Adicionar PR":{"main":[[{"node":"Create item in a list","type":"main","index":0}]]},"Webhook":{"main":[[{"node":"Jira Software","type":"main","index":0}]]}},"createdAt":"2025-10-16T11:23:12.376Z","id":"LIF68f5zrzodK3CR","isArchived":false,"meta":{"***REMOVIDO***":true},"name":"Checklist de liberações das Sprints","nodes":[{"parameters":{"assignments":{"assignments":[{"id":"66aefc3b-adff-4f8b-b37e-3ae924cd1ce4","name":"revisao","value":"={{ $json.fields.customfield_18500 }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-208,464],"id":"438a4ee7-164b-47d1-a9a4-f031aca435af","name":"Revisão de Campos - QA"},{"parameters":{"assignments":{"assignments":[{"id":"e2d6006f-6bbc-4e91-a47b-342fffe07c06","name":"descricao","value":"={{ $json.fields.description }}","type":"string"},{"id":"af3b4553-fc49-4978-950f-a3faca5a6f21","name":"issue","value":"={{ $json.key }}","type":"string"},{"id":"fe2ed187-307e-4ce7-b40a-a7eba07f15da","name":"tipo","value":"={{ $json.fields.issuelinks[0].outwardIssue.fields.issuetype.name }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-208,272],"id":"b402f85e-6760-4ff5-b560-40bb15e76d94","name":"Revisão de Campos - Descrição"},{"parameters":{"jiraVersion":"serverPat","operation":"getAll","options":{"jql":"project = AUTO AND fixVersion = DVI_03-11-25 AND STATUS != Done ORDER BY Rank "}},"type":"n8n-nodes-base.jira","typeVersion":1,"position":[-864,80],"id":"d5f3206a-f832-4253-8a91-25357d5f000a","name":"Jira Software","credentials":{"***REMOVIDO***":{"id":"50JMqyQ8qMp9dkz7","name":"Jira SW Cloud account 2"}}},{"parameters":{"workflowId":{"__rl":true,"value":"I46c8mTFfmxdYtwI","mode":"list","cachedResultUrl":"/workflow/I46c8mTFfmxdYtwI","cachedResultName":"Campos Revisão QA"},"workflowInputs":{"mappingMode":"defineBelow","value":{}},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.3,"position":[16,464],"id":"98e7f1be-52e9-4290-8233-7b20ed0dfc5d","name":"Call 'Camos Revisao QA'"},{"parameters":{"assignments":{"assignments":[{"id":"017ad8c1-049a-4679-8c2c-2bd77ce1e09e","name":"release","value":"={{ $json.fields.customfield_11533 }}","type":"string"},{"id":"9f728609-8677-4351-9fae-c4bb6085994c","name":"issue","value":"={{ $json.key }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-640,-128],"id":"4b016971-5d8c-4fac-973f-e608a9ce043e","name":"Revisão de Campos - Release Note"},{"parameters":{"assignments":{"assignments":[{"id":"6324aed0-5f3e-47d8-af3d-cc694824189a","name":"issue","value":"={{ $json.key }}","type":"string"},{"id":"6d99967f-ec20-48c5-9cda-2b29ea6d3ca3","name":"desenvolvedor","value":"=[~{{ $json.fields.customfield_11608.key }}]","type":"string"},{"id":"7175dd44-2545-4111-9ae9-644f80f13573","name":"QA","value":"=[~{{ $json.fields.customfield_14101.name }}]","type":"string"},{"id":"7ff42955-24a6-4f89-b4dd-eea40272a265","name":"Case ID","value":"={{ $json.fields.customfield_20507 }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-208,80],"id":"5f67c5a6-3d37-4a0a-8e5c-d3545b5b54c1","name":"Revisão de Campos - Reesposáveis"},{"parameters":{"workflowId":{"__rl":true,"value":"ebld3fR0JpjJibQT","mode":"list","cachedResultUrl":"/workflow/ebld3fR0JpjJibQT","cachedResultName":"Campos Revisão Release"},"workflowInputs":{"mappingMode":"defineBelow","value":{}},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.3,"position":[-432,-224],"id":"d49e4c16-88f5-43d6-9cc5-6533fa0f8178","name":"Call 'Campos revisão release'"},{"parameters":{"mode":"combine","combineBy":"combineByPosition","options":{}},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[240,96],"id":"a8ca8082-8dd8-45ed-84dd-add36a29235b","name":"Adicionar responsáveis"},{"parameters":{"mode":"combine","combineBy":"combineByPosition","options":{}},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[16,-32],"id":"3f1f2905-03ba-4338-9bc5-82f0fa6d389e","name":"Adicionar  QA"},{"parameters":{"mode":"combine","combineBy":"combineByPosition","options":{}},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[-208,-128],"id":"15b85919-693f-433c-9820-d72ec583a614","name":"Adicionar release"},{"parameters":{"workflowId":{"__rl":true,"value":"2zpzMvATLlOi15EI","mode":"list","cachedResultUrl":"/workflow/2zpzMvATLlOi15EI","cachedResultName":"Campos Revisão Descrição"},"workflowInputs":{"mappingMode":"defineBelow","value":{},"matchingColumns":[],"schema":[],"***REMOVIDO***":false,"***REMOVIDO***":true},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.3,"position":[16,272],"id":"e623a621-3106-44f4-ab16-56e7502f6d82","name":"Call 'Campos Revisão Descrição'"},{"parameters":{"assignments":{"assignments":[{"id":"f2c95711-43bb-4c70-b6b8-96c2ed247006","name":"PRs","value":"={{ $json.fields.customfield_25600 }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-432,-32],"id":"a0d8d942-9d4a-494e-85f0-5892b6406e15","name":"PRs"},{"parameters":{"mode":"combine","combineBy":"combineByPosition","options":{}},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[464,160],"id":"794d764f-a2b2-4788-8b85-2b082544b059","name":"Adicionar PR"},{"parameters":{"path":"ecf3b47b-ab3a-4905-84b1-cf41b1953362","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[-1088,96],"id":"79170f7e-4fc7-4dbd-9268-360e5420c022","name":"Webhook","webhookId":"ecf3b47b-ab3a-4905-84b1-cf41b1953362"},{"parameters":{"resource":"item","operation":"create","site":{"__rl":true,"mode":"list","value":""},"requestOptions":{}},"type":"n8n-nodes-base.microsoftSharePoint","typeVersion":1,"position":[672,160],"id":"37536605-26fd-4a07-9e82-a5285a584660","name":"Create item in a list","credentials":{"***REMOVIDO***":{"id":"WSA5ANSXU3RQLz9l","name":"Microsoft SharePoint account"}}}],"origin":"n8n","pinData":{},"repo":{"owner":"n8nlinx","name":"BACKUP-N8N-LINX"},"settings":{"executionOrder":"v1"},"shared":[{"createdAt":"2025-10-16T11:23:12.376Z","updatedAt":"2025-10-16T11:23:12.376Z","role":"workflow:owner","workflowId":"LIF68f5zrzodK3CR","projectId":"l6KXFsOg8uXBDdl3"}],"staticData":null,"tags":[],"triggerCount":1,"updatedAt":"2025-11-06T18:49:43.150Z","versionId":"4494f85b-4086-4544-9661-13a89d2abb14"}