LIF68f5zrzodK3CR.json
{"active":false,"connections":{"When clicking ‘Execute workflow’":{"main":[[{"node":"Jira Software","type":"main","index":0}]]},"Revisão de Campos - QA":{"main":[[{"node":"Call 'Camos Revisao QA'","type":"main","index":0}]]},"Revisão de Campos - Descrição":{"main":[[{"node":"Excluindo links","type":"main","index":0}]]},"Merge":{"main":[[{"node":"Tess Angent","type":"main","index":0}]]},"Jira Software":{"main":[[{"node":"Revisão de Campos - Descrição","type":"main","index":0},{"node":"Revisão de Campos - QA","type":"main","index":0}]]},"Call 'Campos Descrição'":{"main":[[{"node":"Merge","type":"main","index":0}]]},"Call 'Camos Revisao QA'":{"main":[[{"node":"Merge","type":"main","index":1}]]},"Excluindo links":{"main":[[{"node":"Call 'Campos Descrição'","type":"main","index":0}]]}},"createdAt":"2025-10-16T11:23:12.376Z","id":"LIF68f5zrzodK3CR","isArchived":false,"meta":{"***REMOVIDO***":true},"name":"Checklist de liberações das Sprints","nodes":[{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-928,-32],"id":"d5226a87-3cd4-4f79-b2fd-af05ec95d7da","name":"When clicking ‘Execute workflow’"},{"parameters":{"mode":"combine","combineBy":"combineAll","options":{}},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[192,-32],"id":"3f1f2905-03ba-4338-9bc5-82f0fa6d389e","name":"Merge"},{"parameters":{"assignments":{"assignments":[{"id":"66aefc3b-adff-4f8b-b37e-3ae924cd1ce4","name":"revisao","value":"={{ $json.fields.customfield_18500 }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-480,80],"id":"438a4ee7-164b-47d1-a9a4-f031aca435af","name":"Revisão de Campos - QA"},{"parameters":{"assignments":{"assignments":[{"id":"191264c2-0b22-4cca-b0fe-b6c4758f2abb","name":"responsavel","value":"=[~{{ $json.fields.assignee.key }}]","type":"string"},{"id":"e2d6006f-6bbc-4e91-a47b-342fffe07c06","name":"descricao","value":"={{ $json.fields.description }}","type":"string"},{"id":"af3b4553-fc49-4978-950f-a3faca5a6f21","name":"issue","value":"={{ $json.key }}","type":"string"},{"id":"fe2ed187-307e-4ce7-b40a-a7eba07f15da","name":"tipo","value":"={{ $json.fields.issuelinks[0].outwardIssue.fields.issuetype.name }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-480,-144],"id":"b402f85e-6760-4ff5-b560-40bb15e76d94","name":"Revisão de Campos - Descrição"},{"parameters":{"method":"POST","url":"https://tess.pareto.io/api/agents/33388/execute","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"Bearer 188724|***REMOVIDO***"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"messages\": [\n    {\n      \"role\": \"user\",\n      \"content\": \"{{ JSON.stringify($json.toJsonString()).replace(/^\"|\"$/g, '') }}\"\n    }\n  ],\n  \"wait_execution\": true\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[416,-32],"id":"d5c4ce61-56bb-43a2-bbad-c485523ea9ef","name":"Tess Angent","retryOnFail":true,"maxTries":3,"waitBetweenTries":5000,"disabled":true},{"parameters":{"jiraVersion":"serverPat","operation":"get","issueKey":"AUTO-81557","additionalFields":{}},"type":"n8n-nodes-base.jira","typeVersion":1,"position":[-704,-32],"id":"d5f3206a-f832-4253-8a91-25357d5f000a","name":"Jira Software","credentials":{"***REMOVIDO***":{"id":"50JMqyQ8qMp9dkz7","name":"Jira SW Cloud account 2"}}},{"parameters":{"workflowId":{"__rl":true,"value":"2zpzMvATLlOi15EI","mode":"list","cachedResultUrl":"/workflow/2zpzMvATLlOi15EI","cachedResultName":"Campos Descrição"},"workflowInputs":{"mappingMode":"defineBelow","value":{},"matchingColumns":[],"schema":[],"***REMOVIDO***":false,"***REMOVIDO***":true},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.3,"position":[-32,-144],"id":"e623a621-3106-44f4-ab16-56e7502f6d82","name":"Call 'Campos Descrição'"},{"parameters":{"workflowId":{"__rl":true,"value":"I46c8mTFfmxdYtwI","mode":"list","cachedResultUrl":"/workflow/I46c8mTFfmxdYtwI","cachedResultName":"Camos Revisao QA"},"workflowInputs":{"mappingMode":"defineBelow","value":{}},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.3,"position":[-32,80],"id":"98e7f1be-52e9-4290-8233-7b20ed0dfc5d","name":"Call 'Camos Revisao QA'"},{"parameters":{"jsCode":"\nlet texto = $input.all().map(item => item.json?.descricao || \"\").join(\",\").trim();\n\nreturn [\n  {\n    json: {\n      responsavel: $input.first().json.responsavel,\n      issue: $input.first().json.issue,\n      tipo: $input.first().json.tipo,\n      descricao: texto.replace('*(i) [como preencher?|https://distribuicao.blob.core.windows.net/dms/QS/template/como_preencher_campo_enviar_para_validacao_no_cliente.txt]*','')\n        .replace('*(i) [como preencher?|https://distribuicao.blob.core.windows.net/dms/QS/template/como_preencher_campo_documentacao.txt]*','')\n      .replace('(!) {color:#de350b}*SIGA O NOVO FLUXO POR SUB-TAREFA ->* {color} *(i) [como preencher?|https://distribuicao.blob.core.windows.net/dms/QS/template/como_preencher_script.txt]*','')\n      .replace('(flag) Regressão   (flag) Comunicado   (i) [como preencher?|https://distribuicao.blob.core.windows.net/dms/QS/template/como_preencher_campo_instrucao_adicional.txt]*','')\n      .replace('*(i) [como preencher?|https://distribuicao.blob.core.windows.net/dms/QS/template/como_preencher_produto.txt]*','')\n      .replace('({*}{*}Delphi{*}{*}) ou (LinxDMS):{*}   *(i) [como preencher?|https://distribuicao.blob.core.windows.net/dms/QS/template/como_preencher_projetos.txt]*','')\n    }\n  }\n];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-256,-144],"id":"615d6fba-f0eb-4493-87b0-45d9206f368c","name":"Excluindo links"}],"origin":"n8n","pinData":{},"repo":{"owner":"n8nlinx","name":"BACKUP-N8N-LINX"},"settings":{"executionOrder":"v1"},"shared":[{"createdAt":"2025-10-16T11:23:12.376Z","updatedAt":"2025-10-16T11:23:12.376Z","role":"workflow:owner","workflowId":"LIF68f5zrzodK3CR","projectId":"l6KXFsOg8uXBDdl3"}],"staticData":null,"tags":[],"triggerCount":0,"updatedAt":"2025-10-19T19:23:11.591Z","versionId":"10a00e4b-f102-4c05-bc7c-fd5ba6de8fc5"}