nMmyptNKsqG1mFmS.json
{"active":true,"connections":{"Webhook":{"main":[[{"node":"If","type":"main","index":0}]]},"Call 'get-token-group'":{"main":[[{"node":"Retornou token","type":"main","index":0}]]},"Retornou token":{"main":[[{"node":"Upsert row(s)","type":"main","index":0}],[{"node":"sucesso false","type":"main","index":0}]]},"sucesso false":{"main":[[]]},"If":{"main":[[{"node":"Call 'get-token-linx'","type":"main","index":0}],[{"node":"Call 'get-token-group'","type":"main","index":0}]]},"Call 'get-token-linx'":{"main":[[{"node":"auth/login","type":"main","index":0}]]},"auth/login":{"main":[[{"node":"Switch1","type":"main","index":0}]]},"Switch1":{"main":[[{"node":"Upsert row(s)","type":"main","index":0}],[{"node":"sucesso false1","type":"main","index":0}]]},"Upsert row(s)":{"main":[[{"node":"sucesso false2","type":"main","index":0}]]}},"createdAt":"2025-10-08T18:30:46.032Z","id":"nMmyptNKsqG1mFmS","isArchived":false,"meta":null,"name":"ativa-integracao","nodes":[{"parameters":{"httpMethod":"POST","path":"ativa-integracao-auto-avaliar","responseMode":"lastNode","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[-336,64],"id":"9fee9f1b-23ed-4c3f-909b-cbb82ea098d3","name":"Webhook","webhookId":"af3bbe5a-1ba8-4c6b-bcca-388efe85aedf"},{"parameters":{"workflowId":{"__rl":true,"value":"zh46bvGPHpvHmgvk","mode":"list","cachedResultUrl":"/workflow/zh46bvGPHpvHmgvk","cachedResultName":"Auto Avaliar — get-token-group"},"workflowInputs":{"mappingMode":"defineBelow","value":{"CNPJ":"={{ $json.body.Cnpj }}","Usuario":"={{ $json.body.User }}","Senha":"={{ $json.body.Passw }}"},"matchingColumns":[],"schema":[{"id":"CNPJ","displayName":"CNPJ","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"Usuario","displayName":"Usuario","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"Senha","displayName":"Senha","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false}],"***REMOVIDO***":false,"***REMOVIDO***":true},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.3,"position":[160,48],"id":"dcce677e-c3a6-49b1-aa29-c0b32ee9f644","name":"Call 'get-token-group'","alwaysOutputData":true},{"parameters":{"operation":"upsert","dataTableId":{"__rl":true,"value":"YMuf0PpbAH7osHUV","mode":"list","cachedResultName":"GROUP_DATA","cachedResultUrl":"/projects/gooj2a4i7sGuxy01/datatables/YMuf0PpbAH7osHUV"},"filters":{"conditions":[{"keyName":"CNPJ","keyValue":"={{ $('Webhook').item.json.body.Cnpj }}"}]},"columns":{"mappingMode":"defineBelow","value":{"STATUS_INTEGRACAO":"={{ $('Webhook').item.json.body.IntegracaoAtiva }}","URL_DMS":"={{ $('Webhook').item.json.body.UrlDms }}","CNPJ":"={{ $('Webhook').item.json.body.Cnpj }}","EMAIL_NOTIFICACAO":"={{ $('Webhook').item.json.body.***REMOVIDO*** }}","USUARIO_NOTIFICACAO":"={{ $('Webhook').item.json.body.IdUserCorreio }}"},"matchingColumns":[],"schema":[{"id":"CNPJ","displayName":"CNPJ","required":false,"defaultMatch":false,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"STATUS_INTEGRACAO","displayName":"STATUS_INTEGRACAO","required":false,"defaultMatch":false,"display":true,"type":"boolean","readOnly":false,"removed":false},{"id":"URL_DMS","displayName":"URL_DMS","required":false,"defaultMatch":false,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"EMAIL_NOTIFICACAO","displayName":"EMAIL_NOTIFICACAO","required":false,"defaultMatch":false,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"USUARIO_NOTIFICACAO","displayName":"USUARIO_NOTIFICACAO","required":false,"defaultMatch":false,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"TOKEN","displayName":"TOKEN","required":false,"defaultMatch":false,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"REFRESH_TOKEN","displayName":"REFRESH_TOKEN","required":false,"defaultMatch":false,"display":true,"type":"string","readOnly":false,"removed":true}],"***REMOVIDO***":false,"***REMOVIDO***":false}},"type":"n8n-nodes-base.dataTable","typeVersion":1,"position":[576,-48],"id":"c73408b0-e73b-48b6-a011-50dfedf49049","name":"Upsert row(s)"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"6ada9512-5098-4d13-90a0-1027cf2810f0","leftValue":"={{ $json.TOKEN }}","rightValue":"","operator":{"type":"string","operation":"notEmpty","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[368,48],"id":"a6c5a301-b7cb-41c9-8db9-fac4925f7f90","name":"Retornou token"},{"parameters":{"assignments":{"assignments":[{"id":"f8d02463-3d2e-4394-8067-d102c1cb7f85","name":"Status","value":false,"type":"boolean"},{"id":"2b574890-0ab3-445c-8e43-443b04d143ae","name":"Message","value":"Erro no workflow!","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[576,128],"id":"ce07b57a-9fa4-4d86-824f-53853b09414e","name":"sucesso false"},{"parameters":{"content":"enviar ***REMOVIDO*** no webhook, criar if após webhook"},"type":"n8n-nodes-base.stickyNote","position":[-144,-304],"typeVersion":1,"id":"760563f6-b0ae-48cb-8028-d22f3de61c01","name":"Sticky Note"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"a6d2ef4e-dd30-4386-9711-dd4eb835f6af","leftValue":"={{ $json.body.***REMOVIDO*** }}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-176,64],"id":"3daf09b1-8be4-4657-9d84-bf1f7017ed8d","name":"If"},{"parameters":{"workflowId":{"__rl":true,"value":"OtbKiP3DmuDERe9y","mode":"list","cachedResultUrl":"/workflow/OtbKiP3DmuDERe9y","cachedResultName":"Auto Avaliar — get-token-linx"},"workflowInputs":{"mappingMode":"defineBelow","value":{}},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.3,"position":[-16,-96],"id":"e3c37ae5-7cc3-4fb9-94a0-59416841b3a4","name":"Call 'get-token-linx'","alwaysOutputData":true},{"parameters":{"method":"POST","url":"https://sa-hg-sys.appspot.com/auth/login","sendHeaders":true,"headerParameters":{"parameters":[{"name":"=token","value":"={{ $('Call \\'get-token-linx\\'').item.json.TOKEN }}"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n    \"email\": \"{{ $('Webhook').item.json.body.User }}\",\n    \"password\": \"{{ $('Webhook').item.json.body.Passw }}\",\n    \"deviceName\": \"\",\n    \"networkTechnology\": \"\",\n    \"registrationId\": \"\",\n    \"packageName\": \"\",\n    \"appId\": 1\n}","options":{"response":{"response":{"fullResponse":true,"neverError":true}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[96,-304],"id":"dd88fe63-5455-422b-92fb-a45e2b9cde19","name":"auth/login","alwaysOutputData":false,"notesInFlow":false},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"6db5ae4a-8dcf-4b35-bcc1-b4ce6cf0a825","leftValue":"={{ $json.body.payload.auth.token }}","rightValue":"","operator":{"type":"string","operation":"notEmpty","singleValue":true}}],"combinator":"and"},"renameOutput":true,"outputKey":"200 - Token"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.body.messages[0].error_code }}","rightValue":601,"operator":{"type":"number","operation":"equals"},"id":"d769aca3-6859-4a9a-847d-01471acac856"}],"combinator":"and"},"renameOutput":true,"outputKey":"601 - Usuario/Senha incorreta"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.3,"position":[256,-304],"id":"850c8378-c08e-49ad-9e61-1def30c7f77b","name":"Switch1"},{"parameters":{"assignments":{"assignments":[{"id":"2b574890-0ab3-445c-8e43-443b04d143ae","name":"Message","value":"={{ $json.body.messages[0].error_message }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[560,-320],"id":"23bea01a-6a5c-4370-817c-7bc443b82b8e","name":"sucesso false1"},{"parameters":{"assignments":{"assignments":[{"id":"2b574890-0ab3-445c-8e43-443b04d143ae","name":"Message","value":"=Parâmetros atualizados com sucesso!","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[752,-48],"id":"9a54081d-5b32-4d11-8f35-74f81c3735e1","name":"sucesso false2"}],"origin":"n8n","pinData":{},"repo":{"owner":"n8nlinx","name":"BACKUP-N8N-LINX"},"settings":{"executionOrder":"v1"},"shared":[{"createdAt":"2025-10-08T18:30:46.032Z","updatedAt":"2025-10-08T18:30:46.032Z","role":"workflow:owner","workflowId":"nMmyptNKsqG1mFmS","projectId":"gooj2a4i7sGuxy01"}],"staticData":null,"tags":[],"triggerCount":1,"updatedAt":"2025-10-29T01:58:48.477Z","versionId":"51525862-4e2c-4dd0-b354-0973bad84034"}