nMmyptNKsqG1mFmS.json
{"active":false,"connections":{"Webhook":{"main":[[{"node":"Call 'get-token-group'","type":"main","index":0}]]},"Call 'get-token-group'":{"main":[[{"node":"Retornou token","type":"main","index":0}]]},"Retornou token":{"main":[[{"node":"Upsert row(s)","type":"main","index":0}],[{"node":"sucesso false","type":"main","index":0}]]},"sucesso false":{"main":[[]]}},"createdAt":"2025-10-08T18:30:46.032Z","id":"nMmyptNKsqG1mFmS","isArchived":false,"meta":null,"name":"ativa-integracao","nodes":[{"parameters":{"httpMethod":"POST","path":"ativa-integracao-auto-avaliar","responseMode":"lastNode","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[-48,48],"id":"9fee9f1b-23ed-4c3f-909b-cbb82ea098d3","name":"Webhook","webhookId":"af3bbe5a-1ba8-4c6b-bcca-388efe85aedf"},{"parameters":{"workflowId":{"__rl":true,"value":"zh46bvGPHpvHmgvk","mode":"list","cachedResultUrl":"/workflow/zh46bvGPHpvHmgvk","cachedResultName":"Auto Avaliar — get-token-group"},"workflowInputs":{"mappingMode":"defineBelow","value":{"CNPJ":"={{ $json.body.Cnpj }}","Usuario":"={{ $json.body.User }}","Senha":"={{ $json.body.Passw }}"},"matchingColumns":[],"schema":[{"id":"CNPJ","displayName":"CNPJ","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"Usuario","displayName":"Usuario","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"Senha","displayName":"Senha","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false}],"***REMOVIDO***":false,"***REMOVIDO***":true},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.3,"position":[160,48],"id":"dcce677e-c3a6-49b1-aa29-c0b32ee9f644","name":"Call 'get-token-group'","alwaysOutputData":true},{"parameters":{"operation":"upsert","dataTableId":{"__rl":true,"value":"YMuf0PpbAH7osHUV","mode":"list","cachedResultName":"GROUP_DATA","cachedResultUrl":"/projects/gooj2a4i7sGuxy01/datatables/YMuf0PpbAH7osHUV"},"columns":{"mappingMode":"defineBelow","value":{"STATUS_INTEGRACAO":"={{ $('Webhook').item.json.ativo }}","CNPJ":"={{ $('Webhook').item.json.cnpj }}","URL_DMS":"={{ $('Webhook').item.json.url_dms }}"},"matchingColumns":[],"schema":[{"id":"CNPJ","displayName":"CNPJ","required":false,"defaultMatch":false,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"TOKEN","displayName":"TOKEN","required":false,"defaultMatch":false,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"REFRESH_TOKEN","displayName":"REFRESH_TOKEN","required":false,"defaultMatch":false,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"STATUS_INTEGRACAO","displayName":"STATUS_INTEGRACAO","required":false,"defaultMatch":false,"display":true,"type":"boolean","readOnly":false,"removed":false},{"id":"URL_DMS","displayName":"URL_DMS","required":false,"defaultMatch":false,"display":true,"type":"string","readOnly":false,"removed":false}],"***REMOVIDO***":false,"***REMOVIDO***":false}},"type":"n8n-nodes-base.dataTable","typeVersion":1,"position":[576,-48],"id":"c73408b0-e73b-48b6-a011-50dfedf49049","name":"Upsert row(s)"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"6ada9512-5098-4d13-90a0-1027cf2810f0","leftValue":"={{ $json.TOKEN }}","rightValue":"","operator":{"type":"string","operation":"notEmpty","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[368,48],"id":"a6c5a301-b7cb-41c9-8db9-fac4925f7f90","name":"Retornou token"},{"parameters":{"assignments":{"assignments":[{"id":"f8d02463-3d2e-4394-8067-d102c1cb7f85","name":"Status","value":false,"type":"boolean"},{"id":"2b574890-0ab3-445c-8e43-443b04d143ae","name":"Message","value":"Erro no workflow!","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[656,128],"id":"ce07b57a-9fa4-4d86-824f-53853b09414e","name":"sucesso false"},{"parameters":{"content":"Em qual workflow realizar upsert dos dados abaixo?\n\nCNPJ\nUserNotificacao\nUserCorreio\nURLDms\nStatusInteg\n\nvalidarCredencial(payload)","height":224},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[784,-112],"id":"be27b00a-c1d1-4fa3-a99a-61fe12db4d1c","name":"Sticky Note"}],"origin":"n8n","pinData":{},"repo":{"owner":"n8nlinx","name":"BACKUP-N8N-LINX"},"settings":{"executionOrder":"v1"},"shared":[{"createdAt":"2025-10-08T18:30:46.032Z","updatedAt":"2025-10-08T18:30:46.032Z","role":"workflow:owner","workflowId":"nMmyptNKsqG1mFmS","projectId":"gooj2a4i7sGuxy01"}],"staticData":null,"tags":[],"triggerCount":0,"updatedAt":"2025-10-23T23:05:46.566Z","versionId":"6923dbb3-178b-4f57-8464-d71b0b255825"}