nMmyptNKsqG1mFmS.json
{"active":true,"connections":{"Webhook":{"main":[[{"node":"If (ConfigParams já existe na base)","type":"main","index":0}]]},"Call 'get-token-group'":{"main":[[{"node":"Retornou token","type":"main","index":0}]]},"Retornou token":{"main":[[{"node":"Upsert row(s) (CNPJ, Status Integ, URL, Email, ID User Correio)","type":"main","index":0}],[{"node":"Não retornou token","type":"main","index":0}]]},"Call 'get-token-linx'":{"main":[[{"node":"auth/login","type":"main","index":0}]]},"auth/login":{"main":[[{"node":"Switch1","type":"main","index":0}]]},"Switch1":{"main":[[{"node":"Erro","type":"main","index":0}],[{"node":"Upsert row(s) (CNPJ, Status Integ, URL, Email, ID User Correio)","type":"main","index":0}]]},"If (ConfigParams já existe na base)":{"main":[[{"node":"Call 'get-token-linx'","type":"main","index":0}],[{"node":"Call 'get-token-group'","type":"main","index":0}]]},"Upsert row(s) (CNPJ, Status Integ, URL, Email, ID User Correio)":{"main":[[{"node":"Params atualizados","type":"main","index":0}]]},"Não retornou token":{"main":[[]]},"Erro":{"main":[[]]}},"createdAt":"2025-10-08T18:30:46.032Z","id":"nMmyptNKsqG1mFmS","isArchived":false,"meta":null,"name":"ativa-integracao","nodes":[{"parameters":{"httpMethod":"POST","path":"ativa-integracao-auto-avaliar","responseMode":"lastNode","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[-432,64],"id":"9fee9f1b-23ed-4c3f-909b-cbb82ea098d3","name":"Webhook","webhookId":"af3bbe5a-1ba8-4c6b-bcca-388efe85aedf"},{"parameters":{"workflowId":{"__rl":true,"value":"zh46bvGPHpvHmgvk","mode":"list","cachedResultUrl":"/workflow/zh46bvGPHpvHmgvk","cachedResultName":"Auto Avaliar — get-token-group"},"workflowInputs":{"mappingMode":"defineBelow","value":{"CNPJ":"={{ $json.body.Cnpj }}","Usuario":"={{ $json.body.User }}","Senha":"={{ $json.body.Passw }}"},"matchingColumns":[],"schema":[{"id":"CNPJ","displayName":"CNPJ","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"Usuario","displayName":"Usuario","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"Senha","displayName":"Senha","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false}],"***REMOVIDO***":false,"***REMOVIDO***":true},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.3,"position":[-64,128],"id":"dcce677e-c3a6-49b1-aa29-c0b32ee9f644","name":"Call 'get-token-group'","alwaysOutputData":true},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"6ada9512-5098-4d13-90a0-1027cf2810f0","leftValue":"={{ $json.TOKEN }}","rightValue":"","operator":{"type":"string","operation":"notEmpty","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[128,128],"id":"a6c5a301-b7cb-41c9-8db9-fac4925f7f90","name":"Retornou token"},{"parameters":{"content":"### Verifica Credencial Auto Avaliar","height":176,"width":368,"color":6},"type":"n8n-nodes-base.stickyNote","position":[96,-64],"typeVersion":1,"id":"760563f6-b0ae-48cb-8028-d22f3de61c01","name":"Sticky Note"},{"parameters":{"workflowId":{"__rl":true,"value":"OtbKiP3DmuDERe9y","mode":"list","cachedResultUrl":"/workflow/OtbKiP3DmuDERe9y","cachedResultName":"Auto Avaliar — get-token-linx"},"workflowInputs":{"mappingMode":"defineBelow","value":{}},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.3,"position":[-64,-16],"id":"e3c37ae5-7cc3-4fb9-94a0-59416841b3a4","name":"Call 'get-token-linx'","alwaysOutputData":true},{"parameters":{"method":"POST","url":"https://sa-hg-sys.appspot.com/auth/login","sendHeaders":true,"headerParameters":{"parameters":[{"name":"=token","value":"={{ $('Call \\'get-token-linx\\'').item.json.TOKEN }}"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n    \"email\": \"{{ $('Webhook').item.json.body.User }}\",\n    \"password\": \"{{ $('Webhook').item.json.body.Passw }}\",\n    \"deviceName\": \"\",\n    \"networkTechnology\": \"\",\n    \"registrationId\": \"\",\n    \"packageName\": \"\",\n    \"appId\": 1\n}","options":{"response":{"response":{"fullResponse":true,"neverError":true}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[128,-16],"id":"dd88fe63-5455-422b-92fb-a45e2b9cde19","name":"auth/login","alwaysOutputData":false,"notesInFlow":false},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.body.messages[0].error_code }}","rightValue":{},"operator":{"type":"number","operation":"exists","singleValue":true},"id":"d769aca3-6859-4a9a-847d-01471acac856"}],"combinator":"and"},"renameOutput":true,"outputKey":"Error code exists"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"6db5ae4a-8dcf-4b35-bcc1-b4ce6cf0a825","leftValue":"={{ $json.body.payload.auth.token }}","rightValue":"","operator":{"type":"string","operation":"notEmpty","singleValue":true}}],"combinator":"and"},"renameOutput":true,"outputKey":"200 - Token"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.3,"position":[320,-16],"id":"850c8378-c08e-49ad-9e61-1def30c7f77b","name":"Switch1"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"a6d2ef4e-dd30-4386-9711-dd4eb835f6af","leftValue":"={{ $json.body.***REMOVIDO*** }}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-272,64],"id":"3daf09b1-8be4-4657-9d84-bf1f7017ed8d","name":"If (ConfigParams já existe na base)"},{"parameters":{"operation":"upsert","dataTableId":{"__rl":true,"value":"YMuf0PpbAH7osHUV","mode":"list","cachedResultName":"GROUP_DATA","cachedResultUrl":"/projects/gooj2a4i7sGuxy01/datatables/YMuf0PpbAH7osHUV"},"filters":{"conditions":[{"keyName":"CNPJ","keyValue":"={{ $('Webhook').item.json.body.Cnpj }}"}]},"columns":{"mappingMode":"defineBelow","value":{"STATUS_INTEGRACAO":"={{ $('Webhook').item.json.body.IntegracaoAtiva }}","URL_DMS":"={{ $('Webhook').item.json.body.UrlDms }}","CNPJ":"={{ $('Webhook').item.json.body.Cnpj }}","EMAIL_NOTIFICACAO":"={{ $('Webhook').item.json.body.***REMOVIDO*** }}","USUARIO_NOTIFICACAO":"={{ $('Webhook').item.json.body.IdUserCorreio }}"},"matchingColumns":[],"schema":[{"id":"CNPJ","displayName":"CNPJ","required":false,"defaultMatch":false,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"STATUS_INTEGRACAO","displayName":"STATUS_INTEGRACAO","required":false,"defaultMatch":false,"display":true,"type":"boolean","readOnly":false,"removed":false},{"id":"URL_DMS","displayName":"URL_DMS","required":false,"defaultMatch":false,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"EMAIL_NOTIFICACAO","displayName":"EMAIL_NOTIFICACAO","required":false,"defaultMatch":false,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"USUARIO_NOTIFICACAO","displayName":"USUARIO_NOTIFICACAO","required":false,"defaultMatch":false,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"TOKEN","displayName":"TOKEN","required":false,"defaultMatch":false,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"REFRESH_TOKEN","displayName":"REFRESH_TOKEN","required":false,"defaultMatch":false,"display":true,"type":"string","readOnly":false,"removed":true}],"***REMOVIDO***":false,"***REMOVIDO***":false}},"type":"n8n-nodes-base.dataTable","typeVersion":1,"position":[480,112],"id":"c73408b0-e73b-48b6-a011-50dfedf49049","name":"Upsert row(s) (CNPJ, Status Integ, URL, Email, ID User Correio)"},{"parameters":{"assignments":{"assignments":[{"id":"f8d02463-3d2e-4394-8067-d102c1cb7f85","name":"StatusCode","value":0,"type":"number"},{"id":"2b574890-0ab3-445c-8e43-443b04d143ae","name":"Message","value":"={{ $('Call \\'get-token-group\\'').item.json.mensagem }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[656,256],"id":"ce07b57a-9fa4-4d86-824f-53853b09414e","name":"Não retornou token"},{"parameters":{"workflowId":{"__rl":true,"value":"XJHxhjNkf8fV6qS9","mode":"list","cachedResultUrl":"/workflow/XJHxhjNkf8fV6qS9","cachedResultName":"Auto Avaliar — log-erros"},"workflowInputs":{"mappingMode":"defineBelow","value":{"erro":0},"matchingColumns":[],"schema":[{"id":"cnpj","displayName":"cnpj","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"erro","displayName":"erro","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"number","removed":false},{"id":"mensagem","displayName":"mensagem","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"enviaCorreio","displayName":"enviaCorreio","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"boolean","removed":false}],"***REMOVIDO***":false,"***REMOVIDO***":true},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.3,"position":[896,-96],"id":"b2ab0d8d-6725-458b-9c95-d1558442ccd6","name":"Call 'log-erros'"},{"parameters":{"content":"### Validar caminho com Andrei quando usuário está incorreto e sem cadastrado prévio","height":176,"width":176,"color":6},"type":"n8n-nodes-base.stickyNote","position":[-96,288],"typeVersion":1,"id":"0d70cb3f-092e-4410-b90c-f0e48829ad31","name":"Sticky Note2"},{"parameters":{"assignments":{"assignments":[{"id":"2b574890-0ab3-445c-8e43-443b04d143ae","name":"Message","value":"=Parâmetros atualizados com sucesso!","type":"string"},{"id":"143b5dea-dd2f-464c-81de-eb34aa68cfb6","name":"StatusCode","value":200,"type":"number"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[656,112],"id":"9a54081d-5b32-4d11-8f35-74f81c3735e1","name":"Params atualizados"},{"parameters":{"assignments":{"assignments":[{"id":"2b574890-0ab3-445c-8e43-443b04d143ae","name":"Message","value":"={{ $json.body.messages[0].error_message }}","type":"string"},{"id":"35f570e7-a930-4e89-8abc-97bd340cc508","name":"StatusCode","value":0,"type":"number"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[656,-32],"id":"23bea01a-6a5c-4370-817c-7bc443b82b8e","name":"Erro"},{"parameters":{"workflowId":{"__rl":true,"value":"XJHxhjNkf8fV6qS9","mode":"list","cachedResultUrl":"/workflow/XJHxhjNkf8fV6qS9","cachedResultName":"Auto Avaliar — log-erros"},"workflowInputs":{"mappingMode":"defineBelow","value":{"erro":0},"matchingColumns":[],"schema":[{"id":"cnpj","displayName":"cnpj","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"erro","displayName":"erro","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"number","removed":false},{"id":"mensagem","displayName":"mensagem","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"enviaCorreio","displayName":"enviaCorreio","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"boolean","removed":false}],"***REMOVIDO***":false,"***REMOVIDO***":true},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.3,"position":[896,80],"id":"594d7103-705a-4826-a651-d5d2ceaaeb4c","name":"Call 'log-erros'1"},{"parameters":{"workflowId":{"__rl":true,"value":"XJHxhjNkf8fV6qS9","mode":"list","cachedResultUrl":"/workflow/XJHxhjNkf8fV6qS9","cachedResultName":"Auto Avaliar — log-erros"},"workflowInputs":{"mappingMode":"defineBelow","value":{"erro":0},"matchingColumns":[],"schema":[{"id":"cnpj","displayName":"cnpj","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"erro","displayName":"erro","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"number","removed":false},{"id":"mensagem","displayName":"mensagem","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"enviaCorreio","displayName":"enviaCorreio","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"boolean","removed":false}],"***REMOVIDO***":false,"***REMOVIDO***":true},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.3,"position":[896,272],"id":"f7d0e4a0-4f1f-4fb2-9bc8-44d3c98c841d","name":"Call 'log-erros'2"}],"origin":"n8n","pinData":{},"repo":{"owner":"n8nlinx","name":"BACKUP-N8N-LINX"},"settings":{"executionOrder":"v1"},"shared":[{"createdAt":"2025-10-08T18:30:46.032Z","updatedAt":"2025-10-08T18:30:46.032Z","role":"workflow:owner","workflowId":"nMmyptNKsqG1mFmS","projectId":"gooj2a4i7sGuxy01"}],"staticData":null,"tags":[],"triggerCount":1,"updatedAt":"2025-10-31T21:56:09.430Z","versionId":"ff70daf1-ecf5-4d0c-a062-9046de24d7cc"}