OtbKiP3DmuDERe9y.json
{"active":false,"connections":{"Webhook":{"main":[[{"node":"partner/login - Linx Token","type":"main","index":0}]]},"auth/login - Group Token":{"main":[[{"node":"Access Token API Auto Avaliar Field","type":"main","index":0}]]},"partner/login - Linx Token":{"main":[[{"node":"auth/login - Group Token","type":"main","index":0}]]}},"createdAt":"2025-09-26T20:09:54.581Z","id":"OtbKiP3DmuDERe9y","isArchived":false,"meta":null,"name":"get-token-linx","nodes":[{"parameters":{"content":"Adicionar nó para salvar token em alguma tabela do banco de dados"},"type":"n8n-nodes-base.stickyNote","position":[368,-320],"typeVersion":1,"id":"b514ad7d-878f-47f9-97aa-d3c6cdf7a04b","name":"Sticky Note"},{"parameters":{"path":"get-token-linx","responseMode":"lastNode","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[-80,-112],"id":"c287d513-d0ee-4128-adde-001accce4a32","name":"Webhook","webhookId":"be126fbb-c3e4-4667-b1a9-23d2fd5e458c"},{"parameters":{"method":"POST","url":"https://sa-hg-sys.appspot.com/auth/login","authentication":"***REMOVIDO***","genericAuthType":"httpCustomAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"=token","value":"={{ $json.payload.token }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[320,-112],"id":"23a0ead1-ed30-4b0a-b452-70f09f17222f","name":"auth/login - Group Token","credentials":{"httpCustomAuth":{"id":"eUIZ5W1ymiLgXLSQ","name":"Custom Auth Group Credential"}}},{"parameters":{"method":"POST","url":"https://sa-hg-sys.appspot.com/partner/login","authentication":"***REMOVIDO***","genericAuthType":"httpCustomAuth","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[112,-112],"id":"153aaab9-8df0-4c5e-bd90-576ef6cd8ea6","name":"partner/login - Linx Token","credentials":{"httpCustomAuth":{"id":"glMXB7qvCFIoU85Z","name":"Custom Auth Linx Credentials"}}},{"parameters":{"assignments":{"assignments":[{"id":"bd84437a-76d5-4656-a117-fbfc22c2e75a","name":"payload.auth.token","value":"={{ $json.payload.auth.token }}","type":"string"},{"id":"c280d3fa-223a-43f9-9be7-b03695e9790f","name":"payload.auth.refreshToken","value":"={{ $json.payload.auth.refreshToken }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[528,-112],"id":"aba49423-25eb-4e9f-8761-0a75d20f876e","name":"Access Token API Auto Avaliar Field"}],"origin":"n8n","pinData":{},"repo":{"owner":"n8nlinx","name":"BACKUP-N8N-LINX"},"settings":{"executionOrder":"v1"},"shared":[{"createdAt":"2025-09-26T20:09:54.581Z","updatedAt":"2025-09-26T20:09:54.581Z","role":"workflow:owner","workflowId":"OtbKiP3DmuDERe9y","projectId":"gooj2a4i7sGuxy01"}],"staticData":null,"tags":[],"triggerCount":1,"updatedAt":"2025-10-01T14:44:09.186Z","versionId":"c4f221a1-815c-45ce-8a05-371ba86de72d"}