OtbKiP3DmuDERe9y.json
{"active":false,"connections":{"partner/login - Linx Token":{"main":[[{"node":"If [Se sucesso]","type":"main","index":0}]]},"Upsert row(s)":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"When Executed by Another Workflow":{"main":[[{"node":"If [Forçar update do token]","type":"main","index":0}]]},"If [Se sucesso]":{"main":[[{"node":"Upsert row(s)","type":"main","index":0}],[{"node":"Retorna erro","type":"main","index":0}]]},"Get row(s) [Token válido]":{"main":[[{"node":"If","type":"main","index":0}]]},"If":{"main":[[{"node":"Edit Fields","type":"main","index":0}],[{"node":"partner/login - Linx Token","type":"main","index":0}]]},"If [Forçar update do token]":{"main":[[{"node":"partner/login - Linx Token","type":"main","index":0}],[{"node":"Get row(s) [Token válido]","type":"main","index":0}]]}},"createdAt":"2025-09-26T20:09:54.581Z","id":"OtbKiP3DmuDERe9y","isArchived":false,"meta":null,"name":"get-token-linx","nodes":[{"parameters":{"content":"Log - retorno mensageria?"},"type":"n8n-nodes-base.stickyNote","position":[368,384],"typeVersion":1,"id":"b514ad7d-878f-47f9-97aa-d3c6cdf7a04b","name":"Sticky Note"},{"parameters":{"method":"POST","url":"https://sa-hg-sys.appspot.com/partner/login","authentication":"***REMOVIDO***","genericAuthType":"httpCustomAuth","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-144,256],"id":"153aaab9-8df0-4c5e-bd90-576ef6cd8ea6","name":"partner/login - Linx Token","credentials":{"httpCustomAuth":{"id":"glMXB7qvCFIoU85Z","name":"Custom Auth Linx Credentials"}}},{"parameters":{"operation":"upsert","dataTableId":{"__rl":true,"value":"bkwZCWZiwThzhQqZ","mode":"list","cachedResultName":"LINX_DATA","cachedResultUrl":"/projects/gooj2a4i7sGuxy01/datatables/bkwZCWZiwThzhQqZ"},"filters":{"conditions":[{"keyName":"TOKEN","condition":"isEmpty"},{"keyName":"TOKEN","condition":"isNotEmpty"}]},"columns":{"mappingMode":"defineBelow","value":{"TOKEN":"={{ $json.payload.token }}","EXPIRY_DATE":"={{ $json.payload.shelf_life }}"},"matchingColumns":["accessToken"],"schema":[{"id":"TOKEN","displayName":"TOKEN","required":false,"defaultMatch":false,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"EXPIRY_DATE","displayName":"EXPIRY_DATE","required":false,"defaultMatch":false,"display":true,"type":"dateTime","readOnly":false,"removed":false}],"***REMOVIDO***":false,"***REMOVIDO***":false}},"type":"n8n-nodes-base.dataTable","typeVersion":1,"position":[224,240],"id":"12ee9fe2-72ac-4dce-811e-ed7add9ad3b7","name":"Upsert row(s)"},{"parameters":{"inputSource":"passthrough"},"type":"n8n-nodes-base.***REMOVIDO***","typeVersion":1.1,"position":[-896,176],"id":"79a93055-ccee-4418-b500-212ab611b29d","name":"When Executed by Another Workflow"},{"parameters":{"assignments":{"assignments":[{"id":"6667fac1-1a2c-4302-bb6d-38b656fb24fe","name":"TOKEN","value":"={{ $json.TOKEN }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[384,160],"id":"5e216cf3-abaa-4571-b6bf-5884c532f2d3","name":"Edit Fields"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"ce700cb9-e9dd-4554-9c05-239e6d646b85","leftValue":"={{ $json }}","rightValue":"","operator":{"type":"object","operation":"notEmpty","singleValue":true}}],"combinator":"or"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-368,176],"id":"46ed9d32-8e92-4900-a264-ed2cd7e3ca54","name":"If"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"10e35e1c-f28c-4a5f-92a0-af4a507796e7","leftValue":"={{ $json.status }}","rightValue":"true","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[16,256],"id":"5ccae4a6-75cc-440c-b03f-7d14f816f7aa","name":"If [Se sucesso]"},{"parameters":{"assignments":{"assignments":[{"id":"839b183f-0176-4190-8f34-ce8d817a6179","name":"json","value":"={{ $json }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[224,400],"id":"94f6498b-7eea-40da-9a99-855088a7bc87","name":"Retorna erro"},{"parameters":{"operation":"get","dataTableId":{"__rl":true,"value":"bkwZCWZiwThzhQqZ","mode":"list","cachedResultName":"LINX_DATA","cachedResultUrl":"/projects/gooj2a4i7sGuxy01/datatables/bkwZCWZiwThzhQqZ"},"filters":{"conditions":[{"keyName":"EXPIRY_DATE","condition":"gt","keyValue":"={{ $now }}"}]}},"type":"n8n-nodes-base.dataTable","typeVersion":1,"position":[-528,176],"id":"4325f0d4-c568-4966-8926-01dbfb550d5e","name":"Get row(s) [Token válido]","alwaysOutputData":true},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"ce700cb9-e9dd-4554-9c05-239e6d646b85","leftValue":"={{ $json.forceUpdate }}","rightValue":"","operator":{"type":"boolean","operation":"exists","singleValue":true}},{"id":"0d45f524-307b-4473-be10-2b63116e167c","leftValue":"={{ $json.forceUpdate }}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-736,272],"id":"b008ccff-9a44-4917-9b90-783915009c48","name":"If [Forçar update do token]"},{"parameters":{"content":"Validar retorno senha errada"},"type":"n8n-nodes-base.stickyNote","position":[-96,16],"typeVersion":1,"id":"3bd10938-97c3-48ff-9dad-cf5168618997","name":"Sticky Note1"}],"origin":"n8n","pinData":{},"repo":{"owner":"n8nlinx","name":"BACKUP-N8N-LINX"},"settings":{"executionOrder":"v1"},"shared":[{"createdAt":"2025-09-26T20:09:54.581Z","updatedAt":"2025-09-26T20:09:54.581Z","role":"workflow:owner","workflowId":"OtbKiP3DmuDERe9y","projectId":"gooj2a4i7sGuxy01"}],"staticData":null,"tags":[],"triggerCount":1,"updatedAt":"2025-10-16T12:24:22.557Z","versionId":"d1df7aa3-7fd2-4375-859b-b2fe03dd1b96"}