ptQJdICuOHVy9xko.json
{"active":false,"connections":{"When clicking ‘Execute workflow’":{"main":[[{"node":"GET TOKEN LINX (partner/login)","type":"main","index":0}]]},"GET TOKEN LINX (partner/login)":{"main":[[{"node":"GET TOKEN GROUP (auth/login)","type":"main","index":0}]]},"GET TOKEN GROUP (auth/login)":{"main":[[{"node":"POST AVALIAÇÃO (valuation/request)","type":"main","index":0}]]}},"createdAt":"2025-10-13T19:30:08.030Z","id":"ptQJdICuOHVy9xko","isArchived":false,"meta":null,"name":"solicita-avaliacao-testes","nodes":[{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[0,0],"id":"fe97518a-1040-4c59-93fd-881fd3e10c60","name":"When clicking ‘Execute workflow’"},{"parameters":{"method":"POST","url":"https://sa-hg-sys.appspot.com/partner/login","authentication":"***REMOVIDO***","genericAuthType":"httpCustomAuth","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[192,0],"id":"d90290b8-d649-4f0f-bbeb-cd02605d0709","name":"GET TOKEN LINX (partner/login)","credentials":{"httpCustomAuth":{"id":"glMXB7qvCFIoU85Z","name":"Custom Auth Linx Credentials"}}},{"parameters":{"method":"POST","url":"https://sa-hg-sys.appspot.com/auth/login","authentication":"***REMOVIDO***","genericAuthType":"httpCustomAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"=token","value":"={{ $json.payload.token }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[384,0],"id":"60594085-54d0-4ddf-a011-637f69bbf0fb","name":"GET TOKEN GROUP (auth/login)","credentials":{"httpCustomAuth":{"id":"eUIZ5W1ymiLgXLSQ","name":"Custom Auth Group Credential"}}},{"parameters":{"method":"POST","url":"https://sa-hg-sys.appspot.com/valuation/request","sendHeaders":true,"headerParameters":{"parameters":[{"name":"token","value":"={{ $json.payload.auth.token }}"}]},"sendBody":true,"specifyBody":"json","jsonBody":"{\n\t\"vehicle_interest\":{\n\t\t\"version_id\":\"6208\"\n\t},\n\t\"vehicle\": {\n\t\t\"expected_value\": \"30000\",\n\t\t\"renavam\": \"123456987\",\n\t\t\"plate\": \"NEW2D55\"\n\t},\n\t\"client\": {\n\t\t\"cell_phone\": \"6135781442\",\n\t\t\"phone_number\": \"61981524646\",\n\t\t\"cpf_cnpj\": \"02357478071\",\n\t\t\"email\": \"devel_18@hotmail.com\",\n\t\t\"name\": \"Helquisson\"\n\t},\n\t\"valuation\": {\n\t\t\"valuation_type_id\": \"12\",\n\t\t\"obs\": \"Minha Observação\"\n\t}\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[576,0],"id":"08d93ce5-6855-4742-969d-94544dc34a34","name":"POST AVALIAÇÃO (valuation/request)","onError":"***REMOVIDO***"},{"parameters":{"content":"## Obtém os tokens","height":256,"width":384},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[144,-64],"id":"8b5d89de-75b0-45d1-9b95-06af012b4656","name":"Sticky Note"},{"parameters":{"content":"O que fazer com o id da solicitação de avaliação recebido?","height":256,"width":272},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[544,-64],"id":"0a30b57c-8333-477b-a688-ad2139d9abe4","name":"Sticky Note1"}],"origin":"n8n","pinData":{},"repo":{"owner":"n8nlinx","name":"BACKUP-N8N-LINX"},"settings":{"executionOrder":"v1"},"shared":[{"createdAt":"2025-10-13T19:30:08.030Z","updatedAt":"2025-10-13T19:30:08.030Z","role":"workflow:owner","workflowId":"ptQJdICuOHVy9xko","projectId":"gooj2a4i7sGuxy01"}],"staticData":null,"tags":[],"triggerCount":0,"updatedAt":"2025-11-04T15:54:43.251Z","versionId":"7fe12a77-8324-467d-ae00-2deeeb12da71"}