ptQJdICuOHVy9xko.json
{"active":true,"connections":{"When clicking ‘Execute workflow’":{"main":[[{"node":"GET TOKEN LINX (partner/login)","type":"main","index":0}]]},"GET TOKEN LINX (partner/login)":{"main":[[{"node":"GET TOKEN GROUP (auth/login)","type":"main","index":0}]]},"GET TOKEN GROUP (auth/login)":{"main":[[{"node":"POST AVALIAÇÃO (valuation/request)","type":"main","index":0}]]},"Webhook":{"main":[[{"node":"GET TOKEN LINX (partner/login)","type":"main","index":0}]]}},"createdAt":"2025-10-13T19:30:08.030Z","id":"ptQJdICuOHVy9xko","isArchived":false,"meta":null,"name":"solicita-avaliacao-testes","nodes":[{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[0,0],"id":"fe97518a-1040-4c59-93fd-881fd3e10c60","name":"When clicking ‘Execute workflow’"},{"parameters":{"method":"POST","url":"https://sa-hg-sys.appspot.com/partner/login","authentication":"***REMOVIDO***","genericAuthType":"httpCustomAuth","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[192,0],"id":"d90290b8-d649-4f0f-bbeb-cd02605d0709","name":"GET TOKEN LINX (partner/login)","credentials":{"httpCustomAuth":{"id":"glMXB7qvCFIoU85Z","name":"Custom Auth Linx Credentials"}}},{"parameters":{"method":"POST","url":"https://sa-hg-sys.appspot.com/auth/login","authentication":"***REMOVIDO***","genericAuthType":"httpCustomAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"=token","value":"={{ $json.payload.token }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[384,0],"id":"60594085-54d0-4ddf-a011-637f69bbf0fb","name":"GET TOKEN GROUP (auth/login)","credentials":{"httpCustomAuth":{"id":"eUIZ5W1ymiLgXLSQ","name":"Custom Auth Group Credential"}}},{"parameters":{"method":"POST","url":"https://sa-hg-sys.appspot.com/valuation/request","sendHeaders":true,"headerParameters":{"parameters":[{"name":"token","value":"={{ $json.payload.auth.token }}"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"client.cell_phone","value":"={{ $('Webhook').item.json.body.params.ClientCellPhone }}"},{"name":"client.phone_number","value":"={{ $('Webhook').item.json.body.params.ClientPhoneNumber }}"},{"name":"client.cpf_cnpj","value":"={{ $('Webhook').item.json.body.params.ClientCpfCnpj }}"},{"name":"client.email","value":"={{ $('Webhook').item.json.body.params.ClientEmail }}"},{"name":"client.name","value":"={{ $('Webhook').item.json.body.params.ClientName }}"},{"name":"vehicle_interest.version_id","value":"={{ $('Webhook').item.json.body.params.***REMOVIDO*** }}"},{"name":"vehicle.expected_value","value":"={{ $('Webhook').item.json.body.params.***REMOVIDO*** }}"},{"name":"vehicle.renavam","value":"={{ $('Webhook').item.json.body.params.VehicleRenavam }}"},{"name":"vehicle.plate","value":"={{ $('Webhook').item.json.body.params.VehiclePlate }}"},{"name":"valuation.valuation_type_id","value":"={{ $('Webhook').item.json.body.params.ValuationTypeId }}"},{"name":"valuation.obs","value":"={{ $('Webhook').item.json.body.params.ValuationObs }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[576,0],"id":"08d93ce5-6855-4742-969d-94544dc34a34","name":"POST AVALIAÇÃO (valuation/request)","onError":"***REMOVIDO***"},{"parameters":{"content":"## Obtém os tokens","height":256,"width":384},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[144,-64],"id":"8b5d89de-75b0-45d1-9b95-06af012b4656","name":"Sticky Note"},{"parameters":{"content":"O que fazer com o id da solicitação de avaliação recebido?","height":256,"width":272},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[544,-64],"id":"0a30b57c-8333-477b-a688-ad2139d9abe4","name":"Sticky Note1"},{"parameters":{"httpMethod":"POST","path":"solicita-avaliacao-testes","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[0,-144],"id":"9b1a93fd-2d45-4795-90f6-53b871c0b7c9","name":"Webhook","webhookId":"9029ee3c-90e8-4ec7-94a1-c57b5d0fb5f4"}],"origin":"n8n","pinData":{"Webhook":[{"json":{"headers":{"host":"linxn8n.ccmtecnologia.com.br","x-request-id":"***REMOVIDO***","x-real-ip":"10.244.2.0","x-forwarded-for":"10.244.2.0","x-forwarded-host":"linxn8n.ccmtecnologia.com.br","x-forwarded-port":"443","x-forwarded-proto":"https","x-forwarded-scheme":"https","x-scheme":"https","x-original-forwarded-for":"186.207.45.125","content-length":"693","sec-fetch-site":"cross-site","user-agent":"Mozilla/5.0 (Windows NT 10.0; Win64; x64; rv:145.0) Gecko/20100101 Firefox/145.0","accept":"application/json, text/plain, */*","accept-language":"pt-BR,pt;q=0.8,en-US;q=0.5,en;q=0.3","accept-encoding":"gzip, br","authorization":"bearer ***REMOVIDO***.***REMOVIDO***.dIlRdFq_***REMOVIDO***-h370JCxE","content-type":"application/json","origin":"http://localhost:4200","referer":"http://localhost:4200/","sec-fetch-dest":"empty","sec-fetch-mode":"cors","cf-ray":"9a44b82fab47da71-GRU","cdn-loop":"cloudflare; loops=1","cf-connecting-ip":"186.207.45.125","cf-ipcountry":"BR","cf-visitor":"{\"scheme\":\"https\"}"},"params":{},"query":{},"body":{"params":{"***REMOVIDO***":101,"***REMOVIDO***":null,"***REMOVIDO***":"","VehicleBodyTypeId":"","VehicleOriginId":"","VehicleKindId":null,"VehicleFuelId":"B","VehicleColorId":"PRATA","VehicleVersionId":"1.4 I EXCLUSIVE 8V F","VehicleModelId":"","VehicleMakeId":"","VehicleRenavam":"274465507","VehicleYear":0,"VehicleAssembly":0,"VehicleVin":"935FCKFVYBB545923","VehiclePlate":"EUE2325","ClientCellPhone":"nullnull","ClientPhoneNumber":"1531900486","ClientCpfCnpj":"","ClientEmail":"provisorio@linx.com.br","ClientName":"CLIENTE PF 15773","ValuationTypeId":2,"ValuationObs":null,"***REMOVIDO***":0,"ValuationValue":0,"ValuationValuerId":0,"ValuationSeller":0}},"webhookUrl":"https://linxn8n.ccmtecnologia.com.br/webhook/solicita-avaliacao-testes","executionMode":"production"}}]},"repo":{"owner":"n8nlinx","name":"BACKUP-N8N-LINX"},"settings":{"executionOrder":"v1"},"shared":[{"createdAt":"2025-10-13T19:30:08.030Z","updatedAt":"2025-10-13T19:30:08.030Z","role":"workflow:owner","workflowId":"ptQJdICuOHVy9xko","projectId":"gooj2a4i7sGuxy01"}],"staticData":null,"tags":[],"triggerCount":1,"updatedAt":"2025-11-25T23:08:24.012Z","versionId":"0f108030-a8d8-4cfc-ac74-ee9a71fe2e8f"}