ptQJdICuOHVy9xko.json
{"active":true,"connections":{"When clicking ‘Execute workflow’":{"main":[[{"node":"GET TOKEN LINX (partner/login)","type":"main","index":0}]]},"GET TOKEN LINX (partner/login)":{"main":[[{"node":"GET TOKEN GROUP (auth/login)","type":"main","index":0}]]},"GET TOKEN GROUP (auth/login)":{"main":[[{"node":"POST AVALIAÇÃO (valuation/request)","type":"main","index":0}]]},"Webhook":{"main":[[{"node":"GET TOKEN LINX (partner/login)","type":"main","index":0}]]},"POST AVALIAÇÃO (valuation/request)":{"main":[[{"node":"If","type":"main","index":0}]]},"If":{"main":[[{"node":"Call 'log-erros'","type":"main","index":0}]]}},"createdAt":"2025-10-13T19:30:08.030Z","id":"ptQJdICuOHVy9xko","isArchived":false,"meta":null,"name":"solicita-avaliacao-testes","nodes":[{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[0,0],"id":"fe97518a-1040-4c59-93fd-881fd3e10c60","name":"When clicking ‘Execute workflow’"},{"parameters":{"method":"POST","url":"https://sa-hg-sys.appspot.com/partner/login","authentication":"***REMOVIDO***","genericAuthType":"httpCustomAuth","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[192,0],"id":"d90290b8-d649-4f0f-bbeb-cd02605d0709","name":"GET TOKEN LINX (partner/login)","credentials":{"httpCustomAuth":{"id":"glMXB7qvCFIoU85Z","name":"Custom Auth Linx Credentials"}}},{"parameters":{"method":"POST","url":"https://sa-hg-sys.appspot.com/auth/login","authentication":"***REMOVIDO***","genericAuthType":"httpCustomAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"=token","value":"={{ $json.payload.token }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[384,0],"id":"60594085-54d0-4ddf-a011-637f69bbf0fb","name":"GET TOKEN GROUP (auth/login)","credentials":{"httpCustomAuth":{"id":"eUIZ5W1ymiLgXLSQ","name":"Custom Auth Group Credential"}}},{"parameters":{"method":"POST","url":"https://sa-hg-sys.appspot.com/valuation/request","sendHeaders":true,"headerParameters":{"parameters":[{"name":"token","value":"={{ $json.payload.auth.token }}"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"client.cell_phone","value":"={{ $('Webhook').item.json.body.params.ClientCellPhone }}"},{"name":"client.phone_number","value":"={{ $('Webhook').item.json.body.params.ClientPhoneNumber }}"},{"name":"client.cpf_cnpj","value":"={{ $('Webhook').item.json.body.params.ClientCpfCnpj }}"},{"name":"client.email","value":"={{ $('Webhook').item.json.body.params.ClientEmail }}"},{"name":"client.name","value":"={{ $('Webhook').item.json.body.params.ClientName }}"},{"name":"vehicle_interest.version_id","value":"={{ $('Webhook').item.json.body.params.***REMOVIDO*** }}"},{"name":"vehicle.expected_value","value":"={{ $('Webhook').item.json.body.params.***REMOVIDO*** }}"},{"name":"vehicle.renavam","value":"={{ $('Webhook').item.json.body.params.VehicleRenavam }}"},{"name":"vehicle.plate","value":"={{ $('Webhook').item.json.body.params.VehiclePlate }}"},{"name":"valuation.valuation_type_id","value":"={{ $('Webhook').item.json.body.params.ValuationTypeId }}"},{"name":"valuation.obs","value":"={{ $('Webhook').item.json.body.params.ValuationObs }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[576,0],"id":"08d93ce5-6855-4742-969d-94544dc34a34","name":"POST AVALIAÇÃO (valuation/request)","onError":"***REMOVIDO***"},{"parameters":{"content":"## Obtém os tokens","height":256,"width":384},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[144,-64],"id":"8b5d89de-75b0-45d1-9b95-06af012b4656","name":"Sticky Note"},{"parameters":{"content":"O que fazer com o id da solicitação de avaliação recebido?","height":256,"width":272},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[544,-64],"id":"0a30b57c-8333-477b-a688-ad2139d9abe4","name":"Sticky Note1"},{"parameters":{"httpMethod":"POST","path":"solicita-avaliacao-testes","responseMode":"lastNode","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[0,-144],"id":"9b1a93fd-2d45-4795-90f6-53b871c0b7c9","name":"Webhook","webhookId":"9029ee3c-90e8-4ec7-94a1-c57b5d0fb5f4"},{"parameters":{"content":"Incluir workflow group token e receber cnpj revenda","height":80},"type":"n8n-nodes-base.stickyNote","position":[224,-160],"typeVersion":1,"id":"353e4621-f364-45c2-8773-41c30298134d","name":"Sticky Note2"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"f2970f13-d7e5-4f54-9c95-859625c8b816","leftValue":"={{ $json.messages[0].error_message }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[784,0],"id":"1e7e672a-6aa9-46bd-b441-5da67ef9d974","name":"If"},{"parameters":{"workflowId":{"__rl":true,"value":"XJHxhjNkf8fV6qS9","mode":"list","cachedResultUrl":"/workflow/XJHxhjNkf8fV6qS9","cachedResultName":"Auto Avaliar — log-erros"},"workflowInputs":{"mappingMode":"defineBelow","value":{"erro":0,"mensagem":"={{ $json.messages[0].error_message }}","enviaCorreio":false},"matchingColumns":[],"schema":[{"id":"cnpj","displayName":"cnpj","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"erro","displayName":"erro","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"number","removed":false},{"id":"mensagem","displayName":"mensagem","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"enviaCorreio","displayName":"enviaCorreio","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"boolean","removed":false}],"***REMOVIDO***":false,"***REMOVIDO***":true},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.3,"position":[992,-96],"id":"99d51587-9b27-49f3-8732-0ebc0af79c6a","name":"Call 'log-erros'"},{"parameters":{"options":{}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.4,"position":[1248,-96],"id":"379be709-bed8-4827-a396-4d5c7b911112","name":"Respond to Webhook"}],"origin":"n8n","pinData":{"Webhook":[{"json":{"headers":{"host":"linxn8n.ccmtecnologia.com.br","x-request-id":"***REMOVIDO***","x-real-ip":"10.244.2.0","x-forwarded-for":"10.244.2.0","x-forwarded-host":"linxn8n.ccmtecnologia.com.br","x-forwarded-port":"443","x-forwarded-proto":"https","x-forwarded-scheme":"https","x-scheme":"https","x-original-forwarded-for":"186.207.45.125","content-length":"693","sec-fetch-site":"cross-site","user-agent":"Mozilla/5.0 (Windows NT 10.0; Win64; x64; rv:145.0) Gecko/20100101 Firefox/145.0","accept":"application/json, text/plain, */*","accept-language":"pt-BR,pt;q=0.8,en-US;q=0.5,en;q=0.3","accept-encoding":"gzip, br","authorization":"bearer ***REMOVIDO***.***REMOVIDO***.dIlRdFq_***REMOVIDO***-h370JCxE","content-type":"application/json","origin":"http://localhost:4200","referer":"http://localhost:4200/","sec-fetch-dest":"empty","sec-fetch-mode":"cors","cf-ray":"9a44b82fab47da71-GRU","cdn-loop":"cloudflare; loops=1","cf-connecting-ip":"186.207.45.125","cf-ipcountry":"BR","cf-visitor":"{\"scheme\":\"https\"}"},"params":{},"query":{},"body":{"params":{"***REMOVIDO***":101,"***REMOVIDO***":null,"***REMOVIDO***":"","VehicleBodyTypeId":"","VehicleOriginId":"","VehicleKindId":null,"VehicleFuelId":"B","VehicleColorId":"PRATA","VehicleVersionId":"1.4 I EXCLUSIVE 8V F","VehicleModelId":"","VehicleMakeId":"","VehicleRenavam":"274465507","VehicleYear":0,"VehicleAssembly":0,"VehicleVin":"935FCKFVYBB545923","VehiclePlate":"EUE2325","ClientCellPhone":"nullnull","ClientPhoneNumber":"1531900486","ClientCpfCnpj":"","ClientEmail":"provisorio@linx.com.br","ClientName":"CLIENTE PF 15773","ValuationTypeId":2,"ValuationObs":null,"***REMOVIDO***":0,"ValuationValue":0,"ValuationValuerId":0,"ValuationSeller":0}},"webhookUrl":"https://linxn8n.ccmtecnologia.com.br/webhook/solicita-avaliacao-testes","executionMode":"production"}}]},"repo":{"owner":"n8nlinx","name":"BACKUP-N8N-LINX"},"settings":{"executionOrder":"v1"},"shared":[{"createdAt":"2025-10-13T19:30:08.030Z","updatedAt":"2025-10-13T19:30:08.030Z","role":"workflow:owner","workflowId":"ptQJdICuOHVy9xko","projectId":"gooj2a4i7sGuxy01"}],"staticData":null,"tags":[],"triggerCount":1,"updatedAt":"2025-11-26T18:11:15.592Z","versionId":"e4f87518-6e47-4c85-813a-aef760459711"}