QCzCf7OBKtuLVA7L.json
{"active":false,"connections":{"Webhook":{"main":[[{"node":"Dados","type":"main","index":0}]]},"Tess Angent Html":{"main":[[{"node":"Respond to Webhook","type":"main","index":0}]]},"Tess Angent Angular":{"main":[[{"node":"Respond to Webhook","type":"main","index":0}]]},"Dados":{"main":[[{"node":"Escolhe linguagem da pagina","type":"main","index":0}]]},"Escolhe linguagem da pagina":{"main":[[{"node":"Tess Angent Html","type":"main","index":0}],[{"node":"Tess Angent Angular","type":"main","index":0}]]}},"createdAt":"2025-09-26T19:43:18.196Z","id":"QCzCf7OBKtuLVA7L","isArchived":false,"meta":null,"name":"Criando códigos de tela por agente","nodes":[{"parameters":{"httpMethod":"POST","path":"5c52f044-a3a8-4a87-a0b3-e0597f61d543","responseMode":"responseNode","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[-624,-32],"id":"0a89e5a1-60aa-4661-8ab4-df35b916bf34","name":"Webhook","webhookId":"5c52f044-a3a8-4a87-a0b3-e0597f61d543"},{"parameters":{"respondWith":"allIncomingItems","options":{}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.4,"position":[368,-32],"id":"d27552f8-abca-4c78-a7ab-2243471f8e55","name":"Respond to Webhook"},{"parameters":{"method":"POST","url":"https://tess.pareto.io/api/agents/32032/execute","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"Bearer 188724|***REMOVIDO***"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"messages\": [\n    {\n      \"role\": \"user\",\n      \"content\": \"Crie uma pagina com essas informações {{ $json.descricao }}\"\n    }\n  ],\n  \"wait_execution\": true\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[64,-128],"id":"f16fa50b-7c1f-4bcd-b3a5-29c4a5ec4330","name":"Tess Angent Html","retryOnFail":true,"maxTries":3,"waitBetweenTries":5000},{"parameters":{"method":"POST","url":"https://tess.pareto.io/api/agents/31806/execute","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"Bearer 188724|***REMOVIDO***"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"messages\": [\n    {\n      \"role\": \"user\",\n      \"content\": \"Crie uma pagina com essas informações {{ $json.descricao }}\"\n    }\n  ],\n  \"wait_execution\": true\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[64,64],"id":"8883d089-f164-4b14-ab26-a46e54777999","name":"Tess Angent Angular","retryOnFail":true,"maxTries":3,"waitBetweenTries":5000},{"parameters":{"assignments":{"assignments":[{"id":"c1e1df9a-e617-4327-be28-8d7cc8608e42","name":"descricao","value":"={{ $json.body.descricao }}","type":"string"},{"id":"5146ae2c-bc04-4918-9ebb-ff0cfc8a9c2e","name":"tipo","value":"={{ $json.body.tipo }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-400,-32],"id":"a29f7fd7-f219-4733-9014-50258ee12e7d","name":"Dados"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.tipo }}","rightValue":"html","operator":{"type":"string","operation":"equals"},"id":"72e81910-f8a9-41cc-b6b0-26ca3a6bd795"}],"combinator":"and"},"renameOutput":true,"outputKey":"HTML"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"16517193-b9a3-4a5d-9fa5-27ee2c224e73","leftValue":"={{ $json.tipo }}","rightValue":"angular","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"ANGULAR"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.3,"position":[-192,-32],"id":"32060ec9-57d4-4481-a699-6db07af1fa54","name":"Escolhe linguagem da pagina"}],"origin":"n8n","pinData":{},"repo":{"owner":"n8nlinx","name":"BACKUP-N8N-LINX"},"settings":{"executionOrder":"v1"},"shared":[{"createdAt":"2025-09-26T19:43:18.196Z","updatedAt":"2025-09-26T19:43:18.196Z","role":"workflow:owner","workflowId":"QCzCf7OBKtuLVA7L","projectId":"1RGMLoql92onOpCd"}],"staticData":null,"tags":[],"triggerCount":0,"updatedAt":"2025-09-29T11:38:06.896Z","versionId":"5f2b575a-176c-4508-9e0a-86e323f5015d"}