RGpW2LGYb1aOvSqZ.json
{"active":false,"connections":{"Get Jira":{"main":[[{"node":"pegando lista Issue","type":"main","index":0}]]},"Campos Jira":{"main":[[{"node":"Organizar prioridade","type":"main","index":0}]]},"Organizar prioridade":{"main":[[{"node":"unindo retorno","type":"main","index":0}]]},"Tess Angent":{"main":[[{"node":"pegando resposta","type":"main","index":0}]]},"pegando resposta":{"main":[[{"node":"Send a message1","type":"main","index":0}]]},"pegando lista Issue":{"main":[[{"node":"Campos Jira","type":"main","index":0}]]},"unindo retorno":{"main":[[{"node":"Tess Angent","type":"main","index":0}]]},"Executar em um dia especifico":{"main":[[{"node":"Get Jira","type":"main","index":0}]]}},"createdAt":"2025-09-23T17:20:12.906Z","id":"RGpW2LGYb1aOvSqZ","isArchived":false,"meta":{"***REMOVIDO***":true},"name":"Roadmap por email","nodes":[{"parameters":{"url":"=https://jira.linx.com.br/rest/api/2/search?maxResults=1000&startAt=0&jql=project = Automotivo AND issuetype in (Story, WishList) AND (\"TPs Vinculadas\" is not EMPTY OR \"Número do caso\" is not EMPTY) AND status != Done AND (\"Tribo - Squad\" in cascadeOption(\"Inovação\", \"Autoshop\") OR  Produto = \"Linx AutoShop\") ORDER BY Rank","authentication":"***REMOVIDO***","nodeCredentialType":"***REMOVIDO***","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-256,-208],"id":"3387b7b4-d846-42a3-8b8e-0d449c90d0cf","name":"Get Jira","retryOnFail":true,"credentials":{"***REMOVIDO***":{"id":"EnhyyrY0VweCcNHY","name":"Jira SW Token Augusto"}}},{"parameters":{"assignments":{"assignments":[{"id":"ea476798-ac55-44a3-95ea-4775778f0a90","name":"Número da História (Issue Key)","value":"={{ $json.key }}","type":"string"},{"id":"169018e8-6d16-4291-9313-2afe4b44160f","name":"Status","value":"={{ $json.fields.status.name }}","type":"string"},{"id":"aa3676c6-92c8-4995-8110-79328de57310","name":"Prioridade","value":"={{ $json.fields.customfield_11905.value }}","type":"string"},{"id":"786939fd-26c6-463f-9130-da35c9f1a90b","name":"Ice Score","value":"={{ $json.fields.customfield_27700.value }}","type":"string"},{"id":"2e2729ed-be26-48af-ba15-c36d913ace3c","name":"Tribo - Squad","value":"={{ $json.fields.customfield_10802.value }}-{{ $json.fields.customfield_10802.child.value }}","type":"string"},{"id":"bf796bfa-6a6c-49e6-b121-7122493e5bc6","name":"Produto","value":"={{ $json.fields.customfield_11200.value }}","type":"string"},{"id":"0bf535ec-33dc-47d8-82b1-22ec1e869c2c","name":"Tipo de Solicitação","value":"={{ $('Get Jira').item.json.issues[0].fields.customfield_14901.value }}","type":"string"},{"id":"e4aead81-822f-45eb-8c43-65ce22193ed5","name":"Data de Criação","value":"={{ $json.fields.created }}","type":"string"},{"id":"441bf82a-a01d-4ed2-af84-cebe073e8f38","name":"TPs Vinculadas","value":"={{ $json.fields.customfield_11626 }}","type":"string"},{"id":"a3843a92-a6b7-46b8-8c68-6bafae3d43a2","name":"Número do Caso","value":"={{ $json.fields.customfield_20507 }}","type":"array"},{"id":"b4f9ceb5-ed48-4d73-b04c-e19240cd546f","name":"Projeto","value":"={{ $json.fields.customfield_11310.value }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[192,-208],"id":"f452ce04-7052-4808-b70e-18f9f9c4a596","name":"Campos Jira"},{"parameters":{"jsCode":"const listaP0 = [];\nconst listaP1 = [];\nconst listaP2 = [];\nconst listaP3 = [];\n\nfor (const item of $input.all()) {\n  if (item.json.Prioridade.includes(\"P0 -\")) {\n    listaP0.push(item);\n  }\n\n  if (item.json.Prioridade.includes(\"P1 -\")) {\n    listaP1.push(item);\n  }\n\n  if (item.json.Prioridade.includes(\"P2 -\")) {\n    listaP2.push(item);\n  }\n  \n  if (item.json.Prioridade.includes(\"P3 -\")) {\n    listaP3.push(item);\n  }\n}\n\nconst listaFinal = [...listaP0, ...listaP1, ...listaP2, ...listaP3];\n\nreturn listaFinal;"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[416,-208],"id":"4aa4cd46-c9e3-4358-a444-18b83a9b167c","name":"Organizar prioridade"},{"parameters":{"method":"POST","url":"https://tess.pareto.io/api/agents/30693/execute","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"Bearer 188724|***REMOVIDO***"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"messages\": [\n    {\n      \"role\": \"user\",\n      \"content\": \"use essas issues {{ JSON.stringify($json.data.toJsonString()).replace(/^\"|\"$/g, '') }} para criar um roadmap, prossiga com a criação do roadmap completo baseado nesses dados.\"\n    }\n  ],\n  \"wait_execution\": true\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[864,-208],"id":"fd95b3d4-93cf-4f2f-8d23-773d1c5cc4b9","name":"Tess Angent","retryOnFail":true,"maxTries":3,"waitBetweenTries":5000},{"parameters":{"fieldsToAggregate":{"fieldToAggregate":[{"fieldToAggregate":"responses[0].output","renameField":true,"outputFieldName":"resposta"}]},"options":{}},"type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[1088,-208],"id":"1239648b-5740-4960-a6f5-b054022067c1","name":"pegando resposta"},{"parameters":{"fieldToSplitOut":"issues","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[-32,-208],"id":"852de1a3-5533-4486-bf88-d76d74d54e12","name":"pegando lista Issue"},{"parameters":{"aggregate":"***REMOVIDO***","options":{}},"type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[640,-208],"id":"0c846e97-e16b-406f-825f-29ca8dc326a3","name":"unindo retorno"},{"parameters":{"rule":{"interval":[{"field":"weeks","triggerAtDay":[3],"triggerAtHour":9,"triggerAtMinute":25}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-480,-208],"id":"68037d2e-fcd1-42a7-80e2-07eec2f1092d","name":"Executar em um dia especifico"},{"parameters":{"toRecipients":"andrio.nunes@linx.com.br","subject":"teste","bodyContent":"{{ $json.resposta[0] }}","additionalFields":{}},"type":"n8n-nodes-base.microsoftOutlook","typeVersion":2,"position":[1312,-208],"id":"3abe12d4-5cbe-4cba-85b0-273c102fcb3f","name":"Send a message1","webhookId":"10bde6d2-fe3e-431a-a410-8907eb8f378c","credentials":{"***REMOVIDO***":{"id":"pSFmFTH0FcpbdmC0","name":"Microsoft Outlook account 2"}}}],"origin":"n8n","pinData":{},"repo":{"owner":"n8nlinx","name":"BACKUP-N8N-LINX"},"settings":{"executionOrder":"v1"},"shared":[{"createdAt":"2025-09-23T17:20:12.906Z","updatedAt":"2025-09-23T17:20:12.906Z","role":"workflow:owner","workflowId":"RGpW2LGYb1aOvSqZ","projectId":"1RGMLoql92onOpCd"}],"staticData":null,"tags":[],"triggerCount":0,"updatedAt":"2025-11-24T17:04:21.086Z","versionId":"f55a30e8-6a12-4f21-a918-f241cad24840"}