S7Ja5MrEC2NBKxTm.json
{"active":false,"connections":{"When clicking ‘Test workflow’":{"main":[[{"node":"Jira Software","type":"main","index":0}]]},"Jira Software":{"main":[[{"node":"Pegando os dados para analise da IA","type":"main","index":0},{"node":"Pegando os dados de descrição1","type":"main","index":0}]]},"Modificar especificação tecnica":{"main":[[{"node":"Atualiza Jira","type":"main","index":0},{"node":"Merge","type":"main","index":1}]]},"Atualiza Jira":{"main":[[{"node":"Merge","type":"main","index":0}]]},"Tess Angent":{"main":[[{"node":"Resposta agent","type":"main","index":0}]]},"Pegando solicitação":{"main":[[{"node":"Tem Solicitação","type":"main","index":0},{"node":"Unir informações2","type":"main","index":0}]]},"Unir dados":{"main":[[{"node":"Modificar especificação tecnica","type":"main","index":0}]]},"Resposta agent":{"main":[[{"node":"Unir dados","type":"main","index":0}]]},"Merge":{"main":[[{"node":"Foi Atualizado","type":"main","index":0}]]},"Adiciona comentário para solicitante":{"main":[[{"node":"If2","type":"main","index":0}]]},"Adiciona comentário para revisar":{"main":[[{"node":"Sucesso","type":"main","index":0}]]},"Foi Atualizado":{"main":[[{"node":"Adiciona comentário para revisar","type":"main","index":0}]]},"Get row(s)":{"main":[[{"node":"If","type":"main","index":0}]]},"If":{"main":[[{"node":"Merge3","type":"main","index":0}]]},"Tem Solicitação":{"main":[[{"node":"Unir informações2","type":"main","index":1}],[{"node":"Unir informações3","type":"main","index":0}]]},"Pegando os dados de descrição1":{"main":[[{"node":"Unir informações3","type":"main","index":1},{"node":"Merge3","type":"main","index":1},{"node":"Merge5","type":"main","index":1}]]},"Merge3":{"main":[[{"node":"Adiciona comentário para solicitante","type":"main","index":0}]]},"Merge5":{"main":[[{"node":"Falha","type":"main","index":0}]]},"If2":{"main":[[{"node":"Merge5","type":"main","index":0}]]},"Pegando os dados para analise da IA":{"main":[[{"node":"Verifica se tem a issue","type":"main","index":0},{"node":"Unir informações1","type":"main","index":1}]]},"Verifica se tem a issue":{"main":[[{"node":"Não tem cadastro","type":"main","index":0}]]},"Unir informações1":{"main":[[{"node":"Pegando solicitação","type":"main","index":0}]]},"Unir informações2":{"main":[[{"node":"Tess Angent","type":"main","index":0}]]},"Unir informações3":{"main":[[{"node":"Get row(s)","type":"main","index":0}]]},"Não tem cadastro":{"main":[[{"node":"Unir informações1","type":"main","index":0}]]}},"createdAt":"2025-09-23T17:39:04.323Z","id":"S7Ja5MrEC2NBKxTm","isArchived":false,"meta":{"***REMOVIDO***":true},"name":"Refinamento funcional automático","nodes":[{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-2304,-16],"id":"f4adb205-7efa-45eb-9f1a-4aa26b9cffbd","name":"When clicking ‘Test workflow’"},{"parameters":{"jiraVersion":"serverPat","operation":"get","issueKey":"AUTO-81557","additionalFields":{}},"type":"n8n-nodes-base.jira","typeVersion":1,"position":[-2080,-16],"id":"ce9291bd-9cd6-4d07-9829-432ef372a41a","name":"Jira Software","credentials":{"***REMOVIDO***":{"id":"EnhyyrY0VweCcNHY","name":"Jira SW Token Augusto"}}},{"parameters":{"jsCode":"const descricao_completa = $input.first().json.descricao;\n\nconst resposta_agent = $input.first().json.resposta_agent;\nconst indice = resposta_agent.indexOf(\"Refinamento Funcional\")\n\nlet refinamento = resposta_agent.slice(indice);\n\nrefinamento = refinamento.replaceAll('#','').replaceAll('-','');\nrefinamento = refinamento.replace('📋 **Refinamento Funcional**','h1.📋 *Refinamento Funcional*' );\nrefinamento = refinamento.replace('🏢 **Aplicação:** Linx DMS','🏢 *Aplicação:* Linx DMS' );\nrefinamento = refinamento.replace('⚙️ **Complexidade:** Média','⚙️ *Complexidade:* Média' );\nrefinamento = refinamento.replace('🎯 **Título e Objetivo da Issue:**','🎯 *Título e Objetivo da Issue:*' );\nrefinamento = refinamento.replace('* **Título:**','* *Título:*' );\nrefinamento = refinamento.replace('* **Objetivo:**','* *Objetivo:*' );\nrefinamento = refinamento.replace('✅ **Comportamento Esperado:**','✅ *Comportamento Esperado:*' );\nrefinamento = refinamento.replace('🔧 **Detalhamento da Solução:**','🔧 *Detalhamento da Solução:*' );\nrefinamento = refinamento.replace('✔️ **Critérios de Aceite:**','✔️ *Critérios de Aceite:*' );\nrefinamento = refinamento.replace('🧪 **Sugestão de Plano de Teste:**','🧪 *Sugestão de Plano de Teste:*' );\nrefinamento = refinamento.replace('🎯 **Benefícios Esperados:**','🎯 *Benefícios Esperados:*' );\nrefinamento = refinamento.replace('📝 **O que será Feito:**','📝 *O que será Feito:*' );\nrefinamento = refinamento.replace('⏱️ **Cálculo de Horas:**','⏱️ *Cálculo de Horas:*' );\n\nconst resultado = refinamento.match(/\\*Complexidade:\\*\\s*([A-Za-zÀ-ÿ\\s]+)/);\n\nconst complexidade = resultado ? resultado[1].trim() : null;\n\n// Regex que considera quebras de linha reais (\\r\\n)\nconst atualizardescricao = descricao_completa.replace(\n  /\\*\\(\\+\\)\\s*Especificação técnica:\\*\\s*\\{panel:bgColor=#f5f6f9\\}[\\s\\S]*?\\{panel\\}/,\n  `*(+) Especificação técnica:*\\r\\n{panel:bgColor=#f5f6f9}\\r\\n${refinamento}\\r\\n{panel}`\n);\n\nlet valorprioridade;\n\nconsole.log(complexidade);\n\nif(complexidade != null && complexidade.includes('Baixa')){\n  valorprioridade = 10003;\n}else if(complexidade != null && complexidade.includes('Média')){\n  valorprioridade = 10002;\n}else if(complexidade != null && complexidade.includes('Alta')){\n  valorprioridade = 10001;\n}else if(complexidade != null && complexidade.includes('Muito Alta')){\n  valorprioridade = 10000;\n}\n\n// Retorna o novo campo\nreturn {\n  descricaoAtualizada: atualizardescricao,\n  complexidadeCodigo:  valorprioridade,\n  issue: $input.first().json.issue,\n  responsavel: $input.first().json.responsavel,\n  solicitante: $input.first().json.solicitante\n};\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[560,-208],"id":"b559eccf-87f2-4167-877a-664c772b5d7d","name":"Modificar especificação tecnica"},{"parameters":{"jiraVersion":"serverPat","operation":"update","issueKey":"={{ $json.issue }}","updateFields":{"description":"={{ $json.descricaoAtualizada }}","priority":{"__rl":true,"value":"={{ $json.complexidadeCodigo.toString() }}","mode":"id"}}},"type":"n8n-nodes-base.jira","typeVersion":1,"position":[816,-320],"id":"af7d9789-7139-4eb7-b592-63bbf005e9b9","name":"Atualiza Jira","credentials":{"***REMOVIDO***":{"id":"EnhyyrY0VweCcNHY","name":"Jira SW Token Augusto"}}},{"parameters":{"method":"POST","url":"https://tess.pareto.io/api/agents/29289/execute","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"Bearer 226953|***REMOVIDO***"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"messages\": [\n    {\n      \"role\": \"user\",\n      \"content\": \"Descrição: Menu: Veículos > Integração > Renave > Zero [99215] O que o sistema está fazendo: Atualmente no menu Renave o sistema não possui um relatório que informe os veículos que de fato foram finalizados/enviados, para espelhar com as cobranças que recebemos da SERPRO. O que deseja que o sistema faça: que o sistema possua um relatório com as informações dos veículos que deram saída para que possamos validar as informações. Como deseja que o sistema faça: que o sistema possua um botão para emitir um relatório com todas as operações que geram custos por parte da SERPRO, para sabermos por quais operações estamos pagando. Benefício: Melhor controle das operações realizadas no Renave e possibilidade de conferência de valores que nos são cobrados. -------------------------------------------------------------------------------------------------------- Precisamos que seja possível o print em anexo para que possamos verificar os valores que a serpro esta nos cobrando.\"\n    }\n  ],\n  \"wait_execution\": true\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-144,-224],"id":"50616101-c550-4e29-aa90-ece155c76fde","name":"Tess Angent","retryOnFail":true,"maxTries":3,"waitBetweenTries":5000},{"parameters":{"jsCode":"\nconst texto = $input.all().map(item => item.json?.descricao || \"\").join(\",\").trim();\n\nconst regex = /Solicitação:\\*\\r?\\n\\{panel:bgColor=#f5f6f9\\}([\\s\\S]*?)\\{panel\\}/;\n\nconst resultado = texto.match(regex);\n\nreturn [\n  {\n    json: {\n      solicitacao: resultado ? resultado[1].trim() : \"Conteúdo não encontrado\"\n    }\n  }\n];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-880,-32],"id":"3e40234e-b079-4377-9a5c-3562be32dcc1","name":"Pegando solicitação"},{"parameters":{"mode":"combine","combineBy":"combineAll","options":{}},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[336,-208],"id":"f019872c-cb98-40b9-959d-975327e799fc","name":"Unir dados"},{"parameters":{"assignments":{"assignments":[{"id":"e5a20bd7-a5d8-4925-9378-7eb0486a6df4","name":"resposta_agent","value":"={{ $json.responses[0].output }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[80,-224],"id":"56c6108a-e59f-43fa-847d-69f2b1cc6180","name":"Resposta agent"},{"parameters":{"mode":"combine","combineBy":"combineAll","options":{}},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[1056,-224],"id":"c0fb1e0b-969a-4523-8001-10f8990283b4","name":"Merge"},{"parameters":{"jiraVersion":"serverPat","resource":"issueComment","issueKey":"={{ $json.issue }}","comment":"={{ $json.solicitante }} poderia verificar a issue {{ $json.issue }}, os dados não estão no campo correto('Solicitação'), favor verificar.","options":{}},"type":"n8n-nodes-base.jira","typeVersion":1,"position":[816,0],"id":"4a78d54f-a517-4285-9d87-96b031e401cd","name":"Adiciona comentário para solicitante","credentials":{"***REMOVIDO***":{"id":"EnhyyrY0VweCcNHY","name":"Jira SW Token Augusto"}}},{"parameters":{"jiraVersion":"serverPat","resource":"issueComment","issueKey":"={{ $json.issue }}","comment":"={{ $json.responsavel }} poderia verificar o refinamento realizado de issue.","options":{}},"type":"n8n-nodes-base.jira","typeVersion":1,"position":[1504,-240],"id":"c4eb6491-84df-4c5f-a016-b478d024db44","name":"Adiciona comentário para revisar","credentials":{"***REMOVIDO***":{"id":"EnhyyrY0VweCcNHY","name":"Jira SW Token Augusto"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"a580b793-053b-4191-962b-593a8e2b605a","leftValue":"={{ $json.success }}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1264,-224],"id":"4ba544e3-edfd-40ec-9059-26ac66ece378","name":"Foi Atualizado"},{"parameters":{"dataTableId":{"__rl":true,"value":"WXjw8Wc3rXa8Mm45","mode":"list","cachedResultName":"revisao","cachedResultUrl":"/projects/JBczrTZFKwVUhjkd/datatables/WXjw8Wc3rXa8Mm45"},"columns":{"mappingMode":"defineBelow","value":{"situacao":"S","issue":"={{ $('Modificar especificação tecnica').item.json.issue }}"},"matchingColumns":["issue"],"schema":[{"id":"issue","displayName":"issue","required":false,"defaultMatch":false,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"situacao","displayName":"situacao","required":false,"defaultMatch":false,"display":true,"type":"string","readOnly":false,"removed":false}],"***REMOVIDO***":false,"***REMOVIDO***":false},"options":{}},"type":"n8n-nodes-base.dataTable","typeVersion":1,"position":[1744,-240],"id":"1227d62b-c69d-4b4c-aaf0-b726502b66b0","name":"Sucesso"},{"parameters":{"dataTableId":{"__rl":true,"value":"WXjw8Wc3rXa8Mm45","mode":"list","cachedResultName":"revisao","cachedResultUrl":"/projects/JBczrTZFKwVUhjkd/datatables/WXjw8Wc3rXa8Mm45"},"columns":{"mappingMode":"defineBelow","value":{"situacao":"F","issue":"={{ $json.issue }} "},"matchingColumns":["issue"],"schema":[{"id":"issue","displayName":"issue","required":false,"defaultMatch":false,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"situacao","displayName":"situacao","required":false,"defaultMatch":false,"display":true,"type":"string","readOnly":false,"removed":false}],"***REMOVIDO***":false,"***REMOVIDO***":false},"options":{}},"type":"n8n-nodes-base.dataTable","typeVersion":1,"position":[1744,0],"id":"142460b5-8a05-4668-9677-99b62f63e189","name":"Falha"},{"parameters":{"operation":"get","dataTableId":{"__rl":true,"value":"WXjw8Wc3rXa8Mm45","mode":"list","cachedResultName":"revisao","cachedResultUrl":"/projects/JBczrTZFKwVUhjkd/datatables/WXjw8Wc3rXa8Mm45"},"filters":{"conditions":[{"keyName":"issue","condition":"like","keyValue":"={{ $json.issue }}"}]}},"type":"n8n-nodes-base.dataTable","typeVersion":1,"position":[-144,0],"id":"58759b4a-5cf3-4d17-ad90-ffd332da4fc5","name":"Get row(s)","alwaysOutputData":true,"onError":"***REMOVIDO***"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"557ffe49-a061-4f54-a5ac-f0e4e464fa5a","leftValue":"={{ $json }}","rightValue":"","operator":{"type":"object","operation":"empty","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[80,0],"id":"ec42e083-7d79-4359-bf06-c93f91fc4137","name":"If"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"15816d0e-95de-448e-9754-6bde6e0277c1","leftValue":"={{ $json.solicitacao }}","rightValue":"Conteúdo não encontrado","operator":{"type":"string","operation":"notEmpty","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-592,-32],"id":"4daf343d-bc62-447d-8de2-25064dfcc7fe","name":"Tem Solicitação"},{"parameters":{"assignments":{"assignments":[{"id":"e2d6006f-6bbc-4e91-a47b-342fffe07c06","name":"descricao","value":"={{ $json.fields.description }}","type":"string"},{"id":"af3b4553-fc49-4978-950f-a3faca5a6f21","name":"issue","value":"={{ $json.key }}","type":"string"},{"id":"5a622d09-4f71-4daf-8782-fa47e2ea2ad7","name":"responsavel","value":"=[~{{ $json.fields.assignee.key }}]","type":"string"},{"id":"48c574b4-e193-4aeb-8dda-fb4e833dc538","name":"solicitante","value":"=[~{{ $json.fields.reporter.key }}]","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-752,208],"id":"a88a2b04-84cb-4852-8921-9311308fcc75","name":"Pegando os dados de descrição1"},{"parameters":{"mode":"combine","combineBy":"combineAll","options":{}},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[576,0],"id":"3030d9ba-ffe0-47e7-a28e-6949b38cc14a","name":"Merge3"},{"parameters":{"mode":"combine","combineBy":"combineAll","options":{}},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[1424,0],"id":"2fea42cb-b991-4df3-8605-59e3f9ea171d","name":"Merge5"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"28603b36-5cd1-456e-a7e8-007f63b78e0d","leftValue":"={{ $json }}","rightValue":"","operator":{"type":"object","operation":"notEmpty","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1056,0],"id":"b049411b-7b00-4774-aabe-f9736bdcca78","name":"If2"},{"parameters":{"assignments":{"assignments":[{"id":"e2d6006f-6bbc-4e91-a47b-342fffe07c06","name":"descricao","value":"={{ $json.fields.description }}","type":"string"},{"id":"af3b4553-fc49-4978-950f-a3faca5a6f21","name":"issue","value":"={{ $json.key }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-1808,-16],"id":"53d8152c-3e16-45df-a0cb-09f02cadcaea","name":"Pegando os dados para analise da IA"},{"parameters":{"operation":"get","dataTableId":{"__rl":true,"value":"WXjw8Wc3rXa8Mm45","mode":"list","cachedResultName":"revisao","cachedResultUrl":"/projects/JBczrTZFKwVUhjkd/datatables/WXjw8Wc3rXa8Mm45"},"filters":{"conditions":[{"keyName":"issue","condition":"like","keyValue":"={{ $json.issue }}"}]}},"type":"n8n-nodes-base.dataTable","typeVersion":1,"position":[-1584,-144],"id":"931d11d2-45bc-447d-8ea0-0f783b122b01","name":"Verifica se tem a issue","alwaysOutputData":true,"onError":"***REMOVIDO***"},{"parameters":{"mode":"combine","combineBy":"combineAll","options":{}},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[-1104,-32],"id":"51a469ec-76c8-4966-9c5c-e8414078c6e7","name":"Unir informações1"},{"parameters":{"mode":"combine","combineBy":"combineAll","options":{}},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[-368,-224],"id":"6f8c1d51-2b0c-4b07-8111-dc6b4a9cd8f8","name":"Unir informações2"},{"parameters":{"mode":"combine","combineBy":"combineAll","options":{}},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[-384,0],"id":"30360949-2575-4d3f-9aa0-a34e04f106f1","name":"Unir informações3"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":2},"conditions":[{"id":"557ffe49-a061-4f54-a5ac-f0e4e464fa5a","leftValue":"={{ $json }}","rightValue":"","operator":{"type":"object","operation":"empty","singleValue":true}}],"combinator":"and"},"looseTypeValidation":true,"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-1344,-144],"id":"22b4bb20-1d4a-4f71-86a7-5e4baee77b49","name":"Não tem cadastro"}],"origin":"n8n","pinData":{},"repo":{"owner":"n8nlinx","name":"BACKUP-N8N-LINX"},"settings":{"executionOrder":"v1"},"shared":[{"createdAt":"2025-09-23T17:39:04.323Z","updatedAt":"2025-09-23T17:39:04.323Z","role":"workflow:owner","workflowId":"S7Ja5MrEC2NBKxTm","projectId":"1RGMLoql92onOpCd"}],"staticData":null,"tags":[],"triggerCount":0,"updatedAt":"2025-10-03T17:22:22.029Z","versionId":"4819f325-9ed3-47a6-8fa4-c18f343cb52b"}