S7Ja5MrEC2NBKxTm.json
{"active":false,"connections":{"When clicking ‘Test workflow’":{"main":[[{"node":"Jira Software","type":"main","index":0}]]},"Jira Software":{"main":[[{"node":"Pegando os dados de descrição","type":"main","index":0}]]},"Pegando os dados de descrição":{"main":[[{"node":"Modificar especificação tecnica","type":"main","index":0}]]},"Modificar especificação tecnica":{"main":[[{"node":"Atualiza Jira","type":"main","index":0}]]}},"createdAt":"2025-09-23T17:39:04.323Z","id":"S7Ja5MrEC2NBKxTm","isArchived":false,"meta":{"***REMOVIDO***":true},"name":"Atualizando a Especificação técnica no jira","nodes":[{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-420,-100],"id":"ff585b9b-a9df-470e-87e5-5cf7c0e27c3a","name":"When clicking ‘Test workflow’"},{"parameters":{"jiraVersion":"serverPat","operation":"get","issueKey":"AUTO-81557","additionalFields":{}},"type":"n8n-nodes-base.jira","typeVersion":1,"position":[-180,-100],"id":"eb61010f-8e26-473a-80af-627582f15fc1","name":"Jira Software","credentials":{"***REMOVIDO***":{"id":"EnhyyrY0VweCcNHY","name":"Jira SW Token Augusto"}}},{"parameters":{"assignments":{"assignments":[{"id":"e2d6006f-6bbc-4e91-a47b-342fffe07c06","name":"descricao","value":"={{ $json.fields.description }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[40,-100],"id":"c3e28002-7688-4d36-a1f6-a1de9eb79421","name":"Pegando os dados de descrição"},{"parameters":{"jsCode":"const input = $input.first().json.descricao;\n\nconst originalText = input;\nconst novoTexto = 'comunicou com o jira';\n\n// Regex que considera quebras de linha reais (\\r\\n)\nconst updatedText = originalText.replace(\n  /\\*\\(\\+\\)\\s*Especificação técnica:\\*\\s*\\{panel:bgColor=#f5f6f9\\}[\\s\\S]*?\\{panel\\}/,\n  `*(+) Especificação técnica:*\\r\\n{panel:bgColor=#f5f6f9}\\r\\n${novoTexto}\\r\\n{panel}`\n);\n\n// Retorna o novo campo\nreturn {\n  descricaoAtualizada: updatedText\n};\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[260,-100],"id":"c4a258d4-6893-42be-bde0-67820beba21e","name":"Modificar especificação tecnica"},{"parameters":{"jiraVersion":"serverPat","operation":"update","issueKey":"=AUTO-81557","updateFields":{"description":"={{ $json.descricaoAtualizada }}"}},"type":"n8n-nodes-base.jira","typeVersion":1,"position":[500,-100],"id":"02551397-c9d5-4c4a-8714-9bc250b7a9c2","name":"Atualiza Jira","credentials":{"***REMOVIDO***":{"id":"EnhyyrY0VweCcNHY","name":"Jira SW Token Augusto"}}},{"parameters":{"content":"## ISSUE TESTE AUTO-81557","height":240},"type":"n8n-nodes-base.stickyNote","position":[-260,-200],"typeVersion":1,"id":"4fc7b612-88b7-4b6b-b644-a32785d97353","name":"Sticky Note"}],"origin":"n8n","pinData":{},"repo":{"owner":"n8nlinx","name":"BACKUP-N8N-LINX"},"settings":{"executionOrder":"v1"},"shared":[{"createdAt":"2025-09-23T17:39:04.323Z","updatedAt":"2025-09-23T17:39:04.323Z","role":"workflow:owner","workflowId":"S7Ja5MrEC2NBKxTm","projectId":"1RGMLoql92onOpCd"}],"staticData":null,"tags":[],"triggerCount":0,"updatedAt":"2025-09-23T17:40:12.897Z","versionId":"ed4afd91-363d-4796-814f-73dfcac145c8"}