SgRDdRmc38y7bNOm.json
{"active":false,"connections":{"Webhook":{"main":[[{"node":"Dados","type":"main","index":0}]]},"Tess Angent Html":{"main":[[{"node":"Respond to Webhook","type":"main","index":0}]]},"Tess Angent Angular":{"main":[[{"node":"Respond to Webhook","type":"main","index":0}]]},"Dados":{"main":[[{"node":"Escolhe linguagem da pagina","type":"main","index":0}]]},"Escolhe linguagem da pagina":{"main":[[{"node":"Tess Angent Html","type":"main","index":0}],[{"node":"Tess Angent Angular","type":"main","index":0}]]}},"createdAt":"2025-10-20T14:12:01.612Z","id":"SgRDdRmc38y7bNOm","isArchived":false,"meta":null,"name":"Criando códigos de tela por agente","nodes":[{"parameters":{"httpMethod":"POST","path":"5c52f044-a3a8-4a87-a0b3-e0597f61d543","responseMode":"responseNode","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[-1056,-64],"id":"a449dfed-0b1e-4084-9ad4-9de31c35d8df","name":"Webhook","webhookId":"5c52f044-a3a8-4a87-a0b3-e0597f61d543"},{"parameters":{"respondWith":"allIncomingItems","options":{}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.4,"position":[-64,-64],"id":"7c21a725-fc17-4ec0-b867-ffcf5fb06f7a","name":"Respond to Webhook"},{"parameters":{"method":"POST","url":"https://tess.pareto.io/api/agents/32032/execute","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"Bearer 188724|***REMOVIDO***"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"messages\": [\n    {\n      \"role\": \"user\",\n      \"content\": \"Crie uma pagina com essas informações {{ $json.descricao }}\"\n    }\n  ],\n  \"wait_execution\": true\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-368,-160],"id":"5ebecc84-8046-42f7-afbd-ce060dfa3757","name":"Tess Angent Html","retryOnFail":true,"maxTries":3,"waitBetweenTries":5000},{"parameters":{"method":"POST","url":"https://tess.pareto.io/api/agents/31806/execute","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"Bearer 188724|***REMOVIDO***"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"messages\": [\n    {\n      \"role\": \"user\",\n      \"content\": \"Crie uma pagina com essas informações {{ $json.descricao }}\"\n    }\n  ],\n  \"wait_execution\": true\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-368,32],"id":"bbc9dc3c-90f0-4639-885d-5bac9c7463b0","name":"Tess Angent Angular","retryOnFail":true,"maxTries":3,"waitBetweenTries":5000},{"parameters":{"assignments":{"assignments":[{"id":"c1e1df9a-e617-4327-be28-8d7cc8608e42","name":"descricao","value":"={{ $json.body.descricao }}","type":"string"},{"id":"5146ae2c-bc04-4918-9ebb-ff0cfc8a9c2e","name":"tipo","value":"={{ $json.body.tipo }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-832,-64],"id":"57be7ea0-f0cf-42a3-b867-87e52737d898","name":"Dados"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.tipo }}","rightValue":"html","operator":{"type":"string","operation":"equals"},"id":"72e81910-f8a9-41cc-b6b0-26ca3a6bd795"}],"combinator":"and"},"renameOutput":true,"outputKey":"HTML"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"16517193-b9a3-4a5d-9fa5-27ee2c224e73","leftValue":"={{ $json.tipo }}","rightValue":"angular","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"ANGULAR"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.3,"position":[-624,-64],"id":"04e3ac08-bdde-4d1f-a74c-801af1e0fc40","name":"Escolhe linguagem da pagina"}],"origin":"n8n","pinData":{},"repo":{"owner":"n8nlinx","name":"BACKUP-N8N-LINX"},"settings":{"executionOrder":"v1"},"shared":[{"createdAt":"2025-10-20T14:12:01.612Z","updatedAt":"2025-10-20T14:12:01.612Z","role":"workflow:owner","workflowId":"SgRDdRmc38y7bNOm","projectId":"l6KXFsOg8uXBDdl3"}],"staticData":null,"tags":[],"triggerCount":0,"updatedAt":"2025-10-20T14:12:10.120Z","versionId":"268217aa-25fc-4e2e-9da1-41fa469e21f8"}