T95WWDhPQxaxX0oN.json
{"active":false,"connections":{"Modificar especificação tecnica":{"main":[[{"node":"Atualiza Jira","type":"main","index":0},{"node":"Campos Issue e responsavel","type":"main","index":0}]]},"Atualiza Jira":{"main":[[{"node":"Foi Atualizado","type":"main","index":0}]]},"Tess Angent":{"main":[[{"node":"Resposta agent","type":"main","index":0}]]},"Pegando solicitação":{"main":[[{"node":"Tem Solicitação","type":"main","index":0}]]},"Resposta agent":{"main":[[{"node":"Combina todas as informações","type":"main","index":0}]]},"Adiciona comentário para revisar":{"main":[[{"node":"Combinação para finalizar","type":"main","index":1}]]},"Foi Atualizado":{"main":[[{"node":"Merge","type":"main","index":1}]]},"Tem Solicitação":{"main":[[{"node":"Falha","type":"main","index":0}],[{"node":"Unir informações para envio para TESS","type":"main","index":0}]]},"Combina todas as informações":{"main":[[{"node":"Modificar especificação tecnica","type":"main","index":0}]]},"Unir informações para envio para TESS":{"main":[[{"node":"Tess Angent","type":"main","index":0},{"node":"Combina todas as informações","type":"main","index":1}]]},"Combinação para finalizar":{"main":[[{"node":"Sucesso","type":"main","index":0}]]},"Merge":{"main":[[{"node":"Adiciona comentário para revisar","type":"main","index":0}]]},"Campos Issue e responsavel":{"main":[[{"node":"Merge","type":"main","index":0},{"node":"Combinação para finalizar","type":"main","index":0}]]},"When Executed by Another Workflow":{"main":[[{"node":"Pegando solicitação","type":"main","index":0}]]}},"createdAt":"2025-11-24T17:06:35.325Z","id":"T95WWDhPQxaxX0oN","isArchived":false,"meta":null,"name":"Refinamento funcional automático complemento","nodes":[{"parameters":{"inputSource":"passthrough"},"type":"n8n-nodes-base.***REMOVIDO***","typeVersion":1.1,"position":[-288,528],"id":"d816ee7a-4364-4d0d-8608-1a7752abbfd7","name":"When Executed by Another Workflow"},{"parameters":{"jsCode":"const descricao_completa = $input.first().json.descricao;\n\nconst resposta_agent = $input.first().json.resposta_agent;\nconst indice = resposta_agent.indexOf(\"Refinamento Funcional\")\n\nlet refinamento = resposta_agent.slice(indice);\n\nconsole.log(refinamento);\n\nrefinamento = refinamento.replaceAll('#','').replaceAll('-','');\nrefinamento = refinamento.replace('Refinamento Funcional**','h2. 📋 *Refinamento Funcional*' );\nrefinamento = refinamento.replace('🏢 **Aplicação:** Linx DMS','🏢 *Aplicação:* Linx DMS' );\nrefinamento = refinamento.replace('⚙️ **Complexidade:** Média','⚙️ *Complexidade:* Média' );\nrefinamento = refinamento.replace('🎯 **Título e Objetivo da Issue:**','🎯 *Título e Objetivo da Issue:*' );\nrefinamento = refinamento.replace('* **Título:**','* *Título:*' );\nrefinamento = refinamento.replace('* **Objetivo:**','* *Objetivo:*' );\nrefinamento = refinamento.replace('✅ **Comportamento Esperado:**','✅ *Comportamento Esperado:*' );\nrefinamento = refinamento.replace('🔧 **Detalhamento da Solução:**','🔧 *Detalhamento da Solução:*' );\nrefinamento = refinamento.replace('✔️ **Critérios de Aceite:**','✔️ *Critérios de Aceite:*' );\nrefinamento = refinamento.replace('🧪 **Sugestão de Plano de Teste:**','🧪 *Sugestão de Plano de Teste:*' );\nrefinamento = refinamento.replace('🎯 **Benefícios Esperados:**','🎯 *Benefícios Esperados:*' );\nrefinamento = refinamento.replace('📝 **O que será Feito:**','📝 *O que será Feito:*' );\nrefinamento = refinamento.replace('⏱️ **Cálculo de Horas:**','⏱️ *Cálculo de Horas:*' );\n\nconst resultado = refinamento.match(/\\*Complexidade:\\*\\s*([A-Za-zÀ-ÿ\\s]+)/);\n\nconst complexidade = resultado ? resultado[1].trim() : null;\n\n// Regex que considera quebras de linha reais (\\r\\n)\nconst atualizardescricao = descricao_completa.replace(\n  /\\*\\(\\+\\)\\s*Especificação técnica:\\*\\s*\\{panel:bgColor=#f5f6f9\\}[\\s\\S]*?\\{panel\\}/,\n  `*(+) Especificação técnica:*\\r\\n{panel:bgColor=#f5f6f9}\\r\\n${refinamento}\\r\\n{panel}`\n);\n\nlet valorprioridade;\n\nconsole.log(complexidade);\n\nif(complexidade != null && complexidade.includes('Baixa')){\n  valorprioridade = 10003;\n}else if(complexidade != null && complexidade.includes('Média')){\n  valorprioridade = 10002;\n}else if(complexidade != null && complexidade.includes('Alta')){\n  valorprioridade = 10001;\n}else if(complexidade != null && complexidade.includes('Muito Alta')){\n  valorprioridade = 10000;\n}\n\n// Retorna o novo campo\nreturn {\n  descricaoAtualizada: atualizardescricao,\n  complexidadeCodigo:  valorprioridade,\n  issue: $input.first().json.issue,\n  responsavel: $input.first().json.responsavel,\n  solicitante: $input.first().json.solicitante\n};\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1280,624],"id":"d87f7fea-7926-4103-9540-c43f0581a4b2","name":"Modificar especificação tecnica"},{"parameters":{"jiraVersion":"serverPat","operation":"update","issueKey":"={{ $json.issue }}","updateFields":{"description":"={{ $json.descricaoAtualizada }}","priority":{"__rl":true,"value":"={{ $json.complexidadeCodigo.toString() }}","mode":"id"}}},"type":"n8n-nodes-base.jira","typeVersion":1,"position":[1552,720],"id":"35704d35-708d-4325-95bc-e8e1ebfbd4ff","name":"Atualiza Jira","disabled":true},{"parameters":{"method":"POST","url":"https://tess.pareto.io/api/agents/29289/execute","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"Bearer 226953|***REMOVIDO***"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"messages\": [\n    {\n      \"role\": \"user\",\n      \"content\": \"Descrição: Menu: Veículos > Integração > Renave > Zero [99215] O que o sistema está fazendo: Atualmente no menu Renave o sistema não possui um relatório que informe os veículos que de fato foram finalizados/enviados, para espelhar com as cobranças que recebemos da SERPRO. O que deseja que o sistema faça: que o sistema possua um relatório com as informações dos veículos que deram saída para que possamos validar as informações. Como deseja que o sistema faça: que o sistema possua um botão para emitir um relatório com todas as operações que geram custos por parte da SERPRO, para sabermos por quais operações estamos pagando. Benefício: Melhor controle das operações realizadas no Renave e possibilidade de conferência de valores que nos são cobrados. -------------------------------------------------------------------------------------------------------- Precisamos que seja possível o print em anexo para que possamos verificar os valores que a serpro esta nos cobrando.\"\n    }\n  ],\n  \"wait_execution\": true\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[608,512],"id":"e2865dd5-3239-4d85-bf27-6004ed694286","name":"Tess Angent","retryOnFail":true,"maxTries":3,"waitBetweenTries":5000},{"parameters":{"jsCode":"\nconst texto = $input.all().map(item => item.json?.descricao || \"\").join(\",\").trim();\n\nconst regex = /Solicitação:\\*\\r?\\n\\{panel:bgColor=#f5f6f9\\}([\\s\\S]*?)\\{panel\\}/;\n\nconst resultado = texto.match(regex);\n\nreturn [\n  {\n    json: {\n      issue: $input.first().json.issue,\n      solicitacao: resultado ? resultado[1].trim() : \"Conteúdo não encontrado\"\n    }\n  }\n];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-64,528],"id":"70c5cc7e-b0a1-4d1d-9331-c2b8496bec56","name":"Pegando solicitação"},{"parameters":{"assignments":{"assignments":[{"id":"e5a20bd7-a5d8-4925-9378-7eb0486a6df4","name":"resposta_agent","value":"={{ $json.responses[0].output }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[832,512],"id":"8e761080-4d7d-46c1-9c89-267ca8b9ded2","name":"Resposta agent"},{"parameters":{"jiraVersion":"serverPat","resource":"issueComment","issueKey":"={{ $json.issue }}","comment":"={{ $json.responsavel }} poderia verificar o refinamento realizado de issue.","options":{}},"type":"n8n-nodes-base.jira","typeVersion":1,"position":[2224,632],"id":"25067846-da66-4503-96dc-dd80332eeb76","name":"Adiciona comentário para revisar","disabled":true},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"a580b793-053b-4191-962b-593a8e2b605a","leftValue":"={{ $json.success }}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1792,720],"id":"6c19fa7f-d46f-4e80-b3b2-b05cb8220169","name":"Foi Atualizado"},{"parameters":{"dataTableId":{"__rl":true,"value":"Rv8RVdt43kRVryg4","mode":"list","cachedResultName":"revisao","cachedResultUrl":"/projects/1RGMLoql92onOpCd/datatables/Rv8RVdt43kRVryg4"},"columns":{"mappingMode":"defineBelow","value":{"situacao":"SUCESSO","issue":"={{ $json.issue }}"},"matchingColumns":[],"schema":[{"id":"issue","displayName":"issue","required":false,"defaultMatch":false,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"situacao","displayName":"situacao","required":false,"defaultMatch":false,"display":true,"type":"string","readOnly":false,"removed":false}],"***REMOVIDO***":false,"***REMOVIDO***":false},"options":{}},"type":"n8n-nodes-base.dataTable","typeVersion":1,"position":[2736,512],"id":"fdc0ea20-76a5-4f18-83d5-cc26087b3da3","name":"Sucesso","disabled":true},{"parameters":{"dataTableId":{"__rl":true,"value":"Rv8RVdt43kRVryg4","mode":"list","cachedResultName":"revisao","cachedResultUrl":"/projects/1RGMLoql92onOpCd/datatables/Rv8RVdt43kRVryg4"},"columns":{"mappingMode":"defineBelow","value":{"issue":"={{ $json.issue }}","situacao":"FALHA"},"matchingColumns":[],"schema":[{"id":"issue","displayName":"issue","required":false,"defaultMatch":false,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"situacao","displayName":"situacao","required":false,"defaultMatch":false,"display":true,"type":"string","readOnly":false,"removed":false}],"***REMOVIDO***":false,"***REMOVIDO***":false},"options":{}},"type":"n8n-nodes-base.dataTable","typeVersion":1,"position":[384,432],"id":"8b1a6a6e-9c8b-4f3a-bc1a-d5d23a99a920","name":"Falha","disabled":true},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"15816d0e-95de-448e-9754-6bde6e0277c1","leftValue":"={{ $json.solicitacao }}","rightValue":"Conteúdo não encontrado","operator":{"type":"string","operation":"empty","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[160,528],"id":"b1d0bb7b-5a90-4182-aca1-e4e4354ad669","name":"Tem Solicitação"},{"parameters":{"mode":"combine","combineBy":"combineAll","options":{}},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[1056,624],"id":"ca0f10ac-6c66-43dd-9874-baba4318fb98","name":"Combina todas as informações"},{"parameters":{"mode":"combine","combineBy":"combineAll","options":{}},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[384,640],"id":"e6c7faf5-44b6-458c-95cd-4a26448dc197","name":"Unir informações para envio para TESS"},{"parameters":{"mode":"combine","combineBy":"combineAll","options":{}},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[2496,512],"id":"03238064-a669-44d5-82ff-6bd4042f6566","name":"Combinação para finalizar"},{"parameters":{"mode":"combine","combineBy":"combineAll","options":{}},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[2000,632],"id":"5e1019a5-cefc-4f0a-b0f0-2f2c43465ab3","name":"Merge"},{"parameters":{"assignments":{"assignments":[{"id":"16856842-fbe2-4b1a-802b-d06e65d7ed41","name":"issue","value":"={{ $json.issue }}","type":"string"},{"id":"a05fe2e2-76df-41e1-a7dc-6bca147fa169","name":"responsavel","value":"={{ $json.responsavel }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1664,496],"id":"40a4750a-b435-4b53-a83f-7993e9c10857","name":"Campos Issue e responsavel"}],"origin":"n8n","pinData":{},"repo":{"owner":"n8nlinx","name":"BACKUP-N8N-LINX"},"settings":{"executionOrder":"v1"},"shared":[{"createdAt":"2025-11-24T17:06:35.325Z","updatedAt":"2025-11-24T17:06:35.325Z","role":"workflow:owner","workflowId":"T95WWDhPQxaxX0oN","projectId":"l6KXFsOg8uXBDdl3"}],"staticData":null,"tags":[],"triggerCount":0,"updatedAt":"2025-11-24T17:08:05.781Z","versionId":"8ac28c02-addc-46b6-9e43-3cff737686d3"}