trxoHxLtEsYB9NL8.json
{"active":true,"connections":{"If":{"main":[[{"node":"Delete a file","type":"main","index":0}],[{"node":"Return","type":"main","index":0}]]},"n8n":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Merge":{"main":[[{"node":"isDiffOrNew","type":"main","index":0}]]},"Switch":{"main":[[{"node":"Get file data","type":"main","index":0},{"node":"Merge","type":"main","index":1}],[{"node":"isDeleted","type":"main","index":0}]]},"github":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Globals":{"main":[[{"node":"Get many workflows","type":"main","index":0}]]},"Get File":{"main":[[{"node":"Merge","type":"main","index":0}]]},"Workflows":{"main":[[{"node":"List files","type":"main","index":0}]]},"isDeleted":{"main":[[{"node":"If","type":"main","index":0}]]},"List files":{"main":[[{"node":"github","type":"main","index":0}]]},"File is new":{"main":[[{"node":"clear","type":"main","index":0}]]},"isDiffOrNew":{"main":[[{"node":"Check Status","type":"main","index":0}]]},"Check Status":{"main":[[{"node":"File is new","type":"main","index":0}],[{"node":"File is different","type":"main","index":0}],[{"node":"Same file - Do nothing","type":"main","index":0}]]},"Delete a file":{"main":[[{"node":"Return","type":"main","index":0}]]},"Get file data":{"main":[[{"node":"If file too large","type":"main","index":0}]]},"Create new file":{"main":[[{"node":"Return","type":"main","index":0}]]},"Loop Over Items":{"main":[[],[{"node":"Execute Workflow","type":"main","index":0}]]},"Execute Workflow":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Schedule Trigger":{"main":[[{"node":"Globals","type":"main","index":0}]]},"File is different":{"main":[[{"node":"clear1","type":"main","index":0}]]},"If file too large":{"main":[[{"node":"Get File","type":"main","index":0}],[{"node":"Merge","type":"main","index":0}]]},"Edit existing file":{"main":[[{"node":"Return","type":"main","index":0}]]},"On clicking 'execute'":{"main":[[{"node":"Globals","type":"main","index":0}]]},"Same file - Do nothing":{"main":[[{"node":"Return","type":"main","index":0}]]},"Execute Workflow Trigger":{"main":[[{"node":"Switch","type":"main","index":0}]]},"Get many workflows":{"main":[[{"node":"n8n","type":"main","index":0},{"node":"Workflows","type":"main","index":0}]]},"clear":{"main":[[{"node":"Create new file","type":"main","index":0}]]},"clear1":{"main":[[{"node":"Edit existing file","type":"main","index":0}]]}},"createdAt":"2025-10-01T15:19:31.391Z","id":"trxoHxLtEsYB9NL8","isArchived":false,"meta":{"***REMOVIDO***":true},"name":"WORKFLOW-BACKUP-GITHUB","nodes":[{"parameters":{},"id":"650c4e19-7ad7-4c75-9e01-15587dd68096","name":"On clicking 'execute'","type":"n8n-nodes-base.manualTrigger","position":[0,0],"typeVersion":1},{"parameters":{"assignments":{"assignments":[{"id":"8d513345-6484-431f-afb7-7cf045c90f4f","name":"Done","type":"boolean","value":true}]},"options":{}},"id":"94ecfc16-affc-4f7d-8c17-34a755f71a88","name":"Return","type":"n8n-nodes-base.set","position":[1488,544],"typeVersion":3.3},{"parameters":{"url":"={{ $json.download_url }}","options":{}},"id":"6d19e6fa-9013-4ac1-8a2e-484c8775f104","name":"Get File","type":"n8n-nodes-base.httpRequest","position":[640,384],"typeVersion":4.2},{"parameters":{"conditions":{"options":{"version":1,"leftValue":"","caseSensitive":true,"typeValidation":"strict"},"conditions":[{"id":"45ce825e-9fa6-430c-8931-9aaf22c42585","operator":{"type":"string","operation":"empty","singleValue":true},"leftValue":"={{ $json.content }}","rightValue":""},{"id":"9619a55f-7fb1-4f24-b1a7-7aeb82365806","operator":{"type":"string","operation":"notExists","singleValue":true},"leftValue":"={{ $json.error }}","rightValue":""}],"combinator":"and"},"options":{}},"id":"91f2f726-efc9-4852-b5ac-9033347da818","name":"If file too large","type":"n8n-nodes-base.if","position":[432,352],"typeVersion":2},{"parameters":{"jsCode":"const orderJsonKeys = (jsonObj) => {\n  const ordered = {};\n  Object.keys(jsonObj).sort().forEach(key => {\n    ordered[key] = jsonObj[key];\n  });\n  return ordered;\n};\n\nconst input0 = $input.all()[0]?.json || {};\nconst input1 = $input.all()[1]?.json || {};\n\nif (input0.content) {\n  // Caso 1: workflow vindo do GitHub (base64)\n  let decoded = Buffer.from(input0.content, 'base64').toString();\n  let origWorkflow;\n\n  try {\n    origWorkflow = JSON.parse(decoded);\n  } catch (e) {\n    throw new Error(\"Falha ao parsear JSON de 'content': \" + e.message);\n  }\n\n  const orderedOriginal = orderJsonKeys(origWorkflow);\n  const orderedActual = orderJsonKeys(input1);\n\n  input0.github_status = JSON.stringify(orderedOriginal) === JSON.stringify(orderedActual) ? \"same\" : \"different\";\n  if (input0.github_status === \"different\") {\n    input0.n8n_data_stringy = JSON.stringify(orderedActual, null, 2);\n  }\n  input0.content_decoded = orderedOriginal;\n\n} else if (input0.data) {\n  // Caso 2: workflow vindo do n8n exportado (JSON direto)\n  let origWorkflow;\n\n  try {\n    origWorkflow = JSON.parse(input0.data);\n  } catch (e) {\n    throw new Error(\"Falha ao parsear JSON de 'data': \" + e.message);\n  }\n\n  const orderedOriginal = orderJsonKeys(origWorkflow);\n  const orderedActual = orderJsonKeys(input1);\n\n  input0.github_status = JSON.stringify(orderedOriginal) === JSON.stringify(orderedActual) ? \"same\" : \"different\";\n  if (input0.github_status === \"different\") {\n    input0.n8n_data_stringy = JSON.stringify(orderedActual, null, 2);\n  }\n  input0.content_decoded = orderedOriginal;\n\n} else if (Object.keys(input1).length) {\n  // Caso 3: nenhum arquivo vindo, mas tem workflow novo no n8n\n  const orderedActual = orderJsonKeys(input1);\n\n  input0.github_status = \"new\";\n  input0.n8n_data_stringy = JSON.stringify(orderedActual, null, 2);\n\n} else {\n  // Nenhum dado válido\n  throw new Error(\"Nenhum dado válido encontrado: nem 'content', nem 'data'.\");\n}\n\n// Return items\nreturn $input.all();"},"id":"632c41f6-35ce-495a-8b7d-0d666f5907be","name":"isDiffOrNew","type":"n8n-nodes-base.code","position":[640,528],"typeVersion":1},{"parameters":{},"id":"3a23ddfa-addf-48fd-9ace-9f5154a743d7","name":"Same file - Do nothing","type":"n8n-nodes-base.noOp","position":[1008,672],"typeVersion":1},{"parameters":{},"id":"6c0feb88-c00d-457c-90d7-d84ea1e3767b","name":"File is different","type":"n8n-nodes-base.noOp","position":[1008,528],"typeVersion":1},{"parameters":{},"id":"d494f68d-2c13-4b52-a635-fd830e8fa18c","name":"File is new","type":"n8n-nodes-base.noOp","position":[1008,384],"typeVersion":1},{"parameters":{"resource":"file","owner":{"__rl":true,"mode":"name","value":"={{ $('Switch').item.json.repo.owner }}"},"repository":{"__rl":true,"mode":"name","value":"={{ $('Switch').item.json.repo.name }}"},"filePath":"={{$('Switch').first().json.id}}.json","fileContent":"={{$('clear').item.json[\"clean_data_string\"]}}","commitMessage":"={{$('Switch').first().json.name}} ({{$json.github_status}})"},"id":"265f1691-5930-4c9d-864d-66c09c855cfc","name":"Create new file","type":"n8n-nodes-base.github","position":[1344,384],"webhookId":"93cca36a-a5f4-4919-b655-e0fa2cc2ca36","typeVersion":1,"credentials":{"githubApi":{"id":"Bph7pqykppbMxbe9","name":"GitHub account"}}},{"parameters":{"resource":"file","operation":"edit","owner":{"__rl":true,"value":"=n8nlinx","mode":"name"},"repository":{"__rl":true,"value":"=BACKUP-N8N-LINX","mode":"name"},"filePath":"={{$('Switch').first().json.id}}.json","fileContent":"={{$('clear1').item.json[\"clean_data_string\"]}}","commitMessage":"={{$('Switch').first().json.name}} ({{$json.github_status}})"},"id":"278174c2-da6a-4408-9676-499363a675a7","name":"Edit existing file","type":"n8n-nodes-base.github","position":[1344,544],"webhookId":"286cabce-a3ec-4202-9d94-d005502d73cc","typeVersion":1,"credentials":{"githubApi":{"id":"Bph7pqykppbMxbe9","name":"GitHub account"}}},{"parameters":{"options":{"reset":"={{ $node[\"Loop Over Items\"].context[\"done\"] }}"}},"id":"25c90c25-70a3-4203-9996-410188157ea6","name":"Loop Over Items","type":"n8n-nodes-base.splitInBatches","position":[1344,112],"typeVersion":3},{"parameters":{"rule":{"interval":[{"triggerAtHour":7}]}},"id":"e7b91111-eaf2-4b5c-aee6-8405deb70624","name":"Schedule Trigger","type":"n8n-nodes-base.scheduleTrigger","position":[0,208],"typeVersion":1.2},{"parameters":{"resource":"file","operation":"get","owner":{"__rl":true,"value":"=n8nlinx","mode":"name"},"repository":{"__rl":true,"value":"=BACKUP-N8N-LINX","mode":"name"},"filePath":"={{ $('Switch').item.json.id }}.json","asBinaryProperty":false,"***REMOVIDO***":{}},"id":"5aca8b93-976c-436b-98f8-ebfeab53847d","name":"Get file data","type":"n8n-nodes-base.github","position":[224,384],"webhookId":"5cf07ee9-70c6-48bf-b370-534315f2d48e","typeVersion":1,"alwaysOutputData":false,"credentials":{"githubApi":{"id":"Bph7pqykppbMxbe9","name":"GitHub account"}},"continueOnFail":true},{"parameters":{"inputSource":"passthrough"},"id":"9c964a21-8168-4df8-96d5-639379825dba","name":"Execute Workflow Trigger","type":"n8n-nodes-base.***REMOVIDO***","position":[-16,592],"typeVersion":1.1},{"parameters":{"workflowId":{"__rl":true,"mode":"id","value":"={{ $workflow.id }}"},"workflowInputs":{"value":{},"schema":[],"mappingMode":"defineBelow","matchingColumns":[],"***REMOVIDO***":false,"***REMOVIDO***":true},"mode":"each","options":{}},"id":"b4d6bee5-8e12-4977-b8ad-0c2ca56a4964","name":"Execute Workflow","type":"n8n-nodes-base.executeWorkflow","position":[1584,128],"typeVersion":1.2},{"parameters":{"assignments":{"assignments":[{"id":"6cf546c5-5737-4dbd-851b-17d68e0a3780","name":"repo.owner","type":"string","value":"n8nlinx"},{"id":"452efa28-2dc6-4ea3-a7a2-c35d100d0382","name":"repo.name","type":"string","value":"BACKUP-N8N-LINX"}]},"options":{}},"id":"6cf67333-37a0-4535-a05f-f71dca33285f","name":"Globals","type":"n8n-nodes-base.set","position":[224,112],"typeVersion":3.4},{"parameters":{"resource":"file","operation":"list","owner":{"__rl":true,"mode":"name","value":"={{ $('Globals').item.json.repo.owner }}"},"repository":{"__rl":true,"mode":"name","value":"={{ $('Globals').item.json.repo.name }}"}},"id":"6520efd1-bf6a-4bea-a14a-8b3f755edf60","name":"List files","type":"n8n-nodes-base.github","position":[880,208],"webhookId":"244ea8da-851f-4afb-980c-5e5973b6a1af","executeOnce":false,"typeVersion":1.1,"credentials":{"githubApi":{"id":"Bph7pqykppbMxbe9","name":"GitHub account"}}},{"parameters":{"rules":{"values":[{"conditions":{"options":{"version":2,"leftValue":"","caseSensitive":true,"typeValidation":"strict"},"conditions":[{"id":"8f6b31b0-a75c-4299-a530-d15b3ff65c9a","operator":{"type":"string","operation":"equals"},"leftValue":"={{ $json.origin }}","rightValue":"n8n"}],"combinator":"and"},"renameOutput":true,"outputKey":"n8n"},{"conditions":{"options":{"version":2,"leftValue":"","caseSensitive":true,"typeValidation":"strict"},"conditions":[{"id":"09e36861-1120-4343-8d38-4797e9d67eec","operator":{"name":"filter.operator.equals","type":"string","operation":"equals"},"leftValue":"={{ $json.origin }}","rightValue":"github"}],"combinator":"and"},"renameOutput":true,"outputKey":"github"}]},"options":{}},"id":"17c29d6e-396e-4c57-9190-2c17e4537a2a","name":"Switch","type":"n8n-nodes-base.switch","position":[208,576],"typeVersion":3.2},{"parameters":{"aggregate":"***REMOVIDO***","options":{}},"id":"bd2744fe-61ae-4567-bbde-1dbce7fb81e7","name":"Workflows","type":"n8n-nodes-base.aggregate","position":[672,208],"typeVersion":1},{"parameters":{},"id":"9efe1084-8dac-4c3a-a290-3b05940c1fe6","name":"Merge","type":"n8n-nodes-base.merge","position":[432,576],"typeVersion":3.2},{"parameters":{"rules":{"values":[{"conditions":{"options":{"version":2,"leftValue":"","caseSensitive":true,"typeValidation":"strict"},"conditions":[{"id":"aea200f9-9f83-4e4e-a965-65fddcbb6a5f","operator":{"name":"filter.operator.equals","type":"string","operation":"equals"},"leftValue":"={{$json.github_status}}","rightValue":"new"}],"combinator":"and"},"renameOutput":true,"outputKey":"new"},{"conditions":{"options":{"version":2,"leftValue":"","caseSensitive":true,"typeValidation":"strict"},"conditions":[{"id":"706ebf35-6f74-43b6-9f98-94cf14107947","operator":{"name":"filter.operator.equals","type":"string","operation":"equals"},"leftValue":"={{$json.github_status}}","rightValue":"different"}],"combinator":"and"},"renameOutput":true,"outputKey":"different"},{"conditions":{"options":{"version":2,"leftValue":"","caseSensitive":true,"typeValidation":"strict"},"combinator":"and","conditions":[{"id":"30c8c5a8-269f-424a-93ed-d2cbe52acf7c","operator":{"type":"string","operation":"equals"},"leftValue":"={{$json.github_status}}","rightValue":"same"}]},"renameOutput":true,"outputKey":"same"}]},"options":{}},"id":"c3036ba6-a405-4a50-91e6-52c2efaaede5","name":"Check Status","type":"n8n-nodes-base.switch","position":[816,480],"typeVersion":3.2},{"parameters":{"jsCode":"const workflows = $input.first().json.workflows;\n\nconst some = workflows.some(x => x.id === $input.first().json.name.split(\".\")[0])\n\nreturn [{json: { isDeleted: !some }}];"},"id":"c89fd588-32bf-437d-b8d1-aa8ece5bbc62","name":"isDeleted","type":"n8n-nodes-base.code","position":[640,688],"typeVersion":2},{"parameters":{"resource":"file","operation":"delete","owner":{"__rl":true,"mode":"name","value":"={{ $('Switch').item.json.repo.owner }}"},"repository":{"__rl":true,"mode":"name","value":"={{ $('Switch').item.json.repo.name }}"},"filePath":"={{$('Switch').first().json.name}}","commitMessage":"={{$('Switch').first().json.name}} (deleted)"},"id":"de931d50-f83d-4a9b-8313-dda44f2be03e","name":"Delete a file","type":"n8n-nodes-base.github","position":[1344,720],"webhookId":"592f888e-3e41-49ce-b88a-d73f8756eac8","typeVersion":1.1,"credentials":{"githubApi":{"id":"Bph7pqykppbMxbe9","name":"GitHub account"}}},{"parameters":{"conditions":{"options":{"version":2,"leftValue":"","caseSensitive":true,"typeValidation":"strict"},"combinator":"and","conditions":[{"id":"bb927e0c-f27b-4dce-80df-8d7611467045","operator":{"type":"boolean","operation":"true","singleValue":true},"leftValue":"={{ $json.isDeleted }}","rightValue":""}]},"options":{}},"id":"88954a2a-7ce5-45c8-a296-ab8a03857544","name":"If","type":"n8n-nodes-base.if","position":[816,672],"typeVersion":2.2},{"parameters":{"assignments":{"assignments":[{"id":"5e73d2e7-4b1a-4180-8af2-047e52eb8a0a","name":"repo.owner","type":"string","value":"={{ $('Globals').item.json.repo.owner }}"},{"id":"22445c28-5431-45a5-86ca-0ab2ff26cff5","name":"repo.name","type":"string","value":"={{ $('Globals').item.json.repo.name }}"},{"id":"232d9947-a43f-48a9-b385-da1aa8f5139e","name":"origin","type":"string","value":"n8n"}]},"includeOtherFields":true,"options":{}},"id":"f1b13920-6bc1-45f7-8afc-c01826122458","name":"n8n","type":"n8n-nodes-base.set","position":[880,0],"typeVersion":3.4},{"parameters":{"assignments":{"assignments":[{"id":"5e73d2e7-4b1a-4180-8af2-047e52eb8a0a","name":"repo.owner","type":"string","value":"={{ $('Globals').item.json.repo.owner }}"},{"id":"22445c28-5431-45a5-86ca-0ab2ff26cff5","name":"repo.name","type":"string","value":"={{ $('Globals').item.json.repo.name }}"},{"id":"232d9947-a43f-48a9-b385-da1aa8f5139e","name":"origin","type":"string","value":"github"},{"id":"456ec816-8c15-498b-bbc5-a96abce95d59","name":"workflows","type":"array","value":"={{ $('Workflows').item.json.data }}"}]},"includeOtherFields":true,"options":{}},"id":"977d847e-49ce-4e61-b70c-3aa9e0132732","name":"github","type":"n8n-nodes-base.set","position":[1104,208],"typeVersion":3.4},{"parameters":{"filters":{},"requestOptions":{}},"type":"n8n-nodes-base.n8n","typeVersion":1,"position":[432,112],"id":"a86e550c-0297-4d79-8010-d02b8f847738","name":"Get many workflows","credentials":{"n8nApi":{"id":"4H4SNFRa1WWnLLt2","name":"n8n account"}}},{"parameters":{"jsCode":"// Verifica se o campo existe e não é vazio\nif (!$json || !$json.n8n_data_stringy) {\n  throw new Error(\"Campo 'n8n_data_stringy' não encontrado ou vazio.\");\n}\n\ntry {\n  // Tenta parsear o JSON\n  let data = JSON.parse($json.n8n_data_stringy); // ← corrigido: sem aspas, sem \"y\" extra?\n\n  // Converte para string para fazer replace\n  let dataStr = JSON.stringify(data);\n\n  // Remove sequências longas alfanuméricas (possíveis tokens)\n  dataStr = dataStr.replace(/[A-Za-z0-9]{20,}/g, \"***REMOVIDO***\");\n\n  // Remove access_token e token com valores\n  dataStr = dataStr.replace(/\"access_token\"\\s*:\\s*\"[^\"]*\"/g, '\"access_token\": \"***REMOVIDO***\"');\n  dataStr = dataStr.replace(/\"token\"\\s*:\\s*\"[^\"]*\"/g, '\"token\": \"***REMOVIDO***\"');\n\n  // Retorna o conteúdo limpo\n  return {\n    json: {\n      clean_data_string: dataStr\n    }\n  };\n\n} catch (error) {\n  throw new Error(`Erro ao processar JSON: ${error.message}`);\n}"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1168,384],"id":"09049fe4-b28b-456f-8200-552dde819f50","name":"clear"},{"parameters":{"jsCode":"// Verifica se o campo existe e não é vazio\nif (!$json || !$json.n8n_data_stringy) {\n  throw new Error(\"Campo 'n8n_data_stringy' não encontrado ou vazio.\");\n}\n\ntry {\n  // Tenta parsear o JSON\n  let data = JSON.parse($json.n8n_data_stringy); // ← corrigido: sem aspas, sem \"y\" extra?\n\n  // Converte para string para fazer replace\n  let dataStr = JSON.stringify(data);\n\n  // Remove sequências longas alfanuméricas (possíveis tokens)\n  dataStr = dataStr.replace(/[A-Za-z0-9]{20,}/g, \"***REMOVIDO***\");\n\n  // Remove access_token e token com valores\n  dataStr = dataStr.replace(/\"access_token\"\\s*:\\s*\"[^\"]*\"/g, '\"access_token\": \"***REMOVIDO***\"');\n  dataStr = dataStr.replace(/\"token\"\\s*:\\s*\"[^\"]*\"/g, '\"token\": \"***REMOVIDO***\"');\n\n  // Retorna o conteúdo limpo\n  return {\n    json: {\n      clean_data_string: dataStr\n    }\n  };\n\n} catch (error) {\n  throw new Error(`Erro ao processar JSON: ${error.message}`);\n}"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1168,544],"id":"2c5298e3-15ce-4884-925f-c72125d87d23","name":"clear1"}],"origin":"n8n","pinData":{},"repo":{"owner":"n8nlinx","name":"BACKUP-N8N-LINX"},"settings":{"executionOrder":"v1"},"shared":[{"createdAt":"2025-10-01T15:19:31.391Z","updatedAt":"2025-10-01T15:19:31.391Z","role":"workflow:owner","workflowId":"trxoHxLtEsYB9NL8","projectId":"ZMbrdKJYwjtwuEyG"}],"staticData":{"node:Schedule Trigger":{"recurrenceRules":[]}},"tags":[],"triggerCount":1,"updatedAt":"2025-10-03T18:28:05.533Z","versionId":"62426390-1838-43eb-8cff-05dd3b2048db"}