u3qbfK6iToep3RUR.json
{"active":false,"connections":{"Casos":{"main":[[{"node":" Cria Lista","type":"main","index":0}]]},"Dados Issue":{"main":[[{"node":"Unir casos com dados issue","type":"main","index":1},{"node":"Extrair dados descrição","type":"main","index":0},{"node":"Call 'Data Liberação'","type":"main","index":0}]]}," Cria Lista":{"main":[[{"node":"Unir casos com dados issue","type":"main","index":0}]]},"Consultando SalesForce":{"main":[[{"node":"Dados Cliente","type":"main","index":0}]]},"Unir casos com dados issue":{"main":[[{"node":"Unir dados issue com token","type":"main","index":1}]]},"Unir dados issue com token":{"main":[[{"node":"Consultando SalesForce","type":"main","index":0}]]},"Unir dados issue com email cliente":{"main":[[{"node":"Adicionando data de liberação","type":"main","index":0}]]},"Dados Cliente":{"main":[[{"node":"Unir dados issue com email cliente","type":"main","index":0}]]},"Extrair dados descrição":{"main":[[{"node":"Unir dados issue com email cliente","type":"main","index":1}]]},"Call 'Data Liberação'":{"main":[[{"node":"Adicionando data de liberação","type":"main","index":1}]]},"Call 'Token Sales Force'":{"main":[[{"node":"Unir dados issue com token","type":"main","index":0}]]},"When Executed by Another Workflow":{"main":[[{"node":"Call 'Token Sales Force'","type":"main","index":0},{"node":"Casos","type":"main","index":0},{"node":"Dados Issue","type":"main","index":0}]]}},"createdAt":"2025-11-05T12:14:20.058Z","id":"u3qbfK6iToep3RUR","isArchived":false,"meta":null,"name":"Processamento validação cliente","nodes":[{"parameters":{"inputSource":"passthrough"},"type":"n8n-nodes-base.***REMOVIDO***","typeVersion":1.1,"position":[-448,-128],"id":"437bf675-44ef-418f-829d-cdb987d57dca","name":"When Executed by Another Workflow"},{"parameters":{"assignments":{"assignments":[{"id":"6b8f93ed-534e-4cc7-b6dd-9e7a1b4a255c","name":"case","value":"={{ $json[\"Case ID\"] }}","type":"array"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-128,-128],"id":"8e749c3e-a63f-4ea7-b877-a049df42c0f1","name":"Casos"},{"parameters":{"assignments":{"assignments":[{"id":"751f8dfe-e1dc-4183-a82c-f4bf866b88df","name":"descricao","value":"={{ $json[\"Descrição\"] }}","type":"string"},{"id":"5647688a-13bb-4d79-abe5-df8f1e85c280","name":"issue","value":"={{ $json.key }}","type":"string"},{"id":"2601b0c4-b724-4fd0-85d4-e5d8937a511d","name":"release","value":"={{ $json[\"Release Notes\"] }}","type":"string"},{"id":"d7b9486d-93b3-4dc8-b374-d2397d16631a","name":"issue","value":"={{ $json.key }}","type":"string"},{"id":"f8705df7-d527-4fb9-9313-e0b17d1a1d2e","name":"Enviar Cliente","value":"S","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[80,48],"id":"9672acca-7492-4c68-81c8-0507d3299ca5","name":"Dados Issue"},{"parameters":{"fieldToSplitOut":"case","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[80,-128],"id":"9d9f9533-fcad-40f8-bdd4-45897cdb8729","name":" Cria Lista"},{"parameters":{"url":"=https://suportelinx.my.salesforce.com/services/data/v57.0/sobjects/case/{{ $json.case }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"=Bearer {{ $json.token }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[800,-128],"id":"cce11084-f9ce-4fbc-a202-33c9c146ecab","name":"Consultando SalesForce"},{"parameters":{"mode":"combine","combineBy":"combineAll","options":{}},"type":"n8n-nodes-base.merge","typeVersion":3.1,"position":[352,-112],"id":"baa8ea81-ae9b-43ad-8bab-2a1ebf31d9b4","name":"Unir casos com dados issue"},{"parameters":{"mode":"combine","combineBy":"combineAll","options":{}},"type":"n8n-nodes-base.merge","typeVersion":3.1,"position":[576,-128],"id":"22acf5d5-e83b-4df9-bc7a-24249153f44a","name":"Unir dados issue com token"},{"parameters":{"mode":"combine","combineBy":"combineAll","options":{}},"type":"n8n-nodes-base.merge","typeVersion":3.1,"position":[1280,-112],"id":"a3337b5c-79a6-45b0-8b43-e4727b880de8","name":"Unir dados issue com email cliente"},{"parameters":{"assignments":{"assignments":[{"id":"d90ada0c-d1f1-4f9c-9481-469f47894e9b","name":"email","value":"={{ $json.ContactEmail }}","type":"string"},{"id":"0ce970a4-2956-4abd-a1ba-874bb1343139","name":"caso","value":"={{ $json.Id }}","type":"string"},{"id":"f78c480b-b3cf-4e10-8e43-63d8495d318e","name":"grupo","value":"={{ $json.NameAccount__c }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1040,-128],"id":"d9caf5b3-736d-43b1-ada5-edb2871658dd","name":"Dados Cliente"},{"parameters":{"mode":"combine","combineBy":"combineAll","options":{}},"type":"n8n-nodes-base.merge","typeVersion":3.1,"position":[1552,-96],"id":"608f029a-aabe-474f-87d9-2a77815a2d50","name":"Adicionando data de liberação"},{"parameters":{"language":"python","pythonCode":"import re\n\nfor item in _input.all():\n  link = re.search(r'-- Envio automatizado --(.*?)-- Fim --', item.json.descricao, re.DOTALL)\n\n  if link:\n    link_extraido = link.group(1).strip()\n\n    # Regex para pegar o que está entre [ e |\n    link_final = re.search(r'\\[([^\\|]+)\\|', link_extraido)\n    if link_final:\n        resultado = link_final.group(1)\n        item.json.link_final = resultado\n\n  del item.json.descricao\n  \nreturn _input.all()"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1040,64],"id":"2cf8db71-5e22-42ee-b918-19fd3562bb0d","name":"Extrair dados descrição"},{"parameters":{"workflowId":{"__rl":true,"value":"iLoeSzk25gRhYRcY","mode":"list","cachedResultUrl":"/workflow/iLoeSzk25gRhYRcY","cachedResultName":"Data Liberação"},"workflowInputs":{"mappingMode":"defineBelow","value":{}},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.3,"position":[1040,240],"id":"839e18b1-8f02-431a-9cb3-dba713d9353f","name":"Call 'Data Liberação'"},{"parameters":{"workflowId":{"__rl":true,"value":"58tehwiWyKjICM4L","mode":"list","cachedResultUrl":"/workflow/58tehwiWyKjICM4L","cachedResultName":"Token Sales Force"},"workflowInputs":{"mappingMode":"defineBelow","value":{}},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.3,"position":[80,-320],"id":"2d1f297e-3b24-4c14-9a17-d7bee2eab129","name":"Call 'Token Sales Force'"}],"origin":"n8n","pinData":{},"repo":{"owner":"n8nlinx","name":"BACKUP-N8N-LINX"},"settings":{"executionOrder":"v1","callerPolicy":"workflowsFromAList","availableInMCP":false,"callerIds":"ISX3znns7u9SscPD"},"shared":[{"createdAt":"2025-11-05T12:14:20.058Z","updatedAt":"2025-11-05T12:14:20.058Z","role":"workflow:owner","workflowId":"u3qbfK6iToep3RUR","projectId":"l6KXFsOg8uXBDdl3"}],"staticData":null,"tags":[],"triggerCount":0,"updatedAt":"2025-11-05T12:19:09.919Z","versionId":"2c41aafe-97e1-48a1-a2e0-af16b698efa8"}