VBMakW1WvT0VpPy4.json
{"active":false,"connections":{"Loop Over Items":{"main":[[{"node":"Code in JavaScript1","type":"main","index":0}],[{"node":"HTTP Request1","type":"main","index":0},{"node":"HTTP Request","type":"main","index":0}]]},"HTTP Request":{"main":[[{"node":"Code in JavaScript3","type":"main","index":0}]]},"HTTP Request1":{"main":[[{"node":"Code in JavaScript2","type":"main","index":0}]]},"Code in JavaScript2":{"main":[[{"node":"Merge","type":"main","index":0}]]},"Code in JavaScript3":{"main":[[{"node":"HTTP Request2","type":"main","index":0}]]},"HTTP Request2":{"main":[[{"node":"Code in JavaScript4","type":"main","index":0}]]},"Code in JavaScript4":{"main":[[{"node":"Merge","type":"main","index":1}]]},"Merge":{"main":[[{"node":"Code in JavaScript5","type":"main","index":0}]]},"Code in JavaScript5":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"HTTP Request3":{"main":[[{"node":"Merge1","type":"main","index":0}]]},"Code in JavaScript6":{"main":[[{"node":"Update row(s)","type":"main","index":0},{"node":"If","type":"main","index":0}]]},"If":{"main":[[{"node":"HTTP Request4","type":"main","index":0}],[]]},"Code in JavaScript1":{"main":[[{"node":"Code in JavaScript8","type":"main","index":0}]]},"Code in JavaScript7":{"main":[[{"node":"Loop Over Items1","type":"main","index":0}]]},"Loop Over Items1":{"main":[[{"node":"Code in JavaScript9","type":"main","index":0}],[{"node":"HTTP Request7","type":"main","index":0}]]},"HTTP Request7":{"main":[[{"node":"Code in JavaScript","type":"main","index":0}]]},"HTTP Request5":{"main":[[]]},"Code in JavaScript8":{"main":[[{"node":"HTTP Request5","type":"main","index":0}]]},"Code in JavaScript":{"main":[[{"node":"Loop Over Items1","type":"main","index":0}]]},"Code in JavaScript9":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"HTTP Request8":{"main":[[{"node":"Code in JavaScript7","type":"main","index":0}]]},"HTTP Request9":{"main":[[{"node":"HTTP Request8","type":"main","index":0}]]},"Schedule Trigger":{"main":[[{"node":"HTTP Request6","type":"main","index":0},{"node":"HTTP Request3","type":"main","index":0}]]},"Get row(s)":{"main":[[{"node":"Code in JavaScript6","type":"main","index":0}]]},"Update row(s)":{"main":[[]]},"HTTP Request6":{"main":[[{"node":"Merge1","type":"main","index":1}]]},"Merge1":{"main":[[{"node":"Get row(s)","type":"main","index":0}]]},"Code in JavaScript10":{"main":[[{"node":"Loop Over Items2","type":"main","index":0}]]},"Loop Over Items2":{"main":[[{"node":"Code in JavaScript19","type":"main","index":0}],[{"node":"HTTP Request10","type":"main","index":0}]]},"HTTP Request10":{"main":[[{"node":"Code in JavaScript12","type":"main","index":0}]]},"Code in JavaScript11":{"main":[[{"node":"Loop Over Items2","type":"main","index":0}]]},"HTTP Request11":{"main":[[{"node":"Code in JavaScript10","type":"main","index":0}]]},"HTTP Request12":{"main":[[{"node":"HTTP Request11","type":"main","index":0}]]},"AI Agent":{"main":[[{"node":"Code in JavaScript11","type":"main","index":0}]]},"Azure OpenAI Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"Webhook1":{"main":[[{"node":"HTTP Request12","type":"main","index":0}]]},"Code in JavaScript12":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"Loop Over Items3":{"main":[[{"node":"Code in JavaScript17","type":"main","index":0}],[{"node":"HTTP Request14","type":"main","index":0},{"node":"HTTP Request13","type":"main","index":0}]]},"HTTP Request13":{"main":[[{"node":"Code in JavaScript14","type":"main","index":0}]]},"HTTP Request14":{"main":[[{"node":"Code in JavaScript13","type":"main","index":0}]]},"Code in JavaScript13":{"main":[[{"node":"Merge2","type":"main","index":0}]]},"Code in JavaScript14":{"main":[[{"node":"HTTP Request15","type":"main","index":0}]]},"HTTP Request15":{"main":[[{"node":"Code in JavaScript15","type":"main","index":0}]]},"Code in JavaScript15":{"main":[[{"node":"Merge2","type":"main","index":1}]]},"Merge2":{"main":[[{"node":"Code in JavaScript16","type":"main","index":0}]]},"Code in JavaScript16":{"main":[[{"node":"Loop Over Items3","type":"main","index":0}]]},"Code in JavaScript17":{"main":[[{"node":"Code in JavaScript18","type":"main","index":0}]]},"Code in JavaScript18":{"main":[[{"node":"AI Agent1","type":"main","index":0}]]},"Code in JavaScript19":{"main":[[{"node":"Loop Over Items3","type":"main","index":0}]]},"Azure OpenAI Chat Model1":{"ai_languageModel":[[{"node":"AI Agent1","type":"ai_languageModel","index":0}]]},"AI Agent1":{"main":[[{"node":"HTTP Request16","type":"main","index":0}]]}},"createdAt":"2025-11-03T12:01:24.214Z","id":"VBMakW1WvT0VpPy4","isArchived":false,"meta":{"***REMOVIDO***":true},"name":"Pipelines","nodes":[{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[1808,-944],"id":"5565c260-3331-4192-9797-a4f83e57466d","name":"Loop Over Items","alwaysOutputData":false,"executeOnce":false},{"parameters":{"url":"=https://api.nuget.org/v3/registration5-gz-semver2/{{$json[\"include\"].toLowerCase()}}/{{$json[\"version\"].toLowerCase()}}.json","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2000,-752],"id":"a69e5e29-005a-42c1-b290-842212029079","name":"HTTP Request","onError":"***REMOVIDO***"},{"parameters":{"url":"=https://www.nuget.org/api/v2/Packages(Id='{{$json[\"include\"]}}',Version='{{$json[\"version\"]}}')","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2000,-880],"id":"31199961-3bac-4af5-8ff6-252397c0136a","name":"HTTP Request1","onError":"***REMOVIDO***"},{"parameters":{"jsCode":"// Pega o XML retornado da requisição anterior\nconst xml = $json[\"body\"] || $json[\"data\"] || \"\";\nconst httpData = $node[\"Loop Over Items\"].json;\n\nconst include = httpData.include;\n\n// Expressão regular pra capturar o conteúdo entre <d:LicenseUrl>...</d:LicenseUrl>\nconst match = xml.match(/<d:LicenseUrl>(.*?)<\\/d:LicenseUrl>/);\n\nreturn [\n  {\n    json: {\n      include,\n      licenseUrlV2: match ? match[1] : \"Unknown\"\n    }\n  }\n];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[2144,-880],"id":"5dfade3d-3c4e-482b-bab4-a59df7a43643","name":"Code in JavaScript2"},{"parameters":{"jsCode":"const data = $json; // ou JSON.parse(responseText), se for string\n\nconst catalogEntry = data.catalogEntry;\n\nreturn [\n  {\n    json: {\n      catalogEntry\n    }\n  }\n];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[2128,-752],"id":"5fabe7d8-259c-4e70-8c95-d3a4be8aff86","name":"Code in JavaScript3"},{"parameters":{"url":"={{ $json.catalogEntry }}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2272,-752],"id":"30c01ebf-cf48-4603-975f-99d88c372439","name":"HTTP Request2","onError":"***REMOVIDO***"},{"parameters":{"jsCode":"const data = $json; // ou JSON.parse(responseText), se for string\nconst httpData = $node[\"Loop Over Items\"].json;\n\nconst include = httpData.include;\n\nconst licenseExpressionV3 = data.licenseExpression || \"Unknown\";\nconst licenseUrlV3 = data.licenseUrl || \"Unknown\";\n\nreturn [\n  {\n    json: {\n      include,\n      licenseUrlV3,\n      licenseExpressionV3\n    }\n  }\n];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[2416,-752],"id":"edc8a5ab-e3d7-4f4e-a5ee-22db13110cdc","name":"Code in JavaScript4"},{"parameters":{"mode":"combine","fieldsToMatchString":"include","options":{}},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[2624,-768],"id":"63c0ef36-645c-4e4a-afc5-4f63ba3c05e0","name":"Merge"},{"parameters":{"jsCode":"const data = $json; // ou JSON.parse(responseText), se for string\n\nconst httpData = $node[\"Loop Over Items\"].json;\n\nconst include = httpData.include;\nconst version = httpData.version;\n\nconst licenseUrlV2 = data.licenseUrlV2;\nconst licenseExpressionV3 = data.licenseExpressionV3;\nconst licenseUrlV3 = data.licenseUrlV3;\n\nreturn [\n  {\n    json: {\n      include,\n      version,\n      licenseUrlV2,\n      licenseExpressionV3,\n      licenseUrlV3,\n    }\n  }\n];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[2832,-768],"id":"7a661f71-531c-423e-8e4b-29387917357d","name":"Code in JavaScript5"},{"parameters":{"jsCode":"const data = $input.all().map(item => item.json);\n\nreturn [\n  {\n    json: {\n      attachments: data.map(d => ({\n        contentType: \"application/vnd.microsoft.card.adaptive\",\n        content: {\n          Coluna1: d.include,\n          Coluna2: d.version,\n          Coluna3: d.licenseUrlV2,\n          Coluna4: d.licenseExpressionV3,\n          Coluna5: d.licenseUrlV3\n        }\n      }))\n    }\n  }\n];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1984,-1120],"id":"76aa3b67-6c07-4197-b3d5-903f884a9dbc","name":"Code in JavaScript1","executeOnce":false},{"parameters":{"url":"https://status.dev.azure.com/_apis/status/health?api-version=7.1-preview.1","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[480,-368],"id":"1f4fa835-1784-4306-9fe2-cf8986b9d775","name":"HTTP Request3"},{"parameters":{"jsCode":"const dataDevops = $node[\"HTTP Request3\"].json;\nconst dataNpmjs = $node[\"HTTP Request6\"].json;\n\n// Status atual\nconst health = dataDevops.status.health;\nconst messageDevops = dataDevops.status.message;\nconst healthNpmjs = dataNpmjs.status.description;\n\n// Status anterior (Data Store)\nconst ***REMOVIDO*** = $json.statusDevops;\nconst statusAnteriorNpmjs = $json.statusNpmjs;\n\nlet alert = false;\nlet cards = [];\n\n// --- DevOps ---\nif (***REMOVIDO*** !== health) {\n  alert = true;\n\n  cards.push({\n    contentType: \"application/vnd.microsoft.card.adaptive\",\n    content: {\n      type: \"AdaptiveCard\",\n      version: \"1.4\",\n      body: [\n        {\n          type: \"TextBlock\",\n          text: `Alerta do Azure Devops: Status ${health}`,\n          weight: \"Bolder\",\n          size: \"Medium\"\n        },\n        {\n          type: \"TextBlock\",\n          text: `Status Message: ${messageDevops}`\n        }\n      ]\n    }\n  });\n}\n\n// --- NPMJS ---\nif (statusAnteriorNpmjs !== healthNpmjs) {\n  alert = true;\n\n  cards.push({\n    contentType: \"application/vnd.microsoft.card.adaptive\",\n    content: {\n      type: \"AdaptiveCard\",\n      version: \"1.4\",\n      body: [\n        {\n          type: \"TextBlock\",\n          text: `Alerta do Npm: Status ${healthNpmjs}`,\n          weight: \"Bolder\",\n          size: \"Medium\"\n        },\n        {\n          type: \"TextBlock\",\n          text: `Status Message: ${healthNpmjs}`\n        }\n      ]\n    }\n  });\n}\n\nreturn [\n  {\n    json: {\n      health,\n      healthNpmjs,\n      attachments: cards,\n      alert\n    }\n  }\n];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[928,-304],"id":"db5c09d6-f77b-4126-8e04-5c310a12d4e4","name":"Code in JavaScript6"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"9a5b8ba1-6eeb-4b3a-9e69-49651da35969","leftValue":"={{ $node[\"Code in JavaScript6\"].json.alert }}","rightValue":"healthy","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1072,-304],"id":"8efb3363-1dee-49d8-8f23-714f994432f8","name":"If"},{"parameters":{"method":"POST","url":"https://***REMOVIDO***.69.environment.api.powerplatform.com:443/powerautomate/automations/direct/workflows/***REMOVIDO***/triggers/manual/paths/invoke?api-version=1&sp=%2Ftriggers%2Fmanual%2Frun&sv=1.0&sig=***REMOVIDO***","sendBody":true,"bodyParameters":{"parameters":[{"name":"attachments","value":"={{ $json.attachments }}"},{"name":"importance","value":"high"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1376,-320],"id":"f7f75420-8f47-4de0-b2b1-d6f5dd96294c","name":"HTTP Request4","notesInFlow":false},{"parameters":{"method":"POST","url":"https://***REMOVIDO***.69.environment.api.powerplatform.com:443/powerautomate/automations/direct/workflows/***REMOVIDO***/triggers/manual/paths/invoke?api-version=1&sp=%2Ftriggers%2Fmanual%2Frun&sv=1.0&sig=***REMOVIDO***_XTLPdGBPJ2etQPgaVd4","sendBody":true,"specifyBody":"json","jsonBody":"={{ $json }}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2336,-1120],"id":"5c786cd9-5b6f-41b4-a22a-2548178e9680","name":"HTTP Request5","executeOnce":true},{"parameters":{"jsCode":"const data = $json;\nconst treeEntries = data.treeEntries;\n\nconst csprojFiles = treeEntries.filter(f => f.relativePath.endsWith('.csproj'));\n\nreturn csprojFiles.map(m => ({\n  json: {\n    url: m.url\n  }\n}));"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1024,-928],"id":"203e7545-d942-465a-b9e6-18ac65e72311","name":"Code in JavaScript7"},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[1184,-928],"id":"1d300624-34a2-49a1-99db-a99330a9f132","name":"Loop Over Items1"},{"parameters":{"url":"={{ $json.url }}","authentication":"***REMOVIDO***","genericAuthType":"httpBasicAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Accept","value":"application/octet-stream"}]},"options":{"response":{"response":{"responseFormat":"file"}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1312,-848],"id":"81650865-bc4f-45ca-8f21-8293e292b6d6","name":"HTTP Request7","credentials":{"httpBasicAuth":{"id":"vzwzOpc0Pl270sLB","name":"Unnamed credential 3"}}},{"parameters":{"jsCode":"const data = $input.all().map(item => item.json.attachments).filter(x => x != null).flat();\n\nconst distinctData = Array.from(\n  new Map(data.map(item => [`${item.content.Coluna1}|${item.content.Coluna2}`, item])).values()\n);\n\ndistinctData.sort((a, b) => a.content.Coluna1.localeCompare(b.content.Coluna1));\n\nreturn [\n  {\n    json: {\n      attachments: distinctData\n    }\n  }\n];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[2176,-1120],"id":"8c007871-6e94-4019-9799-004720d3f322","name":"Code in JavaScript8","executeOnce":true},{"parameters":{"jsCode":"const buffer = await this.helpers.getBinaryDataBuffer(0, 'data');\nconst xmlContent = buffer.toString('utf8');\n\nconst matches = [\n  ...xmlContent.matchAll(\n    /<PackageReference\\s+Include=\"([^\"]+)\"\\s+Version=\"([^\"]+)\"\\s*\\/>/g\n  )\n];\n\nif (matches.length === 0) {\n  return [\n    {\n      json: {\n        include: null,\n        version: null\n      }\n    }\n  ];\n}\n\nreturn matches.map(m => ({\n  json: {\n    include: m[1],\n    version: m[2]\n  }\n}));\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1440,-848],"id":"173ab4ab-6e8f-4cbd-a1a0-891c6f88b210","name":"Code in JavaScript"},{"parameters":{"jsCode":"return $input.all()\n  .filter(item => item.json.include !== null);"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1600,-944],"id":"d2fe120c-553e-4d35-a0bb-6480974a3d3b","name":"Code in JavaScript9","executeOnce":true},{"parameters":{"url":"=https://dev.azure.com/linx-aut-poa/8d71fa2b-2097-4867-b6a3-cccf8fdf3035/_apis/git/repositories/249b9073-8397-4286-866f-9a1dd3457046/trees/{{$json.objectId}}?recursive=true&api-version=7.1-preview.1","authentication":"***REMOVIDO***","genericAuthType":"httpBasicAuth","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[832,-928],"id":"f854a3eb-a313-40e8-b98d-a2b8afd810f7","name":"HTTP Request8","credentials":{"httpBasicAuth":{"id":"vzwzOpc0Pl270sLB","name":"Unnamed credential 3"}}},{"parameters":{"url":"https://dev.azure.com/linx-aut-poa/8d71fa2b-2097-4867-b6a3-cccf8fdf3035/_apis/git/repositories/249b9073-8397-4286-866f-9a1dd3457046/items?path=%2F&versionType=Branch&version=master&versionOptions=None","authentication":"***REMOVIDO***","genericAuthType":"httpBasicAuth","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[624,-928],"id":"3078bda8-2c1d-4356-a1a5-72f1a9db695b","name":"HTTP Request9","credentials":{"httpBasicAuth":{"id":"vzwzOpc0Pl270sLB","name":"Unnamed credential 3"}}},{"parameters":{"rule":{"interval":[{"field":"minutes"}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[336,-304],"id":"9ad73bd6-2676-42bd-b57f-d6d91a6697f9","name":"Schedule Trigger"},{"parameters":{"operation":"get","dataTableId":{"__rl":true,"value":"quGQ1Qcmg4H3896y","mode":"list","cachedResultName":"healthcheck","cachedResultUrl":"/projects/jl3jH9NRP6MuTba3/datatables/quGQ1Qcmg4H3896y"}},"type":"n8n-nodes-base.dataTable","typeVersion":1,"position":[768,-304],"id":"03e20667-14c0-47e7-91ae-ac189b7cec5b","name":"Get row(s)","executeOnce":false,"alwaysOutputData":false},{"parameters":{"operation":"update","dataTableId":{"__rl":true,"value":"quGQ1Qcmg4H3896y","mode":"list","cachedResultName":"healthcheck","cachedResultUrl":"/projects/jl3jH9NRP6MuTba3/datatables/quGQ1Qcmg4H3896y"},"filters":{"conditions":[{"keyName":"statusDevops","condition":"neq","keyValue":"={{ $json.health }}"},{"keyName":"statusNpmjs","condition":"neq","keyValue":"={{$json.healthNpmjs}}"}]},"columns":{"mappingMode":"defineBelow","value":{"statusDevops":"={{ $json.health }}","statusNpmjs":"={{ $json.healthNpmjs }}"},"matchingColumns":["statusDevops"],"schema":[{"id":"statusDevops","displayName":"statusDevops","required":false,"defaultMatch":false,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"statusNpmjs","displayName":"statusNpmjs","required":false,"defaultMatch":false,"display":true,"type":"string","readOnly":false,"removed":false}],"***REMOVIDO***":false,"***REMOVIDO***":false}},"type":"n8n-nodes-base.dataTable","typeVersion":1,"position":[1072,-192],"id":"85f9ddc4-4605-4168-b717-70d89fbb5ce8","name":"Update row(s)"},{"parameters":{"url":"https://status.npmjs.org/api/v2/status.json","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[480,-240],"id":"68f31e17-ef2b-4d94-8ad3-7be1d3448ba6","name":"HTTP Request6"},{"parameters":{"mode":"chooseBranch"},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[624,-304],"id":"6c9a9ab1-b788-476e-b2c7-1fbed4792d2e","name":"Merge1"},{"parameters":{"jsCode":"const data = $json;\nconst treeEntries = data.treeEntries;\n\nconst csprojFiles = treeEntries.filter(f => f.relativePath.endsWith('.csproj'));\n\nreturn csprojFiles.map(m => ({\n  json: {\n    url: m.url\n  }\n}));"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1024,-1616],"id":"77787a66-e852-4afd-b27e-042e5c1e495a","name":"Code in JavaScript10"},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[1184,-1616],"id":"1882b5e5-16c8-45ee-8efe-a952293bc998","name":"Loop Over Items2"},{"parameters":{"url":"={{ $json.url }}","authentication":"***REMOVIDO***","genericAuthType":"httpBasicAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Accept","value":"application/octet-stream"}]},"options":{"response":{"response":{"responseFormat":"file"}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1360,-1536],"id":"92109f35-d433-478b-9dbd-cc6a6e1e510a","name":"HTTP Request10","credentials":{"httpBasicAuth":{"id":"vzwzOpc0Pl270sLB","name":"Unnamed credential 3"}}},{"parameters":{"jsCode":"\nconst input = items[0].json.output;\n\n// Remove as marcações ```json e ```\nconst cleanString = input.replace(/```json\\n|\\n```/g, '').trim();\n\nlet parsed;\n\n// Tenta fazer o parse\ntry {\n  parsed = JSON.parse(cleanString);\n} catch (error) {\n  parsed = [];\n}\n\n// Se não tiver nada, retorna o array com valores nulos\nif (!Array.isArray(parsed) || parsed.length === 0) {\n  parsed = [\n    {\n      include: null,\n      version: null\n    }\n  ];\n}\n\n// Retorna cada item como um objeto separado (formato n8n)\nreturn parsed;"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[2144,-1456],"id":"8478d85a-4461-467f-a82a-20bdea7ece73","name":"Code in JavaScript11"},{"parameters":{"url":"=https://dev.azure.com/linx-aut-poa/8d71fa2b-2097-4867-b6a3-cccf8fdf3035/_apis/git/repositories/249b9073-8397-4286-866f-9a1dd3457046/trees/{{$json.objectId}}?recursive=true&api-version=7.1-preview.1","authentication":"***REMOVIDO***","genericAuthType":"httpBasicAuth","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[832,-1616],"id":"4474fb5b-8bec-4491-b151-b470bc0146d0","name":"HTTP Request11","credentials":{"httpBasicAuth":{"id":"vzwzOpc0Pl270sLB","name":"Unnamed credential 3"}}},{"parameters":{"url":"https://dev.azure.com/linx-aut-poa/8d71fa2b-2097-4867-b6a3-cccf8fdf3035/_apis/git/repositories/249b9073-8397-4286-866f-9a1dd3457046/items?path=%2F&versionType=Branch&version=master&versionOptions=None","authentication":"***REMOVIDO***","genericAuthType":"httpBasicAuth","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[624,-1616],"id":"b0d58f8d-d6db-4c1d-88a9-4b5627b894b8","name":"HTTP Request12","credentials":{"httpBasicAuth":{"id":"vzwzOpc0Pl270sLB","name":"Unnamed credential 3"}}},{"parameters":{"httpMethod":"POST","path":"/upload","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[368,-1600],"id":"31f2ec32-8c9c-4225-8135-c3a16c919e83","name":"Webhook1","webhookId":"4647d741-f65d-43d1-a0d7-0ebe5b24e9ff"},{"parameters":{"options":{"systemMessage":"Você é um analisador inteligente de .csproj.\nExtraia todas as referências NuGet e diga quais são.\n\nQuero que o seu retorno seja apenas assim, como esta o seguinte exemplo.\n\n[\n{\n\"include\": \n\"Microsoft.PowerShell.SDK\",\n\"version\": \n\"7.1.3\"\n},\n{\n\"include\": \n\"System.DirectoryServices.AccountManagement\",\n\"version\": \n\"5.0.0\"\n}\n]"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2.2,"position":[1792,-1536],"id":"8e6ff51d-97c5-4054-bf01-36737899eb7d","name":"AI Agent"},{"parameters":{"model":"gpt-4o-mini","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatAzureOpenAi","typeVersion":1,"position":[1792,-1392],"id":"7b852faa-5676-47fc-bc5f-ad7728abf9d1","name":"Azure OpenAI Chat Model","credentials":{"azureOpenAiApi":{"id":"4YxfyUvmUl6zWJhr","name":"Azure Open AI account"}}},{"parameters":{"jsCode":"const buffer = await this.helpers.getBinaryDataBuffer(0, 'data');\nconst xmlContent = buffer.toString('utf8');\n\n return [\n    {\n      json: {\n        chatInput: xmlContent\n      }\n    }\n  ];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1568,-1536],"id":"9774cb4c-1ba7-4f2a-b4a7-a8abcc4ba6aa","name":"Code in JavaScript12"},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[1600,-2048],"id":"135b5d63-edd9-4e0c-9b04-d0422643ac80","name":"Loop Over Items3","alwaysOutputData":false,"executeOnce":false},{"parameters":{"url":"=https://api.nuget.org/v3/registration5-gz-semver2/{{$json[\"include\"].toLowerCase()}}/{{$json[\"version\"].toLowerCase()}}.json","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1792,-1856],"id":"745c3bb8-f57d-4caf-a5ec-c25412523fc8","name":"HTTP Request13","onError":"***REMOVIDO***"},{"parameters":{"url":"=https://www.nuget.org/api/v2/Packages(Id='{{$json[\"include\"]}}',Version='{{$json[\"version\"]}}')","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1792,-1984],"id":"600d2f6b-1108-40dd-9307-ce7c84b54bb2","name":"HTTP Request14","onError":"***REMOVIDO***"},{"parameters":{"jsCode":"// Pega o XML retornado da requisição anterior\nconst xml = $json[\"body\"] || $json[\"data\"] || \"\";\nconst httpData = $node[\"Loop Over Items3\"].json;\n\nconst include = httpData.include;\n\n// Expressão regular pra capturar o conteúdo entre <d:LicenseUrl>...</d:LicenseUrl>\nconst match = xml.match(/<d:LicenseUrl>(.*?)<\\/d:LicenseUrl>/);\n\nreturn [\n  {\n    json: {\n      include,\n      licenseUrlV2: match ? match[1] : \"Unknown\"\n    }\n  }\n];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1936,-1984],"id":"7f9d9ae8-c864-446c-9818-bb8548a227f9","name":"Code in JavaScript13"},{"parameters":{"jsCode":"const data = $json; // ou JSON.parse(responseText), se for string\n\nconst catalogEntry = data.catalogEntry;\n\nreturn [\n  {\n    json: {\n      catalogEntry\n    }\n  }\n];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1920,-1856],"id":"a83f9230-37da-4c98-b2a8-ddd7256f207f","name":"Code in JavaScript14"},{"parameters":{"url":"={{ $json.catalogEntry }}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2064,-1856],"id":"3f98ae38-ea78-417f-93b4-00f6213fedd3","name":"HTTP Request15","onError":"***REMOVIDO***"},{"parameters":{"jsCode":"const data = $json; // ou JSON.parse(responseText), se for string\nconst httpData = $node[\"Loop Over Items3\"].json;\n\nconst include = httpData.include;\n\nconst licenseExpressionV3 = data.licenseExpression || \"Unknown\";\nconst licenseUrlV3 = data.licenseUrl || \"Unknown\";\n\nreturn [\n  {\n    json: {\n      include,\n      licenseUrlV3,\n      licenseExpressionV3\n    }\n  }\n];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[2208,-1856],"id":"5e3d786b-1db9-42f6-8b7e-efa5e1e8e0b4","name":"Code in JavaScript15"},{"parameters":{"mode":"combine","fieldsToMatchString":"include","options":{}},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[2416,-1872],"id":"83494bfd-83f8-4092-997d-b2c577f37b5a","name":"Merge2"},{"parameters":{"jsCode":"const data = $json; // ou JSON.parse(responseText), se for string\n\nconst httpData = $node[\"Loop Over Items3\"].json;\n\nconst include = httpData.include;\nconst version = httpData.version;\n\nconst licenseUrlV2 = data.licenseUrlV2;\nconst licenseExpressionV3 = data.licenseExpressionV3;\nconst licenseUrlV3 = data.licenseUrlV3;\n\nreturn [\n  {\n    json: {\n      include,\n      version,\n      licenseUrlV2,\n      licenseExpressionV3,\n      licenseUrlV3,\n    }\n  }\n];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[2624,-1872],"id":"b4b367c1-756f-40bd-9a8e-b04fe95d1a0c","name":"Code in JavaScript16"},{"parameters":{"jsCode":"const data = $input.all().map(item => item.json);\n\nreturn [\n  {\n    json: {\n      attachments: data.map(d => ({\n        contentType: \"application/vnd.microsoft.card.adaptive\",\n        content: {\n          Coluna1: d.include,\n          Coluna2: d.version,\n          Coluna3: d.licenseUrlV2,\n          Coluna4: d.licenseExpressionV3,\n          Coluna5: d.licenseUrlV3\n        }\n      }))\n    }\n  }\n];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1776,-2224],"id":"80029b0c-c792-4f9b-a183-26b67e179f03","name":"Code in JavaScript17","executeOnce":false},{"parameters":{"method":"POST","url":"https://***REMOVIDO***.69.environment.api.powerplatform.com:443/powerautomate/automations/direct/workflows/***REMOVIDO***/triggers/manual/paths/invoke?api-version=1&sp=%2Ftriggers%2Fmanual%2Frun&sv=1.0&sig=***REMOVIDO***_XTLPdGBPJ2etQPgaVd4","sendBody":true,"specifyBody":"json","jsonBody":"={{ $json }}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2448,-2288],"id":"863377ae-4c06-422b-a204-4042b4268301","name":"HTTP Request16","executeOnce":true},{"parameters":{"jsCode":"const data = $input.all().map(item => item.json.attachments).filter(x => x != null).flat();\n\nconst distinctData = Array.from(\n  new Map(data.map(item => [`${item.content.Coluna1}|${item.content.Coluna2}`, item])).values()\n);\n\ndistinctData.sort((a, b) => a.content.Coluna1.localeCompare(b.content.Coluna1));\n\nreturn [\n  {\n    json: {\n      attachments: distinctData\n    }\n  }\n];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1968,-2224],"id":"ca36774f-8a0c-4cac-bbb8-548b18e8d827","name":"Code in JavaScript18","executeOnce":true},{"parameters":{"jsCode":"return $input.all()\n  .filter(item => item.json.include !== null);"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1392,-2048],"id":"5659ca5d-89fb-460a-89bf-28b94422343b","name":"Code in JavaScript19","executeOnce":true},{"parameters":{"options":{"systemMessage":"Você é um analisador inteligente de licença.\nExtraia todas as referências Nu"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2.2,"position":[2144,-2288],"id":"fb972a20-c0dc-47e3-a193-dddb3414065e","name":"AI Agent1"},{"parameters":{"model":"gpt-4o-mini","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatAzureOpenAi","typeVersion":1,"position":[2144,-2112],"id":"46a8319b-313a-4b9b-9380-9818680a0c01","name":"Azure OpenAI Chat Model1","credentials":{"azureOpenAiApi":{"id":"4YxfyUvmUl6zWJhr","name":"Azure Open AI account"}}}],"origin":"n8n","pinData":{},"repo":{"owner":"n8nlinx","name":"BACKUP-N8N-LINX"},"settings":{"executionOrder":"v1"},"shared":[{"createdAt":"2025-11-07T13:20:49.203Z","updatedAt":"2025-11-07T13:20:49.203Z","role":"workflow:editor","workflowId":"VBMakW1WvT0VpPy4","projectId":"wxl3J1u2y1AROcKn"},{"createdAt":"2025-11-03T12:01:24.214Z","updatedAt":"2025-11-03T12:01:24.214Z","role":"workflow:owner","workflowId":"VBMakW1WvT0VpPy4","projectId":"jl3jH9NRP6MuTba3"}],"staticData":{"node:Schedule Trigger":{"recurrenceRules":[]}},"tags":[],"triggerCount":2,"updatedAt":"2025-11-26T18:58:27.242Z","versionId":"f325e5e8-05da-408c-8bda-eb414e26d87e"}