VBMakW1WvT0VpPy4.json
{"active":false,"connections":{"Webhook":{"main":[[{"node":"HTTP Request9","type":"main","index":0}]]},"Loop Over Items":{"main":[[{"node":"Code in JavaScript1","type":"main","index":0}],[{"node":"HTTP Request1","type":"main","index":0},{"node":"HTTP Request","type":"main","index":0}]]},"HTTP Request":{"main":[[{"node":"Code in JavaScript3","type":"main","index":0}]]},"HTTP Request1":{"main":[[{"node":"Code in JavaScript2","type":"main","index":0}]]},"Code in JavaScript2":{"main":[[{"node":"Merge","type":"main","index":0}]]},"Code in JavaScript3":{"main":[[{"node":"HTTP Request2","type":"main","index":0}]]},"HTTP Request2":{"main":[[{"node":"Code in JavaScript4","type":"main","index":0}]]},"Code in JavaScript4":{"main":[[{"node":"Merge","type":"main","index":1}]]},"Merge":{"main":[[{"node":"Code in JavaScript5","type":"main","index":0}]]},"Code in JavaScript5":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"When clicking ‘Execute workflow’":{"main":[[{"node":"HTTP Request3","type":"main","index":0}]]},"HTTP Request3":{"main":[[{"node":"Code in JavaScript6","type":"main","index":0}]]},"Code in JavaScript6":{"main":[[{"node":"If","type":"main","index":0}]]},"If":{"main":[[{"node":"HTTP Request4","type":"main","index":0}]]},"Code in JavaScript1":{"main":[[{"node":"Code in JavaScript8","type":"main","index":0}]]},"HTTP Request6":{"main":[[]]},"Code in JavaScript7":{"main":[[{"node":"Loop Over Items1","type":"main","index":0}]]},"Loop Over Items1":{"main":[[{"node":"Code in JavaScript9","type":"main","index":0}],[{"node":"HTTP Request7","type":"main","index":0}]]},"HTTP Request7":{"main":[[{"node":"Code in JavaScript","type":"main","index":0}]]},"HTTP Request5":{"main":[[]]},"Code in JavaScript8":{"main":[[{"node":"HTTP Request5","type":"main","index":0}]]},"Code in JavaScript":{"main":[[{"node":"Loop Over Items1","type":"main","index":0}]]},"Code in JavaScript9":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"HTTP Request8":{"main":[[{"node":"Code in JavaScript7","type":"main","index":0}]]},"HTTP Request9":{"main":[[{"node":"HTTP Request8","type":"main","index":0}]]}},"createdAt":"2025-11-03T12:01:24.214Z","id":"VBMakW1WvT0VpPy4","isArchived":false,"meta":{"***REMOVIDO***":true},"name":"My workflow 10","nodes":[{"parameters":{"httpMethod":"POST","path":"/upload","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[384,-928],"id":"8fdb1b63-e5e8-44df-85a5-1d416b6e8f51","name":"Webhook","webhookId":"4647d741-f65d-43d1-a0d7-0ebe5b24e9ff"},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[1808,-944],"id":"5565c260-3331-4192-9797-a4f83e57466d","name":"Loop Over Items","alwaysOutputData":false,"executeOnce":false},{"parameters":{"url":"=https://api.nuget.org/v3/registration5-gz-semver2/{{$json[\"include\"].toLowerCase()}}/{{$json[\"version\"].toLowerCase()}}.json","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2112,-672],"id":"a69e5e29-005a-42c1-b290-842212029079","name":"HTTP Request","onError":"***REMOVIDO***"},{"parameters":{"url":"=https://www.nuget.org/api/v2/Packages(Id='{{$json[\"include\"]}}',Version='{{$json[\"version\"]}}')","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2112,-880],"id":"31199961-3bac-4af5-8ff6-252397c0136a","name":"HTTP Request1","onError":"***REMOVIDO***"},{"parameters":{"jsCode":"// Pega o XML retornado da requisição anterior\nconst xml = $json[\"body\"] || $json[\"data\"] || \"\";\nconst httpData = $node[\"Loop Over Items\"].json;\n\nconst include = httpData.include;\n\n// Expressão regular pra capturar o conteúdo entre <d:LicenseUrl>...</d:LicenseUrl>\nconst match = xml.match(/<d:LicenseUrl>(.*?)<\\/d:LicenseUrl>/);\n\nreturn [\n  {\n    json: {\n      include,\n      licenseUrlV2: match ? match[1] : \"Unknown\"\n    }\n  }\n];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[2368,-896],"id":"5dfade3d-3c4e-482b-bab4-a59df7a43643","name":"Code in JavaScript2"},{"parameters":{"jsCode":"const data = $json; // ou JSON.parse(responseText), se for string\n\nconst catalogEntry = data.catalogEntry;\n\nreturn [\n  {\n    json: {\n      catalogEntry\n    }\n  }\n];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[2320,-672],"id":"5fabe7d8-259c-4e70-8c95-d3a4be8aff86","name":"Code in JavaScript3"},{"parameters":{"url":"={{ $json.catalogEntry }}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2464,-672],"id":"30c01ebf-cf48-4603-975f-99d88c372439","name":"HTTP Request2","onError":"***REMOVIDO***"},{"parameters":{"jsCode":"const data = $json; // ou JSON.parse(responseText), se for string\nconst httpData = $node[\"Loop Over Items\"].json;\n\nconst include = httpData.include;\n\nconst licenseExpressionV3 = data.licenseExpression || \"Unknown\";\nconst licenseUrlV3 = data.licenseUrl || \"Unknown\";\n\nreturn [\n  {\n    json: {\n      include,\n      licenseUrlV3,\n      licenseExpressionV3\n    }\n  }\n];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[2608,-672],"id":"edc8a5ab-e3d7-4f4e-a5ee-22db13110cdc","name":"Code in JavaScript4"},{"parameters":{"mode":"combine","fieldsToMatchString":"include","options":{}},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[2816,-688],"id":"63c0ef36-645c-4e4a-afc5-4f63ba3c05e0","name":"Merge"},{"parameters":{"jsCode":"const data = $json; // ou JSON.parse(responseText), se for string\n\nconst httpData = $node[\"Loop Over Items\"].json;\n\nconst include = httpData.include;\nconst version = httpData.version;\n\nconst licenseUrlV2 = data.licenseUrlV2;\nconst licenseExpressionV3 = data.licenseExpressionV3;\nconst licenseUrlV3 = data.licenseUrlV3;\n\nreturn [\n  {\n    json: {\n      include,\n      version,\n      licenseUrlV2,\n      licenseExpressionV3,\n      licenseUrlV3,\n    }\n  }\n];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[3024,-688],"id":"7a661f71-531c-423e-8e4b-29387917357d","name":"Code in JavaScript5"},{"parameters":{"jsCode":"const data = $input.all().map(item => item.json);\n\nreturn [\n  {\n    json: {\n      attachments: data.map(d => ({\n        contentType: \"application/vnd.microsoft.card.adaptive\",\n        content: {\n          Coluna1: d.include,\n          Coluna2: d.version,\n          Coluna3: d.licenseUrlV2,\n          Coluna4: d.licenseExpressionV3,\n          Coluna5: d.licenseUrlV3\n        }\n      }))\n    }\n  }\n];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[2096,-1120],"id":"76aa3b67-6c07-4197-b3d5-903f884a9dbc","name":"Code in JavaScript1","executeOnce":false},{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[336,-352],"id":"4a66e9be-71d3-408e-ada4-f334cad44702","name":"When clicking ‘Execute workflow’"},{"parameters":{"url":"https://status.dev.azure.com/_apis/status/health?api-version=7.1-preview.1","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[464,-352],"id":"1f4fa835-1784-4306-9fe2-cf8986b9d775","name":"HTTP Request3"},{"parameters":{"jsCode":"const data = $json;\nconst health = data.status.health;\nconst message = data.status.message;\n\nreturn [\n  {\n    json: {\n      health,\n      message\n    }\n  }\n];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[592,-352],"id":"db5c09d6-f77b-4126-8e04-5c310a12d4e4","name":"Code in JavaScript6"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"9a5b8ba1-6eeb-4b3a-9e69-49651da35969","leftValue":"={{ $json.health }}","rightValue":"healthy","operator":{"type":"string","operation":"notEquals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[704,-352],"id":"8efb3363-1dee-49d8-8f23-714f994432f8","name":"If"},{"parameters":{"method":"POST","url":"https://***REMOVIDO***.69.environment.api.powerplatform.com:443/powerautomate/automations/direct/workflows/***REMOVIDO***/triggers/manual/paths/invoke?api-version=1&sp=%2Ftriggers%2Fmanual%2Frun&sv=1.0&sig=***REMOVIDO***","sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"attachments\": [\n    {\n      \"contentType\": \"application/vnd.microsoft.card.adaptive\",\n      \"content\": {\n        \"type\": \"AdaptiveCard\",\n        \"version\": \"1.4\",\n        \"body\": [\n          {\n            \"type\": \"TextBlock\",\n            \"text\": \"Alerta do Azure Devops: Status {{$json.health}}\",\n            \"weight\": \"Bolder\",\n            \"size\": \"Medium\"\n          },\n          {\n            \"type\": \"TextBlock\",\n            \"text\": \"Status Message: {{$json.message}}\"\n          }\n        ]\n      }\n    }\n  ]\n}\n","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[848,-368],"id":"f7f75420-8f47-4de0-b2b1-d6f5dd96294c","name":"HTTP Request4","notesInFlow":false},{"parameters":{"method":"POST","url":"https://***REMOVIDO***.69.environment.api.powerplatform.com:443/powerautomate/automations/direct/workflows/***REMOVIDO***/triggers/manual/paths/invoke?api-version=1&sp=%2Ftriggers%2Fmanual%2Frun&sv=1.0&sig=***REMOVIDO***_XTLPdGBPJ2etQPgaVd4","sendBody":true,"specifyBody":"json","jsonBody":"={{ $json }}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2448,-1120],"id":"5c786cd9-5b6f-41b4-a22a-2548178e9680","name":"HTTP Request5","executeOnce":true},{"parameters":{"url":"https://dev.azure.com/linx-aut-poa/8d71fa2b-2097-4867-b6a3-cccf8fdf3035/_apis/git/repositories/249b9073-8397-4286-866f-9a1dd3457046/trees/***REMOVIDO***?recursive=true&api-version=7.1-preview.1","authentication":"***REMOVIDO***","genericAuthType":"httpBasicAuth","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[528,-1376],"id":"f49e4ab3-cd47-4ce5-baf3-22a2ec558dd8","name":"HTTP Request6","credentials":{"httpBasicAuth":{"id":"vzwzOpc0Pl270sLB","name":"Unnamed credential 3"}}},{"parameters":{"jsCode":"const data = $json;\nconst treeEntries = data.treeEntries;\n\nconst csprojFiles = treeEntries.filter(f => f.relativePath.endsWith('.csproj'));\n\nreturn csprojFiles.map(m => ({\n  json: {\n    url: m.url\n  }\n}));"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[960,-928],"id":"203e7545-d942-465a-b9e6-18ac65e72311","name":"Code in JavaScript7"},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[1184,-928],"id":"1d300624-34a2-49a1-99db-a99330a9f132","name":"Loop Over Items1"},{"parameters":{"url":"={{ $json.url }}","authentication":"***REMOVIDO***","genericAuthType":"httpBasicAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Accept","value":"application/octet-stream"}]},"options":{"response":{"response":{"responseFormat":"file"}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1312,-848],"id":"81650865-bc4f-45ca-8f21-8293e292b6d6","name":"HTTP Request7","credentials":{"httpBasicAuth":{"id":"vzwzOpc0Pl270sLB","name":"Unnamed credential 3"}}},{"parameters":{"jsCode":"const data = $input.all().map(item => item.json.attachments).filter(x => x != null).flat();\n\nconst distinctData = Array.from(\n  new Map(data.map(item => [`${item.content.Coluna1}|${item.content.Coluna2}`, item])).values()\n);\n\ndistinctData.sort((a, b) => a.content.Coluna1.localeCompare(b.content.Coluna1));\n\nreturn [\n  {\n    json: {\n      attachments: distinctData\n    }\n  }\n];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[2288,-1120],"id":"8c007871-6e94-4019-9799-004720d3f322","name":"Code in JavaScript8","executeOnce":true},{"parameters":{"jsCode":"const buffer = await this.helpers.getBinaryDataBuffer(0, 'data');\nconst xmlContent = buffer.toString('utf8');\n\nconst matches = [\n  ...xmlContent.matchAll(\n    /<PackageReference\\s+Include=\"([^\"]+)\"\\s+Version=\"([^\"]+)\"\\s*\\/>/g\n  )\n];\n\nif (matches.length === 0) {\n  return [\n    {\n      json: {\n        include: null,\n        version: null\n      }\n    }\n  ];\n}\n\nreturn matches.map(m => ({\n  json: {\n    include: m[1],\n    version: m[2]\n  }\n}));\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1440,-848],"id":"173ab4ab-6e8f-4cbd-a1a0-891c6f88b210","name":"Code in JavaScript"},{"parameters":{"jsCode":"return $input.all()\n  .filter(item => item.json.include !== null);"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1600,-944],"id":"d2fe120c-553e-4d35-a0bb-6480974a3d3b","name":"Code in JavaScript9","executeOnce":true},{"parameters":{"url":"=https://dev.azure.com/linx-aut-poa/8d71fa2b-2097-4867-b6a3-cccf8fdf3035/_apis/git/repositories/249b9073-8397-4286-866f-9a1dd3457046/trees/{{$json.objectId}}?recursive=true&api-version=7.1-preview.1","authentication":"***REMOVIDO***","genericAuthType":"httpBasicAuth","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[768,-928],"id":"f854a3eb-a313-40e8-b98d-a2b8afd810f7","name":"HTTP Request8","credentials":{"httpBasicAuth":{"id":"vzwzOpc0Pl270sLB","name":"Unnamed credential 3"}}},{"parameters":{"url":"https://dev.azure.com/linx-aut-poa/8d71fa2b-2097-4867-b6a3-cccf8fdf3035/_apis/git/repositories/249b9073-8397-4286-866f-9a1dd3457046/items?path=%2F&versionType=Branch&version=master&versionOptions=None","authentication":"***REMOVIDO***","genericAuthType":"httpBasicAuth","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[560,-928],"id":"3078bda8-2c1d-4356-a1a5-72f1a9db695b","name":"HTTP Request9","credentials":{"httpBasicAuth":{"id":"vzwzOpc0Pl270sLB","name":"Unnamed credential 3"}}}],"origin":"n8n","pinData":{},"repo":{"owner":"n8nlinx","name":"BACKUP-N8N-LINX"},"settings":{"executionOrder":"v1"},"shared":[{"createdAt":"2025-11-03T12:01:24.214Z","updatedAt":"2025-11-03T12:01:24.214Z","role":"workflow:owner","workflowId":"VBMakW1WvT0VpPy4","projectId":"jl3jH9NRP6MuTba3"}],"staticData":null,"tags":[],"triggerCount":0,"updatedAt":"2025-11-06T18:14:31.334Z","versionId":"b67d3d4d-a996-4d7e-a1d8-a5973e3b1ab9"}