wj0gexdxxtd3j3Jq.json
{"active":false,"connections":{"When Executed by Another Workflow":{"main":[[{"node":"Call 'get-token-group'","type":"main","index":0}]]},"Call 'get-token-group'":{"main":[[{"node":"Obter cor","type":"main","index":0},{"node":"Obter cidade por zip","type":"main","index":0}]]},"Calc String Distance":{"main":[[]]},"Obter cor":{"main":[[{"node":"Calc String Distance","type":"main","index":0}]]},"When clicking ‘Execute workflow’":{"main":[[{"node":"Call 'get-token-group'1","type":"main","index":0}]]},"Call 'get-token-group'1":{"main":[[{"node":"Make-List","type":"main","index":0}]]},"Make-List":{"main":[[{"node":"Model-List","type":"main","index":0}]]}},"createdAt":"2025-11-04T17:03:55.274Z","id":"wj0gexdxxtd3j3Jq","isArchived":false,"meta":{"***REMOVIDO***":true},"name":"testes-andrei","nodes":[{"parameters":{"workflowInputs":{"values":[{"name":"Cor"},{"name":"Cidade"}]}},"type":"n8n-nodes-base.***REMOVIDO***","typeVersion":1.1,"position":[-560,0],"id":"9a79e42e-410f-4a55-8639-86a56d67e313","name":"When Executed by Another Workflow"},{"parameters":{"workflowId":{"__rl":true,"value":"zh46bvGPHpvHmgvk","mode":"list","cachedResultUrl":"/workflow/zh46bvGPHpvHmgvk","cachedResultName":"Auto Avaliar — get-token-group"},"workflowInputs":{"mappingMode":"defineBelow","value":{"CNPJ":"53464762000296"},"matchingColumns":[],"schema":[{"id":"CNPJ","displayName":"CNPJ","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"Usuario","displayName":"Usuario","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"Senha","displayName":"Senha","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false}],"***REMOVIDO***":false,"***REMOVIDO***":true},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.3,"position":[-288,0],"id":"9bf8b9eb-6c88-4f1a-9052-56dbe35c58f7","name":"Call 'get-token-group'"},{"parameters":{"jsCode":"function levenshteinDistance(str1, str2) {\n  const m = str1.length;\n  const n = str2.length;\n  const dp = Array(m + 1).fill().map(() => Array(n + 1).fill(0));\n\n  for (let i = 0; i <= m; i++) {\n    dp[i][0] = i;\n  }\n  \n  for (let j = 0; j <= n; j++) {\n    dp[0][j] = j;\n  }\n\n  for (let i = 1; i <= m; i++) {\n    for (let j = 1; j <= n; j++) {\n      if (str1[i - 1] === str2[j - 1]) {\n        dp[i][j] = dp[i - 1][j - 1];\n      } else {\n        dp[i][j] = 1 + Math.min(\n          dp[i - 1][j],     // deletion\n          dp[i][j - 1],     // insertion\n          dp[i - 1][j - 1]  // substitution\n        );\n      }\n    }\n  }\n\n  return dp[m][n];\n}\n\nconst expected_code = $('When Executed by Another Workflow').first().json.Cor.toUpperCase()\n\nlet maxScore = 0;\nlet chosenItem;\n\n$input.first().json.payload.forEach((item) => {\n  let dist = levenshteinDistance(\n    expected_code, \n    item.name\n  )\n  \n  let max_dist = Math.max(\n    expected_code.length,\n    item.name.length\n  )\n  \n  let score = 1 - (dist / max_dist)\n  //console.log(\"score for \" + item.name + \" is \" + score)\n  if (score > maxScore){\n    maxScore = score\n    chosenItem = item\n  }\n});\n\nreturn { 'json' : { cor: chosenItem } };"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[192,0],"id":"f05f1d32-4c31-47a9-b60e-cc35549baa51","name":"Calc String Distance","alwaysOutputData":true},{"parameters":{"method":"POST","url":"https://sa-hg-sys.appspot.com/geo/get-by-zip","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Token","value":"={{ $json.TOKEN }}"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"zipCode","value":"={{ $('When Executed by Another Workflow').item.json.Zip }}"},{"name":"countryId","value":"76"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-64,208],"id":"5fcb44c0-9a0f-444f-a5df-11ebe64aaaff","name":"Obter cidade por zip","alwaysOutputData":true},{"parameters":{"method":"POST","url":"https://sa-hg-sys.appspot.com/vehicle/colors","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Token","value":"={{ $json.TOKEN }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-64,0],"id":"086e0b42-7303-4a78-a6a3-d04efc28a889","name":"Obter cor","alwaysOutputData":true},{"parameters":{"method":"POST","url":"https://sa-hg-sys.appspot.com/vehicle/make-list","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Token","value":"={{ $json.TOKEN }}"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"page","value":"=1"},{"name":"limit","value":"9999"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-64,464],"id":"f2364d5a-5c94-48d5-bf83-6e741192214c","name":"Make-List","alwaysOutputData":true},{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-544,464],"id":"e12bbd1d-ebab-4455-9c96-45dff78a7936","name":"When clicking ‘Execute workflow’"},{"parameters":{"workflowId":{"__rl":true,"value":"zh46bvGPHpvHmgvk","mode":"list","cachedResultUrl":"/workflow/zh46bvGPHpvHmgvk","cachedResultName":"Auto Avaliar — get-token-group"},"workflowInputs":{"mappingMode":"defineBelow","value":{"CNPJ":"53464762000296"},"matchingColumns":[],"schema":[{"id":"CNPJ","displayName":"CNPJ","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"Usuario","displayName":"Usuario","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"Senha","displayName":"Senha","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false}],"***REMOVIDO***":false,"***REMOVIDO***":true},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.3,"position":[-304,464],"id":"c92db85c-e523-43c0-8c3a-a31063d28af2","name":"Call 'get-token-group'1"},{"parameters":{"method":"POST","url":"https://sa-hg-sys.appspot.com/vehicle/model-list","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Token","value":"={{ $('Call \\'get-token-group\\'1').item.json.TOKEN }}"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"page","value":"=1"},{"name":"limit","value":"9999"},{"name":"makeId","value":"={{ $json.payload[430].id }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[112,464],"id":"0c899090-d901-4efa-a55b-4db6ee57c486","name":"Model-List","alwaysOutputData":true}],"origin":"n8n","pinData":{"When Executed by Another Workflow":[{"json":{"Cor":"Cinza Baltico","Zip":"91030330"}}]},"repo":{"owner":"n8nlinx","name":"BACKUP-N8N-LINX"},"settings":{"executionOrder":"v1"},"shared":[{"createdAt":"2025-11-04T17:03:55.274Z","updatedAt":"2025-11-04T17:03:55.274Z","role":"workflow:owner","workflowId":"wj0gexdxxtd3j3Jq","projectId":"gooj2a4i7sGuxy01"}],"staticData":null,"tags":[],"triggerCount":0,"updatedAt":"2025-11-05T17:45:28.699Z","versionId":"1911333a-9127-4b47-9bee-04deeca11dc2"}