XJHxhjNkf8fV6qS9.json
{"active":false,"connections":{"When Executed by Another Workflow":{"main":[[{"node":"Retorna erro","type":"main","index":0},{"node":"EnviaCorreio?","type":"main","index":0}]]},"EnviaCorreio?":{"main":[[{"node":"Get row(s)","type":"main","index":0}]]},"Get row(s)":{"main":[[{"node":"Request correio DMS","type":"main","index":0}]]}},"createdAt":"2025-10-23T18:51:49.734Z","id":"XJHxhjNkf8fV6qS9","isArchived":false,"meta":null,"name":"log-erros","nodes":[{"parameters":{"content":"- Logar erro também na tabela do barramento?"},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-160,80],"id":"6529ea96-fd22-4f5b-95d8-efed15b50721","name":"Sticky Note"},{"parameters":{"workflowInputs":{"values":[{"name":"cnpj"},{"name":"erro","type":"number"},{"name":"mensagem"},{"name":"enviaCorreio","type":"boolean"}]}},"type":"n8n-nodes-base.***REMOVIDO***","typeVersion":1.1,"position":[-576,128],"id":"d615fd10-3b51-4926-a440-88124ffa6e29","name":"When Executed by Another Workflow","alwaysOutputData":true},{"parameters":{"assignments":{"assignments":[{"id":"eca31d4a-4b17-4e42-8d9b-867fc895e9c5","name":"cnpj","value":"={{ $json.cnpj }}","type":"string"},{"id":"6a4ad01e-6944-42f4-9fe9-309139a6e93e","name":"erro","value":"={{ $json.erro }}","type":"string"},{"id":"01e9a825-a2a4-42fe-9ecb-bb7a4f41c5e0","name":"mensagem","value":"={{ $json.mensagem }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[480,128],"id":"9ee0361f-978f-49be-8155-9458a09e4232","name":"Retorna erro","alwaysOutputData":true,"onError":"***REMOVIDO***"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"e0b26072-c9d3-4a00-b174-8fbd4964a04d","leftValue":"={{ $json.enviaCorreio }}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-320,-240],"id":"10b77575-082b-4f9a-93eb-16b3b23dcb1f","name":"EnviaCorreio?"},{"parameters":{"operation":"get","dataTableId":{"__rl":true,"value":"YMuf0PpbAH7osHUV","mode":"list","cachedResultName":"GROUP_DATA","cachedResultUrl":"/projects/gooj2a4i7sGuxy01/datatables/YMuf0PpbAH7osHUV"},"matchType":"allConditions","filters":{"conditions":[{"keyName":"CNPJ","keyValue":"={{ $json.cnpj }}"}]}},"type":"n8n-nodes-base.dataTable","typeVersion":1,"position":[-32,-256],"id":"c35d6bdc-803e-4e8d-863c-dfa46436aece","name":"Get row(s)"},{"parameters":{"method":"POST","url":"={{ $json.URL_DMS }}/Geral/GerMensagem/CriaRegistro","sendBody":true,"bodyParameters":{"parameters":[{"name":"UsuarioOrigem","value":"0"},{"name":"UsuarioDestino","value":"={{ $json.USUARIO_NOTIFICACAO }}"},{"name":"Assunto","value":"=AutoAvaliar - Erro {{ $('When Executed by Another Workflow').item.json.erro }}"},{"name":"Mensagem","value":"={{ $('When Executed by Another Workflow').item.json.mensagem }}"},{"name":"Situacao","value":"N"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[192,-256],"id":"3bd49398-fdf3-4975-9c52-7e36dce728da","name":"Request correio DMS","disabled":true},{"parameters":{"content":"## Envia Correio DMS Cliente","height":256,"width":816,"color":4},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-400,-336],"id":"b923e093-9e64-4819-8ebc-7027182774e4","name":"Sticky Note1"}],"origin":"n8n","pinData":{"When Executed by Another Workflow":[{"json":{"cnpj":"53464762000296","erro":1,"mensagem":"teste msg","enviaCorreio":true}}]},"repo":{"owner":"n8nlinx","name":"BACKUP-N8N-LINX"},"settings":{"executionOrder":"v1"},"shared":[{"createdAt":"2025-10-23T18:51:49.734Z","updatedAt":"2025-10-23T18:51:49.734Z","role":"workflow:owner","workflowId":"XJHxhjNkf8fV6qS9","projectId":"gooj2a4i7sGuxy01"}],"staticData":null,"tags":[],"triggerCount":0,"updatedAt":"2025-10-24T13:18:07.558Z","versionId":"230bbbd4-3273-4896-b909-b8716474557d"}