y0elckN2OxSNaV3P.json
{"active":false,"connections":{"Webhook":{"main":[[{"node":"Convert to File1","type":"main","index":0}]]},"Convert to File1":{"main":[[{"node":"Extract from File","type":"main","index":0}]]},"Extract from File":{"main":[[{"node":"Respond to Webhook","type":"main","index":0}]]}},"createdAt":"2025-10-20T14:10:28.098Z","id":"y0elckN2OxSNaV3P","isArchived":false,"meta":null,"name":"Converter base64 em texto","nodes":[{"parameters":{"path":"33e97621-eafe-48b4-bb60-18c501d933f6","responseMode":"responseNode","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[-320,-32],"id":"72594606-eb99-4505-a74a-2d28373abe4e","name":"Webhook","webhookId":"33e97621-eafe-48b4-bb60-18c501d933f6"},{"parameters":{"respondWith":"text","responseBody":"={{ $json.data }}","options":{}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.4,"position":[496,-32],"id":"671c8983-bd36-4929-8f8d-d588282008c6","name":"Respond to Webhook"},{"parameters":{"operation":"toBinary","sourceProperty":"query.base64","options":{}},"type":"n8n-nodes-base.convertToFile","typeVersion":1.1,"position":[-48,-32],"id":"19580c1e-db20-4ce5-885b-40c160cb31d4","name":"Convert to File1"},{"parameters":{"operation":"text","options":{}},"type":"n8n-nodes-base.extractFromFile","typeVersion":1,"position":[224,-32],"id":"73686638-3c23-48f1-ac99-fb7d1bd19b13","name":"Extract from File"}],"origin":"n8n","pinData":{},"repo":{"owner":"n8nlinx","name":"BACKUP-N8N-LINX"},"settings":{"executionOrder":"v1"},"shared":[{"createdAt":"2025-10-20T14:10:28.098Z","updatedAt":"2025-10-20T14:10:28.098Z","role":"workflow:owner","workflowId":"y0elckN2OxSNaV3P","projectId":"l6KXFsOg8uXBDdl3"}],"staticData":null,"tags":[],"triggerCount":0,"updatedAt":"2025-10-20T14:10:28.098Z","versionId":"fd8a6f2a-97d2-4eb7-8850-18af2cf2a82a"}