ZBa6fTc63ZiD6o9d.json
{"active":false,"connections":{"Webhook":{"main":[[{"node":"Convert to File1","type":"main","index":0}]]},"Convert to File1":{"main":[[{"node":"Extract from File","type":"main","index":0}]]},"Extract from File":{"main":[[{"node":"Respond to Webhook","type":"main","index":0}]]}},"createdAt":"2025-10-03T17:24:49.357Z","id":"ZBa6fTc63ZiD6o9d","isArchived":false,"meta":null,"name":"Converter base64 em texto","nodes":[{"parameters":{"path":"33e97621-eafe-48b4-bb60-18c501d933f6","responseMode":"responseNode","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[-464,-48],"id":"91817fae-a66e-4a0b-a8ce-7e8f6e4a94d4","name":"Webhook","webhookId":"33e97621-eafe-48b4-bb60-18c501d933f6"},{"parameters":{"respondWith":"text","responseBody":"={{ $json.data }}","options":{}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.4,"position":[336,-48],"id":"68b20364-634e-4f62-8a1a-1753347159f7","name":"Respond to Webhook"},{"parameters":{"operation":"toBinary","sourceProperty":"query.base64","options":{}},"type":"n8n-nodes-base.convertToFile","typeVersion":1.1,"position":[-192,-48],"id":"e100c70d-610e-4948-a97c-0c9dd625e39a","name":"Convert to File1"},{"parameters":{"operation":"text","options":{}},"type":"n8n-nodes-base.extractFromFile","typeVersion":1,"position":[80,-48],"id":"4881e3fa-dad7-4eb7-ba78-6ae149778a71","name":"Extract from File"}],"origin":"n8n","pinData":{},"repo":{"owner":"n8nlinx","name":"BACKUP-N8N-LINX"},"settings":{"executionOrder":"v1"},"shared":[{"createdAt":"2025-10-03T17:24:49.357Z","updatedAt":"2025-10-03T17:24:49.357Z","role":"workflow:owner","workflowId":"ZBa6fTc63ZiD6o9d","projectId":"1RGMLoql92onOpCd"}],"staticData":null,"tags":[],"triggerCount":0,"updatedAt":"2025-10-03T17:46:05.622Z","versionId":"1e2fd5d5-d48a-4f3b-bc50-e27256716345"}