zh46bvGPHpvHmgvk.json
{"active":false,"connections":{"auth/login - Group Token":{"main":[[{"node":"Access Token API Auto Avaliar Field","type":"main","index":0},{"node":"Upsert row(s)","type":"main","index":0}]]},"When clicking ‘Execute workflow’":{"main":[[{"node":"Call 'get-token-linx'","type":"main","index":0}]]},"If row exists [Existe token salvo]":{"main":[[{"node":"Get row(s) [Token expirado]","type":"main","index":0},{"node":"If1","type":"main","index":0}]]},"When Executed by Another Workflow":{"main":[[{"node":"Call 'get-token-linx'","type":"main","index":0}]]},"Call 'get-token-linx'":{"main":[[{"node":"If row exists [Existe token salvo]","type":"main","index":0}]]},"Get row(s) [Token expirado]":{"main":[[{"node":"If","type":"main","index":0}]]},"Upsert row(s)":{"main":[[{"node":"Get row(s)","type":"main","index":0}]]},"If":{"main":[[{"node":"auth/login - Group Token","type":"main","index":0}],[{"node":"Get row(s)","type":"main","index":0}]]},"Get row(s)":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"If1":{"main":[[{"node":"Get row(s) [Token expirado]","type":"main","index":0}],[{"node":"auth/login - Group Token","type":"main","index":0}]]}},"createdAt":"2025-10-08T17:56:09.239Z","id":"zh46bvGPHpvHmgvk","isArchived":false,"meta":null,"name":"get-token-group","nodes":[{"parameters":{"method":"POST","url":"https://sa-hg-sys.appspot.com/auth/login","authentication":"***REMOVIDO***","genericAuthType":"httpCustomAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"=token","value":"={{ $json.payload.token }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[352,-16],"id":"409f30b1-6e5d-4a15-81da-1491e9ce2550","name":"auth/login - Group Token","credentials":{"httpCustomAuth":{"id":"eUIZ5W1ymiLgXLSQ","name":"Custom Auth Group Credential"}}},{"parameters":{"assignments":{"assignments":[{"id":"bd84437a-76d5-4656-a117-fbfc22c2e75a","name":"payload.auth.token","value":"={{ $json.payload.auth.token }}","type":"string"},{"id":"c280d3fa-223a-43f9-9be7-b03695e9790f","name":"payload.auth.refreshToken","value":"={{ $json.payload.auth.refreshToken }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[544,160],"id":"7ce84b9e-3ccb-404d-b89c-24e434562a64","name":"Access Token API Auto Avaliar Field","disabled":true},{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-608,-160],"id":"7f706458-2ad1-47a3-965d-7421d932790c","name":"When clicking ‘Execute workflow’"},{"parameters":{"workflowId":{"__rl":true,"value":"OtbKiP3DmuDERe9y","mode":"list","cachedResultUrl":"/workflow/OtbKiP3DmuDERe9y","cachedResultName":"Auto Avaliar — get-token-linx"},"workflowInputs":{"mappingMode":"defineBelow","value":{}},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.3,"position":[-400,0],"id":"3dffb7a5-6fd1-4e4e-9d9a-0441c14ecaa7","name":"Call 'get-token-linx'"},{"parameters":{"operation":"upsert","dataTableId":{"__rl":true,"value":"bkwZCWZiwThzhQqZ","mode":"list","cachedResultName":"LINX_DATA","cachedResultUrl":"/projects/gooj2a4i7sGuxy01/datatables/bkwZCWZiwThzhQqZ"},"columns":{"mappingMode":"defineBelow","value":{"TOKEN":"={{ $json.payload.token }}","EXPIRY_DATE":"={{ $json.payload.shelf_life }}"},"matchingColumns":["accessToken"],"schema":[{"id":"TOKEN","displayName":"TOKEN","required":false,"defaultMatch":false,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"EXPIRY_DATE","displayName":"EXPIRY_DATE","required":false,"defaultMatch":false,"display":true,"type":"dateTime","readOnly":false,"removed":false}],"***REMOVIDO***":false,"***REMOVIDO***":false}},"type":"n8n-nodes-base.dataTable","typeVersion":1,"position":[544,-16],"id":"9db3308a-eb0d-4003-9d21-7bf046225aea","name":"Upsert row(s)"},{"parameters":{"operation":"get","dataTableId":{"__rl":true,"value":"bkwZCWZiwThzhQqZ","mode":"list","cachedResultName":"LINX_DATA","cachedResultUrl":"/projects/gooj2a4i7sGuxy01/datatables/bkwZCWZiwThzhQqZ"},"filters":{"conditions":[{"keyName":"EXPIRY_DATE","condition":"gte","keyValue":"={{ $now }}"}]}},"type":"n8n-nodes-base.dataTable","typeVersion":1,"position":[96,-208],"id":"84614176-e7b1-4aa9-a04d-ca80076b0b0a","name":"Get row(s) [Token expirado]"},{"parameters":{"operation":"rowExists","dataTableId":{"__rl":true,"value":"YMuf0PpbAH7osHUV","mode":"list","cachedResultName":"GROUP_DATA","cachedResultUrl":"/projects/gooj2a4i7sGuxy01/datatables/YMuf0PpbAH7osHUV"},"filters":{"conditions":[{"keyName":"CNPJ","keyValue":"="}]}},"type":"n8n-nodes-base.dataTable","typeVersion":1,"position":[-224,0],"id":"469a6097-2abe-4cc5-b16e-05f6c564f85d","name":"If row exists [Existe token salvo]"},{"parameters":{"inputSource":"passthrough"},"type":"n8n-nodes-base.***REMOVIDO***","typeVersion":1.1,"position":[-608,0],"id":"657962f1-01fa-4874-83c8-36b78a2406a1","name":"When Executed by Another Workflow"},{"parameters":{"content":"- Adicionar parâmetro CNPJ/identificador do grupo pra validar se token existe e está válido na tabela\n- Adicionar fluxo de retry do token caso retorne token expirado"},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-656,-352],"id":"d5113bf9-6d7f-4423-beef-d6bb658ec906","name":"Sticky Note"},{"parameters":{"operation":"get","dataTableId":{"__rl":true,"value":"YMuf0PpbAH7osHUV","mode":"list","cachedResultName":"GROUP_DATA","cachedResultUrl":"/projects/gooj2a4i7sGuxy01/datatables/YMuf0PpbAH7osHUV"},"filters":{"conditions":[{"keyName":"CNPJ"}]}},"type":"n8n-nodes-base.dataTable","typeVersion":1,"position":[784,-112],"id":"08b26d3c-b401-472e-a2a5-caeb7410602b","name":"Get row(s)"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"3a134f97-3283-485b-a8e9-c48630ebd2a8","leftValue":"=","rightValue":"","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[224,-208],"id":"df42ed3e-e1f7-4914-a0a4-d8bdec469e7f","name":"If"},{"parameters":{"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[992,-112],"id":"efab65dd-22ee-411e-9330-c5010b2a4b79","name":"Edit Fields"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"df6fc557-147a-4ae7-a0e7-7e1c38d4764c","leftValue":"=","rightValue":"","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-32,0],"id":"09617e80-ed46-4ea7-bfed-f357289d9184","name":"If1"}],"origin":"n8n","pinData":{},"repo":{"owner":"n8nlinx","name":"BACKUP-N8N-LINX"},"settings":{"executionOrder":"v1"},"shared":[{"createdAt":"2025-10-08T17:56:09.239Z","updatedAt":"2025-10-08T17:56:09.239Z","role":"workflow:owner","workflowId":"zh46bvGPHpvHmgvk","projectId":"gooj2a4i7sGuxy01"}],"staticData":null,"tags":[],"triggerCount":0,"updatedAt":"2025-10-09T12:25:30.944Z","versionId":"61ca2c4e-89b9-4c34-935b-fa98e4ceb757"}