zh46bvGPHpvHmgvk.json
{"active":false,"connections":{"When Executed by Another Workflow":{"main":[[{"node":"Call 'get-token-linx'","type":"main","index":0}]]},"Call 'get-token-linx'":{"main":[[{"node":"[Busca token para cnpj]","type":"main","index":0}]]},"Upsert row(s)":{"main":[[{"node":"Retorna TOKEN","type":"main","index":0}]]},"[Busca token para cnpj]":{"main":[[{"node":"Group token salvo?","type":"main","index":0}]]},"If [Token válido]":{"main":[[{"node":"Ajusta TOKEN","type":"main","index":0}],[{"node":"auth/refresh-token","type":"main","index":0}]]},"Ajusta TOKEN":{"main":[[{"node":"Retorna TOKEN","type":"main","index":0}]]},"StatusCode":{"main":[[{"node":"Switch1","type":"main","index":0}],[{"node":"Switch","type":"main","index":0}]]},"Switch":{"main":[[{"node":"Token Linx Expirado - Force update","type":"main","index":0}]]},"Token Linx Expirado - Force update":{"main":[[{"node":"Call 'get-token-linx'","type":"main","index":0}]]},"Switch1":{"main":[[{"node":"Upsert row(s)","type":"main","index":0}],[{"node":"Erro 2","type":"main","index":0}]]},"auth/refresh-token":{"main":[[{"node":"StatusCode[Refresh]","type":"main","index":0}]]},"Group token salvo?":{"main":[[{"node":"If [Token válido]","type":"main","index":0}],[{"node":"auth/login","type":"main","index":0}],[{"node":"Erro 3","type":"main","index":0}]]},"auth/login":{"main":[[{"node":"StatusCode","type":"main","index":0}]]},"StatusCode[Refresh]":{"main":[[{"node":"Desativa Integração","type":"main","index":0}],[{"node":"Upsert row(s)","type":"main","index":0}]]},"Desativa Integração":{"main":[[{"node":"Send email","type":"main","index":0}]]},"Send email":{"main":[[{"node":"Erro 1","type":"main","index":0}]]}},"createdAt":"2025-10-08T17:56:09.239Z","id":"zh46bvGPHpvHmgvk","isArchived":false,"meta":null,"name":"get-token-group","nodes":[{"parameters":{"workflowId":{"__rl":true,"value":"OtbKiP3DmuDERe9y","mode":"list","cachedResultUrl":"/workflow/OtbKiP3DmuDERe9y","cachedResultName":"Auto Avaliar — get-token-linx"},"workflowInputs":{"mappingMode":"defineBelow","value":{}},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.3,"position":[-448,0],"id":"3dffb7a5-6fd1-4e4e-9d9a-0441c14ecaa7","name":"Call 'get-token-linx'","alwaysOutputData":true},{"parameters":{"operation":"upsert","dataTableId":{"__rl":true,"value":"YMuf0PpbAH7osHUV","mode":"list","cachedResultName":"GROUP_DATA","cachedResultUrl":"/projects/gooj2a4i7sGuxy01/datatables/YMuf0PpbAH7osHUV"},"matchType":"allConditions","filters":{"conditions":[{"keyName":"CNPJ","keyValue":"={{ $('When Executed by Another Workflow').item.json.CNPJ }}"}]},"columns":{"mappingMode":"defineBelow","value":{"REFRESH_TOKEN":"={{ $json.body.payload.auth.refreshToken }}","TOKEN":"={{ $json.body.payload.auth.token }}","CNPJ":"={{ $('When Executed by Another Workflow').item.json.CNPJ }}"},"matchingColumns":[],"schema":[{"id":"CNPJ","displayName":"CNPJ","required":false,"defaultMatch":false,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"STATUS_INTEGRACAO","displayName":"STATUS_INTEGRACAO","required":false,"defaultMatch":false,"display":true,"type":"boolean","readOnly":false,"removed":false},{"id":"URL_DMS","displayName":"URL_DMS","required":false,"defaultMatch":false,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"EMAIL_NOTIFICACAO","displayName":"EMAIL_NOTIFICACAO","required":false,"defaultMatch":false,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"TOKEN","displayName":"TOKEN","required":false,"defaultMatch":false,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"REFRESH_TOKEN","displayName":"REFRESH_TOKEN","required":false,"defaultMatch":false,"display":true,"type":"string","readOnly":false,"removed":false}],"***REMOVIDO***":false,"***REMOVIDO***":false}},"type":"n8n-nodes-base.dataTable","typeVersion":1,"position":[1040,-16],"id":"9db3308a-eb0d-4003-9d21-7bf046225aea","name":"Upsert row(s)"},{"parameters":{"workflowInputs":{"values":[{"name":"CNPJ"},{"name":"Usuario"},{"name":"Senha"}]}},"type":"n8n-nodes-base.***REMOVIDO***","typeVersion":1.1,"position":[-672,0],"id":"657962f1-01fa-4874-83c8-36b78a2406a1","name":"When Executed by Another Workflow"},{"parameters":{"operation":"get","dataTableId":{"__rl":true,"value":"YMuf0PpbAH7osHUV","mode":"list","cachedResultName":"GROUP_DATA","cachedResultUrl":"/projects/gooj2a4i7sGuxy01/datatables/YMuf0PpbAH7osHUV"},"filters":{"conditions":[{"keyName":"CNPJ","keyValue":"={{ $('When Executed by Another Workflow').item.json.cnpj }}"}]}},"type":"n8n-nodes-base.dataTable","typeVersion":1,"position":[-272,0],"id":"a2e30a19-c0c0-4ba2-af71-da0a1505206b","name":"[Busca token para cnpj]","alwaysOutputData":true},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"df6fc557-147a-4ae7-a0e7-7e1c38d4764c","leftValue":"={{ $json.updatedAt.plus(6, 'days') }}","rightValue":"={{ $now }}","operator":{"type":"dateTime","operation":"after"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[96,-272],"id":"09617e80-ed46-4ea7-bfed-f357289d9184","name":"If [Token válido]"},{"parameters":{"assignments":{"assignments":[{"id":"eb2499da-9daa-4cb8-bcea-e3c4542bbda3","name":"TOKEN","value":"={{ $json.TOKEN }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1376,-416],"id":"efab65dd-22ee-411e-9330-c5010b2a4b79","name":"Retorna TOKEN"},{"parameters":{"assignments":{"assignments":[{"id":"2930dccc-fcf5-4e90-926f-f33015ddfdbc","name":"TOKEN","value":"={{ $('[Busca token para cnpj]').item.json.TOKEN }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[336,-416],"id":"12cb5007-294d-4d5f-9591-fb401035e886","name":"Ajusta TOKEN"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.statusCode }}","rightValue":200,"operator":{"type":"number","operation":"equals"},"id":"95ff1755-f6a3-40b2-8790-eef2567bbd32"}],"combinator":"and"},"renameOutput":true,"outputKey":"200"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"b1826d13-fbe8-47f5-abab-349d4d2d4a2a","leftValue":"={{ $json.statusCode }}","rightValue":401,"operator":{"type":"number","operation":"equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"401"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.3,"position":[528,80],"id":"3679e801-74d8-49bc-9f45-4bb4756c2551","name":"StatusCode"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.body.messages[0].error_code }}","rightValue":"852","operator":{"type":"string","operation":"equals"},"id":"d203a0b5-530c-4d9c-be2b-fa360f952a1c"}],"combinator":"and"},"renameOutput":true,"outputKey":"852 [Token Expirado]"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.3,"position":[736,160],"id":"b1e530ef-1f5f-42e5-8e4f-ebf498f1f57f","name":"Switch"},{"parameters":{"assignments":{"assignments":[{"id":"da7b8d2e-9b1a-41a8-9ddb-ece96567c2ca","name":"cnpj","value":"={{ $('When Executed by Another Workflow').item.json.cnpj }}","type":"string"},{"id":"63edc173-d2f0-4a2f-9175-7f62e541e12d","name":"forceUpdate","value":true,"type":"boolean"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[896,384],"id":"c0ecf6c1-a6ee-4895-90fb-59d5703481eb","name":"Token Linx Expirado - Force update"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"6db5ae4a-8dcf-4b35-bcc1-b4ce6cf0a825","leftValue":"={{ $json.body.payload.auth.token }}","rightValue":"","operator":{"type":"string","operation":"notEmpty","singleValue":true}}],"combinator":"and"},"renameOutput":true,"outputKey":"200 - Token"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.body.messages[0].error_code }}","rightValue":601,"operator":{"type":"number","operation":"equals"},"id":"d769aca3-6859-4a9a-847d-01471acac856"}],"combinator":"and"},"renameOutput":true,"outputKey":"601 - Usuario/Senha incorreta"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.3,"position":[832,0],"id":"c855cb88-6a35-4cb3-93f6-4864c6773f07","name":"Switch1"},{"parameters":{"method":"POST","url":"https://sa-hg-sys.appspot.com/auth/refresh-token","sendHeaders":true,"headerParameters":{"parameters":[{"name":"=token","value":"={{ $REFRESH_TOKEN }}"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n    \"email\": \"{{ $('When Executed by Another Workflow').item.json.usuario }}\",\n    \"password\": \"{{ $('When Executed by Another Workflow').item.json.senha }}\",\n    \"deviceName\": \"\",\n    \"networkTechnology\": \"\",\n    \"registrationId\": \"\",\n    \"packageName\": \"\",\n    \"appId\": 1\n}","options":{"response":{"response":{"fullResponse":true,"neverError":true}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[336,-160],"id":"d1b0874b-a1ce-440e-b745-547b3456fcad","name":"auth/refresh-token","alwaysOutputData":false,"notesInFlow":false},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json }}","rightValue":"","operator":{"type":"object","operation":"notEmpty","singleValue":true},"id":"0f18c6e6-e0d9-4124-bf9d-cfb419aa37d6"}],"combinator":"and"},"renameOutput":true,"outputKey":"Ok - Existe token para cnpj"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"8bb7207f-398f-4b8b-b99f-ff210deca319","leftValue":"={{ $('When Executed by Another Workflow').item.json.Usuario }}","rightValue":"","operator":{"type":"string","operation":"notEmpty","singleValue":true}}],"combinator":"and"},"renameOutput":true,"outputKey":"Ok - Possui usuario no request"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"e346f2eb-4f53-4199-999d-db613b192dc4","leftValue":"={{ $('When Executed by Another Workflow').item.json.Usuario }}","rightValue":"","operator":{"type":"string","operation":"empty","singleValue":true}}],"combinator":"and"},"renameOutput":true,"outputKey":"412 - Sem token & sem usuario - Erro"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.3,"position":[-80,-16],"id":"444cdfdf-dc37-4b78-b5b0-9579d2c59666","name":"Group token salvo?"},{"parameters":{"method":"POST","url":"https://sa-hg-sys.appspot.com/auth/login","sendHeaders":true,"headerParameters":{"parameters":[{"name":"=token","value":"={{ $('Call \\'get-token-linx\\'').item.json.TOKEN }}"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n    \"email\": \"{{ $('When Executed by Another Workflow').item.json.Usuario }}\",\n    \"password\": \"{{ $('When Executed by Another Workflow').item.json.Senha }}\",\n    \"deviceName\": \"\",\n    \"networkTechnology\": \"\",\n    \"registrationId\": \"\",\n    \"packageName\": \"\",\n    \"appId\": 1\n}","options":{"response":{"response":{"fullResponse":true,"neverError":true}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[320,80],"id":"54a7e810-e3e6-43c1-8616-0f17618f6b34","name":"auth/login","alwaysOutputData":false,"notesInFlow":false},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"c72a2747-14ec-44b9-a3e1-f7cf8eb86170","leftValue":"={{ $json.messages.error_code }}","rightValue":852,"operator":{"type":"number","operation":"equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"852 - Token Expirado"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.statusCode }}","rightValue":200,"operator":{"type":"number","operation":"equals"},"id":"f67affab-eba8-400e-97fd-40b16bc944be"}],"combinator":"and"},"renameOutput":true,"outputKey":"200"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.3,"position":[528,-160],"id":"846b5e7c-a605-4ff6-aff8-5e889e9aa5d8","name":"StatusCode[Refresh]"},{"parameters":{"operation":"update","dataTableId":{"__rl":true,"value":"YMuf0PpbAH7osHUV","mode":"list","cachedResultName":"GROUP_DATA","cachedResultUrl":"/projects/gooj2a4i7sGuxy01/datatables/YMuf0PpbAH7osHUV"},"filters":{"conditions":[{"keyName":"CNPJ","keyValue":"={{ $('When Executed by Another Workflow').item.json.cnpj }}"}]},"columns":{"mappingMode":"defineBelow","value":{"STATUS_INTEGRACAO":false},"matchingColumns":[],"schema":[{"id":"CNPJ","displayName":"CNPJ","required":false,"defaultMatch":false,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"STATUS_INTEGRACAO","displayName":"STATUS_INTEGRACAO","required":false,"defaultMatch":false,"display":true,"type":"boolean","readOnly":false,"removed":false},{"id":"URL_DMS","displayName":"URL_DMS","required":false,"defaultMatch":false,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"EMAIL_NOTIFICACAO","displayName":"EMAIL_NOTIFICACAO","required":false,"defaultMatch":false,"display":true,"type":"string","readOnly":false,"removed":true}],"***REMOVIDO***":false,"***REMOVIDO***":false}},"type":"n8n-nodes-base.dataTable","typeVersion":1,"position":[800,-240],"id":"69c5a15b-53d4-4c72-8451-0fd283912bc9","name":"Desativa Integração"},{"parameters":{"options":{}},"type":"n8n-nodes-base.emailSend","typeVersion":2.1,"position":[944,-240],"id":"963e6caf-72a4-487e-a5cd-0f8c1d03cfc5","name":"Send email","webhookId":"f2d70ae1-171a-4ff1-a6fa-6a2a0f090fda","disabled":true},{"parameters":{"content":"## Refresh Token","height":224,"width":432,"color":4},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[272,-224],"id":"28e6fce3-41c4-484b-9faf-928544ba9d09","name":"Sticky Note2"},{"parameters":{"content":"## Login Usuario/Senha","height":224,"width":432,"color":4},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[272,16],"id":"7983d510-a32d-4b13-9f05-dcaae9a6f8a0","name":"Sticky Note"},{"parameters":{"content":"## Codigos de erro\n* 1: Refresh Token expirado\n* 2: Usuario/Senha incorreta\n* 3: Sem token cadastrado, usuario/senha não enviados","color":6},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-640,-384],"id":"0951681a-b430-4b57-a8d9-7953aa37b2e8","name":"Sticky Note3"},{"parameters":{"assignments":{"assignments":[{"id":"4376677c-da8d-4220-9501-4790652fa98b","name":"Mensagem","value":"Requisição de token de grupo para CNPJ sem token cadastrado, usuário/senha não enviados.\"","type":"string"},{"id":"c54692d1-1612-4c14-b9b4-9ba94e94dae8","name":"Erro","value":3,"type":"number"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[96,224],"id":"54ae756b-85ae-418b-933c-4c07e6a840cb","name":"Erro 3","alwaysOutputData":true,"notesInFlow":true,"notes":"Sem token cadastrado, usuário/senha não enviados."},{"parameters":{"assignments":{"assignments":[{"id":"0bbc4811-84ee-431d-b652-faa3e6e39369","name":"Mensagem","value":"={{ $json }}","type":"string"},{"id":"248fd369-e496-476e-8b4e-0ff48a5f6415","name":"Erro","value":1,"type":"number"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1088,-240],"id":"08dc2418-caeb-4584-993c-bda40ce6f171","name":"Erro 1"},{"parameters":{"assignments":{"assignments":[{"id":"6ae38834-42bb-4b48-9848-94e44feaa36e","name":"Mensagem","value":"={{ $json }}","type":"object"},{"id":"670750b2-45ea-4047-8111-89a19d8b7b04","name":"Erro","value":2,"type":"number"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1040,160],"id":"9e95766e-87be-495d-86b5-e1d9610955b6","name":"Erro 2"},{"parameters":{"content":"Riquelmy (Conversar Andrei):\nAlterei o Upsert, antes usava o objeto entity para capturar CNPJ no \"Condition\" do nó e no \"Value to Upsert\". Agora capturei os dados do ativa-integracao","color":6},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[1200,-16],"id":"61d26f88-ac8e-48ae-a376-249c54571e8f","name":"Sticky Note4"},{"parameters":{"content":"Riquelmy (Conversar Andrei):\nAlém de Receber CNPJ, Usuário e senha, receber também:\nUserNotificacao\nUserCorreio\nURLDms\nStatusInteg\n\npara o Upsert?","color":6},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-960,0],"id":"8857bb9c-83a6-49e4-b034-278b06ef825f","name":"Sticky Note5"}],"origin":"n8n","pinData":{},"repo":{"owner":"n8nlinx","name":"BACKUP-N8N-LINX"},"settings":{"executionOrder":"v1"},"shared":[{"createdAt":"2025-10-08T17:56:09.239Z","updatedAt":"2025-10-08T17:56:09.239Z","role":"workflow:owner","workflowId":"zh46bvGPHpvHmgvk","projectId":"gooj2a4i7sGuxy01"}],"staticData":null,"tags":[],"triggerCount":0,"updatedAt":"2025-10-23T23:44:42.122Z","versionId":"616b8276-f544-4eb0-b28e-0e5b7b67dba5"}