zh46bvGPHpvHmgvk.json
{"active":false,"connections":{"auth/login - Group Token":{"main":[[{"node":"StatusCode","type":"main","index":0}]]},"When Executed by Another Workflow":{"main":[[{"node":"Call 'get-token-linx'","type":"main","index":0}]]},"Call 'get-token-linx'":{"main":[[{"node":"[Busca token para cnpj]","type":"main","index":0}]]},"Upsert row(s)":{"main":[[{"node":"Retorna TOKEN","type":"main","index":0}]]},"[Busca token para cnpj]":{"main":[[{"node":"If [Existe token]","type":"main","index":0}]]},"If [Existe token]":{"main":[[{"node":"Valida data de validade","type":"main","index":0}],[{"node":"auth/login - Group Token","type":"main","index":0}]]},"Valida data de validade":{"main":[[{"node":"If [Token válido]","type":"main","index":0}]]},"If [Token válido]":{"main":[[{"node":"Ajusta TOKEN","type":"main","index":0}],[{"node":"auth/login - Group Token","type":"main","index":0}]]},"Ajusta TOKEN":{"main":[[{"node":"Retorna TOKEN","type":"main","index":0}]]},"StatusCode":{"main":[[{"node":"Switch1","type":"main","index":0}],[{"node":"Switch","type":"main","index":0}]]},"Switch":{"main":[[{"node":"Token Linx Expirado - Force update","type":"main","index":0}]]},"Token Linx Expirado - Force update":{"main":[[{"node":"Call 'get-token-linx'","type":"main","index":0}]]},"Switch1":{"main":[[{"node":"Upsert row(s)","type":"main","index":0}],[{"node":"Edit Fields","type":"main","index":0}]]}},"createdAt":"2025-10-08T17:56:09.239Z","id":"zh46bvGPHpvHmgvk","isArchived":false,"meta":null,"name":"get-token-group","nodes":[{"parameters":{"method":"POST","url":"https://sa-hg-sys.appspot.com/auth/login","authentication":"***REMOVIDO***","genericAuthType":"httpCustomAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"=token","value":"={{ $('Call \\'get-token-linx\\'').item.json.TOKEN }}"}]},"options":{"response":{"response":{"fullResponse":true,"neverError":true}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[464,80],"id":"409f30b1-6e5d-4a15-81da-1491e9ce2550","name":"auth/login - Group Token","alwaysOutputData":false,"notesInFlow":false,"credentials":{"httpCustomAuth":{"id":"eUIZ5W1ymiLgXLSQ","name":"Custom Auth Group Credential"}}},{"parameters":{"workflowId":{"__rl":true,"value":"OtbKiP3DmuDERe9y","mode":"list","cachedResultUrl":"/workflow/OtbKiP3DmuDERe9y","cachedResultName":"Auto Avaliar — get-token-linx"},"workflowInputs":{"mappingMode":"defineBelow","value":{}},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.3,"position":[-448,0],"id":"3dffb7a5-6fd1-4e4e-9d9a-0441c14ecaa7","name":"Call 'get-token-linx'"},{"parameters":{"operation":"upsert","dataTableId":{"__rl":true,"value":"YMuf0PpbAH7osHUV","mode":"list","cachedResultName":"GROUP_DATA","cachedResultUrl":"/projects/gooj2a4i7sGuxy01/datatables/YMuf0PpbAH7osHUV"},"matchType":"allConditions","filters":{"conditions":[{"keyName":"CNPJ","keyValue":"={{ $json.payload.entity.cnpj.substring(0, 8) }}"}]},"columns":{"mappingMode":"defineBelow","value":{"CNPJ":"={{ $json.payload.entity.cnpj.substring(0, 8) }}","TOKEN":"={{ $json.payload.auth.token }}","REFRESH_TOKEN":"={{ $json.payload.auth.refreshToken }}"},"matchingColumns":[],"schema":[{"id":"CNPJ","displayName":"CNPJ","required":false,"defaultMatch":false,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"TOKEN","displayName":"TOKEN","required":false,"defaultMatch":false,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"REFRESH_TOKEN","displayName":"REFRESH_TOKEN","required":false,"defaultMatch":false,"display":true,"type":"string","readOnly":false,"removed":false}],"***REMOVIDO***":false,"***REMOVIDO***":false}},"type":"n8n-nodes-base.dataTable","typeVersion":1,"position":[1232,80],"id":"9db3308a-eb0d-4003-9d21-7bf046225aea","name":"Upsert row(s)"},{"parameters":{"workflowInputs":{"values":[{"name":"CNPJ"},{"name":"Usuario"},{"name":"Senha"}]}},"type":"n8n-nodes-base.***REMOVIDO***","typeVersion":1.1,"position":[-656,0],"id":"657962f1-01fa-4874-83c8-36b78a2406a1","name":"When Executed by Another Workflow"},{"parameters":{"content":"- Adicionar parâmetro CNPJ/identificador do grupo pra validar se token existe e está válido na tabela\n- Adicionar fluxo de refresh do token utilizando token salvo\n- Validar se esta recebendo usuario e senha para obter primeiro token ou utilizar refresh\n- Fazer cron pra atualizar token com refresh a cada 6 dias","height":288},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-704,-320],"id":"d5113bf9-6d7f-4423-beef-d6bb658ec906","name":"Sticky Note"},{"parameters":{"operation":"get","dataTableId":{"__rl":true,"value":"YMuf0PpbAH7osHUV","mode":"list","cachedResultName":"GROUP_DATA","cachedResultUrl":"/projects/gooj2a4i7sGuxy01/datatables/YMuf0PpbAH7osHUV"},"filters":{"conditions":[{"keyName":"CNPJ","keyValue":"={{ $('When Executed by Another Workflow').item.json.cnpj.substring(0, 8) }}"}]}},"type":"n8n-nodes-base.dataTable","typeVersion":1,"position":[-272,0],"id":"a2e30a19-c0c0-4ba2-af71-da0a1505206b","name":"[Busca token para cnpj]"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"df6fc557-147a-4ae7-a0e7-7e1c38d4764c","leftValue":"={{ $json }}","rightValue":"={{ $now }}","operator":{"type":"object","operation":"exists","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-96,0],"id":"e5af7e05-2f6f-4328-86a4-152b558d003b","name":"If [Existe token]"},{"parameters":{"operation":"addToDate","magnitude":"={{ $json.updatedAt }}","duration":6,"outputFieldName":"expiryDate","options":{}},"type":"n8n-nodes-base.dateTime","typeVersion":2,"position":[112,-64],"id":"c9033dd9-68f2-40b7-9b07-709173fe3523","name":"Valida data de validade"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":2},"conditions":[{"id":"df6fc557-147a-4ae7-a0e7-7e1c38d4764c","leftValue":"={{ $json.expiryDate }}","rightValue":"={{ $now }}","operator":{"type":"dateTime","operation":"after"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[304,-64],"id":"09617e80-ed46-4ea7-bfed-f357289d9184","name":"If [Token válido]"},{"parameters":{"assignments":{"assignments":[{"id":"eb2499da-9daa-4cb8-bcea-e3c4542bbda3","name":"TOKEN","value":"={{ $json.TOKEN }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1376,-80],"id":"efab65dd-22ee-411e-9330-c5010b2a4b79","name":"Retorna TOKEN"},{"parameters":{"assignments":{"assignments":[{"id":"2930dccc-fcf5-4e90-926f-f33015ddfdbc","name":"TOKEN","value":"={{ $('[Busca token para cnpj]').item.json.TOKEN }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[720,-80],"id":"12cb5007-294d-4d5f-9591-fb401035e886","name":"Ajusta TOKEN"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.statusCode }}","rightValue":200,"operator":{"type":"number","operation":"equals"},"id":"95ff1755-f6a3-40b2-8790-eef2567bbd32"}],"combinator":"and"},"renameOutput":true,"outputKey":"200"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"b1826d13-fbe8-47f5-abab-349d4d2d4a2a","leftValue":"={{ $json.statusCode }}","rightValue":401,"operator":{"type":"number","operation":"equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"401"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.3,"position":[640,112],"id":"3679e801-74d8-49bc-9f45-4bb4756c2551","name":"StatusCode"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.body.messages[0].error_code }}","rightValue":"852","operator":{"type":"string","operation":"equals"},"id":"d203a0b5-530c-4d9c-be2b-fa360f952a1c"}],"combinator":"and"},"renameOutput":true,"outputKey":"852 [Token Expirado]"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.3,"position":[800,192],"id":"b1e530ef-1f5f-42e5-8e4f-ebf498f1f57f","name":"Switch"},{"parameters":{"assignments":{"assignments":[{"id":"da7b8d2e-9b1a-41a8-9ddb-ece96567c2ca","name":"cnpj","value":"={{ $('When Executed by Another Workflow').item.json.cnpj }}","type":"string"},{"id":"63edc173-d2f0-4a2f-9175-7f62e541e12d","name":"forceUpdate","value":true,"type":"boolean"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[944,288],"id":"c0ecf6c1-a6ee-4895-90fb-59d5703481eb","name":"Token Linx Expirado - Force update"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"6db5ae4a-8dcf-4b35-bcc1-b4ce6cf0a825","leftValue":"={{ $json.body.payload.auth.token }}","rightValue":"","operator":{"type":"string","operation":"notEmpty","singleValue":true}}],"combinator":"and"},"renameOutput":true,"outputKey":"Token"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.body.messages[0].error_code }}","rightValue":"601","operator":{"type":"string","operation":"equals"},"id":"d769aca3-6859-4a9a-847d-01471acac856"}],"combinator":"and"},"renameOutput":true,"outputKey":"601 - Usuario/Senha incorreta"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.3,"position":[1008,96],"id":"c855cb88-6a35-4cb3-93f6-4864c6773f07","name":"Switch1"},{"parameters":{"content":"Log - retorno mensageria"},"type":"n8n-nodes-base.stickyNote","position":[1312,304],"typeVersion":1,"id":"a08b428b-9d9c-4edc-a9a0-bdf036a6b229","name":"Sticky Note1"},{"parameters":{"assignments":{"assignments":[{"id":"6ae38834-42bb-4b48-9848-94e44feaa36e","name":"json","value":"={{ $json }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1184,336],"id":"9e95766e-87be-495d-86b5-e1d9610955b6","name":"Edit Fields"}],"origin":"n8n","pinData":{"When Executed by Another Workflow":[{"json":{"cnpj":"54517628000198"}}]},"repo":{"owner":"n8nlinx","name":"BACKUP-N8N-LINX"},"settings":{"executionOrder":"v1"},"shared":[{"createdAt":"2025-10-08T17:56:09.239Z","updatedAt":"2025-10-08T17:56:09.239Z","role":"workflow:owner","workflowId":"zh46bvGPHpvHmgvk","projectId":"gooj2a4i7sGuxy01"}],"staticData":null,"tags":[],"triggerCount":0,"updatedAt":"2025-10-17T11:40:06.075Z","versionId":"1cd8363b-b4e0-40d7-8e20-010ae8b6cb8f"}